<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.website.dao.base.SiteProductColourMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.website.dm.SiteProductColour">
    <!--@mbg.generated-->
    <!--@Table site_product_colour-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="colour_id" jdbcType="BIGINT" property="colourId" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="synchronize_flag" jdbcType="BOOLEAN" property="synchronizeFlag" />
    <result column="revision" jdbcType="INTEGER" property="revision" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_id, colour_id, synchronize_flag, revision, picture
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update site_product_colour
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="colour_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.colourId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="synchronize_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.synchronizeFlag,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update site_product_colour
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="colour_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.colourId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.colourId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="synchronize_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.synchronizeFlag != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.synchronizeFlag,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.revision != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into site_product_colour
    (id, product_id, colour_id, synchronize_flag, revision)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.productId,jdbcType=BIGINT}, #{item.colourId,jdbcType=BIGINT}, 
        #{item.synchronizeFlag,jdbcType=BOOLEAN}, #{item.revision,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.website.dm.SiteProductColour">
    <!--@mbg.generated-->
    insert into site_product_colour
    (id, product_id, colour_id, synchronize_flag, revision)
    values
    (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{colourId,jdbcType=BIGINT}, 
      #{synchronizeFlag,jdbcType=BOOLEAN}, #{revision,jdbcType=INTEGER})
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    product_id = #{productId,jdbcType=BIGINT}, 
    colour_id = #{colourId,jdbcType=BIGINT}, 
    synchronize_flag = #{synchronizeFlag,jdbcType=BOOLEAN}, 
    revision = #{revision,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.website.dm.SiteProductColour">
    <!--@mbg.generated-->
    insert into site_product_colour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="colourId != null">
        colour_id,
      </if>
      <if test="synchronizeFlag != null">
        synchronize_flag,
      </if>
      <if test="revision != null">
        revision,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="colourId != null">
        #{colourId,jdbcType=BIGINT},
      </if>
      <if test="synchronizeFlag != null">
        #{synchronizeFlag,jdbcType=BOOLEAN},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="colourId != null">
        colour_id = #{colourId,jdbcType=BIGINT},
      </if>
      <if test="synchronizeFlag != null">
        synchronize_flag = #{synchronizeFlag,jdbcType=BOOLEAN},
      </if>
      <if test="revision != null">
        revision = #{revision,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>