<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.delivery.dao.DriverServiceMapper">

    <select id="listCount" resultType="int">
        select count(cdr.id)
        from cor_driver cdr
        inner join cor_user_profile cup on cdr.user_id = cup.user_id and cup.dr=0
        left join cor_driver_scooter cds on cdr.id = cds.driver_id and cds.dr=0
        left join cor_tenant_scooter cts on cds.scooter_id = cts.scooter_id and cts.dr=0
        <where>
            cdr.dr=0
            and cdr.tenant_id = #{tenantId}
            <if test="keyword != null and keyword != ''">
                and (
                cup.first_name like concat("%",#{keyword},"%")
                or cup.last_name like concat("%",#{keyword},"%")
                or cup.email_1 like concat("%",#{keyword},"%")
                )
            </if>
            <if test="status != null and status != ''">
                and cdr.status = #{status}
            </if>
        </where>

    </select>
    <select id="list" resultType="com.redescooter.ses.web.delivery.vo.ListDriverResult">
        select cdr.id,
        cdr.status,
        cup.picture as avatar,
        cup.place_birth as address,
        cup.first_name as driverFirstName,
        cup.last_name as driverLastName,
        cup.email_1 as email,
        cup.country_code_1 as countryCodel,
        cup.tel_number_1 as driverPhone,
        cts.license_plate as plateNumber,
        cdr.def1 as activatBoolean
        from cor_driver cdr
        inner join cor_user_profile cup on cdr.user_id = cup.user_id and cup.dr=0
        left join cor_driver_scooter cds on cdr.id = cds.driver_id and cds.dr=0 and cds.status in ('2','3')
        left join cor_tenant_scooter cts on cds.scooter_id = cts.scooter_id and cts.dr=0
        <where>
            cdr.tenant_id=#{tenantId}
            and cdr.dr=0
            <if test="keyword != null and keyword != ''">
                and (
                cup.first_name like concat("%",#{keyword},"%")
                or cup.last_name like concat("%",#{keyword},"%")
                or cup.email_1 like concat("%",#{keyword},"%")
                )
            </if>
            <if test="status != null and status != ''">
                and cdr.status = #{status}
            </if>
        </where>
        order by cdr.updated_time desc
        limit #{startRow},#{pageSize}
    </select>
    <select id="countStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
     select cd.status, count(*) totalCount
     from cor_driver cd
     where cd.dr = 0
        and cd.tenant_id=#{tenantId}
        and cd.status != '3'
     group by cd.status
        </select>
</mapper>