<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.delivery.dao.EdDasboardServiceMapper">

    <select id="todayCountByStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select exorder.status, count(*) totalCount
        from cor_express_order exorder
        where exorder.dr = 0
        and exorder.tenant_id=#{tenantId}
        and TO_DAYS(exorder.created_time) = TO_DAYS(NOW())
        group by exorder.status
    </select>
    <select id="topTen" resultType="com.redescooter.ses.web.delivery.vo.TopTenResult">
        select driver.id as id,
        driver.user_id as userId,
        profile.first_name as driverFirstName,
        profile.last_name as driverLastName,
        profile.picture as avatar,
        ifnull(count(detail.id), 0) as count
        from cor_driver driver
        inner join cor_user_profile profile on driver.user_id = profile.user_id and profile.dr = 0
        left join cor_express_delivery delivery on driver.id = delivery.driver_id and delivery.dr = 0
        left join cor_express_delivery_detail detail on detail.express_delivery_id = delivery.id and detail.dr = 0
        where driver.tenant_id = #{tenantId}
        and driver.dr = 0
        and delivery.status = 3
        and detail.status = 3
        <if test="date != null and date == true ">
            and YEARWEEK(date_format(delivery.updated_time, '%Y-%m-%d')) <![CDATA[ = ]]> YEARWEEK(now())
        </if>
        group by id, driverFirstName, driverLastName, avatar
        order by count desc;
    </select>
    <select id="scooterRideData" resultType="com.redescooter.ses.web.delivery.vo.ScooterRideDataResult">
        select sum(csrs.total_mileage) as totalMileage,
        sum(csrs.co2_total) as totalCo2,
        sum(csrs.saved_money) as totalMoney,
        avg(csrsd.mileage) as avgMileage
        from cor_scooter_ride_stat csrs
        left join cor_scooter_ride_stat_detail csrsd on csrs.scooter_id = csrsd.scooter_id and csrsd.dr = 0
        where csrs.tenant_id = #{tenantId}
        and csrs.dr = 0
    </select>
</mapper>