<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.delivery.dao.ExpressOrderServiceMapper">

    <select id="countByStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select count(*) as totalCount, status
        from cor_express_order
        where tenant_id=#{tenantId}
        group by status
    </select>
    <select id="listCount" resultType="int">
        select count(*)
        from cor_express_order a
        left join cor_express_delivery_detail b on a.id = b.express_order_id and b.dr=0
        left join cor_express_delivery c on b.express_delivery_id = c.id and c.dr=0
        left join cor_driver d on c.driver_id = d.id and d.dr=0
        left join cor_user_profile e on e.user_id = d.user_id and e.dr=0
        where a.tenant_id=#{tenantId}
        and a.dr=0
        <if test="status != null and status != ''">
            and a.status=#{status}
        </if>
        <if test="city != null and city != ''">
            and a.recipient_city=#{city}
        </if>
        <if test="postalCode != null and postalCode != ''">
            and a.recipient_postcode=#{postalCode}
        </if>
        <if test="creatStartTime != null and creatStartTime != '' and creatEndTime != null and creatEndTime != ''">
            and a.created_time between #{creatStartTime} and #{creatEndTime}
        </if>
        <if test="deliveredStartTime != null and deliveredStartTime != '' and deliveredEndTime != null and deliveredEndTime != ''">
            and a.delivered_time between #{deliveredStartTime} and #{deliveredEndTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and(a.order_no like concat('%',#{keyword},'%')
            or a.recipient_name like concat('%',#{keyword},'%')
            or a.recipient_mail like concat('%',#{keyword},'%')
            or e.FULL_NAME like concat('%',#{keyword},'%')
            )
        </if>
    </select>
    <select id="list" resultType="com.redescooter.ses.web.delivery.vo.QueryExpressOrderByPageResult">
        select a.id as id,
        a.batch_no as batchNo,
        a.order_no as orderNo,
        a.status as status,
        a.recipient_postcode as recipientPostcode,
        a.recipient_name as recipientName,
        a.recipient_mail as recipientMail,
        a.recipient_address as recipientAddress,
        a.recipient_city as recipientCity,
        a.created_time as createdTime,
        a.delivered_time as deliveredTime,
        e.first_name as driverFirstName,
        e.last_name as driverLastName
        from cor_express_order a
        left join cor_express_delivery_detail b on a.id = b.express_order_id and b.dr=0
        left join cor_express_delivery c on b.express_delivery_id = c.id and c.dr=0
        left join cor_driver d on c.driver_id = d.id and d.dr=0
        left join cor_user_profile e on e.user_id = d.user_id and e.dr=0
        where a.tenant_id=#{tenantId}
        and a.dr=0
        <if test="status != null and status != ''">
            and a.status=#{status}
        </if>
        <if test="city != null and city != ''">
            and a.recipient_city=#{city}
        </if>
        <if test="postalCode != null and postalCode != ''">
            and a.recipient_postcode=#{postalCode}
        </if>
        <if test="creatStartTime != null and creatStartTime != '' and creatEndTime != null and creatEndTime != ''">
            and a.created_time between #{creatStartTime} and #{creatEndTime}
        </if>
        <if test="deliveredStartTime != null and deliveredStartTime != '' and deliveredEndTime != null and deliveredEndTime != ''">
            and a.delivered_time between #{deliveredStartTime} and #{deliveredEndTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and(a.order_no like concat('%',#{keyword},'%')
            or a.recipient_name like concat('%',#{keyword},'%')
            or a.recipient_mail like concat('%',#{keyword},'%')
            or e.FULL_NAME like concat('%',#{keyword},'%')
            )
        </if>
        order by a.created_time desc
        limit #{startRow},#{pageSize}
    </select>
    <select id="detail" resultType="com.redescooter.ses.web.delivery.vo.QueryOrderDetailResult">
    SELECT
    	a.id,
    	a.tenant_id as tenantId,
    	a.batch_no as batchNo,
    	a.order_no as orderNo,
    	a.STATUS,
    	a.recipient_country as recipientCountry,
    	a.recipient_city as recipientCity,
    	a.recipient_province as recipientProvince,
    	a.recipient_postcode as recipientPostcode,
    	a.recipient_address as recipientAddress,
    	a.recipient_latitude as recipientLatitude,
    	a.recipient_longitude as recipientLongitude,
    	a.recipient_geohash as recipientGeohash,
    	a.recipient_name as recipientName,
    	a.recipient_company as recipientCompany,
    	a.recipient_phone as recipientPhone,
    	a.recipient_mail as recipientMail,
    	a.recipient_notes as recipientNotes,
    	a.sender_country as senderCountry,
    	a.sender_city as senderCity,
    	a.sender_province as senderProvince,
    	a.sender_postcode as senderPostcode,
    	a.sender_address as senderAddress,
    	a.sender_latitude as senderLatitude,
    	a.sender_longitude as senderLongitude,
    	a.sender_geohash as senderGeohash,
    	a.sender_company as senderCompany,
    	a.sender_name as senderName,
    	a.sender_phone as senderPhone,
    	a.sender_mail as senderMail,
    	a.sender_notes as senderNotes,
    	a.parcel_quantity as parcelQuantity,
    	a.assign_flag as assignFlag,
    	a.assign_time as assignTime,
    	a.vehicle_type as vehicleType,
    	a.expect_time_begin as expectTimeBegin,
    	a.expect_time_end as expectTimeEnd,
    	a.general_notes as generalNotes,
        a.delivered_time as deliveredTime,
        a.created_time  as createdTime,
        e.first_name as driverFirstName,
    	e.last_name as driverLastName,
    	a.denial_reason as reason
    FROM
    	cor_express_order a
    	LEFT JOIN (
    	SELECT
    		*
    	FROM
    		cor_express_delivery_detail
    	WHERE
    		dr = 0
    		AND express_order_id = #{id}
    	ORDER BY
    		created_time DESC
    		LIMIT 1
    	) b ON a.id = b.express_order_id
    	LEFT JOIN cor_express_delivery c ON b.express_delivery_id = c.id
    	AND c.dr = 0
    	LEFT JOIN cor_driver d ON c.driver_id = d.id
    	AND d.dr = 0
    	LEFT JOIN cor_user_profile e ON e.user_id = d.user_id
    	AND e.dr = 0
    WHERE
        a.tenant_id = #{tenantId}
    	AND a.dr = 0
    	AND a.id = #{id}
    </select>
    <select id="getOrderNode" resultType="com.redescooter.ses.web.delivery.vo.QueryExpressOrderTraceResult">
        SELECT
        a.id AS id,
        a.express_delivery_id AS expressDeliveryId,
        a.express_order_id AS expressOrderId,
        a.STATUS AS STATUS,
        a.EVENT AS EVENT,
        a.reason AS reason,
        a.event_time AS eventTime,
        a.longitude AS longitude,
        a.latitude AS latitude,
        a.geohash AS geohash,
        a.scooter_id AS scooterId,
        a.scooter_latitude AS scooterLongitude,
        a.scooter_longitude AS scooterLatitude,
        a.scooter_geohash AS scooterGeohash,
        b.FULL_NAME AS createdName,
        a.created_time AS createdTime,
        e.FULL_NAME AS driverName
        FROM
        cor_express_order_trace a
        LEFT JOIN cor_user_profile b ON a.created_by = b.user_id
        AND b.dr = 0
        LEFT JOIN cor_express_delivery c ON a.express_delivery_id = c.id
        AND c.dr = 0
        LEFT JOIN cor_driver d ON d.id = c.driver_id
        AND d.dr = 0
        LEFT JOIN cor_user_profile e ON e.user_id = d.user_id
        AND e.dr = 0
        WHERE
        a.dr = 0
        and a.tenant_id = #{tenantId}
        AND a.express_order_id = #{id}
        ORDER BY
        a.created_time ASC
    </select>
</mapper>