<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.delivery.dao.OrderDeliveryServiceMapper">


    <select id="countStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
     select cdy.status, count(*) totalCount
     from cor_delivery cdy
     where cdy.dr = 0
        and cdy.tenant_id=#{tenantId}
     group by cdy.status

    </select>
    <select id="list" resultType="com.redescooter.ses.web.delivery.vo.ListDeliveryResult">
        select cdy.id,
        cdy.order_no as orderNo,
        cdy.status,
        '' as label,
        cdy.recipient,
        cdy.recipient_address as recipientAddress,
        cdy.recipient_email as recipientEmail,
        cdy.recipient_tel as recipientTel,
        cdy.country_code as countryCode,
        cdy.parcel_quantity as parcelQuantity,
        cdy.house_info as houseInfo,
        cdy.goods_inventory as goodsInventory,
        cdy.latitude,
        cdy.longitude,
        cdy.created_time as createdTime,
        cdy.ata as deliveredTime,
        cd.id as driverId,
        cup.last_name as driverLastName,
        cup.first_name as driverFirstName,
        cts.license_plate as licensePlate,
        cts.scooter_id as scooterId
        from cor_delivery cdy
        inner join cor_user_profile cup on cdy.deliverer_id = cup.user_id and cup.dr = 0
        inner join cor_driver cd on cup.user_id = cd.user_id and cd.dr = 0
        inner join cor_tenant_scooter cts on cdy.scooter_id = cts.scooter_id and cts.dr = 0
        where cdy.dr = 0
        and cdy.tenant_id=#{tenantId}
        <if test="status != null and status != ''">
            and cdy.status =#{status}
        </if>
        <if test="creatEndDateTime != null and creatStartDateTime != null">
            and cdy.created_time between #{creatStartDateTime} and #{creatEndDateTime}
        </if>
        <if test="ataStartDateTime != null and ataEndDateTime != null">
            and cdy.ata between #{ataStartDateTime} and #{ataEndDateTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            cdy.order_no like concat("%",#{keyword},"%")
            or cdy.recipient like concat("%",#{keyword},"%")
            or cdy.recipient_tel like concat("%",#{keyword},"%")
            or cup.last_name like concat("%",#{keyword},"%")
            or cup.first_name like concat("%",#{keyword},"%")
            or cts.license_plate like concat("%",#{keyword},"%")
            or cdy.house_info like concat("%",#{keyword},"%")
            )
        </if>
        group by id, orderNo, status, label, recipient, recipientAddress, recipientEmail, recipientTel, countryCode,
        parcelQuantity, latitude, longitude, createdTime, deliveredTime, driverId, driverLastName, driverFirstName,
        licensePlate, scooterId
        order by deliveredTime, createdTime desc
        limit #{startRow},#{pageSize}
    </select>
    <select id="listCount" resultType="int">
        select count(cdy.id)
        from cor_delivery cdy
        inner join cor_user_profile cup on cdy.deliverer_id = cup.user_id and cup.dr = 0
        inner join cor_driver cd on cup.user_id = cd.user_id and cd.dr = 0
        inner join cor_tenant_scooter cts on cdy.scooter_id = cts.scooter_id and cts.dr = 0
        where cdy.dr = 0
        and cdy.tenant_id=#{tenantId}
        <if test="status != null and status != ''">
            and cdy.status =#{status}
        </if>
        <if test="creatEndDateTime != null and creatStartDateTime != null">
            and cdy.created_time between #{creatStartDateTime} and #{creatEndDateTime}
        </if>
        <if test="ataStartDateTime != null and ataEndDateTime != null">
            and cdy.ata between #{ataStartDateTime} and #{ataEndDateTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            cdy.order_no like concat("%",#{keyword},"%")
            or cdy.recipient like concat("%",#{keyword},"%")
            or cdy.recipient_tel like concat("%",#{keyword},"%")
            or cup.last_name like concat("%",#{keyword},"%")
            or cup.first_name like concat("%",#{keyword},"%")
            or cts.license_plate like concat("%",#{keyword},"%")
            or cdy.house_info like concat("%",#{keyword},"%")
            )
        </if>

    </select>
    <select id="details" resultType="com.redescooter.ses.web.delivery.vo.DeliveryDetailsResult">
        select cdy.id,
        cdy.order_no          as orderNo,
        cdy.status,
        ''                    as label,
        cdy.recipient,
        cdy.recipient_address as recipientAddress,
        cdy.recipient_email   as recipientEmail,
        cdy.recipient_tel     as recipientTel,
        cdy.country_code      as countryCode,
        cdy.parcel_quantity   as parcelQuantity,
        cdy.house_info        as houseInfo,
        cdy.goods_inventory   as goodsInventory,
        cdy.latitude,
        cdy.longitude,
        cdy.created_time      as createdTime,
        cdy.ata               as deliveredTime,
        cd.id                 as driverId,
        cup.last_name         as driverLastName,
        cup.first_name        as driverFirstName,
        cup.tel_number_1      as driverTel,
        cts.license_plate     as licensePlate,
        cts.scooter_id        as scooterId,
        cts.longitule         as scooterLng,
        cts.latitude          as scooterLat,
        cts.tenant_id         as tenantId,
        cdy.driven_mileage    as mileage,
        cdy.eta               as eatTime
       from cor_delivery cdy
             inner join cor_user_profile cup on cdy.deliverer_id = cup.user_id and cup.dr = 0
             inner join cor_driver cd on cup.user_id = cd.user_id and cd.dr = 0
             inner join cor_tenant_scooter cts on cdy.scooter_id = cts.scooter_id and cts.dr = 0
    where cdy.dr = 0
    and cdy.id=#{id}
    and cdy.tenant_id=#{tenantId}

    </select>

    <select id="selectDriverList" resultType="com.redescooter.ses.web.delivery.vo.SelectDriverResult">
        select cd.id as driverId,
        cd.user_id as userId,
        cup.first_name as firstName,
        cup.last_name as lastName,
        count(delivery.deliveryId) as completeAmount
        from cor_driver cd
        inner join cor_user_profile cup on cd.user_id = cup.user_id
        left join (select deliverer_id as userId, id as deliveryId
        from cor_delivery
        where status in ('1', '2')) delivery on cd.user_id = delivery.userId
        where cd.tenant_id =#{tenantId}
        and cd.status ='1'
        group by driverId, userId, first_name, last_name

    </select>
    <select id="scooterMap" resultType="com.redescooter.ses.web.delivery.vo.ScooterMapResult">
        select scooter.scooter_id as id,
        scooter.latitude as lat,
        scooter.longitule as lng,
        driver.id as driverId,
        profile.FIRST_NAME as driverFirstName,
        profile.LAST_NAME as driverLastName,
        profile.picture as avatar
        from cor_tenant_scooter scooter
        left join cor_driver_scooter cds on cds.scooter_id = scooter.scooter_id and cds.dr = 0
        left join cor_driver driver on cds.driver_id = driver.id and driver.dr = 0 and driver.status in (1, 2)
        left join cor_user_profile profile on driver.user_id = profile.USER_ID and profile.dr = 0
        where scooter.tenant_id = #{tenantId}
    </select>
    <select id="driverDeliveryInfor" resultType="com.redescooter.ses.web.delivery.vo.DriverOrderInfoResult">
        select driver.id as id,
        driver.user_id as userId,
        profile.picture as avatar,
        profile.first_name as driverFirstName,
        profile.last_name as driverLastName,
        cds.scooter_id as scooterId
        from cor_driver driver
        inner join cor_user_profile profile on driver.user_id = profile.USER_ID and profile.dr = 0
        left join cor_driver_scooter cds on driver.id = cds.driver_id and cds.dr = 0
        where driver.status = 1
        and driver.tenant_id = #{tenantId}
        and driver.id=#{id}
        and cds.status = 1
    </select>
    <select id="nodeList" resultType="com.redescooter.ses.web.delivery.vo.DeliveryNodeResult">
        select node.id        as id,
               node.event     as event,
               node.status    as status,
               cup.user_id    as driverUserId,
               cup.first_name as driverFirstName,
               cup.last_name  as driverLastName,
               node.event_time as eventTime
        from cor_delivery_trace node
                 inner join cor_user_profile cup on node.created_by = cup.user_id
        where node.delivery_id = #{id}
          and node.tenant_id = #{tenantId}
          and node.dr = 0
        order by node.event_time asc
    </select>

    <select id="scooterLicensePlateList" resultType="com.redescooter.ses.web.delivery.vo.ScooterLicensePlateResult">
        select scooter.scooter_id    as scooterId,
               scooter.license_plate as scooterLicensePlate,
                scooter.longitule     as lng,
                scooter.latitude      as lat,
               cd.id                 as driverId,
               profile.FIRST_NAME    as driverFirstName,
               profile.LAST_NAME     as driverLastName,
               profile.PICTURE       as driverPicture
        from cor_tenant_scooter scooter
                 left join cor_driver_scooter cds on cds.scooter_id = scooter.scooter_id and cds.dr = 0 and cds.status = 1
                 left join cor_driver cd on cd.id = cds.driver_id and cd.dr = 0 and cd.status = 1
                 left join cor_user_profile profile on cd.user_id = profile.USER_ID and profile.dr = 0
        where scooter.tenant_id = #{tenantId}
        <if test="licensePlate != null and licensePlate != ''">
            and scooter.license_plate=#{licensePlate}
        </if>
    </select>

    <select id="driverInfo" resultType="com.redescooter.ses.web.delivery.vo.ScooterMapResult">
        select cd.id          as id,
               cup.first_name as driverFirstName,
               cup.last_name  as driverLastName,
               cup.picture    as avatar
        from cor_driver_scooter scooter
                 inner join cor_driver cd on scooter.driver_id = cd.id and cd.dr = 0
                 inner join cor_user_profile cup on cd.user_id = cup.user_id and cup.dr = 0
        where scooter.scooter_id = #{id}
          and scooter.status = 1
          and scooter.tenant_id = #{tenantId}
    </select>
</mapper>