<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.delivery.dao.OrderStatisticsServiceMapper">

    <select id="topTen" resultType="com.redescooter.ses.web.delivery.vo.TopTenResult">
        select driver.id as id,
        profile.first_name as driverFirstName,
        profile.last_name as driverLastName,
        profile.picture as avatar,
        ifnull(count(delivery.id), 0) as count
        from cor_driver driver
        inner join cor_user_profile profile on driver.user_id = profile.user_id and profile.dr = 0
        left join cor_delivery delivery on driver.user_id = deliverer_id and delivery.dr = 0
        where driver.tenant_id =#{tenantId}
        and driver.dr = 0
        and delivery.status in ('5', '6')
        <if test="date != null and date ==false">
            and TO_DAYS(delivery.updated_time) = TO_DAYS(NOW())
        </if>
        <if test="date != null and date == true ">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[ < ]]> date(delivery.updated_time)
        </if>
        group by id, driverFirstName, driverLastName, avatar
    </select>

    <select id="scooterRideData" resultType="com.redescooter.ses.web.delivery.vo.ScooterRideDataResult">
        select csrs.total_mileage as totalMileage,
        csrs.co2_total as totalCo2,
        csrs.saved_money as totalMoney,
        avg(csrsd.mileage) as avgMileage
        from cor_scooter_ride_stat csrs
        left join cor_scooter_ride_stat_detail csrsd on csrs.scooter_id = csrsd.scooter_id and csrsd.dr = 0
        where csrs.tenant_id = #{tenantId}
        and csrs.dr = 0
        group by totalMileage, totalCo2, totalMoney
    </select>
    <select id="todayCountByStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select cdy.status, count(*) totalCount
        from cor_delivery cdy
        where cdy.dr = 0
        and cdy.tenant_id=#{tenantId}
        and TO_DAYS(cdy.updated_time) = TO_DAYS(NOW())
        group by cdy.status
    </select>
</mapper>