log:
  file:
    path: ${log.path}@profile-active@
    max-size: 128MB
    max-history: 180
dubbo:
  registry:
    address: zookeeper://172.31.6.101:2181
  metadata-report:
    address: zookeeper://172.31.6.101:2181
spring:
  datasource:
    dynamic:
      primary: corporate
      seata: true
      datasource:
        corporate:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://172.31.6.136:2116/corporate_pre?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false
          username: redpre
          password: pre.1qaz2wsx
        operation:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://172.31.6.136:2116/operation_pre?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false
          username: redpre
          password: pre.1qaz2wsx
        consumer:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://172.31.6.136:2116/consumer_pre?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false
          username: redpre
          password: pre.1qaz2wsx
  redis:
    cluster:
      nodes:
        - 172.31.6.136:7000
        - 172.31.6.136:7001
        - 172.31.6.136:7002
        - 172.31.6.136:7003
        - 172.31.6.136:7004
        - 172.31.6.136:7005

seata:
  enabled: true
  enable-auto-data-source-proxy: false
  tx-service-group: ses-service-hub-group
  registry:
    type: zk
    zk:
      server-addr: 172.31.6.101:2181
      cluster: default
      connect-timeout: 2000000
  config:
    type: zk
    zk:
      server-addr: 172.31.6.101:2181
      connect-timeout: 2000000
  service:
    disable-global-transaction: false
    vgroup-mapping:
      ses-service-hub-group: default
  client:
    rm:
      report-success-enable: false


