log:
  file:
    path: ${log.path}@profile-active@
    max-size: 128MB
    max-history: 180
dubbo:
  registry:
    address: zookeeper://10.1.1.142:2181
  metadata-report:
    address: zookeeper://10.1.1.142:2181
jasypt:
  encryptor:
    property:
      prefix: RedE(
      suffix: )
    ivGeneratorClassname: org.jasypt.salt.RandomIVGenerator
spring:
  datasource:
    dynamic:
      primary: corporate
      seata: true
      datasource:
        corporate:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://10.1.2.238:2021/corporate_prod?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false&allowPublicKeyRetrieval=true
          username: rede
          password: rede1qaz2wsx
        operation:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://10.1.2.238:2021/operation_prod?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false&allowPublicKeyRetrieval=true
          username: rede
          password: rede1qaz2wsx
        consumer:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://10.1.2.238:2021/consumer_prod?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false&allowPublicKeyRetrieval=true
          username: rede
          password: rede1qaz2wsx
  redis:
    cluster:
      nodes:
        - 10.1.2.238:7000
        - 10.1.2.238:7001
        - 10.1.2.238:7002
        - 10.1.2.238:7003
        - 10.1.2.238:7004
        - 10.1.2.238:7005
seata:
  enabled: true
  enable-auto-data-source-proxy: true
  tx-service-group: ses-service-hub-group
  registry:
    type: zk
    zk:
      server-addr: 10.1.1.142:2181
      cluster: default
      connect-timeout: 2000000
  config:
    type: zk
    zk:
      server-addr: 10.1.1.142:2181
      connect-timeout: 2000000
  service:
    disable-global-transaction: false
    vgroup-mapping:
      ses-admin-dev-group: default
  client:
    rm:
      report-success-enable: false