<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.c.dao.base.ConDriverRideStatDetailMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.service.mobile.c.dm.base.ConDriverRideStatDetail">
        <!--@mbg.generated-->
        <!--@Table con_driver_ride_stat_detail-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="biz_id" jdbcType="BIGINT" property="bizId"/>
        <result column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <result column="driver_id" jdbcType="BIGINT" property="driverId"/>
        <result column="duration" jdbcType="BIGINT" property="duration"/>
        <result column="co2_history_total" jdbcType="DOUBLE" property="co2HistoryTotal"/>
        <result column="co2_increment" jdbcType="DOUBLE" property="co2Increment"/>
        <result column="svg_speed" jdbcType="DOUBLE" property="svgSpeed"/>
        <result column="mileage" jdbcType="DOUBLE" property="mileage"/>
        <result column="saved_money" jdbcType="DOUBLE" property="savedMoney"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dr, tenant_id, biz_id, biz_type, driver_id, duration, co2_history_total, co2_increment,
        svg_speed, mileage, saved_money, create_time, create_by, update_time, update_by,
        def1, def2, def3, def5, def6
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update con_driver_ride_stat_detail
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dr = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="tenant_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="biz_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.bizId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="biz_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.bizType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="driver_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.driverId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="duration = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.duration,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="co2_history_total = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.co2HistoryTotal,jdbcType=DOUBLE}
                </foreach>
            </trim>
            <trim prefix="co2_increment = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.co2Increment,jdbcType=DOUBLE}
                </foreach>
            </trim>
            <trim prefix="svg_speed = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.svgSpeed,jdbcType=DOUBLE}
                </foreach>
            </trim>
            <trim prefix="mileage = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.mileage,jdbcType=DOUBLE}
                </foreach>
            </trim>
            <trim prefix="saved_money = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.savedMoney,jdbcType=DOUBLE}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="create_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="def1 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def2 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def3 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def5 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def6 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into con_driver_ride_stat_detail
        (id, dr, tenant_id, biz_id, biz_type, driver_id, duration, co2_history_total, co2_increment,
        svg_speed, mileage, saved_money, create_time, create_by, update_time, update_by,
        def1, def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.tenantId,jdbcType=BIGINT},
            #{item.bizId,jdbcType=BIGINT}, #{item.bizType,jdbcType=VARCHAR}, #{item.driverId,jdbcType=BIGINT},
            #{item.duration,jdbcType=BIGINT}, #{item.co2HistoryTotal,jdbcType=DOUBLE},
            #{item.co2Increment,jdbcType=DOUBLE},
            #{item.svgSpeed,jdbcType=DOUBLE}, #{item.mileage,jdbcType=DOUBLE}, #{item.savedMoney,jdbcType=DOUBLE},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.createBy,jdbcType=BIGINT},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=BIGINT}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
            #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.service.mobile.c.dm.base.ConDriverRideStatDetail">
        <!--@mbg.generated-->
        insert into con_driver_ride_stat_detail
        (id, dr, tenant_id, biz_id, biz_type, driver_id, duration, co2_history_total, co2_increment,
        svg_speed, mileage, saved_money, create_time, create_by, update_time, update_by,
        def1, def2, def3, def5, def6)
        values
        (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{tenantId,jdbcType=BIGINT}, #{bizId,jdbcType=BIGINT},
        #{bizType,jdbcType=VARCHAR}, #{driverId,jdbcType=BIGINT}, #{duration,jdbcType=BIGINT},
        #{co2HistoryTotal,jdbcType=DOUBLE}, #{co2Increment,jdbcType=DOUBLE}, #{svgSpeed,jdbcType=DOUBLE},
        #{mileage,jdbcType=DOUBLE}, #{savedMoney,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
        #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR},
        #{def6,jdbcType=DOUBLE})
        on duplicate key update
        id = #{id,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER},
        tenant_id = #{tenantId,jdbcType=BIGINT},
        biz_id = #{bizId,jdbcType=BIGINT},
        biz_type = #{bizType,jdbcType=VARCHAR},
        driver_id = #{driverId,jdbcType=BIGINT},
        duration = #{duration,jdbcType=BIGINT},
        co2_history_total = #{co2HistoryTotal,jdbcType=DOUBLE},
        co2_increment = #{co2Increment,jdbcType=DOUBLE},
        svg_speed = #{svgSpeed,jdbcType=DOUBLE},
        mileage = #{mileage,jdbcType=DOUBLE},
        saved_money = #{savedMoney,jdbcType=DOUBLE},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=BIGINT},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective"
            parameterType="com.redescooter.ses.service.mobile.c.dm.base.ConDriverRideStatDetail">
        <!--@mbg.generated-->
        insert into con_driver_ride_stat_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="bizId != null">
                biz_id,
            </if>
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="driverId != null">
                driver_id,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="co2HistoryTotal != null">
                co2_history_total,
            </if>
            <if test="co2Increment != null">
                co2_increment,
            </if>
            <if test="svgSpeed != null">
                svg_speed,
            </if>
            <if test="mileage != null">
                mileage,
            </if>
            <if test="savedMoney != null">
                saved_money,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="bizId != null">
                #{bizId,jdbcType=BIGINT},
            </if>
            <if test="bizType != null">
                #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="driverId != null">
                #{driverId,jdbcType=BIGINT},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=BIGINT},
            </if>
            <if test="co2HistoryTotal != null">
                #{co2HistoryTotal,jdbcType=DOUBLE},
            </if>
            <if test="co2Increment != null">
                #{co2Increment,jdbcType=DOUBLE},
            </if>
            <if test="svgSpeed != null">
                #{svgSpeed,jdbcType=DOUBLE},
            </if>
            <if test="mileage != null">
                #{mileage,jdbcType=DOUBLE},
            </if>
            <if test="savedMoney != null">
                #{savedMoney,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="bizId != null">
                biz_id = #{bizId,jdbcType=BIGINT},
            </if>
            <if test="bizType != null">
                biz_type = #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="driverId != null">
                driver_id = #{driverId,jdbcType=BIGINT},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=BIGINT},
            </if>
            <if test="co2HistoryTotal != null">
                co2_history_total = #{co2HistoryTotal,jdbcType=DOUBLE},
            </if>
            <if test="co2Increment != null">
                co2_increment = #{co2Increment,jdbcType=DOUBLE},
            </if>
            <if test="svgSpeed != null">
                svg_speed = #{svgSpeed,jdbcType=DOUBLE},
            </if>
            <if test="mileage != null">
                mileage = #{mileage,jdbcType=DOUBLE},
            </if>
            <if test="savedMoney != null">
                saved_money = #{savedMoney,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>