<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeCombinOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeCombinOrder">
    <!--@mbg.generated-->
    <!--@Table operation.ope_combin_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="combin_type" jdbcType="INTEGER" property="combinType" />
    <result column="combin_no" jdbcType="VARCHAR" property="combinNo" />
    <result column="combin_status" jdbcType="INTEGER" property="combinStatus" />
    <result column="combin_qty" jdbcType="INTEGER" property="combinQty" />
    <result column="combin_start_date" jdbcType="TIMESTAMP" property="combinStartDate" />
    <result column="combin_end_date" jdbcType="TIMESTAMP" property="combinEndDate" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, tenant_id, dept_id, combin_type, combin_no, combin_status, combin_qty, combin_start_date, 
    combin_end_date, principal_id, principal_name, country_code, telephone, remark, created_by, 
    created_time, updated_by, updated_time, def1, def2, def3, def4, def5
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update operation.ope_combin_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deptId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="combin_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="combin_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="combin_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="combin_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="combin_start_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinStartDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="combin_end_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinEndDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.principalId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="principal_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.principalName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.countryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.telephone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update operation.ope_combin_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tenantId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deptId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.deptId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_start_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinStartDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinStartDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_end_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinEndDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinEndDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.principalId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.principalId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="principal_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.principalName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.principalName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.countryCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.countryCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.telephone != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.telephone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def4 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into operation.ope_combin_order
    (id, dr, tenant_id, dept_id, combin_type, combin_no, combin_status, combin_qty, combin_start_date, 
      combin_end_date, principal_id, principal_name, country_code, telephone, remark, 
      created_by, created_time, updated_by, updated_time, def1, def2, def3, def4, def5
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.tenantId,jdbcType=BIGINT}, 
        #{item.deptId,jdbcType=INTEGER}, #{item.combinType,jdbcType=INTEGER}, #{item.combinNo,jdbcType=VARCHAR}, 
        #{item.combinStatus,jdbcType=INTEGER}, #{item.combinQty,jdbcType=INTEGER}, #{item.combinStartDate,jdbcType=TIMESTAMP}, 
        #{item.combinEndDate,jdbcType=TIMESTAMP}, #{item.principalId,jdbcType=BIGINT}, 
        #{item.principalName,jdbcType=VARCHAR}, #{item.countryCode,jdbcType=VARCHAR}, #{item.telephone,jdbcType=VARCHAR}, 
        #{item.remark,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP}, 
        #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, 
        #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, #{item.def4,jdbcType=VARCHAR}, 
        #{item.def5,jdbcType=DECIMAL})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpeCombinOrder">
    <!--@mbg.generated-->
    insert into operation.ope_combin_order
    (id, dr, tenant_id, dept_id, combin_type, combin_no, combin_status, combin_qty, combin_start_date, 
      combin_end_date, principal_id, principal_name, country_code, telephone, remark, 
      created_by, created_time, updated_by, updated_time, def1, def2, def3, def4, def5
      )
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{tenantId,jdbcType=BIGINT}, #{deptId,jdbcType=INTEGER}, 
      #{combinType,jdbcType=INTEGER}, #{combinNo,jdbcType=VARCHAR}, #{combinStatus,jdbcType=INTEGER}, 
      #{combinQty,jdbcType=INTEGER}, #{combinStartDate,jdbcType=TIMESTAMP}, #{combinEndDate,jdbcType=TIMESTAMP}, 
      #{principalId,jdbcType=BIGINT}, #{principalName,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, 
      #{def5,jdbcType=DECIMAL})
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    dr = #{dr,jdbcType=INTEGER}, 
    tenant_id = #{tenantId,jdbcType=BIGINT}, 
    dept_id = #{deptId,jdbcType=INTEGER}, 
    combin_type = #{combinType,jdbcType=INTEGER}, 
    combin_no = #{combinNo,jdbcType=VARCHAR}, 
    combin_status = #{combinStatus,jdbcType=INTEGER}, 
    combin_qty = #{combinQty,jdbcType=INTEGER}, 
    combin_start_date = #{combinStartDate,jdbcType=TIMESTAMP}, 
    combin_end_date = #{combinEndDate,jdbcType=TIMESTAMP}, 
    principal_id = #{principalId,jdbcType=BIGINT}, 
    principal_name = #{principalName,jdbcType=VARCHAR}, 
    country_code = #{countryCode,jdbcType=VARCHAR}, 
    telephone = #{telephone,jdbcType=VARCHAR}, 
    remark = #{remark,jdbcType=VARCHAR}, 
    created_by = #{createdBy,jdbcType=BIGINT}, 
    created_time = #{createdTime,jdbcType=TIMESTAMP}, 
    updated_by = #{updatedBy,jdbcType=BIGINT}, 
    updated_time = #{updatedTime,jdbcType=TIMESTAMP}, 
    def1 = #{def1,jdbcType=VARCHAR}, 
    def2 = #{def2,jdbcType=VARCHAR}, 
    def3 = #{def3,jdbcType=VARCHAR}, 
    def4 = #{def4,jdbcType=VARCHAR}, 
    def5 = #{def5,jdbcType=DECIMAL}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeCombinOrder">
    <!--@mbg.generated-->
    insert into operation.ope_combin_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="combinType != null">
        combin_type,
      </if>
      <if test="combinNo != null">
        combin_no,
      </if>
      <if test="combinStatus != null">
        combin_status,
      </if>
      <if test="combinQty != null">
        combin_qty,
      </if>
      <if test="combinStartDate != null">
        combin_start_date,
      </if>
      <if test="combinEndDate != null">
        combin_end_date,
      </if>
      <if test="principalId != null">
        principal_id,
      </if>
      <if test="principalName != null">
        principal_name,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="combinType != null">
        #{combinType,jdbcType=INTEGER},
      </if>
      <if test="combinNo != null">
        #{combinNo,jdbcType=VARCHAR},
      </if>
      <if test="combinStatus != null">
        #{combinStatus,jdbcType=INTEGER},
      </if>
      <if test="combinQty != null">
        #{combinQty,jdbcType=INTEGER},
      </if>
      <if test="combinStartDate != null">
        #{combinStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="combinEndDate != null">
        #{combinEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="principalId != null">
        #{principalId,jdbcType=BIGINT},
      </if>
      <if test="principalName != null">
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="combinType != null">
        combin_type = #{combinType,jdbcType=INTEGER},
      </if>
      <if test="combinNo != null">
        combin_no = #{combinNo,jdbcType=VARCHAR},
      </if>
      <if test="combinStatus != null">
        combin_status = #{combinStatus,jdbcType=INTEGER},
      </if>
      <if test="combinQty != null">
        combin_qty = #{combinQty,jdbcType=INTEGER},
      </if>
      <if test="combinStartDate != null">
        combin_start_date = #{combinStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="combinEndDate != null">
        combin_end_date = #{combinEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="principalId != null">
        principal_id = #{principalId,jdbcType=BIGINT},
      </if>
      <if test="principalName != null">
        principal_name = #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>