<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeOutWhouseOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeOutWhouseOrder">
    <!--@mbg.generated-->
    <!--@Table ope_out_whouse_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="country_type" jdbcType="INTEGER" property="countryType" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_no" jdbcType="VARCHAR" property="relationNo" />
    <result column="relation_type" jdbcType="INTEGER" property="relationType" />
    <result column="wh_type" jdbcType="INTEGER" property="whType" />
    <result column="out_wh_no" jdbcType="VARCHAR" property="outWhNo" />
    <result column="out_wh_status" jdbcType="INTEGER" property="outWhStatus" />
    <result column="out_wh_type" jdbcType="INTEGER" property="outWhType" />
    <result column="out_type" jdbcType="INTEGER" property="outType" />
    <result column="out_wh_qty" jdbcType="INTEGER" property="outWhQty" />
    <result column="already_out_wh_qty" jdbcType="INTEGER" property="alreadyOutWhQty" />
    <result column="out_stock_time" jdbcType="TIMESTAMP" property="outStockTime" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="if_wh" jdbcType="INTEGER" property="ifWh" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, tenant_id, dept_id, country_type, relation_id, relation_no, relation_type, 
    wh_type, out_wh_no, out_wh_status, out_wh_type, out_type, out_wh_qty, already_out_wh_qty, 
    out_stock_time, country_code, telephone, mail, `source`, if_wh, remark, created_by, 
    created_time, updated_by, updated_time, def1, def2, def3, def4, def5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ope_out_whouse_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from ope_out_whouse_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeOutWhouseOrder">
    <!--@mbg.generated-->
    insert into ope_out_whouse_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="countryType != null">
        country_type,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="relationNo != null">
        relation_no,
      </if>
      <if test="relationType != null">
        relation_type,
      </if>
      <if test="whType != null">
        wh_type,
      </if>
      <if test="outWhNo != null">
        out_wh_no,
      </if>
      <if test="outWhStatus != null">
        out_wh_status,
      </if>
      <if test="outWhType != null">
        out_wh_type,
      </if>
      <if test="outType != null">
        out_type,
      </if>
      <if test="outWhQty != null">
        out_wh_qty,
      </if>
      <if test="alreadyOutWhQty != null">
        already_out_wh_qty,
      </if>
      <if test="outStockTime != null">
        out_stock_time,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="ifWh != null">
        if_wh,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="countryType != null">
        #{countryType,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationNo != null">
        #{relationNo,jdbcType=VARCHAR},
      </if>
      <if test="relationType != null">
        #{relationType,jdbcType=INTEGER},
      </if>
      <if test="whType != null">
        #{whType,jdbcType=INTEGER},
      </if>
      <if test="outWhNo != null">
        #{outWhNo,jdbcType=VARCHAR},
      </if>
      <if test="outWhStatus != null">
        #{outWhStatus,jdbcType=INTEGER},
      </if>
      <if test="outWhType != null">
        #{outWhType,jdbcType=INTEGER},
      </if>
      <if test="outType != null">
        #{outType,jdbcType=INTEGER},
      </if>
      <if test="outWhQty != null">
        #{outWhQty,jdbcType=INTEGER},
      </if>
      <if test="alreadyOutWhQty != null">
        #{alreadyOutWhQty,jdbcType=INTEGER},
      </if>
      <if test="outStockTime != null">
        #{outStockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
      <if test="ifWh != null">
        #{ifWh,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeOutWhouseOrder">
    <!--@mbg.generated-->
    update ope_out_whouse_order
    <set>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="countryType != null">
        country_type = #{countryType,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationNo != null">
        relation_no = #{relationNo,jdbcType=VARCHAR},
      </if>
      <if test="relationType != null">
        relation_type = #{relationType,jdbcType=INTEGER},
      </if>
      <if test="whType != null">
        wh_type = #{whType,jdbcType=INTEGER},
      </if>
      <if test="outWhNo != null">
        out_wh_no = #{outWhNo,jdbcType=VARCHAR},
      </if>
      <if test="outWhStatus != null">
        out_wh_status = #{outWhStatus,jdbcType=INTEGER},
      </if>
      <if test="outWhType != null">
        out_wh_type = #{outWhType,jdbcType=INTEGER},
      </if>
      <if test="outType != null">
        out_type = #{outType,jdbcType=INTEGER},
      </if>
      <if test="outWhQty != null">
        out_wh_qty = #{outWhQty,jdbcType=INTEGER},
      </if>
      <if test="alreadyOutWhQty != null">
        already_out_wh_qty = #{alreadyOutWhQty,jdbcType=INTEGER},
      </if>
      <if test="outStockTime != null">
        out_stock_time = #{outStockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=INTEGER},
      </if>
      <if test="ifWh != null">
        if_wh = #{ifWh,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.redescooter.ses.mobile.rps.dm.OpeOutWhouseOrder">
    <!--@mbg.generated-->
    update ope_out_whouse_order
    set dr = #{dr,jdbcType=INTEGER},
      tenant_id = #{tenantId,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER},
      country_type = #{countryType,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=BIGINT},
      relation_no = #{relationNo,jdbcType=VARCHAR},
      relation_type = #{relationType,jdbcType=INTEGER},
      wh_type = #{whType,jdbcType=INTEGER},
      out_wh_no = #{outWhNo,jdbcType=VARCHAR},
      out_wh_status = #{outWhStatus,jdbcType=INTEGER},
      out_wh_type = #{outWhType,jdbcType=INTEGER},
      out_type = #{outType,jdbcType=INTEGER},
      out_wh_qty = #{outWhQty,jdbcType=INTEGER},
      already_out_wh_qty = #{alreadyOutWhQty,jdbcType=INTEGER},
      out_stock_time = #{outStockTime,jdbcType=TIMESTAMP},
      country_code = #{countryCode,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=INTEGER},
      if_wh = #{ifWh,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=VARCHAR},
      def4 = #{def4,jdbcType=VARCHAR},
      def5 = #{def5,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>