<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeProductionPartsMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeProductionParts">
    <!--@mbg.generated-->
    <!--@Tableope_production_parts-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="parts_no" jdbcType="VARCHAR" property="partsNo" />
    <result column="parts_type" jdbcType="INTEGER" property="partsType" />
    <result column="parts_sec" jdbcType="BIGINT" property="partsSec" />
    <result column="disable" jdbcType="INTEGER" property="disable" />
    <result column="sn_class" jdbcType="INTEGER" property="snClass" />
    <result column="id_calss" jdbcType="INTEGER" property="idCalss" />
    <result column="parts_is_assembly" jdbcType="INTEGER" property="partsIsAssembly" />
    <result column="parts_is_for_assembly" jdbcType="INTEGER" property="partsIsForAssembly" />
    <result column="parts_qty" jdbcType="INTEGER" property="partsQty" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="procurement_cycle" jdbcType="INTEGER" property="procurementCycle" />
    <result column="dwg" jdbcType="VARCHAR" property="dwg" />
    <result column="qc_flag" jdbcType="BOOLEAN" property="qcFlag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="announ_user_id" jdbcType="BIGINT" property="announUserId" />
    <result column="op_announ_user_id" jdbcType="BIGINT" property="opAnnounUserId" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="fr_name" jdbcType="VARCHAR" property="frName" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="main_drawing" jdbcType="VARCHAR" property="mainDrawing" />
    <result column="ecn_number" jdbcType="VARCHAR" property="ecnNumber" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="sell_calss" jdbcType="VARCHAR" property="sellCalss" />
    <result column="drawing_size" jdbcType="VARCHAR" property="drawingSize" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="supplier_id_2" jdbcType="BIGINT" property="supplierId2" />
    <result column="rate_typ" jdbcType="VARCHAR" property="rateTyp" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, tenant_id, dept_id, parts_no, parts_type, parts_sec, `disable`, sn_class,
    id_calss, parts_is_assembly, parts_is_for_assembly, parts_qty, supplier_id, procurement_cycle,
    dwg, qc_flag, remark, announ_user_id, op_announ_user_id, cn_name, en_name, fr_name,
    `level`, main_drawing, ecn_number, item, sell_calss, drawing_size, weight, supplier_id_2,
    rate_typ, created_by, created_time, updated_by, updated_time, def1, def2, def3, def4,
    def5
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_production_parts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deptId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="parts_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partsNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="parts_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partsType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="parts_sec = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partsSec,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`disable` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.disable,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="sn_class = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.snClass,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="id_calss = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.idCalss,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="parts_is_assembly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partsIsAssembly,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="parts_is_for_assembly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partsIsForAssembly,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="parts_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partsQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="supplier_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.supplierId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="procurement_cycle = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.procurementCycle,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="dwg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dwg,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="qc_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.qcFlag,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="announ_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.announUserId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="op_announ_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.opAnnounUserId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="cn_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.cnName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="en_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.enName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fr_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.frName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`level` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.level,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="main_drawing = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.mainDrawing,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ecn_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ecnNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="item = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.item,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="sell_calss = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.sellCalss,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="drawing_size = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.drawingSize,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="weight = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.weight,jdbcType=DOUBLE}
        </foreach>
      </trim>
      <trim prefix="supplier_id_2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.supplierId2,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="rate_typ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.rateTyp,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_production_parts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tenantId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deptId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.deptId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="parts_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partsNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partsNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="parts_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partsType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partsType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="parts_sec = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partsSec != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partsSec,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`disable` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.disable != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.disable,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="sn_class = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.snClass != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.snClass,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="id_calss = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.idCalss != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.idCalss,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="parts_is_assembly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partsIsAssembly != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partsIsAssembly,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="parts_is_for_assembly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partsIsForAssembly != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partsIsForAssembly,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="parts_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partsQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partsQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="supplier_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.supplierId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.supplierId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="procurement_cycle = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.procurementCycle != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.procurementCycle,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="dwg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dwg != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dwg,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="qc_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.qcFlag != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.qcFlag,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="announ_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.announUserId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.announUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="op_announ_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.opAnnounUserId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.opAnnounUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="cn_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.cnName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.cnName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="en_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.enName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.enName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fr_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.frName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.frName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`level` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.level != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.level,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="main_drawing = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.mainDrawing != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.mainDrawing,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ecn_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ecnNumber != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.ecnNumber,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="item = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.item != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.item,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="sell_calss = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sellCalss != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.sellCalss,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="drawing_size = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.drawingSize != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.drawingSize,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="weight = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.weight != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.weight,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
      <trim prefix="supplier_id_2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.supplierId2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.supplierId2,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="rate_typ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.rateTyp != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.rateTyp,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def4 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_production_parts
    (id, dr, tenant_id, dept_id, parts_no, parts_type, parts_sec, `disable`, sn_class,
      id_calss, parts_is_assembly, parts_is_for_assembly, parts_qty, supplier_id, procurement_cycle,
      dwg, qc_flag, remark, announ_user_id, op_announ_user_id, cn_name, en_name, fr_name,
      `level`, main_drawing, ecn_number, item, sell_calss, drawing_size, weight, supplier_id_2,
      rate_typ, created_by, created_time, updated_by, updated_time, def1, def2, def3,
      def4, def5)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.tenantId,jdbcType=BIGINT},
        #{item.deptId,jdbcType=BIGINT}, #{item.partsNo,jdbcType=VARCHAR}, #{item.partsType,jdbcType=INTEGER},
        #{item.partsSec,jdbcType=BIGINT}, #{item.disable,jdbcType=INTEGER}, #{item.snClass,jdbcType=INTEGER},
        #{item.idCalss,jdbcType=INTEGER}, #{item.partsIsAssembly,jdbcType=INTEGER}, #{item.partsIsForAssembly,jdbcType=INTEGER},
        #{item.partsQty,jdbcType=INTEGER}, #{item.supplierId,jdbcType=INTEGER}, #{item.procurementCycle,jdbcType=INTEGER},
        #{item.dwg,jdbcType=VARCHAR}, #{item.qcFlag,jdbcType=BOOLEAN}, #{item.remark,jdbcType=VARCHAR},
        #{item.announUserId,jdbcType=BIGINT}, #{item.opAnnounUserId,jdbcType=BIGINT}, #{item.cnName,jdbcType=VARCHAR},
        #{item.enName,jdbcType=VARCHAR}, #{item.frName,jdbcType=VARCHAR}, #{item.level,jdbcType=INTEGER},
        #{item.mainDrawing,jdbcType=VARCHAR}, #{item.ecnNumber,jdbcType=VARCHAR}, #{item.item,jdbcType=VARCHAR},
        #{item.sellCalss,jdbcType=VARCHAR}, #{item.drawingSize,jdbcType=VARCHAR}, #{item.weight,jdbcType=DOUBLE},
        #{item.supplierId2,jdbcType=BIGINT}, #{item.rateTyp,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=BIGINT},
        #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP},
        #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR},
        #{item.def4,jdbcType=VARCHAR}, #{item.def5,jdbcType=DECIMAL})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpeProductionParts">
    <!--@mbg.generated-->
    insert into ope_production_parts
    (id, dr, tenant_id, dept_id, parts_no, parts_type, parts_sec, `disable`, sn_class,
      id_calss, parts_is_assembly, parts_is_for_assembly, parts_qty, supplier_id, procurement_cycle,
      dwg, qc_flag, remark, announ_user_id, op_announ_user_id, cn_name, en_name, fr_name,
      `level`, main_drawing, ecn_number, item, sell_calss, drawing_size, weight, supplier_id_2,
      rate_typ, created_by, created_time, updated_by, updated_time, def1, def2, def3,
      def4, def5)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{tenantId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT},
      #{partsNo,jdbcType=VARCHAR}, #{partsType,jdbcType=INTEGER}, #{partsSec,jdbcType=BIGINT},
      #{disable,jdbcType=INTEGER}, #{snClass,jdbcType=INTEGER}, #{idCalss,jdbcType=INTEGER},
      #{partsIsAssembly,jdbcType=INTEGER}, #{partsIsForAssembly,jdbcType=INTEGER}, #{partsQty,jdbcType=INTEGER},
      #{supplierId,jdbcType=INTEGER}, #{procurementCycle,jdbcType=INTEGER}, #{dwg,jdbcType=VARCHAR},
      #{qcFlag,jdbcType=BOOLEAN}, #{remark,jdbcType=VARCHAR}, #{announUserId,jdbcType=BIGINT},
      #{opAnnounUserId,jdbcType=BIGINT}, #{cnName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR},
      #{frName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{mainDrawing,jdbcType=VARCHAR},
      #{ecnNumber,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, #{sellCalss,jdbcType=VARCHAR},
      #{drawingSize,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, #{supplierId2,jdbcType=BIGINT},
      #{rateTyp,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP},
      #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR},
      #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{def5,jdbcType=DECIMAL}
      )
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    dr = #{dr,jdbcType=INTEGER},
    tenant_id = #{tenantId,jdbcType=BIGINT},
    dept_id = #{deptId,jdbcType=BIGINT},
    parts_no = #{partsNo,jdbcType=VARCHAR},
    parts_type = #{partsType,jdbcType=INTEGER},
    parts_sec = #{partsSec,jdbcType=BIGINT},
    `disable` = #{disable,jdbcType=INTEGER},
    sn_class = #{snClass,jdbcType=INTEGER},
    id_calss = #{idCalss,jdbcType=INTEGER},
    parts_is_assembly = #{partsIsAssembly,jdbcType=INTEGER},
    parts_is_for_assembly = #{partsIsForAssembly,jdbcType=INTEGER},
    parts_qty = #{partsQty,jdbcType=INTEGER},
    supplier_id = #{supplierId,jdbcType=INTEGER},
    procurement_cycle = #{procurementCycle,jdbcType=INTEGER},
    dwg = #{dwg,jdbcType=VARCHAR},
    qc_flag = #{qcFlag,jdbcType=BOOLEAN},
    remark = #{remark,jdbcType=VARCHAR},
    announ_user_id = #{announUserId,jdbcType=BIGINT},
    op_announ_user_id = #{opAnnounUserId,jdbcType=BIGINT},
    cn_name = #{cnName,jdbcType=VARCHAR},
    en_name = #{enName,jdbcType=VARCHAR},
    fr_name = #{frName,jdbcType=VARCHAR},
    `level` = #{level,jdbcType=INTEGER},
    main_drawing = #{mainDrawing,jdbcType=VARCHAR},
    ecn_number = #{ecnNumber,jdbcType=VARCHAR},
    item = #{item,jdbcType=VARCHAR},
    sell_calss = #{sellCalss,jdbcType=VARCHAR},
    drawing_size = #{drawingSize,jdbcType=VARCHAR},
    weight = #{weight,jdbcType=DOUBLE},
    supplier_id_2 = #{supplierId2,jdbcType=BIGINT},
    rate_typ = #{rateTyp,jdbcType=VARCHAR},
    created_by = #{createdBy,jdbcType=BIGINT},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def4 = #{def4,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=DECIMAL}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeProductionParts">
    <!--@mbg.generated-->
    insert into ope_production_parts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="partsNo != null">
        parts_no,
      </if>
      <if test="partsType != null">
        parts_type,
      </if>
      <if test="partsSec != null">
        parts_sec,
      </if>
      <if test="disable != null">
        `disable`,
      </if>
      <if test="snClass != null">
        sn_class,
      </if>
      <if test="idCalss != null">
        id_calss,
      </if>
      <if test="partsIsAssembly != null">
        parts_is_assembly,
      </if>
      <if test="partsIsForAssembly != null">
        parts_is_for_assembly,
      </if>
      <if test="partsQty != null">
        parts_qty,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="procurementCycle != null">
        procurement_cycle,
      </if>
      <if test="dwg != null">
        dwg,
      </if>
      <if test="qcFlag != null">
        qc_flag,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="announUserId != null">
        announ_user_id,
      </if>
      <if test="opAnnounUserId != null">
        op_announ_user_id,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="frName != null">
        fr_name,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="mainDrawing != null">
        main_drawing,
      </if>
      <if test="ecnNumber != null">
        ecn_number,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="sellCalss != null">
        sell_calss,
      </if>
      <if test="drawingSize != null">
        drawing_size,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="supplierId2 != null">
        supplier_id_2,
      </if>
      <if test="rateTyp != null">
        rate_typ,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="partsNo != null">
        #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsType != null">
        #{partsType,jdbcType=INTEGER},
      </if>
      <if test="partsSec != null">
        #{partsSec,jdbcType=BIGINT},
      </if>
      <if test="disable != null">
        #{disable,jdbcType=INTEGER},
      </if>
      <if test="snClass != null">
        #{snClass,jdbcType=INTEGER},
      </if>
      <if test="idCalss != null">
        #{idCalss,jdbcType=INTEGER},
      </if>
      <if test="partsIsAssembly != null">
        #{partsIsAssembly,jdbcType=INTEGER},
      </if>
      <if test="partsIsForAssembly != null">
        #{partsIsForAssembly,jdbcType=INTEGER},
      </if>
      <if test="partsQty != null">
        #{partsQty,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="procurementCycle != null">
        #{procurementCycle,jdbcType=INTEGER},
      </if>
      <if test="dwg != null">
        #{dwg,jdbcType=VARCHAR},
      </if>
      <if test="qcFlag != null">
        #{qcFlag,jdbcType=BOOLEAN},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="announUserId != null">
        #{announUserId,jdbcType=BIGINT},
      </if>
      <if test="opAnnounUserId != null">
        #{opAnnounUserId,jdbcType=BIGINT},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="frName != null">
        #{frName,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="mainDrawing != null">
        #{mainDrawing,jdbcType=VARCHAR},
      </if>
      <if test="ecnNumber != null">
        #{ecnNumber,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="sellCalss != null">
        #{sellCalss,jdbcType=VARCHAR},
      </if>
      <if test="drawingSize != null">
        #{drawingSize,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="supplierId2 != null">
        #{supplierId2,jdbcType=BIGINT},
      </if>
      <if test="rateTyp != null">
        #{rateTyp,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="partsNo != null">
        parts_no = #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsType != null">
        parts_type = #{partsType,jdbcType=INTEGER},
      </if>
      <if test="partsSec != null">
        parts_sec = #{partsSec,jdbcType=BIGINT},
      </if>
      <if test="disable != null">
        `disable` = #{disable,jdbcType=INTEGER},
      </if>
      <if test="snClass != null">
        sn_class = #{snClass,jdbcType=INTEGER},
      </if>
      <if test="idCalss != null">
        id_calss = #{idCalss,jdbcType=INTEGER},
      </if>
      <if test="partsIsAssembly != null">
        parts_is_assembly = #{partsIsAssembly,jdbcType=INTEGER},
      </if>
      <if test="partsIsForAssembly != null">
        parts_is_for_assembly = #{partsIsForAssembly,jdbcType=INTEGER},
      </if>
      <if test="partsQty != null">
        parts_qty = #{partsQty,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="procurementCycle != null">
        procurement_cycle = #{procurementCycle,jdbcType=INTEGER},
      </if>
      <if test="dwg != null">
        dwg = #{dwg,jdbcType=VARCHAR},
      </if>
      <if test="qcFlag != null">
        qc_flag = #{qcFlag,jdbcType=BOOLEAN},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="announUserId != null">
        announ_user_id = #{announUserId,jdbcType=BIGINT},
      </if>
      <if test="opAnnounUserId != null">
        op_announ_user_id = #{opAnnounUserId,jdbcType=BIGINT},
      </if>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="frName != null">
        fr_name = #{frName,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="mainDrawing != null">
        main_drawing = #{mainDrawing,jdbcType=VARCHAR},
      </if>
      <if test="ecnNumber != null">
        ecn_number = #{ecnNumber,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="sellCalss != null">
        sell_calss = #{sellCalss,jdbcType=VARCHAR},
      </if>
      <if test="drawingSize != null">
        drawing_size = #{drawingSize,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="supplierId2 != null">
        supplier_id_2 = #{supplierId2,jdbcType=BIGINT},
      </if>
      <if test="rateTyp != null">
        rate_typ = #{rateTyp,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>
