<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpePurchaseOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpePurchaseOrder">
    <!--@mbg.generated-->
    <!--@Table ope_purchase_order-->
    <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="tenant_id" property="tenantId" />
    <result column="dept_id" property="deptId" />
    <result column="allocate_no" property="allocateNo" />
    <result column="allocate_id" property="allocateId" />
    <result column="purchase_no" property="purchaseNo" />
    <result column="purchase_status" property="purchaseStatus" />
    <result column="purchase_qty" property="purchaseQty" />
    <result column="purchase_type" property="purchaseType" />
    <result column="trans_type" property="transType" />
    <result column="purchase_amount" property="purchaseAmount" />
    <result column="consignee_user" property="consigneeUser" />
    <result column="consignee_country_code" property="consigneeCountryCode" />
    <result column="consignee_user_telephone" property="consigneeUserTelephone" />
    <result column="consignee_user_mail" property="consigneeUserMail" />
    <result column="consignee_address" property="consigneeAddress" />
    <result column="consignee_post_code" property="consigneePostCode" />
    <result column="factory_id" property="factoryId" />
    <result column="delivery_date" property="deliveryDate" />
    <result column="contact_user" property="contactUser" />
    <result column="contact_user_name" property="contactUserName" />
    <result column="contact_country_code" property="contactCountryCode" />
    <result column="contact_telephone" property="contactTelephone" />
    <result column="contact_mail" property="contactMail" />
    <result column="consignor_user" property="consignorUser" />
    <result column="consignor_country_code" property="consignorCountryCode" />
    <result column="consignor_telephone" property="consignorTelephone" />
    <result column="consignor_mail" property="consignorMail" />
    <result column="notify_user" property="notifyUser" />
    <result column="notify_user_name" property="notifyUserName" />
    <result column="notify_country_code" property="notifyCountryCode" />
    <result column="notify_user_telephone" property="notifyUserTelephone" />
    <result column="notify_user_mail" property="notifyUserMail" />
    <result column="remark" property="remark" />
    <result column="payment_type" property="paymentType" />
    <result column="planned_payment_time" property="plannedPaymentTime" />
    <result column="payment_day" property="paymentDay" />
    <result column="payment_time" property="paymentTime" />
    <result column="payment_status" property="paymentStatus" />
    <result column="purchase_contract" property="purchaseContract" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="def1" property="def1" />
    <result column="def2" property="def2" />
    <result column="def3" property="def3" />
    <result column="def4" property="def4" />
    <result column="def5" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, tenant_id, dept_id, allocate_no, allocate_id, purchase_no, purchase_status, 
    purchase_qty, purchase_type, trans_type, purchase_amount, consignee_user, consignee_country_code, 
    consignee_user_telephone, consignee_user_mail, consignee_address, consignee_post_code, 
    factory_id, delivery_date, contact_user, contact_user_name, contact_country_code, 
    contact_telephone, contact_mail, consignor_user, consignor_country_code, consignor_telephone, 
    consignor_mail, notify_user, notify_user_name, notify_country_code, notify_user_telephone, 
    notify_user_mail, remark, payment_type, planned_payment_time, payment_day, payment_time, 
    payment_status, purchase_contract, created_by, created_time, updated_by, updated_time, 
    def1, def2, def3, def4, def5
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_purchase_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.dr}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.tenantId}
        </foreach>
      </trim>
      <trim prefix="dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.deptId}
        </foreach>
      </trim>
      <trim prefix="allocate_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.allocateNo}
        </foreach>
      </trim>
      <trim prefix="allocate_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.allocateId}
        </foreach>
      </trim>
      <trim prefix="purchase_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.purchaseNo}
        </foreach>
      </trim>
      <trim prefix="purchase_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.purchaseStatus}
        </foreach>
      </trim>
      <trim prefix="purchase_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.purchaseQty}
        </foreach>
      </trim>
      <trim prefix="purchase_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.purchaseType}
        </foreach>
      </trim>
      <trim prefix="trans_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.transType}
        </foreach>
      </trim>
      <trim prefix="purchase_amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.purchaseAmount}
        </foreach>
      </trim>
      <trim prefix="consignee_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeUser}
        </foreach>
      </trim>
      <trim prefix="consignee_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeCountryCode}
        </foreach>
      </trim>
      <trim prefix="consignee_user_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeUserTelephone}
        </foreach>
      </trim>
      <trim prefix="consignee_user_mail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeUserMail}
        </foreach>
      </trim>
      <trim prefix="consignee_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeAddress}
        </foreach>
      </trim>
      <trim prefix="consignee_post_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneePostCode}
        </foreach>
      </trim>
      <trim prefix="factory_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.factoryId}
        </foreach>
      </trim>
      <trim prefix="delivery_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.deliveryDate}
        </foreach>
      </trim>
      <trim prefix="contact_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.contactUser}
        </foreach>
      </trim>
      <trim prefix="contact_user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.contactUserName}
        </foreach>
      </trim>
      <trim prefix="contact_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.contactCountryCode}
        </foreach>
      </trim>
      <trim prefix="contact_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.contactTelephone}
        </foreach>
      </trim>
      <trim prefix="contact_mail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.contactMail}
        </foreach>
      </trim>
      <trim prefix="consignor_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignorUser}
        </foreach>
      </trim>
      <trim prefix="consignor_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignorCountryCode}
        </foreach>
      </trim>
      <trim prefix="consignor_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignorTelephone}
        </foreach>
      </trim>
      <trim prefix="consignor_mail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignorMail}
        </foreach>
      </trim>
      <trim prefix="notify_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyUser}
        </foreach>
      </trim>
      <trim prefix="notify_user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyUserName}
        </foreach>
      </trim>
      <trim prefix="notify_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyCountryCode}
        </foreach>
      </trim>
      <trim prefix="notify_user_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyUserTelephone}
        </foreach>
      </trim>
      <trim prefix="notify_user_mail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyUserMail}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.remark}
        </foreach>
      </trim>
      <trim prefix="payment_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.paymentType}
        </foreach>
      </trim>
      <trim prefix="planned_payment_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.plannedPaymentTime}
        </foreach>
      </trim>
      <trim prefix="payment_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.paymentDay}
        </foreach>
      </trim>
      <trim prefix="payment_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.paymentTime}
        </foreach>
      </trim>
      <trim prefix="payment_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.paymentStatus}
        </foreach>
      </trim>
      <trim prefix="purchase_contract = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.purchaseContract}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdBy}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdTime}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedBy}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedTime}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def1}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def2}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def3}
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def4}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def5}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_purchase_order
    (id, dr, tenant_id, dept_id, allocate_no, allocate_id, purchase_no, purchase_status, 
      purchase_qty, purchase_type, trans_type, purchase_amount, consignee_user, consignee_country_code, 
      consignee_user_telephone, consignee_user_mail, consignee_address, consignee_post_code, 
      factory_id, delivery_date, contact_user, contact_user_name, contact_country_code, 
      contact_telephone, contact_mail, consignor_user, consignor_country_code, consignor_telephone, 
      consignor_mail, notify_user, notify_user_name, notify_country_code, notify_user_telephone, 
      notify_user_mail, remark, payment_type, planned_payment_time, payment_day, payment_time, 
      payment_status, purchase_contract, created_by, created_time, updated_by, updated_time, 
      def1, def2, def3, def4, def5)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.dr}, #{item.tenantId}, #{item.deptId}, #{item.allocateNo}, #{item.allocateId}, 
        #{item.purchaseNo}, #{item.purchaseStatus}, #{item.purchaseQty}, #{item.purchaseType}, 
        #{item.transType}, #{item.purchaseAmount}, #{item.consigneeUser}, #{item.consigneeCountryCode}, 
        #{item.consigneeUserTelephone}, #{item.consigneeUserMail}, #{item.consigneeAddress}, 
        #{item.consigneePostCode}, #{item.factoryId}, #{item.deliveryDate}, #{item.contactUser}, 
        #{item.contactUserName}, #{item.contactCountryCode}, #{item.contactTelephone}, 
        #{item.contactMail}, #{item.consignorUser}, #{item.consignorCountryCode}, #{item.consignorTelephone}, 
        #{item.consignorMail}, #{item.notifyUser}, #{item.notifyUserName}, #{item.notifyCountryCode}, 
        #{item.notifyUserTelephone}, #{item.notifyUserMail}, #{item.remark}, #{item.paymentType}, 
        #{item.plannedPaymentTime}, #{item.paymentDay}, #{item.paymentTime}, #{item.paymentStatus}, 
        #{item.purchaseContract}, #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, 
        #{item.updatedTime}, #{item.def1}, #{item.def2}, #{item.def3}, #{item.def4}, #{item.def5}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpePurchaseOrder">
    <!--@mbg.generated-->
    insert into ope_purchase_order
    (id, dr, tenant_id, dept_id, allocate_no, allocate_id, purchase_no, purchase_status, 
      purchase_qty, purchase_type, trans_type, purchase_amount, consignee_user, consignee_country_code, 
      consignee_user_telephone, consignee_user_mail, consignee_address, consignee_post_code, 
      factory_id, delivery_date, contact_user, contact_user_name, contact_country_code, 
      contact_telephone, contact_mail, consignor_user, consignor_country_code, consignor_telephone, 
      consignor_mail, notify_user, notify_user_name, notify_country_code, notify_user_telephone, 
      notify_user_mail, remark, payment_type, planned_payment_time, payment_day, payment_time, 
      payment_status, purchase_contract, created_by, created_time, updated_by, updated_time, 
      def1, def2, def3, def4, def5)
    values
    (#{id}, #{dr}, #{tenantId}, #{deptId}, #{allocateNo}, #{allocateId}, #{purchaseNo}, 
      #{purchaseStatus}, #{purchaseQty}, #{purchaseType}, #{transType}, #{purchaseAmount}, 
      #{consigneeUser}, #{consigneeCountryCode}, #{consigneeUserTelephone}, #{consigneeUserMail}, 
      #{consigneeAddress}, #{consigneePostCode}, #{factoryId}, #{deliveryDate}, #{contactUser}, 
      #{contactUserName}, #{contactCountryCode}, #{contactTelephone}, #{contactMail}, 
      #{consignorUser}, #{consignorCountryCode}, #{consignorTelephone}, #{consignorMail}, 
      #{notifyUser}, #{notifyUserName}, #{notifyCountryCode}, #{notifyUserTelephone}, 
      #{notifyUserMail}, #{remark}, #{paymentType}, #{plannedPaymentTime}, #{paymentDay}, 
      #{paymentTime}, #{paymentStatus}, #{purchaseContract}, #{createdBy}, #{createdTime}, 
      #{updatedBy}, #{updatedTime}, #{def1}, #{def2}, #{def3}, #{def4}, #{def5})
    on duplicate key update 
    id = #{id}, 
    dr = #{dr}, 
    tenant_id = #{tenantId}, 
    dept_id = #{deptId}, 
    allocate_no = #{allocateNo}, 
    allocate_id = #{allocateId}, 
    purchase_no = #{purchaseNo}, 
    purchase_status = #{purchaseStatus}, 
    purchase_qty = #{purchaseQty}, 
    purchase_type = #{purchaseType}, 
    trans_type = #{transType}, 
    purchase_amount = #{purchaseAmount}, 
    consignee_user = #{consigneeUser}, 
    consignee_country_code = #{consigneeCountryCode}, 
    consignee_user_telephone = #{consigneeUserTelephone}, 
    consignee_user_mail = #{consigneeUserMail}, 
    consignee_address = #{consigneeAddress}, 
    consignee_post_code = #{consigneePostCode}, 
    factory_id = #{factoryId}, 
    delivery_date = #{deliveryDate}, 
    contact_user = #{contactUser}, 
    contact_user_name = #{contactUserName}, 
    contact_country_code = #{contactCountryCode}, 
    contact_telephone = #{contactTelephone}, 
    contact_mail = #{contactMail}, 
    consignor_user = #{consignorUser}, 
    consignor_country_code = #{consignorCountryCode}, 
    consignor_telephone = #{consignorTelephone}, 
    consignor_mail = #{consignorMail}, 
    notify_user = #{notifyUser}, 
    notify_user_name = #{notifyUserName}, 
    notify_country_code = #{notifyCountryCode}, 
    notify_user_telephone = #{notifyUserTelephone}, 
    notify_user_mail = #{notifyUserMail}, 
    remark = #{remark}, 
    payment_type = #{paymentType}, 
    planned_payment_time = #{plannedPaymentTime}, 
    payment_day = #{paymentDay}, 
    payment_time = #{paymentTime}, 
    payment_status = #{paymentStatus}, 
    purchase_contract = #{purchaseContract}, 
    created_by = #{createdBy}, 
    created_time = #{createdTime}, 
    updated_by = #{updatedBy}, 
    updated_time = #{updatedTime}, 
    def1 = #{def1}, 
    def2 = #{def2}, 
    def3 = #{def3}, 
    def4 = #{def4}, 
    def5 = #{def5}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpePurchaseOrder">
    <!--@mbg.generated-->
    insert into ope_purchase_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="allocateNo != null">
        allocate_no,
      </if>
      <if test="allocateId != null">
        allocate_id,
      </if>
      <if test="purchaseNo != null">
        purchase_no,
      </if>
      <if test="purchaseStatus != null">
        purchase_status,
      </if>
      <if test="purchaseQty != null">
        purchase_qty,
      </if>
      <if test="purchaseType != null">
        purchase_type,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="purchaseAmount != null">
        purchase_amount,
      </if>
      <if test="consigneeUser != null">
        consignee_user,
      </if>
      <if test="consigneeCountryCode != null">
        consignee_country_code,
      </if>
      <if test="consigneeUserTelephone != null">
        consignee_user_telephone,
      </if>
      <if test="consigneeUserMail != null">
        consignee_user_mail,
      </if>
      <if test="consigneeAddress != null">
        consignee_address,
      </if>
      <if test="consigneePostCode != null">
        consignee_post_code,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="contactUser != null">
        contact_user,
      </if>
      <if test="contactUserName != null">
        contact_user_name,
      </if>
      <if test="contactCountryCode != null">
        contact_country_code,
      </if>
      <if test="contactTelephone != null">
        contact_telephone,
      </if>
      <if test="contactMail != null">
        contact_mail,
      </if>
      <if test="consignorUser != null">
        consignor_user,
      </if>
      <if test="consignorCountryCode != null">
        consignor_country_code,
      </if>
      <if test="consignorTelephone != null">
        consignor_telephone,
      </if>
      <if test="consignorMail != null">
        consignor_mail,
      </if>
      <if test="notifyUser != null">
        notify_user,
      </if>
      <if test="notifyUserName != null">
        notify_user_name,
      </if>
      <if test="notifyCountryCode != null">
        notify_country_code,
      </if>
      <if test="notifyUserTelephone != null">
        notify_user_telephone,
      </if>
      <if test="notifyUserMail != null">
        notify_user_mail,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="plannedPaymentTime != null">
        planned_payment_time,
      </if>
      <if test="paymentDay != null">
        payment_day,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="paymentStatus != null">
        payment_status,
      </if>
      <if test="purchaseContract != null">
        purchase_contract,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="dr != null">
        #{dr},
      </if>
      <if test="tenantId != null">
        #{tenantId},
      </if>
      <if test="deptId != null">
        #{deptId},
      </if>
      <if test="allocateNo != null">
        #{allocateNo},
      </if>
      <if test="allocateId != null">
        #{allocateId},
      </if>
      <if test="purchaseNo != null">
        #{purchaseNo},
      </if>
      <if test="purchaseStatus != null">
        #{purchaseStatus},
      </if>
      <if test="purchaseQty != null">
        #{purchaseQty},
      </if>
      <if test="purchaseType != null">
        #{purchaseType},
      </if>
      <if test="transType != null">
        #{transType},
      </if>
      <if test="purchaseAmount != null">
        #{purchaseAmount},
      </if>
      <if test="consigneeUser != null">
        #{consigneeUser},
      </if>
      <if test="consigneeCountryCode != null">
        #{consigneeCountryCode},
      </if>
      <if test="consigneeUserTelephone != null">
        #{consigneeUserTelephone},
      </if>
      <if test="consigneeUserMail != null">
        #{consigneeUserMail},
      </if>
      <if test="consigneeAddress != null">
        #{consigneeAddress},
      </if>
      <if test="consigneePostCode != null">
        #{consigneePostCode},
      </if>
      <if test="factoryId != null">
        #{factoryId},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate},
      </if>
      <if test="contactUser != null">
        #{contactUser},
      </if>
      <if test="contactUserName != null">
        #{contactUserName},
      </if>
      <if test="contactCountryCode != null">
        #{contactCountryCode},
      </if>
      <if test="contactTelephone != null">
        #{contactTelephone},
      </if>
      <if test="contactMail != null">
        #{contactMail},
      </if>
      <if test="consignorUser != null">
        #{consignorUser},
      </if>
      <if test="consignorCountryCode != null">
        #{consignorCountryCode},
      </if>
      <if test="consignorTelephone != null">
        #{consignorTelephone},
      </if>
      <if test="consignorMail != null">
        #{consignorMail},
      </if>
      <if test="notifyUser != null">
        #{notifyUser},
      </if>
      <if test="notifyUserName != null">
        #{notifyUserName},
      </if>
      <if test="notifyCountryCode != null">
        #{notifyCountryCode},
      </if>
      <if test="notifyUserTelephone != null">
        #{notifyUserTelephone},
      </if>
      <if test="notifyUserMail != null">
        #{notifyUserMail},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="paymentType != null">
        #{paymentType},
      </if>
      <if test="plannedPaymentTime != null">
        #{plannedPaymentTime},
      </if>
      <if test="paymentDay != null">
        #{paymentDay},
      </if>
      <if test="paymentTime != null">
        #{paymentTime},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus},
      </if>
      <if test="purchaseContract != null">
        #{purchaseContract},
      </if>
      <if test="createdBy != null">
        #{createdBy},
      </if>
      <if test="createdTime != null">
        #{createdTime},
      </if>
      <if test="updatedBy != null">
        #{updatedBy},
      </if>
      <if test="updatedTime != null">
        #{updatedTime},
      </if>
      <if test="def1 != null">
        #{def1},
      </if>
      <if test="def2 != null">
        #{def2},
      </if>
      <if test="def3 != null">
        #{def3},
      </if>
      <if test="def4 != null">
        #{def4},
      </if>
      <if test="def5 != null">
        #{def5},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="dr != null">
        dr = #{dr},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId},
      </if>
      <if test="allocateNo != null">
        allocate_no = #{allocateNo},
      </if>
      <if test="allocateId != null">
        allocate_id = #{allocateId},
      </if>
      <if test="purchaseNo != null">
        purchase_no = #{purchaseNo},
      </if>
      <if test="purchaseStatus != null">
        purchase_status = #{purchaseStatus},
      </if>
      <if test="purchaseQty != null">
        purchase_qty = #{purchaseQty},
      </if>
      <if test="purchaseType != null">
        purchase_type = #{purchaseType},
      </if>
      <if test="transType != null">
        trans_type = #{transType},
      </if>
      <if test="purchaseAmount != null">
        purchase_amount = #{purchaseAmount},
      </if>
      <if test="consigneeUser != null">
        consignee_user = #{consigneeUser},
      </if>
      <if test="consigneeCountryCode != null">
        consignee_country_code = #{consigneeCountryCode},
      </if>
      <if test="consigneeUserTelephone != null">
        consignee_user_telephone = #{consigneeUserTelephone},
      </if>
      <if test="consigneeUserMail != null">
        consignee_user_mail = #{consigneeUserMail},
      </if>
      <if test="consigneeAddress != null">
        consignee_address = #{consigneeAddress},
      </if>
      <if test="consigneePostCode != null">
        consignee_post_code = #{consigneePostCode},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate},
      </if>
      <if test="contactUser != null">
        contact_user = #{contactUser},
      </if>
      <if test="contactUserName != null">
        contact_user_name = #{contactUserName},
      </if>
      <if test="contactCountryCode != null">
        contact_country_code = #{contactCountryCode},
      </if>
      <if test="contactTelephone != null">
        contact_telephone = #{contactTelephone},
      </if>
      <if test="contactMail != null">
        contact_mail = #{contactMail},
      </if>
      <if test="consignorUser != null">
        consignor_user = #{consignorUser},
      </if>
      <if test="consignorCountryCode != null">
        consignor_country_code = #{consignorCountryCode},
      </if>
      <if test="consignorTelephone != null">
        consignor_telephone = #{consignorTelephone},
      </if>
      <if test="consignorMail != null">
        consignor_mail = #{consignorMail},
      </if>
      <if test="notifyUser != null">
        notify_user = #{notifyUser},
      </if>
      <if test="notifyUserName != null">
        notify_user_name = #{notifyUserName},
      </if>
      <if test="notifyCountryCode != null">
        notify_country_code = #{notifyCountryCode},
      </if>
      <if test="notifyUserTelephone != null">
        notify_user_telephone = #{notifyUserTelephone},
      </if>
      <if test="notifyUserMail != null">
        notify_user_mail = #{notifyUserMail},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType},
      </if>
      <if test="plannedPaymentTime != null">
        planned_payment_time = #{plannedPaymentTime},
      </if>
      <if test="paymentDay != null">
        payment_day = #{paymentDay},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime},
      </if>
      <if test="paymentStatus != null">
        payment_status = #{paymentStatus},
      </if>
      <if test="purchaseContract != null">
        purchase_contract = #{purchaseContract},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="def1 != null">
        def1 = #{def1},
      </if>
      <if test="def2 != null">
        def2 = #{def2},
      </if>
      <if test="def3 != null">
        def3 = #{def3},
      </if>
      <if test="def4 != null">
        def4 = #{def4},
      </if>
      <if test="def5 != null">
        def5 = #{def5},
      </if>
    </trim>
  </insert>
</mapper>