<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeProductionPurchaseOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeProductionPurchaseOrder">
    <!--@mbg.generated-->
    <!--@Tableope_production_purchase_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="purchase_no" jdbcType="VARCHAR" property="purchaseNo" />
    <result column="purchase_status" jdbcType="INTEGER" property="purchaseStatus" />
    <result column="purchase_qty" jdbcType="INTEGER" property="purchaseQty" />
    <result column="purchase_amount" jdbcType="DECIMAL" property="purchaseAmount" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="factory_principal_id" jdbcType="INTEGER" property="factoryPrincipalId" />
    <result column="factory_principal_name" jdbcType="VARCHAR" property="factoryPrincipalName" />
    <result column="principal_country_code" jdbcType="VARCHAR" property="principalCountryCode" />
    <result column="principal_telephone" jdbcType="VARCHAR" property="principalTelephone" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="docking_user" jdbcType="INTEGER" property="dockingUser" />
    <result column="docking_user_name" jdbcType="VARCHAR" property="dockingUserName" />
    <result column="docking_country_code" jdbcType="VARCHAR" property="dockingCountryCode" />
    <result column="docking_user_telephone" jdbcType="VARCHAR" property="dockingUserTelephone" />
    <result column="consignee_user" jdbcType="BIGINT" property="consigneeUser" />
    <result column="consignee_user_name" jdbcType="VARCHAR" property="consigneeUserName" />
    <result column="consignee_country_code" jdbcType="VARCHAR" property="consigneeCountryCode" />
    <result column="consignee_user_telephone" jdbcType="VARCHAR" property="consigneeUserTelephone" />
    <result column="consignee_address" jdbcType="VARCHAR" property="consigneeAddress" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="planned_payment_time" jdbcType="TIMESTAMP" property="plannedPaymentTime" />
    <result column="payment_day" jdbcType="INTEGER" property="paymentDay" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="purchase_contract" jdbcType="VARCHAR" property="purchaseContract" />
    <result column="amount_type" jdbcType="INTEGER" property="amountType" />
    <result column="pre_pay_ratio" jdbcType="DECIMAL" property="prePayRatio" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, purchase_no, purchase_status, purchase_qty, purchase_amount, factory_id,
    factory_principal_id, factory_principal_name, principal_country_code, principal_telephone,
    delivery_date, docking_user, docking_user_name, docking_country_code, docking_user_telephone,
    consignee_user, consignee_user_name, consignee_country_code, consignee_user_telephone,
    consignee_address, remark, payment_type, planned_payment_time, payment_day, payment_time,
    purchase_contract, amount_type, pre_pay_ratio, pay_amount, created_by, created_time,
    updated_by, updated_time, def1, def2, def3, def4, def5
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_production_purchase_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="purchase_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="purchase_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="purchase_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="purchase_amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseAmount,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="factory_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="factory_principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryPrincipalId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="factory_principal_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryPrincipalName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="principal_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.principalCountryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="principal_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.principalTelephone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="delivery_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deliveryDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="docking_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dockingUser,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="docking_user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dockingUserName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="docking_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dockingCountryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="docking_user_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dockingUserTelephone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="consignee_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeUser,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="consignee_user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeUserName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="consignee_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeCountryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="consignee_user_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeUserTelephone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="consignee_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeAddress,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="payment_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.paymentType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="planned_payment_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.plannedPaymentTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="payment_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.paymentDay,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="payment_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.paymentTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="purchase_contract = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseContract,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="amount_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.amountType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="pre_pay_ratio = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.prePayRatio,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="pay_amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.payAmount,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_production_purchase_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="purchase_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.purchaseNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="purchase_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.purchaseStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="purchase_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.purchaseQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="purchase_amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.purchaseAmount != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseAmount,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="factory_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.factoryId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.factoryId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="factory_principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.factoryPrincipalId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.factoryPrincipalId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="factory_principal_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.factoryPrincipalName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.factoryPrincipalName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="principal_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.principalCountryCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.principalCountryCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="principal_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.principalTelephone != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.principalTelephone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="delivery_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deliveryDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.deliveryDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="docking_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dockingUser != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dockingUser,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="docking_user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dockingUserName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dockingUserName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="docking_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dockingCountryCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dockingCountryCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="docking_user_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dockingUserTelephone != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dockingUserTelephone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="consignee_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.consigneeUser != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeUser,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="consignee_user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.consigneeUserName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeUserName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="consignee_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.consigneeCountryCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeCountryCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="consignee_user_telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.consigneeUserTelephone != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeUserTelephone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="consignee_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.consigneeAddress != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeAddress,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="payment_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.paymentType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.paymentType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="planned_payment_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.plannedPaymentTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.plannedPaymentTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="payment_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.paymentDay != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.paymentDay,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="payment_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.paymentTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.paymentTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="purchase_contract = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.purchaseContract != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.purchaseContract,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="amount_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.amountType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.amountType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="pre_pay_ratio = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.prePayRatio != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.prePayRatio,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="pay_amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.payAmount != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.payAmount,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def4 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_production_purchase_order
    (id, dr, purchase_no, purchase_status, purchase_qty, purchase_amount, factory_id,
      factory_principal_id, factory_principal_name, principal_country_code, principal_telephone,
      delivery_date, docking_user, docking_user_name, docking_country_code, docking_user_telephone,
      consignee_user, consignee_user_name, consignee_country_code, consignee_user_telephone,
      consignee_address, remark, payment_type, planned_payment_time, payment_day, payment_time,
      purchase_contract, amount_type, pre_pay_ratio, pay_amount, created_by, created_time,
      updated_by, updated_time, def1, def2, def3, def4, def5)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.purchaseNo,jdbcType=VARCHAR},
        #{item.purchaseStatus,jdbcType=INTEGER}, #{item.purchaseQty,jdbcType=INTEGER},
        #{item.purchaseAmount,jdbcType=DECIMAL}, #{item.factoryId,jdbcType=BIGINT}, #{item.factoryPrincipalId,jdbcType=INTEGER},
        #{item.factoryPrincipalName,jdbcType=VARCHAR}, #{item.principalCountryCode,jdbcType=VARCHAR},
        #{item.principalTelephone,jdbcType=VARCHAR}, #{item.deliveryDate,jdbcType=TIMESTAMP},
        #{item.dockingUser,jdbcType=INTEGER}, #{item.dockingUserName,jdbcType=VARCHAR},
        #{item.dockingCountryCode,jdbcType=VARCHAR}, #{item.dockingUserTelephone,jdbcType=VARCHAR},
        #{item.consigneeUser,jdbcType=BIGINT}, #{item.consigneeUserName,jdbcType=VARCHAR},
        #{item.consigneeCountryCode,jdbcType=VARCHAR}, #{item.consigneeUserTelephone,jdbcType=VARCHAR},
        #{item.consigneeAddress,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}, #{item.paymentType,jdbcType=INTEGER},
        #{item.plannedPaymentTime,jdbcType=TIMESTAMP}, #{item.paymentDay,jdbcType=INTEGER},
        #{item.paymentTime,jdbcType=TIMESTAMP}, #{item.purchaseContract,jdbcType=VARCHAR},
        #{item.amountType,jdbcType=INTEGER}, #{item.prePayRatio,jdbcType=DECIMAL}, #{item.payAmount,jdbcType=DECIMAL},
        #{item.createdBy,jdbcType=INTEGER}, #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT},
        #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
        #{item.def3,jdbcType=VARCHAR}, #{item.def4,jdbcType=VARCHAR}, #{item.def5,jdbcType=DECIMAL}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpeProductionPurchaseOrder">
    <!--@mbg.generated-->
    insert into ope_production_purchase_order
    (id, dr, purchase_no, purchase_status, purchase_qty, purchase_amount, factory_id,
      factory_principal_id, factory_principal_name, principal_country_code, principal_telephone,
      delivery_date, docking_user, docking_user_name, docking_country_code, docking_user_telephone,
      consignee_user, consignee_user_name, consignee_country_code, consignee_user_telephone,
      consignee_address, remark, payment_type, planned_payment_time, payment_day, payment_time,
      purchase_contract, amount_type, pre_pay_ratio, pay_amount, created_by, created_time,
      updated_by, updated_time, def1, def2, def3, def4, def5)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{purchaseNo,jdbcType=VARCHAR}, #{purchaseStatus,jdbcType=INTEGER},
      #{purchaseQty,jdbcType=INTEGER}, #{purchaseAmount,jdbcType=DECIMAL}, #{factoryId,jdbcType=BIGINT},
      #{factoryPrincipalId,jdbcType=INTEGER}, #{factoryPrincipalName,jdbcType=VARCHAR},
      #{principalCountryCode,jdbcType=VARCHAR}, #{principalTelephone,jdbcType=VARCHAR},
      #{deliveryDate,jdbcType=TIMESTAMP}, #{dockingUser,jdbcType=INTEGER}, #{dockingUserName,jdbcType=VARCHAR},
      #{dockingCountryCode,jdbcType=VARCHAR}, #{dockingUserTelephone,jdbcType=VARCHAR},
      #{consigneeUser,jdbcType=BIGINT}, #{consigneeUserName,jdbcType=VARCHAR}, #{consigneeCountryCode,jdbcType=VARCHAR},
      #{consigneeUserTelephone,jdbcType=VARCHAR}, #{consigneeAddress,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{paymentType,jdbcType=INTEGER}, #{plannedPaymentTime,jdbcType=TIMESTAMP},
      #{paymentDay,jdbcType=INTEGER}, #{paymentTime,jdbcType=TIMESTAMP}, #{purchaseContract,jdbcType=VARCHAR},
      #{amountType,jdbcType=INTEGER}, #{prePayRatio,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL},
      #{createdBy,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
      #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR},
      #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{def5,jdbcType=DECIMAL})
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    dr = #{dr,jdbcType=INTEGER},
    purchase_no = #{purchaseNo,jdbcType=VARCHAR},
    purchase_status = #{purchaseStatus,jdbcType=INTEGER},
    purchase_qty = #{purchaseQty,jdbcType=INTEGER},
    purchase_amount = #{purchaseAmount,jdbcType=DECIMAL},
    factory_id = #{factoryId,jdbcType=BIGINT},
    factory_principal_id = #{factoryPrincipalId,jdbcType=INTEGER},
    factory_principal_name = #{factoryPrincipalName,jdbcType=VARCHAR},
    principal_country_code = #{principalCountryCode,jdbcType=VARCHAR},
    principal_telephone = #{principalTelephone,jdbcType=VARCHAR},
    delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
    docking_user = #{dockingUser,jdbcType=INTEGER},
    docking_user_name = #{dockingUserName,jdbcType=VARCHAR},
    docking_country_code = #{dockingCountryCode,jdbcType=VARCHAR},
    docking_user_telephone = #{dockingUserTelephone,jdbcType=VARCHAR},
    consignee_user = #{consigneeUser,jdbcType=BIGINT},
    consignee_user_name = #{consigneeUserName,jdbcType=VARCHAR},
    consignee_country_code = #{consigneeCountryCode,jdbcType=VARCHAR},
    consignee_user_telephone = #{consigneeUserTelephone,jdbcType=VARCHAR},
    consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    payment_type = #{paymentType,jdbcType=INTEGER},
    planned_payment_time = #{plannedPaymentTime,jdbcType=TIMESTAMP},
    payment_day = #{paymentDay,jdbcType=INTEGER},
    payment_time = #{paymentTime,jdbcType=TIMESTAMP},
    purchase_contract = #{purchaseContract,jdbcType=VARCHAR},
    amount_type = #{amountType,jdbcType=INTEGER},
    pre_pay_ratio = #{prePayRatio,jdbcType=DECIMAL},
    pay_amount = #{payAmount,jdbcType=DECIMAL},
    created_by = #{createdBy,jdbcType=INTEGER},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def4 = #{def4,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=DECIMAL}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeProductionPurchaseOrder">
    <!--@mbg.generated-->
    insert into ope_production_purchase_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="purchaseNo != null">
        purchase_no,
      </if>
      <if test="purchaseStatus != null">
        purchase_status,
      </if>
      <if test="purchaseQty != null">
        purchase_qty,
      </if>
      <if test="purchaseAmount != null">
        purchase_amount,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="factoryPrincipalId != null">
        factory_principal_id,
      </if>
      <if test="factoryPrincipalName != null">
        factory_principal_name,
      </if>
      <if test="principalCountryCode != null">
        principal_country_code,
      </if>
      <if test="principalTelephone != null">
        principal_telephone,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="dockingUser != null">
        docking_user,
      </if>
      <if test="dockingUserName != null">
        docking_user_name,
      </if>
      <if test="dockingCountryCode != null">
        docking_country_code,
      </if>
      <if test="dockingUserTelephone != null">
        docking_user_telephone,
      </if>
      <if test="consigneeUser != null">
        consignee_user,
      </if>
      <if test="consigneeUserName != null">
        consignee_user_name,
      </if>
      <if test="consigneeCountryCode != null">
        consignee_country_code,
      </if>
      <if test="consigneeUserTelephone != null">
        consignee_user_telephone,
      </if>
      <if test="consigneeAddress != null">
        consignee_address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="plannedPaymentTime != null">
        planned_payment_time,
      </if>
      <if test="paymentDay != null">
        payment_day,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="purchaseContract != null">
        purchase_contract,
      </if>
      <if test="amountType != null">
        amount_type,
      </if>
      <if test="prePayRatio != null">
        pre_pay_ratio,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="purchaseNo != null">
        #{purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null">
        #{purchaseStatus,jdbcType=INTEGER},
      </if>
      <if test="purchaseQty != null">
        #{purchaseQty,jdbcType=INTEGER},
      </if>
      <if test="purchaseAmount != null">
        #{purchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="factoryPrincipalId != null">
        #{factoryPrincipalId,jdbcType=INTEGER},
      </if>
      <if test="factoryPrincipalName != null">
        #{factoryPrincipalName,jdbcType=VARCHAR},
      </if>
      <if test="principalCountryCode != null">
        #{principalCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="principalTelephone != null">
        #{principalTelephone,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dockingUser != null">
        #{dockingUser,jdbcType=INTEGER},
      </if>
      <if test="dockingUserName != null">
        #{dockingUserName,jdbcType=VARCHAR},
      </if>
      <if test="dockingCountryCode != null">
        #{dockingCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="dockingUserTelephone != null">
        #{dockingUserTelephone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeUser != null">
        #{consigneeUser,jdbcType=BIGINT},
      </if>
      <if test="consigneeUserName != null">
        #{consigneeUserName,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCountryCode != null">
        #{consigneeCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="consigneeUserTelephone != null">
        #{consigneeUserTelephone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeAddress != null">
        #{consigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="plannedPaymentTime != null">
        #{plannedPaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentDay != null">
        #{paymentDay,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseContract != null">
        #{purchaseContract,jdbcType=VARCHAR},
      </if>
      <if test="amountType != null">
        #{amountType,jdbcType=INTEGER},
      </if>
      <if test="prePayRatio != null">
        #{prePayRatio,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="purchaseNo != null">
        purchase_no = #{purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null">
        purchase_status = #{purchaseStatus,jdbcType=INTEGER},
      </if>
      <if test="purchaseQty != null">
        purchase_qty = #{purchaseQty,jdbcType=INTEGER},
      </if>
      <if test="purchaseAmount != null">
        purchase_amount = #{purchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="factoryPrincipalId != null">
        factory_principal_id = #{factoryPrincipalId,jdbcType=INTEGER},
      </if>
      <if test="factoryPrincipalName != null">
        factory_principal_name = #{factoryPrincipalName,jdbcType=VARCHAR},
      </if>
      <if test="principalCountryCode != null">
        principal_country_code = #{principalCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="principalTelephone != null">
        principal_telephone = #{principalTelephone,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dockingUser != null">
        docking_user = #{dockingUser,jdbcType=INTEGER},
      </if>
      <if test="dockingUserName != null">
        docking_user_name = #{dockingUserName,jdbcType=VARCHAR},
      </if>
      <if test="dockingCountryCode != null">
        docking_country_code = #{dockingCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="dockingUserTelephone != null">
        docking_user_telephone = #{dockingUserTelephone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeUser != null">
        consignee_user = #{consigneeUser,jdbcType=BIGINT},
      </if>
      <if test="consigneeUserName != null">
        consignee_user_name = #{consigneeUserName,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCountryCode != null">
        consignee_country_code = #{consigneeCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="consigneeUserTelephone != null">
        consignee_user_telephone = #{consigneeUserTelephone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeAddress != null">
        consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="plannedPaymentTime != null">
        planned_payment_time = #{plannedPaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentDay != null">
        payment_day = #{paymentDay,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseContract != null">
        purchase_contract = #{purchaseContract,jdbcType=VARCHAR},
      </if>
      <if test="amountType != null">
        amount_type = #{amountType,jdbcType=INTEGER},
      </if>
      <if test="prePayRatio != null">
        pre_pay_ratio = #{prePayRatio,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>
