<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeProductAssemblyMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeProductAssembly">
      <!--@mbg.generated-->
      <!--@Table ope_product_assembly-->
      <id column="id" property="id"/>
      <result column="dr" property="dr"/>
      <result column="product_id" property="productId"/>
      <result column="assembly_b_id" property="assemblyBId"/>
      <result column="assembly_id" property="assemblyId"/>
      <result column="inwh_status" property="inwhStatus"/>
      <result column="product_name" property="productName"/>
      <result column="product_serial_num" property="productSerialNum"/>
      <result column="product_type" property="productType"/>
      <result column="product_code" property="productCode"/>
      <result column="production_date" property="productionDate"/>
      <result column="print_flag" property="printFlag"/>
      <result column="revision" property="revision"/>
      <result column="created_by" property="createdBy"/>
      <result column="created_time" property="createdTime"/>
      <result column="updated_by" property="updatedBy"/>
      <result column="updated_time" property="updatedTime"/>
      <result column="def1" property="def1"/>
      <result column="def2" property="def2"/>
      <result column="def3" property="def3"/>
      <result column="def5" property="def5"/>
      <result column="def6" property="def6"/>
      <result column="status" property="status"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
      id, dr, product_id, assembly_b_id, assembly_id, inwh_status, product_name, product_serial_num,
      product_type, product_code, production_date, print_flag, revision, created_by, created_time,
      updated_by, updated_time, def1, def2, def3, def5, def6, `status`
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_product_assembly
    <trim prefix="set" suffixOverrides=",">
        <trim prefix="dr = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.dr}
            </foreach>
        </trim>
        <trim prefix="product_id = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.productId}
            </foreach>
        </trim>
        <trim prefix="assembly_b_id = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.assemblyBId}
            </foreach>
        </trim>
        <trim prefix="assembly_id = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.assemblyId}
            </foreach>
        </trim>
        <trim prefix="inwh_status = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.inwhStatus}
            </foreach>
        </trim>
        <trim prefix="product_name = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.productName}
            </foreach>
        </trim>
        <trim prefix="product_serial_num = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.productSerialNum}
            </foreach>
        </trim>
        <trim prefix="product_type = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.productType}
            </foreach>
        </trim>
        <trim prefix="product_code = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.productCode}
            </foreach>
      </trim>
      <trim prefix="production_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.productionDate}
        </foreach>
      </trim>
      <trim prefix="print_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.printFlag}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.revision}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.createdBy}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.createdTime}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.updatedBy}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.updatedTime}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id} then #{item.def1}
        </foreach>
      </trim>
        <trim prefix="def2 = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.def2}
            </foreach>
        </trim>
        <trim prefix="def3 = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.def3}
            </foreach>
        </trim>
        <trim prefix="def5 = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.def5}
            </foreach>
        </trim>
        <trim prefix="def6 = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.def6}
            </foreach>
        </trim>
        <trim prefix="`status` = case" suffix="end,">
            <foreach collection="list" index="index" item="item">
                when id = #{item.id} then #{item.status}
            </foreach>
        </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
        #{item.id}
    </foreach>
  </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into ope_product_assembly
        (id, dr, product_id, assembly_b_id, assembly_id, inwh_status, product_name, product_serial_num,
        product_type, product_code, production_date, print_flag, revision, created_by,
        created_time, updated_by, updated_time, def1, def2, def3, def5, def6, `status`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.dr}, #{item.productId}, #{item.assemblyBId}, #{item.assemblyId},
            #{item.inwhStatus}, #{item.productName}, #{item.productSerialNum}, #{item.productType},
            #{item.productCode}, #{item.productionDate}, #{item.printFlag}, #{item.revision},
            #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime},
            #{item.def1}, #{item.def2}, #{item.def3}, #{item.def5}, #{item.def6}, #{item.status}
            )
        </foreach>
    </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpeProductAssembly">
    <!--@mbg.generated-->
      insert into ope_product_assembly
      (id, dr, product_id, assembly_b_id, assembly_id, inwh_status, product_name, product_serial_num,
      product_type, product_code, production_date, print_flag, revision, created_by,
      created_time, updated_by, updated_time, def1, def2, def3, def5, def6, `status`)
      values
      (#{id}, #{dr}, #{productId}, #{assemblyBId}, #{assemblyId}, #{inwhStatus}, #{productName},
      #{productSerialNum}, #{productType}, #{productCode}, #{productionDate}, #{printFlag},
      #{revision}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, #{def1},
      #{def2}, #{def3}, #{def5}, #{def6}, #{status})
      on duplicate key update
      id = #{id},
      dr = #{dr},
      product_id = #{productId},
      assembly_b_id = #{assemblyBId},
      assembly_id = #{assemblyId},
      inwh_status = #{inwhStatus},
      product_name = #{productName},
      product_serial_num = #{productSerialNum},
      product_type = #{productType},
      product_code = #{productCode},
      production_date = #{productionDate},
      print_flag = #{printFlag},
      revision = #{revision},
      created_by = #{createdBy},
      created_time = #{createdTime},
      updated_by = #{updatedBy},
      updated_time = #{updatedTime},
      def1 = #{def1},
      def2 = #{def2},
      def3 = #{def3},
      def5 = #{def5},
      def6 = #{def6},
      `status` = #{status}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeProductAssembly">
    <!--@mbg.generated-->
    insert into ope_product_assembly
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
              id,
          </if>
          <if test="dr != null">
              dr,
          </if>
          <if test="productId != null">
              product_id,
          </if>
          <if test="assemblyBId != null">
              assembly_b_id,
          </if>
          <if test="assemblyId != null">
              assembly_id,
          </if>
          <if test="inwhStatus != null">
              inwh_status,
          </if>
          <if test="productName != null">
              product_name,
          </if>
          <if test="productSerialNum != null">
              product_serial_num,
          </if>
          <if test="productType != null">
              product_type,
          </if>
          <if test="productCode != null">
              product_code,
          </if>
          <if test="productionDate != null">
              production_date,
          </if>
          <if test="printFlag != null">
              print_flag,
          </if>
          <if test="revision != null">
        revision,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
          <if test="updatedTime != null">
              updated_time,
          </if>
          <if test="def1 != null">
              def1,
          </if>
          <if test="def2 != null">
              def2,
          </if>
          <if test="def3 != null">
              def3,
          </if>
          <if test="def5 != null">
              def5,
          </if>
          <if test="def6 != null">
              def6,
          </if>
          <if test="status != null">
              `status`,
          </if>
      </trim>
    values
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
              #{id},
          </if>
          <if test="dr != null">
              #{dr},
          </if>
          <if test="productId != null">
              #{productId},
          </if>
          <if test="assemblyBId != null">
              #{assemblyBId},
          </if>
          <if test="assemblyId != null">
              #{assemblyId},
          </if>
          <if test="inwhStatus != null">
              #{inwhStatus},
          </if>
          <if test="productName != null">
              #{productName},
          </if>
          <if test="productSerialNum != null">
              #{productSerialNum},
          </if>
          <if test="productType != null">
              #{productType},
          </if>
          <if test="productCode != null">
              #{productCode},
          </if>
          <if test="productionDate != null">
              #{productionDate},
          </if>
          <if test="printFlag != null">
              #{printFlag},
          </if>
          <if test="revision != null">
              #{revision},
      </if>
      <if test="createdBy != null">
          #{createdBy},
      </if>
      <if test="createdTime != null">
          #{createdTime},
      </if>
          <if test="updatedBy != null">
              #{updatedBy},
          </if>
          <if test="updatedTime != null">
              #{updatedTime},
          </if>
          <if test="def1 != null">
              #{def1},
          </if>
          <if test="def2 != null">
              #{def2},
          </if>
          <if test="def3 != null">
              #{def3},
          </if>
          <if test="def5 != null">
              #{def5},
          </if>
          <if test="def6 != null">
              #{def6},
          </if>
          <if test="status != null">
              #{status},
          </if>
      </trim>
    on duplicate key update
      <trim suffixOverrides=",">
          <if test="id != null">
              id = #{id},
          </if>
          <if test="dr != null">
              dr = #{dr},
          </if>
          <if test="productId != null">
              product_id = #{productId},
          </if>
          <if test="assemblyBId != null">
              assembly_b_id = #{assemblyBId},
          </if>
          <if test="assemblyId != null">
              assembly_id = #{assemblyId},
          </if>
          <if test="inwhStatus != null">
              inwh_status = #{inwhStatus},
          </if>
          <if test="productName != null">
              product_name = #{productName},
          </if>
          <if test="productSerialNum != null">
              product_serial_num = #{productSerialNum},
          </if>
          <if test="productType != null">
              product_type = #{productType},
          </if>
          <if test="productCode != null">
              product_code = #{productCode},
          </if>
          <if test="productionDate != null">
              production_date = #{productionDate},
          </if>
          <if test="printFlag != null">
              print_flag = #{printFlag},
          </if>
          <if test="revision != null">
              revision = #{revision},
          </if>
      <if test="createdBy != null">
          created_by = #{createdBy},
      </if>
      <if test="createdTime != null">
          created_time = #{createdTime},
      </if>
          <if test="updatedBy != null">
              updated_by = #{updatedBy},
          </if>
          <if test="updatedTime != null">
              updated_time = #{updatedTime},
          </if>
          <if test="def1 != null">
              def1 = #{def1},
          </if>
          <if test="def2 != null">
              def2 = #{def2},
          </if>
          <if test="def3 != null">
              def3 = #{def3},
          </if>
          <if test="def5 != null">
              def5 = #{def5},
          </if>
          <if test="def6 != null">
              def6 = #{def6},
          </if>
          <if test="status != null">
              `status` = #{status},
          </if>
      </trim>
  </insert>
</mapper>