<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeQcCombinBMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeQcCombinB">
    <!--@mbg.generated-->
    <!--@Tableope_qc_combin_b-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="qc_id" jdbcType="INTEGER" property="qcId" />
    <result column="combin_name" jdbcType="VARCHAR" property="combinName" />
    <result column="combin_no" jdbcType="VARCHAR" property="combinNo" />
    <result column="production_combin_bom_id" jdbcType="BIGINT" property="productionCombinBomId" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="unqualified_qty" jdbcType="INTEGER" property="unqualifiedQty" />
    <result column="qualified_qty" jdbcType="INTEGER" property="qualifiedQty" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, qc_id, combin_name, combin_no, production_combin_bom_id, qty, unqualified_qty,
    qualified_qty, remark, created_by, created_time, updated_by, updated_time, def1,
    def2, def3, def4, def5
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_qc_combin_b
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="qc_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.qcId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="combin_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="combin_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.combinNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="production_combin_bom_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productionCombinBomId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.qty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="unqualified_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.unqualifiedQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="qualified_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.qualifiedQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_qc_combin_b
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="qc_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.qcId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.qcId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="combin_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.combinNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.combinNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="production_combin_bom_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productionCombinBomId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productionCombinBomId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.qty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.qty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="unqualified_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.unqualifiedQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.unqualifiedQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="qualified_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.qualifiedQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.qualifiedQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def4 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def4,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_qc_combin_b
    (id, dr, qc_id, combin_name, combin_no, production_combin_bom_id, qty, unqualified_qty,
      qualified_qty, remark, created_by, created_time, updated_by, updated_time, def1,
      def2, def3, def4, def5)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.qcId,jdbcType=INTEGER},
        #{item.combinName,jdbcType=VARCHAR}, #{item.combinNo,jdbcType=VARCHAR}, #{item.productionCombinBomId,jdbcType=BIGINT},
        #{item.qty,jdbcType=INTEGER}, #{item.unqualifiedQty,jdbcType=INTEGER}, #{item.qualifiedQty,jdbcType=INTEGER},
        #{item.remark,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP},
        #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR},
        #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, #{item.def4,jdbcType=VARCHAR},
        #{item.def5,jdbcType=DECIMAL})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpeQcCombinB">
    <!--@mbg.generated-->
    insert into ope_qc_combin_b
    (id, dr, qc_id, combin_name, combin_no, production_combin_bom_id, qty, unqualified_qty,
      qualified_qty, remark, created_by, created_time, updated_by, updated_time, def1,
      def2, def3, def4, def5)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{qcId,jdbcType=INTEGER}, #{combinName,jdbcType=VARCHAR},
      #{combinNo,jdbcType=VARCHAR}, #{productionCombinBomId,jdbcType=BIGINT}, #{qty,jdbcType=INTEGER},
      #{unqualifiedQty,jdbcType=INTEGER}, #{qualifiedQty,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
      #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR},
      #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{def5,jdbcType=DECIMAL})
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    dr = #{dr,jdbcType=INTEGER},
    qc_id = #{qcId,jdbcType=INTEGER},
    combin_name = #{combinName,jdbcType=VARCHAR},
    combin_no = #{combinNo,jdbcType=VARCHAR},
    production_combin_bom_id = #{productionCombinBomId,jdbcType=BIGINT},
    qty = #{qty,jdbcType=INTEGER},
    unqualified_qty = #{unqualifiedQty,jdbcType=INTEGER},
    qualified_qty = #{qualifiedQty,jdbcType=INTEGER},
    remark = #{remark,jdbcType=VARCHAR},
    created_by = #{createdBy,jdbcType=BIGINT},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def4 = #{def4,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=DECIMAL}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeQcCombinB">
    <!--@mbg.generated-->
    insert into ope_qc_combin_b
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="qcId != null">
        qc_id,
      </if>
      <if test="combinName != null">
        combin_name,
      </if>
      <if test="combinNo != null">
        combin_no,
      </if>
      <if test="productionCombinBomId != null">
        production_combin_bom_id,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="unqualifiedQty != null">
        unqualified_qty,
      </if>
      <if test="qualifiedQty != null">
        qualified_qty,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="qcId != null">
        #{qcId,jdbcType=INTEGER},
      </if>
      <if test="combinName != null">
        #{combinName,jdbcType=VARCHAR},
      </if>
      <if test="combinNo != null">
        #{combinNo,jdbcType=VARCHAR},
      </if>
      <if test="productionCombinBomId != null">
        #{productionCombinBomId,jdbcType=BIGINT},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedQty != null">
        #{unqualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="qualifiedQty != null">
        #{qualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="qcId != null">
        qc_id = #{qcId,jdbcType=INTEGER},
      </if>
      <if test="combinName != null">
        combin_name = #{combinName,jdbcType=VARCHAR},
      </if>
      <if test="combinNo != null">
        combin_no = #{combinNo,jdbcType=VARCHAR},
      </if>
      <if test="productionCombinBomId != null">
        production_combin_bom_id = #{productionCombinBomId,jdbcType=BIGINT},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedQty != null">
        unqualified_qty = #{unqualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="qualifiedQty != null">
        qualified_qty = #{qualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>
