<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeQcOrderSerialBindMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeQcOrderSerialBind">
    <!--@mbg.generated-->
    <!--@Table ope_qc_order_serial_bind-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="order_b_id" jdbcType="BIGINT" property="orderBId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="serial_num" jdbcType="VARCHAR" property="serialNum" />
    <result column="default_serial_num" jdbcType="VARCHAR" property="defaultSerialNum" />
    <result column="tablet_sn" jdbcType="VARCHAR" property="tabletSn" />
    <result column="lot" jdbcType="VARCHAR" property="lot" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="bluetooth_mac_address" jdbcType="VARCHAR" property="bluetoothMacAddress" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, order_b_id, order_type, serial_num, default_serial_num, tablet_sn, lot, product_id, 
    product_type, qty, remark, bluetooth_mac_address, created_by, created_time, updated_by, 
    updated_time, def1, def2, def3, def4, def5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ope_qc_order_serial_bind
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from ope_qc_order_serial_bind
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeQcOrderSerialBind">
    <!--@mbg.generated-->
    insert into ope_qc_order_serial_bind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="orderBId != null">
        order_b_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="serialNum != null">
        serial_num,
      </if>
      <if test="defaultSerialNum != null">
        default_serial_num,
      </if>
      <if test="tabletSn != null">
        tablet_sn,
      </if>
      <if test="lot != null">
        lot,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="bluetoothMacAddress != null">
        bluetooth_mac_address,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="orderBId != null">
        #{orderBId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="serialNum != null">
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="defaultSerialNum != null">
        #{defaultSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="tabletSn != null">
        #{tabletSn,jdbcType=VARCHAR},
      </if>
      <if test="lot != null">
        #{lot,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="bluetoothMacAddress != null">
        #{bluetoothMacAddress,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeQcOrderSerialBind">
    <!--@mbg.generated-->
    update ope_qc_order_serial_bind
    <set>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="orderBId != null">
        order_b_id = #{orderBId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="serialNum != null">
        serial_num = #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="defaultSerialNum != null">
        default_serial_num = #{defaultSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="tabletSn != null">
        tablet_sn = #{tabletSn,jdbcType=VARCHAR},
      </if>
      <if test="lot != null">
        lot = #{lot,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="bluetoothMacAddress != null">
        bluetooth_mac_address = #{bluetoothMacAddress,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.redescooter.ses.mobile.rps.dm.OpeQcOrderSerialBind">
    <!--@mbg.generated-->
    update ope_qc_order_serial_bind
    set dr = #{dr,jdbcType=INTEGER},
      order_b_id = #{orderBId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      serial_num = #{serialNum,jdbcType=VARCHAR},
      default_serial_num = #{defaultSerialNum,jdbcType=VARCHAR},
      tablet_sn = #{tabletSn,jdbcType=VARCHAR},
      lot = #{lot,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT},
      product_type = #{productType,jdbcType=INTEGER},
      qty = #{qty,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      bluetooth_mac_address = #{bluetoothMacAddress,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=VARCHAR},
      def4 = #{def4,jdbcType=VARCHAR},
      def5 = #{def5,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>