<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeStockPurchasMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeStockPurchas">
    <!--@mbg.generated-->
    <!--@Table ope_stock_purchas-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="stock_id" jdbcType="BIGINT" property="stockId" />
    <result column="part_id" jdbcType="BIGINT" property="partId" />
    <result column="lot" jdbcType="VARCHAR" property="lot" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="in__wh_qty" jdbcType="INTEGER" property="inWhQty" />
    <result column="in_stock_time" jdbcType="TIMESTAMP" property="inStockTime" />
    <result column="in_stock_bill_id" jdbcType="BIGINT" property="inStockBillId" />
    <result column="out_stock_bill_id" jdbcType="BIGINT" property="outStockBillId" />
    <result column="out_principal_id" jdbcType="BIGINT" property="outPrincipalId" />
    <result column="out_stock_time" jdbcType="TIMESTAMP" property="outStockTime" />
    <result column="revision" jdbcType="INTEGER" property="revision" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
    <result column="def6" jdbcType="DOUBLE" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, `status`, stock_id, part_id, lot, part_number, serial_number, principal_id, 
    in__wh_qty, in_stock_time, in_stock_bill_id, out_stock_bill_id, out_principal_id, 
    out_stock_time, revision, created_by, created_time, updated_by, updated_time, def1, 
    def2, def3, def5, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_stock_purchas
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="stock_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.stockId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="part_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="lot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lot,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="part_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.partNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="serial_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.serialNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.principalId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="in__wh_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.inWhQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="in_stock_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.inStockTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="in_stock_bill_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.inStockBillId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="out_stock_bill_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.outStockBillId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="out_principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.outPrincipalId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="out_stock_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.outStockTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_stock_purchas
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="stock_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.stockId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.stockId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="part_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="lot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lot != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.lot,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="part_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.partNumber != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.partNumber,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="serial_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.serialNumber != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.serialNumber,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.principalId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.principalId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="in__wh_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inWhQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.inWhQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="in_stock_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inStockTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.inStockTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="in_stock_bill_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inStockBillId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.inStockBillId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="out_stock_bill_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.outStockBillId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.outStockBillId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="out_principal_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.outPrincipalId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.outPrincipalId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="out_stock_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.outStockTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.outStockTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.revision != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def6 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>