<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.base.OpeWmsStockRecordMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeWmsStockRecord">
    <!--@mbg.generated-->
    <!--@Tableope_wms_stock_record-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_type" jdbcType="INTEGER" property="relationType" />
    <result column="in_wh_type" jdbcType="INTEGER" property="inWhType" />
    <result column="in_wh_qty" jdbcType="INTEGER" property="inWhQty" />
    <result column="record_type" jdbcType="INTEGER" property="recordType" />
    <result column="stock_type" jdbcType="INTEGER" property="stockType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DOUBLE" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, relation_id, relation_type, in_wh_type, in_wh_qty, record_type, stock_type,
    remark, created_by, created_time, updated_by, updated_time, def1, def2, def3, def4,
    def5
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_wms_stock_record
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="relation_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.relationId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="relation_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.relationType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="in_wh_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.inWhType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="in_wh_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.inWhQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="record_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.recordType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="stock_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.stockType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createdBy,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.def4,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.def5,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    updateope_wms_stock_record
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="relation_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.relationId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.relationId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="relation_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.relationType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.relationType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="in_wh_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inWhType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.inWhType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="in_wh_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inWhQty != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.inWhQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="record_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.recordType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.recordType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="stock_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.stockType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.stockType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createdBy,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def4 != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.def4,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.def5,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert intoope_wms_stock_record
    (id, dr, relation_id, relation_type, in_wh_type, in_wh_qty, record_type, stock_type,
      remark, created_by, created_time, updated_by, updated_time, def1, def2, def3, def4,
      def5)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.dr,jdbcType=INTEGER}, #{item.relationId,jdbcType=BIGINT},
        #{item.relationType,jdbcType=INTEGER}, #{item.inWhType,jdbcType=INTEGER}, #{item.inWhQty,jdbcType=INTEGER},
        #{item.recordType,jdbcType=INTEGER}, #{item.stockType,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR},
        #{item.createdBy,jdbcType=INTEGER}, #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT},
        #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
        #{item.def3,jdbcType=VARCHAR}, #{item.def4,jdbcType=VARCHAR}, #{item.def5,jdbcType=DOUBLE}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.mobile.rps.dm.OpeWmsStockRecord">
    <!--@mbg.generated-->
    insert intoope_wms_stock_record
    (id, dr, relation_id, relation_type, in_wh_type, in_wh_qty, record_type, stock_type,
      remark, created_by, created_time, updated_by, updated_time, def1, def2, def3, def4,
      def5)
    values
    (#{id,jdbcType=INTEGER}, #{dr,jdbcType=INTEGER}, #{relationId,jdbcType=BIGINT}, #{relationType,jdbcType=INTEGER},
      #{inWhType,jdbcType=INTEGER}, #{inWhQty,jdbcType=INTEGER}, #{recordType,jdbcType=INTEGER},
      #{stockType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createdBy,jdbcType=INTEGER},
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
      #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR},
      #{def5,jdbcType=DOUBLE})
    on duplicate key update
    id = #{id,jdbcType=INTEGER},
    dr = #{dr,jdbcType=INTEGER},
    relation_id = #{relationId,jdbcType=BIGINT},
    relation_type = #{relationType,jdbcType=INTEGER},
    in_wh_type = #{inWhType,jdbcType=INTEGER},
    in_wh_qty = #{inWhQty,jdbcType=INTEGER},
    record_type = #{recordType,jdbcType=INTEGER},
    stock_type = #{stockType,jdbcType=INTEGER},
    remark = #{remark,jdbcType=VARCHAR},
    created_by = #{createdBy,jdbcType=INTEGER},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def4 = #{def4,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.mobile.rps.dm.OpeWmsStockRecord">
    <!--@mbg.generated-->
    insert intoope_wms_stock_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="relationType != null">
        relation_type,
      </if>
      <if test="inWhType != null">
        in_wh_type,
      </if>
      <if test="inWhQty != null">
        in_wh_qty,
      </if>
      <if test="recordType != null">
        record_type,
      </if>
      <if test="stockType != null">
        stock_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationType != null">
        #{relationType,jdbcType=INTEGER},
      </if>
      <if test="inWhType != null">
        #{inWhType,jdbcType=INTEGER},
      </if>
      <if test="inWhQty != null">
        #{inWhQty,jdbcType=INTEGER},
      </if>
      <if test="recordType != null">
        #{recordType,jdbcType=INTEGER},
      </if>
      <if test="stockType != null">
        #{stockType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=DOUBLE},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationType != null">
        relation_type = #{relationType,jdbcType=INTEGER},
      </if>
      <if test="inWhType != null">
        in_wh_type = #{inWhType,jdbcType=INTEGER},
      </if>
      <if test="inWhQty != null">
        in_wh_qty = #{inWhQty,jdbcType=INTEGER},
      </if>
      <if test="recordType != null">
        record_type = #{recordType,jdbcType=INTEGER},
      </if>
      <if test="stockType != null">
        stock_type = #{stockType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>
