<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.b.dao.DeliveryServiceMapper">
    <select id="doingCountByStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select status, count(*) as totalCount
        from cor_delivery delivery
        where delivery.dr = 0
        and delivery.tenant_id=#{tenantId}
        and delivery.deliverer_id=#{userId}
        <if test="statusList != null and statusList.size() != 0">
            and delivery.status in
            <foreach collection="statusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        group by delivery.status
    </select>

    <select id="deliveryList" resultType="com.redescooter.ses.api.mobile.b.vo.DeliveryDetailResult">
        select *
        from cor_delivery delivery
        where delivery.dr = 0
        and delivery.deliverer_id=#{userId}
        and delivery.tenant_id=#{tenantId}
        and delivery.status in('1','2')
        <if test="statusList != null and statusList.size() != 0">
            and delivery.status in
            <foreach collection="statusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="refuseDelivery" resultType="java.lang.Integer">
        select count(*)
        from cor_delivery_trace
        where dr=0
        and status = #{status}
        and user_id=#{userId}
    </select>
    <select id="allDriverDeliveryStatusCount" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
    select cdyt.status, count(*) totalCount
    from cor_delivery_trace cdyt
    where cdyt.dr = 0
      and cdyt.tenant_id = #{tenantId}
      and cdyt.user_id = #{userId}
      and cdyt.status in ('3','5','6','7')
    group by cdyt.status
    </select>
    <select id="mobileBDeliveryChart"
            resultType="com.redescooter.ses.api.mobile.b.vo.MonthlyDeliveryChartResult">
        select DATE_FORMAT(updated_time, '%Y-%m-%d') as times,
        ifnull(sum(case when cdy.status = '3' then 1 end), 0) as rejected,
        ifnull(sum(case when cdy.status = '5' then 1 end), 0) as timeoutComplete,
        ifnull(sum(case when cdy.status = '6' then 1 end), 0) as completed,
        ifnull(sum(case when cdy.status = '7' then 1 end), 0) as cancel,
        ifnull(sum(case
        when cdy.status = '3' then 1
        when cdy.status = '5' then 1
        when cdy.status = '6' then 1
        when cdy.status = '7' then 1 end), 0) as total
        from cor_delivery_trace cdy
        where cdy.dr = 0
        and cdy.tenant_id = #{tenantId}
        and cdy.user_id = #{userId}
        <if test="dateTime == null">
            and (DATE_FORMAT(updated_time, '%Y-%m-%d') between DATE_FORMAT(SUBDATE(now(), INTERVAL 1 month), '%Y-%m-%d')
            and DATE_FORMAT(now(), '%Y-%m-%d'))
        </if>
        <if test="dateTime != null">
            and (DATE_FORMAT(updated_time, '%Y-%m-%d') between DATE_FORMAT(SUBDATE(#{dateTime} , INTERVAL 1
            month),'%Y-%m-%d')
            and DATE_FORMAT(#{dateTime}, '%Y-%m-%d'))
        </if>
        group by times
    </select>
</mapper>