<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.b.dao.EdDashboardServiceMapper">

    <select id="allCountByStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        SELECT
        exorder.`status` as status,
        COUNT(exorder.id) as totalCount
        FROM
        cor_express_delivery_detail detail
        LEFT JOIN cor_express_delivery delivery ON detail.express_delivery_id = delivery.id and delivery.dr=0
        LEFT JOIN cor_driver driver ON driver.id = delivery.driver_id and driver.dr=0
        LEFT JOIN cor_express_order exorder ON exorder.id = detail.express_order_id and exorder.dr=0
        WHERE detail.dr=0
        and exorder.`status`!=5
        and detail.tenant_id=#{tenantId}
        and driver.user_id=#{userId}
        GROUP BY status
    </select>
    <select id="refuseCount" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        SELECT
        trace.`status` as status,
        COUNT(trace.id) as totatl
        FROM
        cor_express_order_trace trace
        LEFT JOIN cor_driver driver ON driver.id = trace.driver_id and driver.dr=0
        WHERE trace.dr=0
        and trace.`status`=5
        and trace.tenant_id=#{tenantId}
        and driver.user_id=#{userId}
        GROUP BY status

    </select>
    <select id="mobileBDeliveryChart"
            resultType="com.redescooter.ses.api.mobile.b.vo.express.EdMonthlyExpressOrderChartResult">
        select DATE_FORMAT(cdy.created_time, '%Y-%m-%d') as times,
        ifnull(sum(case when cdy.status = '4' then 1 end), 0) as completed,
        ifnull(sum(case when cdy.status = '5' then 1 end), 0) as refuse,
        ifnull(sum(case
        when cdy.status = '4' then 1
        when cdy.status = '5' then 1
        when cdy.status = '6' then 1
        end), 0) as total
        from cor_express_order_trace cdy
        LEFT JOIN cor_driver driver on cdy.driver_id = driver.id
        where cdy.dr = 0
        and cdy.tenant_id = #{tenantId}
        and driver.user_id = #{userId}
        <if test="startDateTime != null">
            <if test="endDateTime != null">
                and cdy.created_time between #{startDateTime} and #{endDateTime}
            </if>
        </if>
        group by times
    </select>
</mapper>
