<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.b.dao.StatisticalDataServiceMapper">

    <select id="mobileBScooterChart"
            resultType="com.redescooter.ses.api.mobile.b.vo.MobileBScooterChartResult">
        select ifnull(sum(drsd.svg_speed), 0) as avgSpeed,
        ifnull(sum(drsd.saved_money), 0) as totalMileage,
        ifnull(sum(drsd.mileage), 0) as svgSpeed,
        ifnull(sum(drsd.co2_increment), 0) as totalCo2,
        DATE_FORMAT(drsd.create_time, '%Y-%m-%d') as times
        from cor_driver_ride_stat_detail drsd
        where drsd.dr = 0
        and drsd.tenant_id = #{tenantId}
        and drsd.driver_id = #{userId}
        <if test="startDateTime != null">
            <if test="endDateTime != null">
                and drsd.create_time between #{startDateTime} and #{endDateTime}
            </if>
        </if>
        group by times
    </select>
</mapper>
