<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.delivery.dao.base.CorExpressOrderTraceMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.delivery.dm.CorExpressOrderTrace">
        <!--@mbg.generated-->
        <!--@Table cor_express_order_trace-->
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="express_delivery_id" jdbcType="BIGINT" property="expressDeliveryId"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="express_order_id" jdbcType="BIGINT" property="expressOrderId"/>
        <result column="driver_id" jdbcType="BIGINT" property="driverId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="event" jdbcType="VARCHAR" property="event"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="event_time" jdbcType="TIMESTAMP" property="eventTime"/>
        <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
        <result column="latitude" jdbcType="DECIMAL" property="latitude"/>
        <result column="geohash" jdbcType="VARCHAR" property="geohash"/>
        <result column="scooter_id" jdbcType="BIGINT" property="scooterId"/>
        <result column="scooter_longitude" jdbcType="DECIMAL" property="scooterLongitude"/>
        <result column="scooter_latitude" jdbcType="DECIMAL" property="scooterLatitude"/>
        <result column="scooter_geohash" jdbcType="VARCHAR" property="scooterGeohash"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into cor_express_order_trace
        (id, dr, express_delivery_id, tenant_id, express_order_id, driver_id, `status`, event,
        reason, event_time, longitude, latitude, geohash, scooter_id, scooter_longitude,
        scooter_latitude, scooter_geohash, created_by, created_time, updated_by, updated_time,
        def1, def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.expressDeliveryId,jdbcType=BIGINT},
            #{item.tenantId,jdbcType=BIGINT}, #{item.expressOrderId,jdbcType=BIGINT}, #{item.driverId,jdbcType=BIGINT},
            #{item.status,jdbcType=VARCHAR}, #{item.event,jdbcType=VARCHAR}, #{item.reason,jdbcType=VARCHAR},
            #{item.eventTime,jdbcType=TIMESTAMP}, #{item.longitude,jdbcType=DECIMAL}, #{item.latitude,jdbcType=DECIMAL},
            #{item.geohash,jdbcType=VARCHAR}, #{item.scooterId,jdbcType=BIGINT},
            #{item.scooterLongitude,jdbcType=DECIMAL},
            #{item.scooterLatitude,jdbcType=DECIMAL}, #{item.scooterGeohash,jdbcType=VARCHAR},
            #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP},
            #{item.updatedBy,jdbcType=BIGINT},
            #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
            #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.delivery.dm.CorExpressOrderTrace">
        <!--@mbg.generated-->
        insert into cor_express_order_trace
        (id, dr, express_delivery_id, tenant_id, express_order_id, driver_id, `status`, event,
        reason, event_time, longitude, latitude, geohash, scooter_id, scooter_longitude,
        scooter_latitude, scooter_geohash, created_by, created_time, updated_by, updated_time,
        def1, def2, def3, def5, def6)
        values
        (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{expressDeliveryId,jdbcType=BIGINT},
        #{tenantId,jdbcType=BIGINT}, #{expressOrderId,jdbcType=BIGINT}, #{driverId,jdbcType=BIGINT},
        #{status,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR},
        #{eventTime,jdbcType=TIMESTAMP}, #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL},
        #{geohash,jdbcType=VARCHAR}, #{scooterId,jdbcType=BIGINT}, #{scooterLongitude,jdbcType=DECIMAL},
        #{scooterLatitude,jdbcType=DECIMAL}, #{scooterGeohash,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
        #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR},
        #{def6,jdbcType=DOUBLE})
        on duplicate key update
        id = #{id,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER},
        express_delivery_id = #{expressDeliveryId,jdbcType=BIGINT},
        tenant_id = #{tenantId,jdbcType=BIGINT},
        express_order_id = #{expressOrderId,jdbcType=BIGINT},
        driver_id = #{driverId,jdbcType=BIGINT},
        `status` = #{status,jdbcType=VARCHAR},
        event = #{event,jdbcType=VARCHAR},
        reason = #{reason,jdbcType=VARCHAR},
        event_time = #{eventTime,jdbcType=TIMESTAMP},
        longitude = #{longitude,jdbcType=DECIMAL},
        latitude = #{latitude,jdbcType=DECIMAL},
        geohash = #{geohash,jdbcType=VARCHAR},
        scooter_id = #{scooterId,jdbcType=BIGINT},
        scooter_longitude = #{scooterLongitude,jdbcType=DECIMAL},
        scooter_latitude = #{scooterLatitude,jdbcType=DECIMAL},
        scooter_geohash = #{scooterGeohash,jdbcType=VARCHAR},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.delivery.dm.CorExpressOrderTrace">
        <!--@mbg.generated-->
        insert into cor_express_order_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="expressDeliveryId != null">
                express_delivery_id,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="expressOrderId != null">
                express_order_id,
            </if>
            <if test="driverId != null">
                driver_id,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="event != null">
                event,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="eventTime != null">
                event_time,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="geohash != null">
                geohash,
            </if>
            <if test="scooterId != null">
                scooter_id,
            </if>
            <if test="scooterLongitude != null">
                scooter_longitude,
            </if>
            <if test="scooterLatitude != null">
                scooter_latitude,
            </if>
            <if test="scooterGeohash != null">
                scooter_geohash,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="expressDeliveryId != null">
                #{expressDeliveryId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="expressOrderId != null">
                #{expressOrderId,jdbcType=BIGINT},
            </if>
            <if test="driverId != null">
                #{driverId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="event != null">
                #{event,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="eventTime != null">
                #{eventTime,jdbcType=TIMESTAMP},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="geohash != null">
                #{geohash,jdbcType=VARCHAR},
            </if>
            <if test="scooterId != null">
                #{scooterId,jdbcType=BIGINT},
            </if>
            <if test="scooterLongitude != null">
                #{scooterLongitude,jdbcType=DECIMAL},
            </if>
            <if test="scooterLatitude != null">
                #{scooterLatitude,jdbcType=DECIMAL},
            </if>
            <if test="scooterGeohash != null">
                #{scooterGeohash,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="expressDeliveryId != null">
                express_delivery_id = #{expressDeliveryId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="expressOrderId != null">
                express_order_id = #{expressOrderId,jdbcType=BIGINT},
            </if>
            <if test="driverId != null">
                driver_id = #{driverId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="event != null">
                event = #{event,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="eventTime != null">
                event_time = #{eventTime,jdbcType=TIMESTAMP},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="geohash != null">
                geohash = #{geohash,jdbcType=VARCHAR},
            </if>
            <if test="scooterId != null">
                scooter_id = #{scooterId,jdbcType=BIGINT},
            </if>
            <if test="scooterLongitude != null">
                scooter_longitude = #{scooterLongitude,jdbcType=DECIMAL},
            </if>
            <if test="scooterLatitude != null">
                scooter_latitude = #{scooterLatitude,jdbcType=DECIMAL},
            </if>
            <if test="scooterGeohash != null">
                scooter_geohash = #{scooterGeohash,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>