<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.scooter.dao.ScooterServiceMapper">

    <select id="scooterInfor" resultType="com.redescooter.ses.api.common.vo.scooter.BaseScooterResult">
        select scooter.id as id,
        scooter.picture as pictures,
        scooter.scooter_no as scooterNo,
        scooter.status as status,
        scooter.available_status as availableStatus,
        scooter.box_status as boxStatus,
        scooter.model as model,
        scooter.license_plate as licensePlate,
        scooter.license_plate_picture as licensePlatePicture,
        scooter.license_plate_time as licensePlateTime,
        scooter.scooter_id_picture as scooterIdPicture,
        scooter.insurance as insurance,
        scooter.insure_time as insureTime,
        scooter.revision as revision,
        status.scooter_ecu_id as scooterEcuId,
        status.longitule as longitule,
        status.latitude as latitude,
        status.battery as battery,
        ifnull(scooter.total_mileage, 0) as totalmileage
        from sco_scooter scooter
        inner join sco_scooter_status status on scooter.id = status.scooter_id
        where scooter.dr = 0
        <if test="list != null and list.size() != 0">
            and scooter.id in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="scooterInforByplates" resultType="com.redescooter.ses.api.common.vo.scooter.BaseScooterResult">
        select scooter.id as id,
        scooter.picture as pictures,
        scooter.scooter_no as scooterNo,
        scooter.status as status,
        scooter.available_status as availableStatus,
        scooter.box_status as boxStatus,
        scooter.model as model,
        scooter.license_plate as licensePlate,
        scooter.license_plate_picture as licensePlatePicture,
        scooter.license_plate_time as licensePlateTime,
        scooter.scooter_id_picture as scooterIdPicture,
        scooter.insurance as insurance,
        scooter.insure_time as insureTime,
        scooter.revision as revision,
        status.scooter_ecu_id as scooterEcuId,
        status.longitule as longitule,
        status.latitude as latitude,
        status.battery as battery,
        ifnull(scooter.total_mileage, 0) as totalmileage
        from sco_scooter scooter
        inner join sco_scooter_status status on scooter.id = status.scooter_id
        where scooter.dr = 0
        <if test="list != null and list.size() != 0">
            and scooter.license_plate in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="scooterInfoByScooterNo" resultType="com.redescooter.ses.api.common.vo.scooter.BaseScooterResult">
        select scooter.id as id,
        scooter.picture as pictures,
        scooter.scooter_no as scooterNo,
        scooter.status as status,
        scooter.available_status as availableStatus,
        scooter.box_status as boxStatus,
        scooter.model as model,
        scooter.license_plate as licensePlate,
        scooter.license_plate_picture as licensePlatePicture,
        scooter.license_plate_time as licensePlateTime,
        scooter.scooter_id_picture as scooterIdPicture,
        scooter.insurance as insurance,
        scooter.insure_time as insureTime,
        scooter.revision as revision,
        status.scooter_ecu_id as scooterEcuId,
        status.longitule as longitule,
        status.latitude as latitude,
        status.battery as battery,
        ifnull(scooter.total_mileage, 0) as totalmileage
        from sco_scooter scooter
        inner join sco_scooter_status status on scooter.id = status.scooter_id
        where scooter.dr = 0
        <if test="scooterNo != null and scooterNo != '' and id != null">
            and scooter.id=#{id} and scooter.scooter_no=#{scooterNo}
        </if>
        <if test="(scooterNo == null or scooterNo == '') or (id == null)">
            <if test="scooterNo != null and scooterNo != ''">
                and scooter.scooter_no=#{scooterNo}
            </if>
            <if test="id != null">
                and scooter.id=#{id}
            </if>
        </if>
        limit 1
    </select>

    <!--根据Id更新车辆锁状态-->
    <update id="updateScooterStatusById">
        update sco_scooter
        set `status` = #{status,jdbcType=VARCHAR}, updated_by = #{userId,jdbcType=BIGINT}, updated_time = now()
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--根据Id查询车辆信息-->
    <select id="getScooterInfoById" parameterType="java.lang.Long" resultType="com.redescooter.ses.api.common.vo.scooter.BaseScooterResult">
        select s.id id,s.picture pictures,s.scooter_no scooterNo,s.tablet_sn tabletSn,s.`status` `status`,
        s.available_status availableStatus,s.box_status boxStatus,s.model model,s.license_plate licensePlate,
        s.license_plate_picture licensePlatePicture,s.license_plate_time licensePlateTime,
        s.scooter_id_picture scooterIdPicture,s.insurance insurance,s.insure_time insureTime,s.revision revision,
        ecu.id scooterEcuId,ecu.longitude longitule,ecu.latitude latitude,ecu.battery battery,
        ifnull(ecu.total_miles, 0) totalmileage
        from sco_scooter s
        left join sco_scooter_ecu ecu
        on s.tablet_sn = ecu.sn
        where s.id = #{id}
    </select>

    <!--根据scooterNo查询车辆锁状态-->
    <select id="getScooterStatusByTabletSn" parameterType="java.lang.String" resultType="java.lang.String">
        select `status` from sco_scooter
        where tablet_sn = #{tabletSn} and dr = '0'
    </select>

    <!--根据tabletSn查询车辆编号-->
    <select id="getScooterNoByTabletSn" parameterType="java.lang.String" resultType="java.lang.String">
        select scooter_no from sco_scooter
	    where tablet_sn = #{tabletSn} and dr = '0'
    </select>

    <!--根据tabletSn更新车辆锁状态-->
    <update id="updateScooterStatusByTabletSn">
        update sco_scooter
	    set `status` = #{status}, updated_time = #{date}
	    where tablet_sn = #{tabletSn}
    </update>

</mapper>