<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.scooter.dao.base.ScoScooterEcuMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.service.scooter.dm.base.ScoScooterEcu">
    <!--@mbg.generated-->
    <!--@Table sco_scooter_ecu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="scooter_no" jdbcType="VARCHAR" property="scooterNo" />
    <result column="battery" jdbcType="INTEGER" property="battery" />
    <result column="bluetooth_mac_address" jdbcType="VARCHAR" property="bluetoothMacAddress" />
    <result column="iccid" jdbcType="VARCHAR" property="iccid" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="mobile_signal" jdbcType="INTEGER" property="mobileSignal" />
    <result column="scooter_lock" jdbcType="BOOLEAN" property="scooterLock" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="speed" jdbcType="FLOAT" property="speed" />
    <result column="standby_voltage" jdbcType="FLOAT" property="standbyVoltage" />
    <result column="torsion" jdbcType="INTEGER" property="torsion" />
    <result column="total_miles" jdbcType="INTEGER" property="totalMiles" />
    <result column="version_code" jdbcType="VARCHAR" property="versionCode" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, scooter_no, battery, bluetooth_mac_address, iccid, latitude, longitude, mobile_signal, 
    scooter_lock, sn, speed, standby_voltage, torsion, total_miles, version_code, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sco_scooter_ecu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sco_scooter_ecu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.redescooter.ses.service.scooter.dm.base.ScoScooterEcu">
    <!--@mbg.generated-->
    insert into sco_scooter_ecu (id, dr, scooter_no, 
      battery, bluetooth_mac_address, iccid, 
      latitude, longitude, mobile_signal, 
      scooter_lock, sn, speed, 
      standby_voltage, torsion, total_miles, 
      version_code, created_by, created_time, 
      updated_by, updated_time)
    values (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{scooterNo,jdbcType=VARCHAR}, 
      #{battery,jdbcType=INTEGER}, #{bluetoothMacAddress,jdbcType=VARCHAR}, #{iccid,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{mobileSignal,jdbcType=INTEGER}, 
      #{scooterLock,jdbcType=BOOLEAN}, #{sn,jdbcType=VARCHAR}, #{speed,jdbcType=FLOAT}, 
      #{standbyVoltage,jdbcType=FLOAT}, #{torsion,jdbcType=INTEGER}, #{totalMiles,jdbcType=INTEGER}, 
      #{versionCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.redescooter.ses.service.scooter.dm.base.ScoScooterEcu">
    <!--@mbg.generated-->
    insert into sco_scooter_ecu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="scooterNo != null">
        scooter_no,
      </if>
      <if test="battery != null">
        battery,
      </if>
      <if test="bluetoothMacAddress != null">
        bluetooth_mac_address,
      </if>
      <if test="iccid != null">
        iccid,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="mobileSignal != null">
        mobile_signal,
      </if>
      <if test="scooterLock != null">
        scooter_lock,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="standbyVoltage != null">
        standby_voltage,
      </if>
      <if test="torsion != null">
        torsion,
      </if>
      <if test="totalMiles != null">
        total_miles,
      </if>
      <if test="versionCode != null">
        version_code,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="scooterNo != null">
        #{scooterNo,jdbcType=VARCHAR},
      </if>
      <if test="battery != null">
        #{battery,jdbcType=INTEGER},
      </if>
      <if test="bluetoothMacAddress != null">
        #{bluetoothMacAddress,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null">
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="mobileSignal != null">
        #{mobileSignal,jdbcType=INTEGER},
      </if>
      <if test="scooterLock != null">
        #{scooterLock,jdbcType=BOOLEAN},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=FLOAT},
      </if>
      <if test="standbyVoltage != null">
        #{standbyVoltage,jdbcType=FLOAT},
      </if>
      <if test="torsion != null">
        #{torsion,jdbcType=INTEGER},
      </if>
      <if test="totalMiles != null">
        #{totalMiles,jdbcType=INTEGER},
      </if>
      <if test="versionCode != null">
        #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.redescooter.ses.service.scooter.dm.base.ScoScooterEcu">
    <!--@mbg.generated-->
    update sco_scooter_ecu
    <set>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="scooterNo != null">
        scooter_no = #{scooterNo,jdbcType=VARCHAR},
      </if>
      <if test="battery != null">
        battery = #{battery,jdbcType=INTEGER},
      </if>
      <if test="bluetoothMacAddress != null">
        bluetooth_mac_address = #{bluetoothMacAddress,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null">
        iccid = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="mobileSignal != null">
        mobile_signal = #{mobileSignal,jdbcType=INTEGER},
      </if>
      <if test="scooterLock != null">
        scooter_lock = #{scooterLock,jdbcType=BOOLEAN},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=FLOAT},
      </if>
      <if test="standbyVoltage != null">
        standby_voltage = #{standbyVoltage,jdbcType=FLOAT},
      </if>
      <if test="torsion != null">
        torsion = #{torsion,jdbcType=INTEGER},
      </if>
      <if test="totalMiles != null">
        total_miles = #{totalMiles,jdbcType=INTEGER},
      </if>
      <if test="versionCode != null">
        version_code = #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.redescooter.ses.service.scooter.dm.base.ScoScooterEcu">
    <!--@mbg.generated-->
    update sco_scooter_ecu
    set dr = #{dr,jdbcType=INTEGER},
      scooter_no = #{scooterNo,jdbcType=VARCHAR},
      battery = #{battery,jdbcType=INTEGER},
      bluetooth_mac_address = #{bluetoothMacAddress,jdbcType=VARCHAR},
      iccid = #{iccid,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      mobile_signal = #{mobileSignal,jdbcType=INTEGER},
      scooter_lock = #{scooterLock,jdbcType=BOOLEAN},
      sn = #{sn,jdbcType=VARCHAR},
      speed = #{speed,jdbcType=FLOAT},
      standby_voltage = #{standbyVoltage,jdbcType=FLOAT},
      torsion = #{torsion,jdbcType=INTEGER},
      total_miles = #{totalMiles,jdbcType=INTEGER},
      version_code = #{versionCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>