log:
  file:
    path: ${log.path}@profile-active@
    max-size: 128MB
    max-history: 180
dubbo:
  registry:
    address: zookeeper://10.1.1.142:2181?backup=10.1.1.142:2182,10.1.1.142:2183
  metadata-report:
    address: zookeeper://10.1.1.142:2181?backup=10.1.1.142:2182,10.1.1.142:2183
jasypt:
  encryptor:
    property:
      prefix: RedE(
      suffix: )
    ivGeneratorClassname: org.jasypt.salt.RandomIVGenerator

spring:
  http:
  servlet:
    multipart:
      max-request-size: 1000MB
      max-file-size: 20MB
      enabled: true
  datasource:
    url: jdbc:mysql://10.1.2.238:2021/operation_prod?useUnicode=true&characterEncoding=UTF8&allowMultiQueries=true&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useLegacyDatetimeCode=false&useSSL=false&allowPublicKeyRetrieval=true
    username: rede
    password: rede1qaz2wsx
    druid:
      initial-size: 8
      min-idle: 1
      max-active: 20
      max-wait: 60000
      stat-view-servlet:
        login-username: rede
        login-password: admin
        enabled: true
        url-pattern: /druid/*
  redis:
    cluster:
      nodes:
        - 10.1.2.238:7000
        - 10.1.2.238:7001
        - 10.1.2.238:7002
        - 10.1.2.238:7003
        - 10.1.2.238:7004
        - 10.1.2.238:7005
  swagger:
    enabled: false
## stripe pay
stripe:
  currency: eur
  payment_method_types: card
  payment_event: payment_intent.succeeded
  publishable_key: pk_live_Pze51XBNr8tI4pThesU7DEHD00a8pjUbmi
  secret_key: rk_live_Ea5zybiHwnLnY7bn98jaoRJQ00OPG1gEBe
  receipt_email: etienne@redescooter.fr

oss:                                                                                                                    #阿里oss上传
  protocol: HTTPS
excel:
  folder: ${log.path}@profile-active@/projectExcel
sendinblue:
  listIds: 117
monday:
  url: https://api.monday.com/v2
  authorization: eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjI5MjE5MzMxLCJ1aWQiOjUwODM2NTksImlhZCI6IjIwMTktMTItMzBUMTA6NTU6MTEuMDAwWiIsInBlciI6Im1lOndyaXRlIn0.Z_dXLUCgiEUoHQXzeFlOqeG2jfSeiyKIdBNdwaAOKrA
  paramQuery: query
  paramVariables: variables
  httpMethod: POST
  MediaType: application/x-www-form-urlencoded
  #预订单业务
  orderFormBoardName: Préco clients RED Model E
  orderFormBoardBackName: Pré-vente
  orderFormGroupName: Backlog
  #联系我们
  contactUsBoardName: (RFQ) Relation client RED Model E
  contactUsBoardBackName: laisser un message
  contactUsGroupName: Backlog
  #订阅邮件
  subEmailBoardName: FAQ RedE Pro et RED Model E
  subEmailBoardBackName: abonnement
  subEmailGroupName: Backlog
  # 工作空间 alex:132750
  workspaceId: 21182
  workspaceBackId: 199275
  #模板Id
  templeteId: 581923336
  load-template: true

constant-us-email:
  sale-principal:
    - valentin@redescooter.fr
    - jerry@redescooter.com

seata:
  enabled: true
  enable-auto-data-source-proxy: true
  tx-service-group: ses-web-ros-group
  registry:
    type: zk
    zk:
      server-addr: 10.1.1.142:2181
      cluster: default
      connect-timeout: 2000000
  config:
    type: zk
    zk:
      server-addr: 10.1.1.142:2181
      connect-timeout: 2000000
  service:
    disable-global-transaction: false
    vgroup-mapping:
      ses-admin-dev-group: default
  client:
    rm:
      report-success-enable: false