<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeAssemblyOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeAssemblyOrder">
      <!--@mbg.generated-->
      <!--@Table ope_assembly_order-->
      <id column="id" jdbcType="BIGINT" property="id"/>
      <result column="dr" jdbcType="INTEGER" property="dr"/>
      <result column="user_id" jdbcType="BIGINT" property="userId"/>
      <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
      <result column="status" jdbcType="VARCHAR" property="status"/>
      <result column="assembly_number" jdbcType="VARCHAR" property="assemblyNumber"/>
      <result column="total_qty" jdbcType="INTEGER" property="totalQty"/>
      <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
      <result column="processing_fee_ratio" jdbcType="DECIMAL" property="processingFeeRatio"/>
      <result column="processing_fee" jdbcType="DECIMAL" property="processingFee"/>
      <result column="payment_type" jdbcType="VARCHAR" property="paymentType"/>
      <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
      <result column="factory_id" jdbcType="BIGINT" property="factoryId"/>
      <result column="factory_annex" jdbcType="VARCHAR" property="factoryAnnex"/>
      <result column="consignee_id" jdbcType="BIGINT" property="consigneeId"/>
      <result column="revision" jdbcType="INTEGER" property="revision"/>
      <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
      <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
      <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
      <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
      <result column="def1" jdbcType="VARCHAR" property="def1"/>
      <result column="def2" jdbcType="VARCHAR" property="def2"/>
      <result column="def3" jdbcType="VARCHAR" property="def3"/>
      <result column="def5" jdbcType="VARCHAR" property="def5"/>
      <result column="def6" jdbcType="DOUBLE" property="def6"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
      id, dr, user_id, tenant_id, `status`, assembly_number, total_qty, total_price, processing_fee_ratio,
      processing_fee, payment_type, product_price, factory_id, factory_annex, consignee_id,
      revision, created_by, created_time, updated_by, updated_time, def1, def2, def3, def5,
      def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_assembly_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="assembly_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.assemblyNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="total_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.totalQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="total_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.totalPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="processing_fee_ratio = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when id = #{item.id,jdbcType=BIGINT} then #{item.processingFeeRatio,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="processing_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.processingFee,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="payment_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.paymentType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="factory_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="factory_annex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryAnnex,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="consignee_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
      insert into ope_assembly_order
      (id, dr, user_id, tenant_id, `status`, assembly_number, total_qty, total_price, processing_fee_ratio,
      processing_fee, payment_type, product_price, factory_id, factory_annex, consignee_id,
      revision, created_by, created_time, updated_by, updated_time, def1, def2, def3,
      def5, def6)
      values
      <foreach collection="list" item="item" separator=",">
          (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.userId,jdbcType=BIGINT},
          #{item.tenantId,jdbcType=BIGINT}, #{item.status,jdbcType=VARCHAR}, #{item.assemblyNumber,jdbcType=VARCHAR},
          #{item.totalQty,jdbcType=INTEGER}, #{item.totalPrice,jdbcType=DECIMAL},
          #{item.processingFeeRatio,jdbcType=DECIMAL},
          #{item.processingFee,jdbcType=DECIMAL}, #{item.paymentType,jdbcType=VARCHAR},
          #{item.productPrice,jdbcType=DECIMAL},
          #{item.factoryId,jdbcType=BIGINT}, #{item.factoryAnnex,jdbcType=VARCHAR}, #{item.consigneeId,jdbcType=BIGINT},
          #{item.revision,jdbcType=INTEGER}, #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP},
          #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR},
          #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR},
          #{item.def6,jdbcType=DOUBLE})
      </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeAssemblyOrder">
    <!--@mbg.generated-->
      insert into ope_assembly_order
      (id, dr, user_id, tenant_id, `status`, assembly_number, total_qty, total_price, processing_fee_ratio,
      processing_fee, payment_type, product_price, factory_id, factory_annex, consignee_id,
      revision, created_by, created_time, updated_by, updated_time, def1, def2, def3,
      def5, def6)
      values
      (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT},
      #{status,jdbcType=VARCHAR}, #{assemblyNumber,jdbcType=VARCHAR}, #{totalQty,jdbcType=INTEGER},
      #{totalPrice,jdbcType=DECIMAL}, #{processingFeeRatio,jdbcType=DECIMAL}, #{processingFee,jdbcType=DECIMAL},
      #{paymentType,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{factoryId,jdbcType=BIGINT},
      #{factoryAnnex,jdbcType=VARCHAR}, #{consigneeId,jdbcType=BIGINT}, #{revision,jdbcType=INTEGER},
      #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
      #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR},
      #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE})
      on duplicate key update
      id = #{id,jdbcType=BIGINT},
      dr = #{dr,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=VARCHAR},
      assembly_number = #{assemblyNumber,jdbcType=VARCHAR},
      total_qty = #{totalQty,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      processing_fee_ratio = #{processingFeeRatio,jdbcType=DECIMAL},
      processing_fee = #{processingFee,jdbcType=DECIMAL},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      factory_id = #{factoryId,jdbcType=BIGINT},
      factory_annex = #{factoryAnnex,jdbcType=VARCHAR},
      consignee_id = #{consigneeId,jdbcType=BIGINT},
      revision = #{revision,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=VARCHAR},
      def5 = #{def5,jdbcType=VARCHAR},
      def6 = #{def6,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeAssemblyOrder">
    <!--@mbg.generated-->
    insert into ope_assembly_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="assemblyNumber != null">
        assembly_number,
      </if>
      <if test="totalQty != null">
        total_qty,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="processingFeeRatio != null">
        processing_fee_ratio,
      </if>
      <if test="processingFee != null">
        processing_fee,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="factoryAnnex != null">
        factory_annex,
      </if>
      <if test="consigneeId != null">
        consignee_id,
      </if>
      <if test="revision != null">
        revision,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="assemblyNumber != null">
        #{assemblyNumber,jdbcType=VARCHAR},
      </if>
      <if test="totalQty != null">
        #{totalQty,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="processingFeeRatio != null">
          #{processingFeeRatio,jdbcType=DECIMAL},
      </if>
      <if test="processingFee != null">
        #{processingFee,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="factoryAnnex != null">
        #{factoryAnnex,jdbcType=VARCHAR},
      </if>
      <if test="consigneeId != null">
        #{consigneeId,jdbcType=BIGINT},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
      on duplicate key update
      <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="assemblyNumber != null">
        assembly_number = #{assemblyNumber,jdbcType=VARCHAR},
      </if>
      <if test="totalQty != null">
        total_qty = #{totalQty,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="processingFeeRatio != null">
          processing_fee_ratio = #{processingFeeRatio,jdbcType=DECIMAL},
      </if>
      <if test="processingFee != null">
        processing_fee = #{processingFee,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="factoryAnnex != null">
        factory_annex = #{factoryAnnex,jdbcType=VARCHAR},
      </if>
      <if test="consigneeId != null">
        consignee_id = #{consigneeId,jdbcType=BIGINT},
      </if>
      <if test="revision != null">
        revision = #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>