<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeAssemblyBOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeAssemblyBOrder">
    <!--@mbg.generated-->
    <!--@Table ope_assembly_b_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="assembly_id" jdbcType="BIGINT" property="assemblyId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="assemblyb_number" jdbcType="VARCHAR" property="assemblybNumber" />
    <result column="product_number" jdbcType="VARCHAR" property="productNumber" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="wait_assembly_qty" jdbcType="INTEGER" property="waitAssemblyQty" />
    <result column="in_wait_wh_qty" jdbcType="VARCHAR" property="inWaitWhQty" />
    <result column="lave_wait_qc_qty" jdbcType="INTEGER" property="laveWaitQcQty" />
    <result column="assembly_qty" jdbcType="INTEGER" property="assemblyQty" />
    <result column="complete_qty" jdbcType="INTEGER" property="completeQty" />
    <result column="revision" jdbcType="INTEGER" property="revision" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
    <result column="def6" jdbcType="DOUBLE" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, `status`, user_id, tenant_id, assembly_id, product_id, assemblyb_number, 
    product_number, en_name, price, wait_assembly_qty, in_wait_wh_qty, lave_wait_qc_qty, 
    assembly_qty, complete_qty, revision, created_by, created_time, updated_by, updated_time, 
    def1, def2, def3, def5, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_assembly_b_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="assembly_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.assemblyId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="assemblyb_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.assemblybNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="en_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.enName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="wait_assembly_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.waitAssemblyQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="in_wait_wh_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.inWaitWhQty,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lave_wait_qc_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.laveWaitQcQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="assembly_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.assemblyQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="complete_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.completeQty,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_assembly_b_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tenantId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="assembly_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assemblyId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assemblyId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="assemblyb_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assemblybNumber != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assemblybNumber,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productNumber != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productNumber,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="en_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.enName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.enName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.price != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="wait_assembly_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.waitAssemblyQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.waitAssemblyQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="in_wait_wh_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inWaitWhQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.inWaitWhQty,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="lave_wait_qc_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.laveWaitQcQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.laveWaitQcQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="assembly_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.assemblyQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.assemblyQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="complete_qty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.completeQty != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.completeQty,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.revision != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def6 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_assembly_b_order
    (id, dr, `status`, user_id, tenant_id, assembly_id, product_id, assemblyb_number, 
      product_number, en_name, price, wait_assembly_qty, in_wait_wh_qty, lave_wait_qc_qty, 
      assembly_qty, complete_qty, revision, created_by, created_time, updated_by, updated_time, 
      def1, def2, def3, def5, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.status,jdbcType=VARCHAR}, 
        #{item.userId,jdbcType=BIGINT}, #{item.tenantId,jdbcType=BIGINT}, #{item.assemblyId,jdbcType=BIGINT}, 
        #{item.productId,jdbcType=BIGINT}, #{item.assemblybNumber,jdbcType=VARCHAR}, #{item.productNumber,jdbcType=VARCHAR}, 
        #{item.enName,jdbcType=VARCHAR}, #{item.price,jdbcType=DECIMAL}, #{item.waitAssemblyQty,jdbcType=INTEGER}, 
        #{item.inWaitWhQty,jdbcType=VARCHAR}, #{item.laveWaitQcQty,jdbcType=INTEGER}, #{item.assemblyQty,jdbcType=INTEGER}, 
        #{item.completeQty,jdbcType=INTEGER}, #{item.revision,jdbcType=INTEGER}, #{item.createdBy,jdbcType=BIGINT}, 
        #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP}, 
        #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, 
        #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeAssemblyBOrder">
    <!--@mbg.generated-->
    insert into ope_assembly_b_order
    (id, dr, `status`, user_id, tenant_id, assembly_id, product_id, assemblyb_number, 
      product_number, en_name, price, wait_assembly_qty, in_wait_wh_qty, lave_wait_qc_qty, 
      assembly_qty, complete_qty, revision, created_by, created_time, updated_by, updated_time, 
      def1, def2, def3, def5, def6)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{tenantId,jdbcType=BIGINT}, #{assemblyId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{assemblybNumber,jdbcType=VARCHAR}, #{productNumber,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{waitAssemblyQty,jdbcType=INTEGER}, #{inWaitWhQty,jdbcType=VARCHAR}, 
      #{laveWaitQcQty,jdbcType=INTEGER}, #{assemblyQty,jdbcType=INTEGER}, #{completeQty,jdbcType=INTEGER}, 
      #{revision,jdbcType=INTEGER}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR}, 
      #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE}
      )
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    dr = #{dr,jdbcType=INTEGER}, 
    `status` = #{status,jdbcType=VARCHAR}, 
    user_id = #{userId,jdbcType=BIGINT}, 
    tenant_id = #{tenantId,jdbcType=BIGINT}, 
    assembly_id = #{assemblyId,jdbcType=BIGINT}, 
    product_id = #{productId,jdbcType=BIGINT}, 
    assemblyb_number = #{assemblybNumber,jdbcType=VARCHAR}, 
    product_number = #{productNumber,jdbcType=VARCHAR}, 
    en_name = #{enName,jdbcType=VARCHAR}, 
    price = #{price,jdbcType=DECIMAL}, 
    wait_assembly_qty = #{waitAssemblyQty,jdbcType=INTEGER}, 
    in_wait_wh_qty = #{inWaitWhQty,jdbcType=VARCHAR}, 
    lave_wait_qc_qty = #{laveWaitQcQty,jdbcType=INTEGER}, 
    assembly_qty = #{assemblyQty,jdbcType=INTEGER}, 
    complete_qty = #{completeQty,jdbcType=INTEGER}, 
    revision = #{revision,jdbcType=INTEGER}, 
    created_by = #{createdBy,jdbcType=BIGINT}, 
    created_time = #{createdTime,jdbcType=TIMESTAMP}, 
    updated_by = #{updatedBy,jdbcType=BIGINT}, 
    updated_time = #{updatedTime,jdbcType=TIMESTAMP}, 
    def1 = #{def1,jdbcType=VARCHAR}, 
    def2 = #{def2,jdbcType=VARCHAR}, 
    def3 = #{def3,jdbcType=VARCHAR}, 
    def5 = #{def5,jdbcType=VARCHAR}, 
    def6 = #{def6,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeAssemblyBOrder">
    <!--@mbg.generated-->
    insert into ope_assembly_b_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="assemblyId != null">
        assembly_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="assemblybNumber != null">
        assemblyb_number,
      </if>
      <if test="productNumber != null">
        product_number,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="waitAssemblyQty != null">
        wait_assembly_qty,
      </if>
      <if test="inWaitWhQty != null">
        in_wait_wh_qty,
      </if>
      <if test="laveWaitQcQty != null">
        lave_wait_qc_qty,
      </if>
      <if test="assemblyQty != null">
        assembly_qty,
      </if>
      <if test="completeQty != null">
        complete_qty,
      </if>
      <if test="revision != null">
        revision,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="assemblyId != null">
        #{assemblyId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="assemblybNumber != null">
        #{assemblybNumber,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="waitAssemblyQty != null">
        #{waitAssemblyQty,jdbcType=INTEGER},
      </if>
      <if test="inWaitWhQty != null">
        #{inWaitWhQty,jdbcType=VARCHAR},
      </if>
      <if test="laveWaitQcQty != null">
        #{laveWaitQcQty,jdbcType=INTEGER},
      </if>
      <if test="assemblyQty != null">
        #{assemblyQty,jdbcType=INTEGER},
      </if>
      <if test="completeQty != null">
        #{completeQty,jdbcType=INTEGER},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="assemblyId != null">
        assembly_id = #{assemblyId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="assemblybNumber != null">
        assemblyb_number = #{assemblybNumber,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null">
        product_number = #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="waitAssemblyQty != null">
        wait_assembly_qty = #{waitAssemblyQty,jdbcType=INTEGER},
      </if>
      <if test="inWaitWhQty != null">
        in_wait_wh_qty = #{inWaitWhQty,jdbcType=VARCHAR},
      </if>
      <if test="laveWaitQcQty != null">
        lave_wait_qc_qty = #{laveWaitQcQty,jdbcType=INTEGER},
      </if>
      <if test="assemblyQty != null">
        assembly_qty = #{assemblyQty,jdbcType=INTEGER},
      </if>
      <if test="completeQty != null">
        complete_qty = #{completeQty,jdbcType=INTEGER},
      </if>
      <if test="revision != null">
        revision = #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>