<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeCodebaseVinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeCodebaseVin">
        <id column="id" property="id"/>
        <result column="dr" property="dr"/>
        <result column="vin" property="vin"/>
        <result column="status" property="status"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="def1" property="def1"/>
        <result column="def2" property="def2"/>
        <result column="def3" property="def3"/>
        <result column="def4" property="def4"/>
        <result column="def5" property="def5"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dr, vin, status, created_by, created_time, updated_by, updated_time, def1, def2, def3, def4, def5
    </sql>

    <!-- vin列表count -->
    <select id="getVinListCount" resultType="int">
        select count(*)
        from ope_codebase_vin
        where dr = 0
        <include refid="condition"/>
    </select>

    <!-- vin列表 -->
    <select id="getVinList" resultType="com.redescooter.ses.web.ros.vo.codebase.VINListResult">
        select id, vin, status, created_time as generateDate, updated_time as finishDate
        from ope_codebase_vin
        where dr = 0
        <include refid="condition"/>
        order by created_time desc
        limit #{enter.startRow}, #{enter.pageSize}
    </select>

    <sql id="condition">
        <if test="enter.specificatTypeId != null">
            and specificat_type_id = #{enter.specificatTypeId}
        </if>
        <if test="enter.seatNumber != null">
            and seat_number = #{enter.seatNumber}
        </if>
        <if test="enter.vin != null and enter.vin != ''">
            and vin like concat('%', #{enter.vin}, '%')
        </if>
        <if test="enter.status != null and enter.status == 0">
            and status in (1, 2)
        </if>
        <if test="enter.status != null and enter.status != 0">
            and status = #{enter.status}
        </if>
        <if test="enter.generateDateStartTime != null">
            and created_time >= #{enter.generateDateStartTime}
        </if>
        <if test="enter.generateDateEndTime != null">
            and created_time &lt;= #{enter.generateDateEndTime}
        </if>
        <if test="enter.finishDateStartTime != null">
            and updated_time >= #{enter.finishDateStartTime}
        </if>
        <if test="enter.finishDateEndTime != null">
            and updated_time &lt;= #{enter.finishDateEndTime}
        </if>
    </sql>

    <!-- vin导出 -->
    <select id="exportVin" resultType="com.redescooter.ses.web.ros.vo.codebase.ExportVINResult">
        select vin, case when status = 1  then '待分配' when status = 2 then '已分配' end as status, created_time as generateDate, updated_time as finishDate
        from ope_codebase_vin
        where dr = 0
        <include refid="condition"/>
        order by created_time desc
    </select>

</mapper>
