<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.assign.OpeCarDistributeExMapper">

    <!-- 待分配列表条数 -->
    <select id="getToBeAssignListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and c.account_flag = 1 and (b.flag is null or b.flag = 0) and ( (b.app_node is null or b.app_node = 1) or (b.node is null or b.node = 1) )
        <include refid="toBeAssignList"/>
    </select>

    <!-- 待分配列表 -->
    <select id="getToBeAssignList" resultType="com.redescooter.ses.web.ros.vo.assign.tobe.result.ToBeAssignListResult">
        select
            a.customer_id,
            IFNULL(a.full_name, c.company_name) as fullName,
            a.email,
            a.scooter_quantity,
            a.updated_time as generateDate,
            b.node
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and c.account_flag = 1 and (b.flag is null or b.flag = 0) and ( (b.app_node is null or b.app_node = 1) or (b.node is null or b.node = 1) )
        <include refid="toBeAssignList"/>
        order by a.updated_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <!-- 待分配列表(不支持分页) -->
    <select id="getToBeAssignListNoPage" resultType="com.redescooter.ses.web.ros.vo.assign.tobe.result.ToBeAssignListResult">
        select
            a.customer_id,
            IFNULL(a.full_name, c.company_name) as fullName,
            a.email,
            a.scooter_quantity,
            a.updated_time as generateDate,
            b.node
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and c.account_flag = 1 and (b.flag is null or b.flag = 0) and ( (b.app_node is null or b.app_node = 1) or (b.node is null or b.node = 1) )
        order by a.updated_time desc
    </select>

    <!-- 已分配列表条数 -->
    <select id="getAssignedListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and b.flag = 2
        <include refid="assignedList"/>
    </select>

    <!-- 已分配列表 -->
    <select id="getAssignedList" resultType="com.redescooter.ses.web.ros.vo.assign.done.result.AssignedListResult">
        select
            a.customer_id,
            IFNULL(a.full_name, c.company_name) as fullName,
            a.email,
            a.scooter_quantity,
            a.updated_time as finishDate
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and b.flag = 2
        <include refid="assignedList"/>
        order by a.updated_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <!-- 根据客户id查询客户信息 -->
    <select id="getCustomerInfo" resultType="com.redescooter.ses.web.ros.vo.assign.tobe.result.ToBeAssignDetailCustomerInfoResult">
        select
            a.customer_id,
            IFNULL(a.full_name, b.company_name) as fullName,
            a.email,
            b.telephone,
            a.post_code,
            a.address,
            b.customer_type,
            b.industry_type
        from ope_customer_inquiry a
        left join ope_customer b on a.customer_id = b.id
        where a.dr = 0 and b.dr = 0 and a.customer_id = #{customerId}
    </select>

    <!-- 处理中列表条数 -->
    <select id="getDoingListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id and c.dr = 0
        where a.dr = 0 and c.status = 2 and b.flag = 1 and (b.app_node in (2, 3, 4, 5) or b.node in (2, 3, 4))
        <include refid="toBeAssignList"/>
    </select>

    <!-- 处理中列表 -->
    <select id="getDoingList" resultType="com.redescooter.ses.web.ros.vo.assign.doing.result.AssigningListResult">
        select
            a.customer_id,
            IFNULL(a.full_name, c.company_name) as fullName,
            a.email,
            a.scooter_quantity,
            a.updated_time as generateDate,
            b.node
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id and c.dr = 0
        where a.dr = 0 and c.status = 2 and b.flag = 1 and (b.app_node in (2, 3, 4, 5) or b.node in (2, 3, 4))
        <include refid="toBeAssignList"/>
        order by a.updated_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <!-- app询价单列表count -->
    <select id="getInquiryListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry oci
        left join ope_customer_inquiry_b ocib on oci.id = ocib.inquiry_id and ocib.dr = 0
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        left join ope_sale_scooter oss on oss.id = oci.product_id and oss.dr = 0
        left join ope_specificat_type ost on ost.id = oss.specificat_id and ost.dr = 0
        left join ope_color oc on oc.id = oss.color_id and oc.dr = 0
        left join ope_customer customer on customer.id = oci.customer_id and customer.dr = 0
        where oci.dr = 0 and customer.status = 2
        <include refid="condition"/>
    </select>

    <!-- app询价单列表(注意:这里条件更改,service层判断也要改) -->
    <select id="getInquiryList" resultType="com.redescooter.ses.web.ros.vo.app.InquiryListResult">
        select
            oci.id,
            oci.order_no,
            IFNULL(ocdn.app_node, 1) as appNode,
            IFNULL(ocdn.node, 1) as webNode,
            IFNULL(ocdn.flag, 0) as flag,
            ost.id as specificatTypeId,
            ost.specificat_name as scooterName,
            oc.id as colorId,
            oc.color_name,
            ocib.product_qty as batteryNum,
            ocd.battery,
            IFNULL(ocd.seat_number, 2) as seatNumber,
            IFNULL(concat_ws(' ', oci.first_name, oci.last_name), customer.company_name) as customerName,
            oci.customer_id,
            oci.email,
            oci.created_time
        from ope_customer_inquiry oci
        left join ope_customer_inquiry_b ocib on oci.id = ocib.inquiry_id and ocib.dr = 0
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        left join ope_sale_scooter oss on oss.id = oci.product_id and oss.dr = 0
        left join ope_specificat_type ost on ost.id = oss.specificat_id and ost.dr = 0
        left join ope_color oc on oc.id = oss.color_id and oc.dr = 0
        left join ope_customer customer on customer.id = oci.customer_id and customer.dr = 0
        where oci.dr = 0 and customer.status = 2
        <include refid="condition"/>
        order by oci.created_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <sql id="condition">
        <if test="param.status != null and param.status == 1">
            and (ocdn.flag is null or ocdn.flag = 0) and ( (ocdn.app_node is null or ocdn.app_node = 1 ) or (ocdn.node is null or ocdn.node = 1 ) )
        </if>
        <if test="param.status != null and param.status == 2">
            and ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 1 and ocdn.app_node in (2, 3, 4, 5)
        </if>
        <if test="param.status != null and param.status == 3">
            and ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 2 and ocdn.app_node = 6
        </if>
        <if test="param.keyword != null and param.keyword != ''">
            and (  (ocdn.flag is null or ocdn.flag = 0) and ( (ocdn.app_node is null or ocdn.app_node = 1 ) or (ocdn.node is null or ocdn.node = 1 ) ) and (oci.order_no = #{param.keyword} or oci.full_name = #{param.keyword})    )

            or  (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 1 and ocdn.app_node in (2, 3, 4, 5) and (oci.order_no = #{param.keyword} or oci.full_name = #{param.keyword})     )

            or  (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 2 and ocdn.app_node = 6 and (oci.order_no = #{param.keyword} or oci.full_name = #{param.keyword})           )
        </if>
    </sql>

    <!-- 检索数据下拉接口(客户姓名) -->
    <select id="getNameDataList" resultType="java.lang.String">
        select oci.full_name
        from ope_customer_inquiry oci
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        where oci.dr = 0
        and ( ocdn.flag = 0 and ( (ocdn.app_node is null or ocdn.app_node = 1 ) or (ocdn.node is null or ocdn.node = 1 ) ) and oci.full_name like concat('%', #{param.keyword}, '%')    )

        or (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 1 and ocdn.app_node in (2, 3, 4, 5) and oci.full_name like concat('%', #{param.keyword}, '%')     )

        or (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 2 and ocdn.app_node = 6 and oci.full_name like concat('%', #{param.keyword}, '%')           )
        order by oci.created_time desc
        limit 10
    </select>

    <!-- 检索数据下拉接口(询价单号) -->
    <select id="getOrderNoDataList" resultType="java.lang.String">
        select oci.order_no
        from ope_customer_inquiry oci
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        where oci.dr = 0
        and ( ocdn.flag = 0 and ( (ocdn.app_node is null or ocdn.app_node = 1 ) or (ocdn.node is null or ocdn.node = 1 ) ) and oci.order_no like concat('%', #{param.keyword}, '%')    )

        or (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 1 and ocdn.app_node in (2, 3, 4, 5) and oci.order_no like concat('%', #{param.keyword}, '%')     )

        or (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 2 and ocdn.app_node = 6 and oci.order_no like concat('%', #{param.keyword}, '%')           )
        order by oci.created_time desc
        limit 10
    </select>

    <!-- app询价单详情 -->
    <select id="getInquiryDetail" resultType="com.redescooter.ses.web.ros.vo.app.InquiryDetailResult">
        select
            ost.id as specificatTypeId,
            oci.order_no,
            oci.customer_id,
            ost.specificat_name as scooterName,
            oc.color_name,
            oc.id as colorId,
            ocib.product_qty as batteryNum,
            IFNULL(ocd.seat_number, 2) as seatNumber,
            ocd.rsn,
            ocd.tablet_sn,
            ocd.bluetooth_address,
            ocd.license_plate,
            ocd.bbi,
            ocd.controller,
            ocd.electric_machinery,
            ocd.meter,
            ocd.imei,
            ocd.vin_code,
            ocdn.app_node,
            ocd.battery
        from ope_customer_inquiry oci
        left join ope_customer_inquiry_b ocib on oci.id = ocib.inquiry_id and ocib.dr = 0
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        left join ope_sale_scooter oss on oss.id = oci.product_id and oss.dr = 0
        left join ope_specificat_type ost on ost.id = ocd.specificat_type_id and ost.dr = 0
        left join ope_color oc on oc.id = ocd.color_id and oc.dr = 0
        where oci.id = #{param.id}
    </select>

    <!-- 待分配列表筛选条件 -->
    <sql id="toBeAssignList">
        <if test="param.generateDateStartTime != null">
            and a.updated_time >= #{param.generateDateStartTime}
        </if>
        <if test="param.generateDateEndTime != null">
            and a.updated_time &lt;= #{param.generateDateEndTime}
        </if>
        <if test="param.scooterQuantityMin != null">
            and a.scooter_quantity >= #{param.scooterQuantityMin}
        </if>
        <if test="param.scooterQuantityMax != null">
            and a.scooter_quantity &lt;= #{param.scooterQuantityMax}
        </if>
        <if test="param.keyword != null">
            and ( a.full_name like concat('%', #{param.keyword}, '%') or
                  c.company_name like concat('%', #{param.keyword}, '%') or
                  a.email like concat('%', #{param.keyword}, '%')
            )
        </if>
    </sql>

    <!-- 已分配列表筛选条件 -->
    <sql id="assignedList">
        <if test="param.finishDateStartTime != null">
            and a.updated_time >= #{param.finishDateStartTime}
        </if>
        <if test="param.finishDateEndTime != null">
            and a.updated_time &lt;= #{param.finishDateEndTime}
        </if>
        <if test="param.scooterQuantityMin != null">
            and a.scooter_quantity >= #{param.scooterQuantityMin}
        </if>
        <if test="param.scooterQuantityMax != null">
            and a.scooter_quantity &lt;= #{param.scooterQuantityMax}
        </if>
        <if test="param.keyword != null">
            and ( a.full_name like concat('%', #{param.keyword}, '%') or
                  c.company_name like concat('%', #{param.keyword}, '%') or
                  a.email like concat('%', #{param.keyword}, '%')
            )
        </if>
    </sql>

</mapper>
