<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.assign.OpeCarDistributeExMapper">

    <!-- 待分配列表条数 -->
    <select id="getToBeAssignListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and (b.flag = 1 or b.flag is null)
        <include refid="toBeAssignList"/>
    </select>

    <!-- 待分配列表 -->
    <select id="getToBeAssignList" resultType="com.redescooter.ses.web.ros.vo.assign.tobe.result.ToBeAssignListResult">
        select
            a.customer_id,
            a.full_name,
            a.email,
            a.scooter_quantity,
            a.updated_time as generateDate,
            b.node
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and (b.flag = 1 or b.flag is null)
        <include refid="toBeAssignList"/>
        order by a.updated_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <!-- 已分配列表条数 -->
    <select id="getAssignedListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and b.flag = 2
        <include refid="assignedList"/>
    </select>

    <!-- 已分配列表 -->
    <select id="getAssignedList" resultType="com.redescooter.ses.web.ros.vo.assign.done.result.AssignedListResult">
        select
            a.customer_id,
            a.full_name,
            a.email,
            a.scooter_quantity,
            a.updated_time as finishDate
        from ope_customer_inquiry a
        left join ope_car_distribute_node b on a.customer_id = b.customer_id
        left join ope_customer c on a.customer_id = c.id
        where a.dr = 0 and c.dr = 0 and c.status = 2 and b.flag = 2
        <include refid="assignedList"/>
        order by a.updated_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <!-- 根据客户id查询客户信息 -->
    <select id="getCustomerInfo" resultType="com.redescooter.ses.web.ros.vo.assign.tobe.result.ToBeAssignDetailCustomerInfoResult">
        select
            a.customer_id,
            a.full_name,
            a.email,
            b.telephone,
            a.post_code,
            a.address,
            b.customer_type,
            b.industry_type
        from ope_customer_inquiry a
        left join ope_customer b on a.customer_id = b.id
        where a.dr = 0 and b.dr = 0 and a.customer_id = #{customerId}
    </select>

    <!-- 待分配列表筛选条件 -->
    <sql id="toBeAssignList">
        <if test="param.generateDateStartTime != null">
            and a.updated_time >= #{param.generateDateStartTime}
        </if>
        <if test="param.generateDateEndTime != null">
            and a.updated_time &lt;= #{param.generateDateEndTime}
        </if>
        <if test="param.scooterQuantityMin != null">
            and a.scooter_quantity >= #{param.scooterQuantityMin}
        </if>
        <if test="param.scooterQuantityMax != null">
            and a.scooter_quantity &lt;= #{param.scooterQuantityMax}
        </if>
        <if test="param.keyword != null">
            and ( a.full_name like concat('%', #{param.keyword}, '%') or
                  a.email like concat('%', #{param.keyword}, '%')
            )
        </if>
    </sql>

    <!-- 已分配列表筛选条件 -->
    <sql id="assignedList">
        <if test="param.finishDateStartTime != null">
            and a.updated_time >= #{param.finishDateStartTime}
        </if>
        <if test="param.finishDateEndTime != null">
            and a.updated_time &lt;= #{param.finishDateEndTime}
        </if>
        <if test="param.scooterQuantityMin != null">
            and a.scooter_quantity >= #{param.scooterQuantityMin}
        </if>
        <if test="param.scooterQuantityMax != null">
            and a.scooter_quantity &lt;= #{param.scooterQuantityMax}
        </if>
        <if test="param.keyword != null">
            and ( a.full_name like concat('%', #{param.keyword}, '%') or
                  a.email like concat('%', #{param.keyword}, '%')
            )
        </if>
    </sql>


</mapper>