<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeCustomerInquiryMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeCustomerInquiry">
    <!--@mbg.generated-->
    <!--@Table ope_customer_inquiry-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="country" jdbcType="BIGINT" property="country" />
    <result column="city" jdbcType="BIGINT" property="city" />
    <result column="district" jdbcType="BIGINT" property="district" />
    <result column="customer_source" jdbcType="VARCHAR" property="customerSource" />
    <result column="sales_id" jdbcType="BIGINT" property="salesId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact_first" jdbcType="VARCHAR" property="contactFirst" />
    <result column="contact_last" jdbcType="VARCHAR" property="contactLast" />
    <result column="contant_full_name" jdbcType="VARCHAR" property="contantFullName" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="scooter_quantity" jdbcType="INTEGER" property="scooterQuantity" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="date_complete" jdbcType="BOOLEAN" property="dateComplete" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
    <result column="def6" jdbcType="DOUBLE" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, customer_id, country, city, district, customer_source, sales_id, `status`, 
    industry, customer_type, first_name, last_name, full_name, company_name, country_code, 
    telephone, email, address, contact_first, contact_last, contant_full_name, product_id, 
    product_price, total_price, scooter_quantity, pay_status, remarks, date_complete, 
    created_by, created_time, updated_by, updated_time, def1, def3, def2, def5, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_customer_inquiry
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="customer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.customerId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="country = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.country,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="city = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.city,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="district = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.district,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="customer_source = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.customerSource,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="sales_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.salesId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="industry = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.industry,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="customer_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.customerType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="first_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.firstName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="last_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="full_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.fullName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="company_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.companyName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.countryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="telephone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.telephone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.email,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.address,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_first = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactFirst,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_last = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactLast,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contant_full_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contantFullName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="total_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.totalPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="scooter_quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.scooterQuantity,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="pay_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.payStatus,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="remarks = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remarks,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="date_complete = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dateComplete,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_customer_inquiry
    (id, dr, customer_id, country, city, district, customer_source, sales_id, `status`, 
      industry, customer_type, first_name, last_name, full_name, company_name, country_code, 
      telephone, email, address, contact_first, contact_last, contant_full_name, product_id, 
      product_price, total_price, scooter_quantity, pay_status, remarks, date_complete, 
      created_by, created_time, updated_by, updated_time, def1, def3, def2, def5, def6
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.customerId,jdbcType=BIGINT}, 
        #{item.country,jdbcType=BIGINT}, #{item.city,jdbcType=BIGINT}, #{item.district,jdbcType=BIGINT}, 
        #{item.customerSource,jdbcType=VARCHAR}, #{item.salesId,jdbcType=BIGINT}, #{item.status,jdbcType=VARCHAR}, 
        #{item.industry,jdbcType=VARCHAR}, #{item.customerType,jdbcType=VARCHAR}, #{item.firstName,jdbcType=VARCHAR}, 
        #{item.lastName,jdbcType=VARCHAR}, #{item.fullName,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR}, 
        #{item.countryCode,jdbcType=VARCHAR}, #{item.telephone,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, 
        #{item.address,jdbcType=VARCHAR}, #{item.contactFirst,jdbcType=VARCHAR}, #{item.contactLast,jdbcType=VARCHAR}, 
        #{item.contantFullName,jdbcType=VARCHAR}, #{item.productId,jdbcType=BIGINT}, #{item.productPrice,jdbcType=DECIMAL}, 
        #{item.totalPrice,jdbcType=DECIMAL}, #{item.scooterQuantity,jdbcType=INTEGER}, 
        #{item.payStatus,jdbcType=VARCHAR}, #{item.remarks,jdbcType=VARCHAR}, #{item.dateComplete,jdbcType=BOOLEAN}, 
        #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT}, 
        #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, 
        #{item.def2,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeCustomerInquiry">
    <!--@mbg.generated-->
    insert into ope_customer_inquiry
    (id, dr, customer_id, country, city, district, customer_source, sales_id, `status`, 
      industry, customer_type, first_name, last_name, full_name, company_name, country_code, 
      telephone, email, address, contact_first, contact_last, contant_full_name, product_id, 
      product_price, total_price, scooter_quantity, pay_status, remarks, date_complete, 
      created_by, created_time, updated_by, updated_time, def1, def3, def2, def5, def6
      )
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{customerId,jdbcType=BIGINT}, #{country,jdbcType=BIGINT}, 
      #{city,jdbcType=BIGINT}, #{district,jdbcType=BIGINT}, #{customerSource,jdbcType=VARCHAR}, 
      #{salesId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{customerType,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{fullName,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{contactFirst,jdbcType=VARCHAR}, #{contactLast,jdbcType=VARCHAR}, #{contantFullName,jdbcType=VARCHAR}, 
      #{productId,jdbcType=BIGINT}, #{productPrice,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      #{scooterQuantity,jdbcType=INTEGER}, #{payStatus,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{dateComplete,jdbcType=BOOLEAN}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR}, 
      #{def3,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE}
      )
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    dr = #{dr,jdbcType=INTEGER}, 
    customer_id = #{customerId,jdbcType=BIGINT}, 
    country = #{country,jdbcType=BIGINT}, 
    city = #{city,jdbcType=BIGINT}, 
    district = #{district,jdbcType=BIGINT}, 
    customer_source = #{customerSource,jdbcType=VARCHAR}, 
    sales_id = #{salesId,jdbcType=BIGINT}, 
    `status` = #{status,jdbcType=VARCHAR}, 
    industry = #{industry,jdbcType=VARCHAR}, 
    customer_type = #{customerType,jdbcType=VARCHAR}, 
    first_name = #{firstName,jdbcType=VARCHAR}, 
    last_name = #{lastName,jdbcType=VARCHAR}, 
    full_name = #{fullName,jdbcType=VARCHAR}, 
    company_name = #{companyName,jdbcType=VARCHAR}, 
    country_code = #{countryCode,jdbcType=VARCHAR}, 
    telephone = #{telephone,jdbcType=VARCHAR}, 
    email = #{email,jdbcType=VARCHAR}, 
    address = #{address,jdbcType=VARCHAR}, 
    contact_first = #{contactFirst,jdbcType=VARCHAR}, 
    contact_last = #{contactLast,jdbcType=VARCHAR}, 
    contant_full_name = #{contantFullName,jdbcType=VARCHAR}, 
    product_id = #{productId,jdbcType=BIGINT}, 
    product_price = #{productPrice,jdbcType=DECIMAL}, 
    total_price = #{totalPrice,jdbcType=DECIMAL}, 
    scooter_quantity = #{scooterQuantity,jdbcType=INTEGER}, 
    pay_status = #{payStatus,jdbcType=VARCHAR}, 
    remarks = #{remarks,jdbcType=VARCHAR}, 
    date_complete = #{dateComplete,jdbcType=BOOLEAN}, 
    created_by = #{createdBy,jdbcType=BIGINT}, 
    created_time = #{createdTime,jdbcType=TIMESTAMP}, 
    updated_by = #{updatedBy,jdbcType=BIGINT}, 
    updated_time = #{updatedTime,jdbcType=TIMESTAMP}, 
    def1 = #{def1,jdbcType=VARCHAR}, 
    def3 = #{def3,jdbcType=VARCHAR}, 
    def2 = #{def2,jdbcType=VARCHAR}, 
    def5 = #{def5,jdbcType=VARCHAR}, 
    def6 = #{def6,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeCustomerInquiry">
    <!--@mbg.generated-->
    insert into ope_customer_inquiry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="customerSource != null">
        customer_source,
      </if>
      <if test="salesId != null">
        sales_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="contactFirst != null">
        contact_first,
      </if>
      <if test="contactLast != null">
        contact_last,
      </if>
      <if test="contantFullName != null">
        contant_full_name,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="scooterQuantity != null">
        scooter_quantity,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="dateComplete != null">
        date_complete,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=BIGINT},
      </if>
      <if test="district != null">
        #{district,jdbcType=BIGINT},
      </if>
      <if test="customerSource != null">
        #{customerSource,jdbcType=VARCHAR},
      </if>
      <if test="salesId != null">
        #{salesId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactFirst != null">
        #{contactFirst,jdbcType=VARCHAR},
      </if>
      <if test="contactLast != null">
        #{contactLast,jdbcType=VARCHAR},
      </if>
      <if test="contantFullName != null">
        #{contantFullName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="scooterQuantity != null">
        #{scooterQuantity,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="dateComplete != null">
        #{dateComplete,jdbcType=BOOLEAN},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=BIGINT},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=BIGINT},
      </if>
      <if test="customerSource != null">
        customer_source = #{customerSource,jdbcType=VARCHAR},
      </if>
      <if test="salesId != null">
        sales_id = #{salesId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactFirst != null">
        contact_first = #{contactFirst,jdbcType=VARCHAR},
      </if>
      <if test="contactLast != null">
        contact_last = #{contactLast,jdbcType=VARCHAR},
      </if>
      <if test="contantFullName != null">
        contant_full_name = #{contantFullName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="scooterQuantity != null">
        scooter_quantity = #{scooterQuantity,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="dateComplete != null">
        date_complete = #{dateComplete,jdbcType=BOOLEAN},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>