<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeFactoryMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeFactory">
    <!--@mbg.generated-->
    <!--@Table ope_factory-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_address" jdbcType="VARCHAR" property="factoryAddress" />
    <result column="factory_country" jdbcType="VARCHAR" property="factoryCountry" />
    <result column="factory_longitude" jdbcType="DECIMAL" property="factoryLongitude" />
    <result column="factory_latitude" jdbcType="DECIMAL" property="factoryLatitude" />
    <result column="factory_tag" jdbcType="VARCHAR" property="factoryTag" />
    <result column="factory_memo" jdbcType="VARCHAR" property="factoryMemo" />
    <result column="contact_first_name" jdbcType="VARCHAR" property="contactFirstName" />
    <result column="contact_last_name" jdbcType="VARCHAR" property="contactLastName" />
    <result column="contact_full_name" jdbcType="VARCHAR" property="contactFullName" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="contact_phone_country_code" jdbcType="VARCHAR" property="contactPhoneCountryCode" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="payment_cycle" jdbcType="INTEGER" property="paymentCycle" />
    <result column="cooperation_time_start" jdbcType="TIMESTAMP" property="cooperationTimeStart" />
    <result column="cooperation_time_end" jdbcType="TIMESTAMP" property="cooperationTimeEnd" />
    <result column="business_number" jdbcType="VARCHAR" property="businessNumber" />
    <result column="business_license_annex" jdbcType="VARCHAR" property="businessLicenseAnnex" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="contract_annex" jdbcType="VARCHAR" property="contractAnnex" />
    <result column="overdue_flag" jdbcType="INTEGER" property="overdueFlag" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def6" jdbcType="DOUBLE" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, `status`, tenant_id, user_id, factory_name, factory_address, factory_country,
    factory_longitude, factory_latitude, factory_tag, factory_memo, contact_first_name,
    contact_last_name, contact_full_name, contact_email, contact_phone_country_code,
    contact_phone, payment_cycle, cooperation_time_start, cooperation_time_end, business_number,
    business_license_annex, contract_number, contract_annex, overdue_flag, created_by,
    created_time, updated_by, updated_time, def1, def2, def5, def3, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_factory
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="factory_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="factory_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryAddress,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="factory_country = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryCountry,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="factory_longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryLongitude,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="factory_latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryLatitude,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="factory_tag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryTag,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="factory_memo = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.factoryMemo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_first_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactFirstName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_last_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactLastName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_full_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactFullName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactEmail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_phone_country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactPhoneCountryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contact_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contactPhone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="payment_cycle = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.paymentCycle,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="cooperation_time_start = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.cooperationTimeStart,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="cooperation_time_end = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.cooperationTimeEnd,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="business_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.businessNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="business_license_annex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.businessLicenseAnnex,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contract_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contractNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="contract_annex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.contractAnnex,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="overdue_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.overdueFlag,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_factory
    (id, dr, `status`, tenant_id, user_id, factory_name, factory_address, factory_country,
    factory_longitude, factory_latitude, factory_tag, factory_memo, contact_first_name,
    contact_last_name, contact_full_name, contact_email, contact_phone_country_code,
    contact_phone, payment_cycle, cooperation_time_start, cooperation_time_end, business_number,
    business_license_annex, contract_number, contract_annex, overdue_flag, created_by,
    created_time, updated_by, updated_time, def1, def2, def5, def3, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.status,jdbcType=VARCHAR},
      #{item.tenantId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.factoryName,jdbcType=VARCHAR},
      #{item.factoryAddress,jdbcType=VARCHAR}, #{item.factoryCountry,jdbcType=VARCHAR},
      #{item.factoryLongitude,jdbcType=DECIMAL}, #{item.factoryLatitude,jdbcType=DECIMAL},
      #{item.factoryTag,jdbcType=VARCHAR}, #{item.factoryMemo,jdbcType=VARCHAR}, #{item.contactFirstName,jdbcType=VARCHAR},
      #{item.contactLastName,jdbcType=VARCHAR}, #{item.contactFullName,jdbcType=VARCHAR},
      #{item.contactEmail,jdbcType=VARCHAR}, #{item.contactPhoneCountryCode,jdbcType=VARCHAR},
      #{item.contactPhone,jdbcType=VARCHAR}, #{item.paymentCycle,jdbcType=INTEGER}, #{item.cooperationTimeStart,jdbcType=TIMESTAMP},
      #{item.cooperationTimeEnd,jdbcType=TIMESTAMP}, #{item.businessNumber,jdbcType=VARCHAR},
      #{item.businessLicenseAnnex,jdbcType=VARCHAR}, #{item.contractNumber,jdbcType=VARCHAR},
      #{item.contractAnnex,jdbcType=VARCHAR}, #{item.overdueFlag,jdbcType=INTEGER}, #{item.createdBy,jdbcType=BIGINT},
      #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP},
      #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR},
      #{item.def3,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeFactory">
    <!--@mbg.generated-->
    insert into ope_factory
    (id, dr, `status`, tenant_id, user_id, factory_name, factory_address, factory_country,
    factory_longitude, factory_latitude, factory_tag, factory_memo, contact_first_name,
    contact_last_name, contact_full_name, contact_email, contact_phone_country_code,
    contact_phone, payment_cycle, cooperation_time_start, cooperation_time_end, business_number,
    business_license_annex, contract_number, contract_annex, overdue_flag, created_by,
    created_time, updated_by, updated_time, def1, def2, def5, def3, def6)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT},
    #{userId,jdbcType=BIGINT}, #{factoryName,jdbcType=VARCHAR}, #{factoryAddress,jdbcType=VARCHAR},
    #{factoryCountry,jdbcType=VARCHAR}, #{factoryLongitude,jdbcType=DECIMAL}, #{factoryLatitude,jdbcType=DECIMAL},
    #{factoryTag,jdbcType=VARCHAR}, #{factoryMemo,jdbcType=VARCHAR}, #{contactFirstName,jdbcType=VARCHAR},
    #{contactLastName,jdbcType=VARCHAR}, #{contactFullName,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR},
    #{contactPhoneCountryCode,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR},
    #{paymentCycle,jdbcType=INTEGER}, #{cooperationTimeStart,jdbcType=TIMESTAMP}, #{cooperationTimeEnd,jdbcType=TIMESTAMP},
    #{businessNumber,jdbcType=VARCHAR}, #{businessLicenseAnnex,jdbcType=VARCHAR}, #{contractNumber,jdbcType=VARCHAR},
    #{contractAnnex,jdbcType=VARCHAR}, #{overdueFlag,jdbcType=INTEGER}, #{createdBy,jdbcType=BIGINT},
    #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
    #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR},
    #{def6,jdbcType=DOUBLE})
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    dr = #{dr,jdbcType=INTEGER},
    `status` = #{status,jdbcType=VARCHAR},
    tenant_id = #{tenantId,jdbcType=BIGINT},
    user_id = #{userId,jdbcType=BIGINT},
    factory_name = #{factoryName,jdbcType=VARCHAR},
    factory_address = #{factoryAddress,jdbcType=VARCHAR},
    factory_country = #{factoryCountry,jdbcType=VARCHAR},
    factory_longitude = #{factoryLongitude,jdbcType=DECIMAL},
    factory_latitude = #{factoryLatitude,jdbcType=DECIMAL},
    factory_tag = #{factoryTag,jdbcType=VARCHAR},
    factory_memo = #{factoryMemo,jdbcType=VARCHAR},
    contact_first_name = #{contactFirstName,jdbcType=VARCHAR},
    contact_last_name = #{contactLastName,jdbcType=VARCHAR},
    contact_full_name = #{contactFullName,jdbcType=VARCHAR},
    contact_email = #{contactEmail,jdbcType=VARCHAR},
    contact_phone_country_code = #{contactPhoneCountryCode,jdbcType=VARCHAR},
    contact_phone = #{contactPhone,jdbcType=VARCHAR},
    payment_cycle = #{paymentCycle,jdbcType=INTEGER},
    cooperation_time_start = #{cooperationTimeStart,jdbcType=TIMESTAMP},
    cooperation_time_end = #{cooperationTimeEnd,jdbcType=TIMESTAMP},
    business_number = #{businessNumber,jdbcType=VARCHAR},
    business_license_annex = #{businessLicenseAnnex,jdbcType=VARCHAR},
    contract_number = #{contractNumber,jdbcType=VARCHAR},
    contract_annex = #{contractAnnex,jdbcType=VARCHAR},
    overdue_flag = #{overdueFlag,jdbcType=INTEGER},
    created_by = #{createdBy,jdbcType=BIGINT},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def6 = #{def6,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeFactory">
    <!--@mbg.generated-->
    insert into ope_factory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="factoryAddress != null">
        factory_address,
      </if>
      <if test="factoryCountry != null">
        factory_country,
      </if>
      <if test="factoryLongitude != null">
        factory_longitude,
      </if>
      <if test="factoryLatitude != null">
        factory_latitude,
      </if>
      <if test="factoryTag != null">
        factory_tag,
      </if>
      <if test="factoryMemo != null">
        factory_memo,
      </if>
      <if test="contactFirstName != null">
        contact_first_name,
      </if>
      <if test="contactLastName != null">
        contact_last_name,
      </if>
      <if test="contactFullName != null">
        contact_full_name,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="contactPhoneCountryCode != null">
        contact_phone_country_code,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="paymentCycle != null">
        payment_cycle,
      </if>
      <if test="cooperationTimeStart != null">
        cooperation_time_start,
      </if>
      <if test="cooperationTimeEnd != null">
        cooperation_time_end,
      </if>
      <if test="businessNumber != null">
        business_number,
      </if>
      <if test="businessLicenseAnnex != null">
        business_license_annex,
      </if>
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="contractAnnex != null">
        contract_annex,
      </if>
      <if test="overdueFlag != null">
        overdue_flag,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryAddress != null">
        #{factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="factoryCountry != null">
        #{factoryCountry,jdbcType=VARCHAR},
      </if>
      <if test="factoryLongitude != null">
        #{factoryLongitude,jdbcType=DECIMAL},
      </if>
      <if test="factoryLatitude != null">
        #{factoryLatitude,jdbcType=DECIMAL},
      </if>
      <if test="factoryTag != null">
        #{factoryTag,jdbcType=VARCHAR},
      </if>
      <if test="factoryMemo != null">
        #{factoryMemo,jdbcType=VARCHAR},
      </if>
      <if test="contactFirstName != null">
        #{contactFirstName,jdbcType=VARCHAR},
      </if>
      <if test="contactLastName != null">
        #{contactLastName,jdbcType=VARCHAR},
      </if>
      <if test="contactFullName != null">
        #{contactFullName,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneCountryCode != null">
        #{contactPhoneCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="paymentCycle != null">
        #{paymentCycle,jdbcType=INTEGER},
      </if>
      <if test="cooperationTimeStart != null">
        #{cooperationTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="cooperationTimeEnd != null">
        #{cooperationTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="businessNumber != null">
        #{businessNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseAnnex != null">
        #{businessLicenseAnnex,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="contractAnnex != null">
        #{contractAnnex,jdbcType=VARCHAR},
      </if>
      <if test="overdueFlag != null">
        #{overdueFlag,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="factoryName != null">
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryAddress != null">
        factory_address = #{factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="factoryCountry != null">
        factory_country = #{factoryCountry,jdbcType=VARCHAR},
      </if>
      <if test="factoryLongitude != null">
        factory_longitude = #{factoryLongitude,jdbcType=DECIMAL},
      </if>
      <if test="factoryLatitude != null">
        factory_latitude = #{factoryLatitude,jdbcType=DECIMAL},
      </if>
      <if test="factoryTag != null">
        factory_tag = #{factoryTag,jdbcType=VARCHAR},
      </if>
      <if test="factoryMemo != null">
        factory_memo = #{factoryMemo,jdbcType=VARCHAR},
      </if>
      <if test="contactFirstName != null">
        contact_first_name = #{contactFirstName,jdbcType=VARCHAR},
      </if>
      <if test="contactLastName != null">
        contact_last_name = #{contactLastName,jdbcType=VARCHAR},
      </if>
      <if test="contactFullName != null">
        contact_full_name = #{contactFullName,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneCountryCode != null">
        contact_phone_country_code = #{contactPhoneCountryCode,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="paymentCycle != null">
        payment_cycle = #{paymentCycle,jdbcType=INTEGER},
      </if>
      <if test="cooperationTimeStart != null">
        cooperation_time_start = #{cooperationTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="cooperationTimeEnd != null">
        cooperation_time_end = #{cooperationTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="businessNumber != null">
        business_number = #{businessNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseAnnex != null">
        business_license_annex = #{businessLicenseAnnex,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="contractAnnex != null">
        contract_annex = #{contractAnnex,jdbcType=VARCHAR},
      </if>
      <if test="overdueFlag != null">
        overdue_flag = #{overdueFlag,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>