<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeOrgStaffMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeOrgStaff">
        <!--@mbg.generated-->
        <!--@Table ope_org_staff-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="org_department_id" jdbcType="BIGINT" property="orgDepartmentId"/>
        <result column="org_position_id" jdbcType="BIGINT" property="orgPositionId"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="first_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="last_name" jdbcType="VARCHAR" property="lastName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="certificate_type" jdbcType="VARCHAR" property="certificateType"/>
        <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber"/>
        <result column="certificate_picture" jdbcType="VARCHAR" property="certificatePicture"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dr, org_department_id, org_position_id, avatar, first_name, last_name, `status`,
        phone, email, birthday, address, gender, certificate_type, certificate_number, certificate_picture,
        created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update ope_org_staff
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dr = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.dr,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="org_department_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.orgDepartmentId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="org_position_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.orgPositionId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="avatar = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.avatar,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="first_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.firstName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="last_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.lastName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.status,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="phone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.phone,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="email = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.email,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="birthday = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.birthday,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.address,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="gender = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.gender,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="certificate_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.certificateType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="certificate_number = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.certificateNumber,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="certificate_picture = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.certificatePicture,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createdBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createdTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updatedBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updatedTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="def1 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.def1,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def2 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.def2,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def3 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.def3,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def5 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.def5,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def6 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.def6,jdbcType=DOUBLE}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into ope_org_staff
        (id, dr, org_department_id, org_position_id, avatar, first_name, last_name, `status`,
        phone, email, birthday, address, gender, certificate_type, certificate_number,
        certificate_picture, created_by, created_time, updated_by, updated_time, def1,
        def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.dr,jdbcType=INTEGER}, #{item.orgDepartmentId,jdbcType=BIGINT},
            #{item.orgPositionId,jdbcType=BIGINT}, #{item.avatar,jdbcType=VARCHAR}, #{item.firstName,jdbcType=VARCHAR},
            #{item.lastName,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR}, #{item.birthday,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR},
            #{item.gender,jdbcType=INTEGER}, #{item.certificateType,jdbcType=VARCHAR},
            #{item.certificateNumber,jdbcType=VARCHAR},
            #{item.certificatePicture,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=BIGINT},
            #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT},
            #{item.updatedTime,jdbcType=TIMESTAMP},
            #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR},
            #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeOrgStaff">
        <!--@mbg.generated-->
        insert into ope_org_staff
        (id, dr, org_department_id, org_position_id, avatar, first_name, last_name, `status`,
        phone, email, birthday, address, gender, certificate_type, certificate_number,
        certificate_picture, created_by, created_time, updated_by, updated_time, def1,
        def2, def3, def5, def6)
        values
        (#{id,jdbcType=INTEGER}, #{dr,jdbcType=INTEGER}, #{orgDepartmentId,jdbcType=BIGINT},
        #{orgPositionId,jdbcType=BIGINT}, #{avatar,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR},
        #{lastName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{gender,jdbcType=INTEGER}, #{certificateType,jdbcType=VARCHAR}, #{certificateNumber,jdbcType=VARCHAR},
        #{certificatePicture,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR},
        #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE}
        )
        on duplicate key update
        id = #{id,jdbcType=INTEGER},
        dr = #{dr,jdbcType=INTEGER},
        org_department_id = #{orgDepartmentId,jdbcType=BIGINT},
        org_position_id = #{orgPositionId,jdbcType=BIGINT},
        avatar = #{avatar,jdbcType=VARCHAR},
        first_name = #{firstName,jdbcType=VARCHAR},
        last_name = #{lastName,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=INTEGER},
        certificate_type = #{certificateType,jdbcType=VARCHAR},
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
        certificate_picture = #{certificatePicture,jdbcType=VARCHAR},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeOrgStaff">
        <!--@mbg.generated-->
        insert into ope_org_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="orgDepartmentId != null">
                org_department_id,
            </if>
            <if test="orgPositionId != null">
                org_position_id,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="certificateType != null">
                certificate_type,
            </if>
            <if test="certificateNumber != null">
                certificate_number,
            </if>
            <if test="certificatePicture != null">
                certificate_picture,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="orgDepartmentId != null">
                #{orgDepartmentId,jdbcType=BIGINT},
            </if>
            <if test="orgPositionId != null">
                #{orgPositionId,jdbcType=BIGINT},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="certificateType != null">
                #{certificateType,jdbcType=VARCHAR},
            </if>
            <if test="certificateNumber != null">
                #{certificateNumber,jdbcType=VARCHAR},
            </if>
            <if test="certificatePicture != null">
                #{certificatePicture,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="orgDepartmentId != null">
                org_department_id = #{orgDepartmentId,jdbcType=BIGINT},
            </if>
            <if test="orgPositionId != null">
                org_position_id = #{orgPositionId,jdbcType=BIGINT},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="certificateType != null">
                certificate_type = #{certificateType,jdbcType=VARCHAR},
            </if>
            <if test="certificateNumber != null">
                certificate_number = #{certificateNumber,jdbcType=VARCHAR},
            </if>
            <if test="certificatePicture != null">
                certificate_picture = #{certificatePicture,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>