<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeOutwhOrderMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeOutwhOrder">
    <!--@mbg.generated-->
    <!--@Table ope_outwh_order-->
    <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="order_no" property="orderNo" />
    <result column="tracking_num" property="trackingNum" />
    <result column="in_wh_id" property="inWhId" />
    <result column="address" property="address" />
    <result column="consignee_id" property="consigneeId" />
    <result column="consignee_phone" property="consigneePhone" />
    <result column="country_code" property="countryCode" />
    <result column="consignee_email" property="consigneeEmail" />
    <result column="notify_first_name" property="notifyFirstName" />
    <result column="notify_last_name" property="notifyLastName" />
    <result column="consign_type" property="consignType" />
    <result column="consign_method" property="consignMethod" />
    <result column="consign_company" property="consignCompany" />
    <result column="annex" property="annex" />
    <result column="status" property="status" />
    <result column="product_count" property="productCount" />
    <result column="logistics_price" property="logisticsPrice" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="revision" property="revision" />
    <result column="def1" property="def1" />
    <result column="def2" property="def2" />
    <result column="def3" property="def3" />
    <result column="def5" property="def5" />
    <result column="def6" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, order_no, tracking_num, in_wh_id, address, consignee_id, consignee_phone, 
    country_code, consignee_email, notify_first_name, notify_last_name, consign_type, 
    consign_method, consign_company, annex, `status`, product_count, logistics_price, 
    created_by, created_time, updated_by, updated_time, revision, def1, def2, def3, def5, 
    def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_outwh_order
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.dr}
        </foreach>
      </trim>
      <trim prefix="order_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.orderNo}
        </foreach>
      </trim>
      <trim prefix="tracking_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.trackingNum}
        </foreach>
      </trim>
      <trim prefix="in_wh_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.inWhId}
        </foreach>
      </trim>
      <trim prefix="address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.address}
        </foreach>
      </trim>
      <trim prefix="consignee_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeId}
        </foreach>
      </trim>
      <trim prefix="consignee_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneePhone}
        </foreach>
      </trim>
      <trim prefix="country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.countryCode}
        </foreach>
      </trim>
      <trim prefix="consignee_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consigneeEmail}
        </foreach>
      </trim>
      <trim prefix="notify_first_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyFirstName}
        </foreach>
      </trim>
      <trim prefix="notify_last_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.notifyLastName}
        </foreach>
      </trim>
      <trim prefix="consign_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignType}
        </foreach>
      </trim>
      <trim prefix="consign_method = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignMethod}
        </foreach>
      </trim>
      <trim prefix="consign_company = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.consignCompany}
        </foreach>
      </trim>
      <trim prefix="annex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.annex}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.status}
        </foreach>
      </trim>
      <trim prefix="product_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.productCount}
        </foreach>
      </trim>
      <trim prefix="logistics_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.logisticsPrice}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdBy}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdTime}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedBy}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedTime}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.revision}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def1}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def2}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def3}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def5}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def6}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_outwh_order
    (id, dr, order_no, tracking_num, in_wh_id, address, consignee_id, consignee_phone, 
      country_code, consignee_email, notify_first_name, notify_last_name, consign_type, 
      consign_method, consign_company, annex, `status`, product_count, logistics_price, 
      created_by, created_time, updated_by, updated_time, revision, def1, def2, def3, 
      def5, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.dr}, #{item.orderNo}, #{item.trackingNum}, #{item.inWhId}, #{item.address}, 
        #{item.consigneeId}, #{item.consigneePhone}, #{item.countryCode}, #{item.consigneeEmail}, 
        #{item.notifyFirstName}, #{item.notifyLastName}, #{item.consignType}, #{item.consignMethod}, 
        #{item.consignCompany}, #{item.annex}, #{item.status}, #{item.productCount}, #{item.logisticsPrice}, 
        #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime}, 
        #{item.revision}, #{item.def1}, #{item.def2}, #{item.def3}, #{item.def5}, #{item.def6}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeOutwhOrder">
    <!--@mbg.generated-->
    insert into ope_outwh_order
    (id, dr, order_no, tracking_num, in_wh_id, address, consignee_id, consignee_phone, 
      country_code, consignee_email, notify_first_name, notify_last_name, consign_type, 
      consign_method, consign_company, annex, `status`, product_count, logistics_price, 
      created_by, created_time, updated_by, updated_time, revision, def1, def2, def3, 
      def5, def6)
    values
    (#{id}, #{dr}, #{orderNo}, #{trackingNum}, #{inWhId}, #{address}, #{consigneeId}, 
      #{consigneePhone}, #{countryCode}, #{consigneeEmail}, #{notifyFirstName}, #{notifyLastName}, 
      #{consignType}, #{consignMethod}, #{consignCompany}, #{annex}, #{status}, #{productCount}, 
      #{logisticsPrice}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, 
      #{revision}, #{def1}, #{def2}, #{def3}, #{def5}, #{def6})
    on duplicate key update 
    id = #{id}, 
    dr = #{dr}, 
    order_no = #{orderNo}, 
    tracking_num = #{trackingNum}, 
    in_wh_id = #{inWhId}, 
    address = #{address}, 
    consignee_id = #{consigneeId}, 
    consignee_phone = #{consigneePhone}, 
    country_code = #{countryCode}, 
    consignee_email = #{consigneeEmail}, 
    notify_first_name = #{notifyFirstName}, 
    notify_last_name = #{notifyLastName}, 
    consign_type = #{consignType}, 
    consign_method = #{consignMethod}, 
    consign_company = #{consignCompany}, 
    annex = #{annex}, 
    `status` = #{status}, 
    product_count = #{productCount}, 
    logistics_price = #{logisticsPrice}, 
    created_by = #{createdBy}, 
    created_time = #{createdTime}, 
    updated_by = #{updatedBy}, 
    updated_time = #{updatedTime}, 
    revision = #{revision}, 
    def1 = #{def1}, 
    def2 = #{def2}, 
    def3 = #{def3}, 
    def5 = #{def5}, 
    def6 = #{def6}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeOutwhOrder">
    <!--@mbg.generated-->
    insert into ope_outwh_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="trackingNum != null">
        tracking_num,
      </if>
      <if test="inWhId != null">
        in_wh_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="consigneeId != null">
        consignee_id,
      </if>
      <if test="consigneePhone != null">
        consignee_phone,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="consigneeEmail != null">
        consignee_email,
      </if>
      <if test="notifyFirstName != null">
        notify_first_name,
      </if>
      <if test="notifyLastName != null">
        notify_last_name,
      </if>
      <if test="consignType != null">
        consign_type,
      </if>
      <if test="consignMethod != null">
        consign_method,
      </if>
      <if test="consignCompany != null">
        consign_company,
      </if>
      <if test="annex != null">
        annex,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
      <if test="logisticsPrice != null">
        logistics_price,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="revision != null">
        revision,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="dr != null">
        #{dr},
      </if>
      <if test="orderNo != null">
        #{orderNo},
      </if>
      <if test="trackingNum != null">
        #{trackingNum},
      </if>
      <if test="inWhId != null">
        #{inWhId},
      </if>
      <if test="address != null">
        #{address},
      </if>
      <if test="consigneeId != null">
        #{consigneeId},
      </if>
      <if test="consigneePhone != null">
        #{consigneePhone},
      </if>
      <if test="countryCode != null">
        #{countryCode},
      </if>
      <if test="consigneeEmail != null">
        #{consigneeEmail},
      </if>
      <if test="notifyFirstName != null">
        #{notifyFirstName},
      </if>
      <if test="notifyLastName != null">
        #{notifyLastName},
      </if>
      <if test="consignType != null">
        #{consignType},
      </if>
      <if test="consignMethod != null">
        #{consignMethod},
      </if>
      <if test="consignCompany != null">
        #{consignCompany},
      </if>
      <if test="annex != null">
        #{annex},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="productCount != null">
        #{productCount},
      </if>
      <if test="logisticsPrice != null">
        #{logisticsPrice},
      </if>
      <if test="createdBy != null">
        #{createdBy},
      </if>
      <if test="createdTime != null">
        #{createdTime},
      </if>
      <if test="updatedBy != null">
        #{updatedBy},
      </if>
      <if test="updatedTime != null">
        #{updatedTime},
      </if>
      <if test="revision != null">
        #{revision},
      </if>
      <if test="def1 != null">
        #{def1},
      </if>
      <if test="def2 != null">
        #{def2},
      </if>
      <if test="def3 != null">
        #{def3},
      </if>
      <if test="def5 != null">
        #{def5},
      </if>
      <if test="def6 != null">
        #{def6},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="dr != null">
        dr = #{dr},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo},
      </if>
      <if test="trackingNum != null">
        tracking_num = #{trackingNum},
      </if>
      <if test="inWhId != null">
        in_wh_id = #{inWhId},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="consigneeId != null">
        consignee_id = #{consigneeId},
      </if>
      <if test="consigneePhone != null">
        consignee_phone = #{consigneePhone},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode},
      </if>
      <if test="consigneeEmail != null">
        consignee_email = #{consigneeEmail},
      </if>
      <if test="notifyFirstName != null">
        notify_first_name = #{notifyFirstName},
      </if>
      <if test="notifyLastName != null">
        notify_last_name = #{notifyLastName},
      </if>
      <if test="consignType != null">
        consign_type = #{consignType},
      </if>
      <if test="consignMethod != null">
        consign_method = #{consignMethod},
      </if>
      <if test="consignCompany != null">
        consign_company = #{consignCompany},
      </if>
      <if test="annex != null">
        annex = #{annex},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
      <if test="productCount != null">
        product_count = #{productCount},
      </if>
      <if test="logisticsPrice != null">
        logistics_price = #{logisticsPrice},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="revision != null">
        revision = #{revision},
      </if>
      <if test="def1 != null">
        def1 = #{def1},
      </if>
      <if test="def2 != null">
        def2 = #{def2},
      </if>
      <if test="def3 != null">
        def3 = #{def3},
      </if>
      <if test="def5 != null">
        def5 = #{def5},
      </if>
      <if test="def6 != null">
        def6 = #{def6},
      </if>
    </trim>
  </insert>
</mapper>