<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeProductionDeliveryMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeProductionDelivery">
        <!--@mbg.generated-->
        <!--@Table ope_production_delivery-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany"/>
        <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo"/>
        <result column="destination_city" jdbcType="BIGINT" property="destinationCity"/>
        <result column="delivery_officer" jdbcType="BIGINT" property="deliveryOfficer"/>
        <result column="delivery_officer_phone" jdbcType="VARCHAR" property="deliveryOfficerPhone"/>
        <result column="consignee_officer" jdbcType="BIGINT" property="consigneeOfficer"/>
        <result column="consignee_officer_phone" jdbcType="VARCHAR" property="consigneeOfficerPhone"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="etd" jdbcType="TIMESTAMP" property="etd"/>
        <result column="eta" jdbcType="TIMESTAMP" property="eta"/>
        <result column="atd" jdbcType="TIMESTAMP" property="atd"/>
        <result column="ata" jdbcType="TIMESTAMP" property="ata"/>
        <result column="departure_port" jdbcType="VARCHAR" property="departurePort"/>
        <result column="arrival_port" jdbcType="VARCHAR" property="arrivalPort"/>
        <result column="attachment" jdbcType="VARCHAR" property="attachment"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dr, warehouse_id, order_no, `status`, logistics_company, logistics_no, destination_city,
        delivery_officer, delivery_officer_phone, consignee_officer, consignee_officer_phone,
        quantity, etd, eta, atd, ata, departure_port, arrival_port, attachment, created_by,
        created_time, updated_by, updated_time, def1, def2, def3, def5, def6
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update ope_production_delivery
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dr = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="warehouse_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.warehouseId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="order_no = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.orderNo,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="logistics_company = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.logisticsCompany,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="logistics_no = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.logisticsNo,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="destination_city = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.destinationCity,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="delivery_officer = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.deliveryOfficer,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="delivery_officer_phone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.deliveryOfficerPhone,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="consignee_officer = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeOfficer,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="consignee_officer_phone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.consigneeOfficerPhone,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="quantity = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.quantity,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="etd = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.etd,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="eta = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.eta,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="atd = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.atd,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="ata = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.ata,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="departure_port = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.departurePort,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="arrival_port = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.arrivalPort,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="attachment = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.attachment,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="def1 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def2 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def3 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def5 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def6 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into ope_production_delivery
        (id, dr, warehouse_id, order_no, `status`, logistics_company, logistics_no, destination_city,
        delivery_officer, delivery_officer_phone, consignee_officer, consignee_officer_phone,
        quantity, etd, eta, atd, ata, departure_port, arrival_port, attachment, created_by,
        created_time, updated_by, updated_time, def1, def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.warehouseId,jdbcType=BIGINT},
            #{item.orderNo,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
            #{item.logisticsCompany,jdbcType=VARCHAR},
            #{item.logisticsNo,jdbcType=VARCHAR}, #{item.destinationCity,jdbcType=BIGINT},
            #{item.deliveryOfficer,jdbcType=BIGINT}, #{item.deliveryOfficerPhone,jdbcType=VARCHAR},
            #{item.consigneeOfficer,jdbcType=BIGINT}, #{item.consigneeOfficerPhone,jdbcType=VARCHAR},
            #{item.quantity,jdbcType=INTEGER}, #{item.etd,jdbcType=TIMESTAMP}, #{item.eta,jdbcType=TIMESTAMP},
            #{item.atd,jdbcType=TIMESTAMP}, #{item.ata,jdbcType=TIMESTAMP}, #{item.departurePort,jdbcType=VARCHAR},
            #{item.arrivalPort,jdbcType=VARCHAR}, #{item.attachment,jdbcType=VARCHAR},
            #{item.createdBy,jdbcType=BIGINT},
            #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT},
            #{item.updatedTime,jdbcType=TIMESTAMP},
            #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR},
            #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeProductionDelivery">
        <!--@mbg.generated-->
        insert into ope_production_delivery
        (id, dr, warehouse_id, order_no, `status`, logistics_company, logistics_no, destination_city,
        delivery_officer, delivery_officer_phone, consignee_officer, consignee_officer_phone,
        quantity, etd, eta, atd, ata, departure_port, arrival_port, attachment, created_by,
        created_time, updated_by, updated_time, def1, def2, def3, def5, def6)
        values
        (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{warehouseId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{logisticsCompany,jdbcType=VARCHAR}, #{logisticsNo,jdbcType=VARCHAR},
        #{destinationCity,jdbcType=BIGINT}, #{deliveryOfficer,jdbcType=BIGINT},
        #{deliveryOfficerPhone,jdbcType=VARCHAR},
        #{consigneeOfficer,jdbcType=BIGINT}, #{consigneeOfficerPhone,jdbcType=VARCHAR},
        #{quantity,jdbcType=INTEGER}, #{etd,jdbcType=TIMESTAMP}, #{eta,jdbcType=TIMESTAMP},
        #{atd,jdbcType=TIMESTAMP}, #{ata,jdbcType=TIMESTAMP}, #{departurePort,jdbcType=VARCHAR},
        #{arrivalPort,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
        #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR},
        #{def6,jdbcType=DOUBLE})
        on duplicate key update
        id = #{id,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER},
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
        order_no = #{orderNo,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
        destination_city = #{destinationCity,jdbcType=BIGINT},
        delivery_officer = #{deliveryOfficer,jdbcType=BIGINT},
        delivery_officer_phone = #{deliveryOfficerPhone,jdbcType=VARCHAR},
        consignee_officer = #{consigneeOfficer,jdbcType=BIGINT},
        consignee_officer_phone = #{consigneeOfficerPhone,jdbcType=VARCHAR},
        quantity = #{quantity,jdbcType=INTEGER},
        etd = #{etd,jdbcType=TIMESTAMP},
        eta = #{eta,jdbcType=TIMESTAMP},
        atd = #{atd,jdbcType=TIMESTAMP},
        ata = #{ata,jdbcType=TIMESTAMP},
        departure_port = #{departurePort,jdbcType=VARCHAR},
        arrival_port = #{arrivalPort,jdbcType=VARCHAR},
        attachment = #{attachment,jdbcType=VARCHAR},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeProductionDelivery">
        <!--@mbg.generated-->
        insert into ope_production_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="logisticsCompany != null">
                logistics_company,
            </if>
            <if test="logisticsNo != null">
                logistics_no,
            </if>
            <if test="destinationCity != null">
                destination_city,
            </if>
            <if test="deliveryOfficer != null">
                delivery_officer,
            </if>
            <if test="deliveryOfficerPhone != null">
                delivery_officer_phone,
            </if>
            <if test="consigneeOfficer != null">
                consignee_officer,
            </if>
            <if test="consigneeOfficerPhone != null">
                consignee_officer_phone,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="etd != null">
                etd,
            </if>
            <if test="eta != null">
                eta,
            </if>
            <if test="atd != null">
                atd,
            </if>
            <if test="ata != null">
                ata,
            </if>
            <if test="departurePort != null">
                departure_port,
            </if>
            <if test="arrivalPort != null">
                arrival_port,
            </if>
            <if test="attachment != null">
                attachment,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="logisticsCompany != null">
                #{logisticsCompany,jdbcType=VARCHAR},
            </if>
            <if test="logisticsNo != null">
                #{logisticsNo,jdbcType=VARCHAR},
            </if>
            <if test="destinationCity != null">
                #{destinationCity,jdbcType=BIGINT},
            </if>
            <if test="deliveryOfficer != null">
                #{deliveryOfficer,jdbcType=BIGINT},
            </if>
            <if test="deliveryOfficerPhone != null">
                #{deliveryOfficerPhone,jdbcType=VARCHAR},
            </if>
            <if test="consigneeOfficer != null">
                #{consigneeOfficer,jdbcType=BIGINT},
            </if>
            <if test="consigneeOfficerPhone != null">
                #{consigneeOfficerPhone,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="etd != null">
                #{etd,jdbcType=TIMESTAMP},
            </if>
            <if test="eta != null">
                #{eta,jdbcType=TIMESTAMP},
            </if>
            <if test="atd != null">
                #{atd,jdbcType=TIMESTAMP},
            </if>
            <if test="ata != null">
                #{ata,jdbcType=TIMESTAMP},
            </if>
            <if test="departurePort != null">
                #{departurePort,jdbcType=VARCHAR},
            </if>
            <if test="arrivalPort != null">
                #{arrivalPort,jdbcType=VARCHAR},
            </if>
            <if test="attachment != null">
                #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="logisticsCompany != null">
                logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
            </if>
            <if test="logisticsNo != null">
                logistics_no = #{logisticsNo,jdbcType=VARCHAR},
            </if>
            <if test="destinationCity != null">
                destination_city = #{destinationCity,jdbcType=BIGINT},
            </if>
            <if test="deliveryOfficer != null">
                delivery_officer = #{deliveryOfficer,jdbcType=BIGINT},
            </if>
            <if test="deliveryOfficerPhone != null">
                delivery_officer_phone = #{deliveryOfficerPhone,jdbcType=VARCHAR},
            </if>
            <if test="consigneeOfficer != null">
                consignee_officer = #{consigneeOfficer,jdbcType=BIGINT},
            </if>
            <if test="consigneeOfficerPhone != null">
                consignee_officer_phone = #{consigneeOfficerPhone,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="etd != null">
                etd = #{etd,jdbcType=TIMESTAMP},
            </if>
            <if test="eta != null">
                eta = #{eta,jdbcType=TIMESTAMP},
            </if>
            <if test="atd != null">
                atd = #{atd,jdbcType=TIMESTAMP},
            </if>
            <if test="ata != null">
                ata = #{ata,jdbcType=TIMESTAMP},
            </if>
            <if test="departurePort != null">
                departure_port = #{departurePort,jdbcType=VARCHAR},
            </if>
            <if test="arrivalPort != null">
                arrival_port = #{arrivalPort,jdbcType=VARCHAR},
            </if>
            <if test="attachment != null">
                attachment = #{attachment,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>