<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpePurchasBMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpePurchasB">
        <!--@mbg.generated-->
        <!--@Table ope_purchas_b-->
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="purchas_id" jdbcType="BIGINT" property="purchasId"/>
        <result column="part_id" jdbcType="BIGINT" property="partId"/>
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId"/>
        <result column="supplier_annex" jdbcType="VARCHAR" property="supplierAnnex"/>
        <result column="qc_status" jdbcType="VARCHAR" property="qcStatus"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="total_count" jdbcType="INTEGER" property="totalCount"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into ope_purchas_b
        (id, dr, tenant_id, user_id, purchas_id, part_id, supplier_id, supplier_annex, qc_status,
        price, total_count, total_price, created_by, created_time, updated_by, updated_time,
        def1, def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.tenantId,jdbcType=BIGINT},
            #{item.userId,jdbcType=BIGINT}, #{item.purchasId,jdbcType=BIGINT}, #{item.partId,jdbcType=BIGINT},
            #{item.supplierId,jdbcType=BIGINT}, #{item.supplierAnnex,jdbcType=VARCHAR},
            #{item.qcStatus,jdbcType=VARCHAR},
            #{item.price,jdbcType=DECIMAL}, #{item.totalCount,jdbcType=INTEGER}, #{item.totalPrice,jdbcType=DECIMAL},
            #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP},
            #{item.updatedBy,jdbcType=BIGINT},
            #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
            #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpePurchasB">
        <!--@mbg.generated-->
        insert into ope_purchas_b
        (id, dr, tenant_id, user_id, purchas_id, part_id, supplier_id, supplier_annex, qc_status,
        price, total_count, total_price, created_by, created_time, updated_by, updated_time,
        def1, def2, def3, def5, def6)
        values
        (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{tenantId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
        #{purchasId,jdbcType=BIGINT}, #{partId,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT},
        #{supplierAnnex,jdbcType=VARCHAR}, #{qcStatus,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
        #{totalCount,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, #{createdBy,jdbcType=BIGINT},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
        #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR},
        #{def6,jdbcType=DOUBLE})
        on duplicate key update
        id = #{id,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER},
        tenant_id = #{tenantId,jdbcType=BIGINT},
        user_id = #{userId,jdbcType=BIGINT},
        purchas_id = #{purchasId,jdbcType=BIGINT},
        part_id = #{partId,jdbcType=BIGINT},
        supplier_id = #{supplierId,jdbcType=BIGINT},
        supplier_annex = #{supplierAnnex,jdbcType=VARCHAR},
        qc_status = #{qcStatus,jdbcType=VARCHAR},
        price = #{price,jdbcType=DECIMAL},
        total_count = #{totalCount,jdbcType=INTEGER},
        total_price = #{totalPrice,jdbcType=DECIMAL},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpePurchasB">
        <!--@mbg.generated-->
        insert into ope_purchas_b
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="purchasId != null">
                purchas_id,
            </if>
            <if test="partId != null">
                part_id,
            </if>
            <if test="supplierId != null">
                supplier_id,
            </if>
            <if test="supplierAnnex != null">
                supplier_annex,
            </if>
            <if test="qcStatus != null">
                qc_status,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="totalCount != null">
                total_count,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="purchasId != null">
                #{purchasId,jdbcType=BIGINT},
            </if>
            <if test="partId != null">
                #{partId,jdbcType=BIGINT},
            </if>
            <if test="supplierId != null">
                #{supplierId,jdbcType=BIGINT},
            </if>
            <if test="supplierAnnex != null">
                #{supplierAnnex,jdbcType=VARCHAR},
            </if>
            <if test="qcStatus != null">
                #{qcStatus,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="totalCount != null">
                #{totalCount,jdbcType=INTEGER},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=DECIMAL},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="purchasId != null">
                purchas_id = #{purchasId,jdbcType=BIGINT},
            </if>
            <if test="partId != null">
                part_id = #{partId,jdbcType=BIGINT},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId,jdbcType=BIGINT},
            </if>
            <if test="supplierAnnex != null">
                supplier_annex = #{supplierAnnex,jdbcType=VARCHAR},
            </if>
            <if test="qcStatus != null">
                qc_status = #{qcStatus,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="totalCount != null">
                total_count = #{totalCount,jdbcType=INTEGER},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=DECIMAL},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>