<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpePartDraftQcTemplateBMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpePartDraftQcTemplateB">
        <!--@mbg.generated-->
        <!--@Table ope_part_draft_qc_template_b-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="part_draft_qc_template_id" jdbcType="BIGINT" property="partDraftQcTemplateId"/>
        <result column="qc_result" jdbcType="VARCHAR" property="qcResult"/>
        <result column="upload_flag" jdbcType="BOOLEAN" property="uploadFlag"/>
        <result column="results_sequence" jdbcType="INTEGER" property="resultsSequence"/>
        <result column="revision" jdbcType="INTEGER" property="revision"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DECIMAL" property="def6"/>
    </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
      id, dr, part_draft_qc_template_id, qc_result, upload_flag, results_sequence, revision,
      created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
      update ope_part_draft_qc_template_b
      <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
          <trim prefix="part_draft_qc_template_id = case" suffix="end,">
              <foreach collection="list" index="index" item="item">
                  when id = #{item.id,jdbcType=BIGINT} then #{item.partDraftQcTemplateId,jdbcType=BIGINT}
              </foreach>
          </trim>
      <trim prefix="qc_result = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.qcResult,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="upload_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.uploadFlag,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="results_sequence = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.resultsSequence,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="revision = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.revision,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
      insert into ope_part_draft_qc_template_b
      (id, dr, part_draft_qc_template_id, qc_result, upload_flag, results_sequence, revision,
      created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6
      )
      values
      <foreach collection="list" item="item" separator=",">
          (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.partDraftQcTemplateId,jdbcType=BIGINT},
          #{item.qcResult,jdbcType=VARCHAR}, #{item.uploadFlag,jdbcType=BOOLEAN},
          #{item.resultsSequence,jdbcType=INTEGER},
          #{item.revision,jdbcType=INTEGER}, #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP},
          #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR},
          #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR},
          #{item.def6,jdbcType=DECIMAL})
      </foreach>
  </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpePartDraftQcTemplateB">
        <!--@mbg.generated-->
        insert into ope_part_draft_qc_template_b
        (id, dr, part_draft_qc_template_id, qc_result, upload_flag, results_sequence, revision,
        created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6
        )
        values
        (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{partDraftQcTemplateId,jdbcType=BIGINT},
        #{qcResult,jdbcType=VARCHAR}, #{uploadFlag,jdbcType=BOOLEAN}, #{resultsSequence,jdbcType=INTEGER},
        #{revision,jdbcType=INTEGER}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR},
        #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DECIMAL}
        )
        on duplicate key update
        id = #{id,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER},
        part_draft_qc_template_id = #{partDraftQcTemplateId,jdbcType=BIGINT},
        qc_result = #{qcResult,jdbcType=VARCHAR},
        upload_flag = #{uploadFlag,jdbcType=BOOLEAN},
        results_sequence = #{resultsSequence,jdbcType=INTEGER},
        revision = #{revision,jdbcType=INTEGER},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DECIMAL}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpePartDraftQcTemplateB">
        <!--@mbg.generated-->
        insert into ope_part_draft_qc_template_b
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="partDraftQcTemplateId != null">
                part_draft_qc_template_id,
            </if>
            <if test="qcResult != null">
                qc_result,
            </if>
            <if test="uploadFlag != null">
                upload_flag,
            </if>
            <if test="resultsSequence != null">
                results_sequence,
            </if>
      <if test="revision != null">
        revision,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="partDraftQcTemplateId != null">
                #{partDraftQcTemplateId,jdbcType=BIGINT},
            </if>
            <if test="qcResult != null">
                #{qcResult,jdbcType=VARCHAR},
            </if>
            <if test="uploadFlag != null">
                #{uploadFlag,jdbcType=BOOLEAN},
            </if>
            <if test="resultsSequence != null">
                #{resultsSequence,jdbcType=INTEGER},
            </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DECIMAL},
      </if>
    </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="partDraftQcTemplateId != null">
                part_draft_qc_template_id = #{partDraftQcTemplateId,jdbcType=BIGINT},
            </if>
            <if test="qcResult != null">
                qc_result = #{qcResult,jdbcType=VARCHAR},
            </if>
            <if test="uploadFlag != null">
                upload_flag = #{uploadFlag,jdbcType=BOOLEAN},
            </if>
            <if test="resultsSequence != null">
                results_sequence = #{resultsSequence,jdbcType=INTEGER},
            </if>
      <if test="revision != null">
        revision = #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>