<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeRepairShopMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeRepairShop">
        <!--@mbg.generated-->
        <!--@Table ope_repair_shop-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="org_department_id" jdbcType="BIGINT" property="orgDepartmentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="picture1" jdbcType="VARCHAR" property="picture1"/>
        <result column="picture2" jdbcType="VARCHAR" property="picture2"/>
        <result column="picture3" jdbcType="VARCHAR" property="picture3"/>
        <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
        <result column="latitude" jdbcType="DECIMAL" property="latitude"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="business_license" jdbcType="VARCHAR" property="businessLicense"/>
        <result column="contact_attachment" jdbcType="VARCHAR" property="contactAttachment"/>
        <result column="service_range" jdbcType="BIGINT" property="serviceRange"/>
        <result column="service_cost" jdbcType="BIGINT" property="serviceCost"/>
        <result column="country_id" jdbcType="INTEGER" property="countryId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="area_id" jdbcType="INTEGER" property="areaId"/>
        <result column="place_id" jdbcType="VARCHAR" property="placeId"/>
        <result column="contact_number" jdbcType="VARCHAR" property="contactNumber"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, dr, org_department_id, `name`, address, picture1, picture2, picture3, longitude,
        latitude, `type`, business_license, contact_attachment, service_range, service_cost,
        country_id, city_id, area_id, place_id, contact_number, created_by, created_time,
        updated_by, updated_time, def1, def2, def3, def5, def6
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update ope_repair_shop
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dr = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.dr,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="org_department_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.orgDepartmentId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="`name` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.address,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="picture1 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.picture1,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="picture2 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.picture2,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="picture3 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.picture3,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="longitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.longitude,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="latitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.latitude,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="`type` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.type,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="business_license = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.businessLicense,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="contact_attachment = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.contactAttachment,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="service_range = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.serviceRange,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="service_cost = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.serviceCost,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="country_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.countryId,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="city_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.cityId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="area_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.areaId,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="place_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.placeId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="contact_number = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.contactNumber,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.createdBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.createdTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.updatedBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.updatedTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="def1 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.def1,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def2 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.def2,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def3 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.def3,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def5 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.def5,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def6 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=INTEGER} then #{item.def6,jdbcType=DOUBLE}
                </foreach>
            </trim>
        </trim>
        where ID in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into ope_repair_shop
        (ID, dr, org_department_id, `name`, address, picture1, picture2, picture3, longitude,
        latitude, `type`, business_license, contact_attachment, service_range, service_cost,
        country_id, city_id, area_id, place_id, contact_number, created_by, created_time,
        updated_by, updated_time, def1, def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.dr,jdbcType=INTEGER}, #{item.orgDepartmentId,jdbcType=BIGINT},
            #{item.name,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, #{item.picture1,jdbcType=VARCHAR},
            #{item.picture2,jdbcType=VARCHAR}, #{item.picture3,jdbcType=VARCHAR}, #{item.longitude,jdbcType=DECIMAL},
            #{item.latitude,jdbcType=DECIMAL}, #{item.type,jdbcType=VARCHAR}, #{item.businessLicense,jdbcType=VARCHAR},
            #{item.contactAttachment,jdbcType=VARCHAR}, #{item.serviceRange,jdbcType=BIGINT},
            #{item.serviceCost,jdbcType=BIGINT}, #{item.countryId,jdbcType=INTEGER}, #{item.cityId,jdbcType=BIGINT},
            #{item.areaId,jdbcType=INTEGER}, #{item.placeId,jdbcType=VARCHAR}, #{item.contactNumber,jdbcType=VARCHAR},
            #{item.createdBy,jdbcType=BIGINT}, #{item.createdTime,jdbcType=TIMESTAMP},
            #{item.updatedBy,jdbcType=BIGINT},
            #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
            #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeRepairShop">
        <!--@mbg.generated-->
        insert into ope_repair_shop
        (ID, dr, org_department_id, `name`, address, picture1, picture2, picture3, longitude,
        latitude, `type`, business_license, contact_attachment, service_range, service_cost,
        country_id, city_id, area_id, place_id, contact_number, created_by, created_time,
        updated_by, updated_time, def1, def2, def3, def5, def6)
        values
        (#{id,jdbcType=INTEGER}, #{dr,jdbcType=INTEGER}, #{orgDepartmentId,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{picture1,jdbcType=VARCHAR},
        #{picture2,jdbcType=VARCHAR}, #{picture3,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL},
        #{latitude,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{businessLicense,jdbcType=VARCHAR},
        #{contactAttachment,jdbcType=VARCHAR}, #{serviceRange,jdbcType=BIGINT}, #{serviceCost,jdbcType=BIGINT},
        #{countryId,jdbcType=INTEGER}, #{cityId,jdbcType=BIGINT}, #{areaId,jdbcType=INTEGER},
        #{placeId,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
        #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR},
        #{def6,jdbcType=DOUBLE})
        on duplicate key update
        ID = #{id,jdbcType=INTEGER},
        dr = #{dr,jdbcType=INTEGER},
        org_department_id = #{orgDepartmentId,jdbcType=BIGINT},
        `name` = #{name,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        picture1 = #{picture1,jdbcType=VARCHAR},
        picture2 = #{picture2,jdbcType=VARCHAR},
        picture3 = #{picture3,jdbcType=VARCHAR},
        longitude = #{longitude,jdbcType=DECIMAL},
        latitude = #{latitude,jdbcType=DECIMAL},
        `type` = #{type,jdbcType=VARCHAR},
        business_license = #{businessLicense,jdbcType=VARCHAR},
        contact_attachment = #{contactAttachment,jdbcType=VARCHAR},
        service_range = #{serviceRange,jdbcType=BIGINT},
        service_cost = #{serviceCost,jdbcType=BIGINT},
        country_id = #{countryId,jdbcType=INTEGER},
        city_id = #{cityId,jdbcType=BIGINT},
        area_id = #{areaId,jdbcType=INTEGER},
        place_id = #{placeId,jdbcType=VARCHAR},
        contact_number = #{contactNumber,jdbcType=VARCHAR},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeRepairShop">
        <!--@mbg.generated-->
        insert into ope_repair_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="orgDepartmentId != null">
                org_department_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="picture1 != null">
                picture1,
            </if>
            <if test="picture2 != null">
                picture2,
            </if>
            <if test="picture3 != null">
                picture3,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="businessLicense != null">
                business_license,
            </if>
            <if test="contactAttachment != null">
                contact_attachment,
            </if>
            <if test="serviceRange != null">
                service_range,
            </if>
            <if test="serviceCost != null">
                service_cost,
            </if>
            <if test="countryId != null">
                country_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="placeId != null">
                place_id,
            </if>
            <if test="contactNumber != null">
                contact_number,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="orgDepartmentId != null">
                #{orgDepartmentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="picture1 != null">
                #{picture1,jdbcType=VARCHAR},
            </if>
            <if test="picture2 != null">
                #{picture2,jdbcType=VARCHAR},
            </if>
            <if test="picture3 != null">
                #{picture3,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="contactAttachment != null">
                #{contactAttachment,jdbcType=VARCHAR},
            </if>
            <if test="serviceRange != null">
                #{serviceRange,jdbcType=BIGINT},
            </if>
            <if test="serviceCost != null">
                #{serviceCost,jdbcType=BIGINT},
            </if>
            <if test="countryId != null">
                #{countryId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=INTEGER},
            </if>
            <if test="placeId != null">
                #{placeId,jdbcType=VARCHAR},
            </if>
            <if test="contactNumber != null">
                #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                ID = #{id,jdbcType=INTEGER},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="orgDepartmentId != null">
                org_department_id = #{orgDepartmentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="picture1 != null">
                picture1 = #{picture1,jdbcType=VARCHAR},
            </if>
            <if test="picture2 != null">
                picture2 = #{picture2,jdbcType=VARCHAR},
            </if>
            <if test="picture3 != null">
                picture3 = #{picture3,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                business_license = #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="contactAttachment != null">
                contact_attachment = #{contactAttachment,jdbcType=VARCHAR},
            </if>
            <if test="serviceRange != null">
                service_range = #{serviceRange,jdbcType=BIGINT},
            </if>
            <if test="serviceCost != null">
                service_cost = #{serviceCost,jdbcType=BIGINT},
            </if>
            <if test="countryId != null">
                country_id = #{countryId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=INTEGER},
            </if>
            <if test="placeId != null">
                place_id = #{placeId,jdbcType=VARCHAR},
            </if>
            <if test="contactNumber != null">
                contact_number = #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>