<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeRepairOrderMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeRepairOrder">
        <!--@mbg.generated-->
        <!--@Table ope_repair_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dr" jdbcType="INTEGER" property="dr"/>
        <result column="repair_shop_id" jdbcType="BIGINT" property="repairShopId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="principal_id" jdbcType="INTEGER" property="principalId"/>
        <result column="system_id" jdbcType="VARCHAR" property="systemId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="customer_type" jdbcType="VARCHAR" property="customerType"/>
        <result column="repair_appointment_time" jdbcType="TIMESTAMP" property="repairAppointmentTime"/>
        <result column="repair_accept_time" jdbcType="VARCHAR" property="repairAcceptTime"/>
        <result column="repair_complete_time" jdbcType="VARCHAR" property="repairCompleteTime"/>
        <result column="repair_duration" jdbcType="VARCHAR" property="repairDuration"/>
        <result column="repair_type" jdbcType="VARCHAR" property="repairType"/>
        <result column="service_type" jdbcType="VARCHAR" property="serviceType"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="amount" jdbcType="VARCHAR" property="amount"/>
        <result column="scooter_quantity" jdbcType="INTEGER" property="scooterQuantity"/>
        <result column="contact_number" jdbcType="VARCHAR" property="contactNumber"/>
        <result column="contact_address" jdbcType="VARCHAR" property="contactAddress"/>
        <result column="country_id" jdbcType="BIGINT" property="countryId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="area_id" jdbcType="BIGINT" property="areaId"/>
        <result column="place_id" jdbcType="VARCHAR" property="placeId"/>
        <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
        <result column="latitude" jdbcType="DECIMAL" property="latitude"/>
        <result column="notes" jdbcType="VARCHAR" property="notes"/>
        <result column="complete_notes" jdbcType="VARCHAR" property="completeNotes"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="termination_reason" jdbcType="VARCHAR" property="terminationReason"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="reservation_mark" jdbcType="BOOLEAN" property="reservationMark"/>
        <result column="def1" jdbcType="VARCHAR" property="def1"/>
        <result column="def2" jdbcType="VARCHAR" property="def2"/>
        <result column="def3" jdbcType="VARCHAR" property="def3"/>
        <result column="def5" jdbcType="VARCHAR" property="def5"/>
        <result column="def6" jdbcType="DOUBLE" property="def6"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dr, repair_shop_id, order_no, customer_id, customer_name, principal_id, system_id,
        app_id, customer_type, repair_appointment_time, repair_accept_time, repair_complete_time,
        repair_duration, repair_type, service_type, pay_type, amount, scooter_quantity, contact_number,
        contact_address, country_id, city_id, area_id, place_id, longitude, latitude, notes,
        complete_notes, `status`, termination_reason, created_by, created_time, updated_by,
        updated_time, reservation_mark, def1, def2, def3, def5, def6
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update ope_repair_order
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dr = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="repair_shop_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.repairShopId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="order_no = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.orderNo,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="customer_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.customerId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="customer_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.customerName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="principal_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.principalId,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="system_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.systemId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="app_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.appId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="customer_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.customerType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="repair_appointment_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.repairAppointmentTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="repair_accept_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.repairAcceptTime,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="repair_complete_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.repairCompleteTime,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="repair_duration = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.repairDuration,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="repair_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.repairType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="service_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.serviceType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="pay_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.payType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="amount = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.amount,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="scooter_quantity = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.scooterQuantity,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="contact_number = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.contactNumber,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="contact_address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.contactAddress,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="country_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.countryId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="city_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.cityId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="area_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.areaId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="place_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.placeId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="longitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="latitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="notes = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.notes,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="complete_notes = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.completeNotes,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="termination_reason = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.terminationReason,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="reservation_mark = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.reservationMark,jdbcType=BOOLEAN}
                </foreach>
            </trim>
            <trim prefix="def1 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def2 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def3 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def5 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="def6 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into ope_repair_order
        (id, dr, repair_shop_id, order_no, customer_id, customer_name, principal_id, system_id,
        app_id, customer_type, repair_appointment_time, repair_accept_time, repair_complete_time,
        repair_duration, repair_type, service_type, pay_type, amount, scooter_quantity,
        contact_number, contact_address, country_id, city_id, area_id, place_id, longitude,
        latitude, notes, complete_notes, `status`, termination_reason, created_by, created_time,
        updated_by, updated_time, reservation_mark, def1, def2, def3, def5, def6)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.repairShopId,jdbcType=BIGINT},
            #{item.orderNo,jdbcType=VARCHAR}, #{item.customerId,jdbcType=BIGINT}, #{item.customerName,jdbcType=VARCHAR},
            #{item.principalId,jdbcType=INTEGER}, #{item.systemId,jdbcType=VARCHAR}, #{item.appId,jdbcType=VARCHAR},
            #{item.customerType,jdbcType=VARCHAR}, #{item.repairAppointmentTime,jdbcType=TIMESTAMP},
            #{item.repairAcceptTime,jdbcType=VARCHAR}, #{item.repairCompleteTime,jdbcType=VARCHAR},
            #{item.repairDuration,jdbcType=VARCHAR}, #{item.repairType,jdbcType=VARCHAR},
            #{item.serviceType,jdbcType=VARCHAR},
            #{item.payType,jdbcType=VARCHAR}, #{item.amount,jdbcType=VARCHAR}, #{item.scooterQuantity,jdbcType=INTEGER},
            #{item.contactNumber,jdbcType=VARCHAR}, #{item.contactAddress,jdbcType=VARCHAR},
            #{item.countryId,jdbcType=BIGINT}, #{item.cityId,jdbcType=BIGINT}, #{item.areaId,jdbcType=BIGINT},
            #{item.placeId,jdbcType=VARCHAR}, #{item.longitude,jdbcType=DECIMAL}, #{item.latitude,jdbcType=DECIMAL},
            #{item.notes,jdbcType=VARCHAR}, #{item.completeNotes,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
            #{item.terminationReason,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=BIGINT},
            #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT},
            #{item.updatedTime,jdbcType=TIMESTAMP},
            #{item.reservationMark,jdbcType=BOOLEAN}, #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR},
            #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeRepairOrder">
        <!--@mbg.generated-->
        insert into ope_repair_order
        (id, dr, repair_shop_id, order_no, customer_id, customer_name, principal_id, system_id,
        app_id, customer_type, repair_appointment_time, repair_accept_time, repair_complete_time,
        repair_duration, repair_type, service_type, pay_type, amount, scooter_quantity,
        contact_number, contact_address, country_id, city_id, area_id, place_id, longitude,
        latitude, notes, complete_notes, `status`, termination_reason, created_by, created_time,
        updated_by, updated_time, reservation_mark, def1, def2, def3, def5, def6)
        values
        (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{repairShopId,jdbcType=BIGINT},
        #{orderNo,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR},
        #{principalId,jdbcType=INTEGER}, #{systemId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR},
        #{customerType,jdbcType=VARCHAR}, #{repairAppointmentTime,jdbcType=TIMESTAMP},
        #{repairAcceptTime,jdbcType=VARCHAR}, #{repairCompleteTime,jdbcType=VARCHAR},
        #{repairDuration,jdbcType=VARCHAR},
        #{repairType,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR},
        #{amount,jdbcType=VARCHAR}, #{scooterQuantity,jdbcType=INTEGER}, #{contactNumber,jdbcType=VARCHAR},
        #{contactAddress,jdbcType=VARCHAR}, #{countryId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT},
        #{areaId,jdbcType=BIGINT}, #{placeId,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL},
        #{latitude,jdbcType=DECIMAL}, #{notes,jdbcType=VARCHAR}, #{completeNotes,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{terminationReason,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP},
        #{reservationMark,jdbcType=BOOLEAN}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR},
        #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE})
        on duplicate key update
        id = #{id,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER},
        repair_shop_id = #{repairShopId,jdbcType=BIGINT},
        order_no = #{orderNo,jdbcType=VARCHAR},
        customer_id = #{customerId,jdbcType=BIGINT},
        customer_name = #{customerName,jdbcType=VARCHAR},
        principal_id = #{principalId,jdbcType=INTEGER},
        system_id = #{systemId,jdbcType=VARCHAR},
        app_id = #{appId,jdbcType=VARCHAR},
        customer_type = #{customerType,jdbcType=VARCHAR},
        repair_appointment_time = #{repairAppointmentTime,jdbcType=TIMESTAMP},
        repair_accept_time = #{repairAcceptTime,jdbcType=VARCHAR},
        repair_complete_time = #{repairCompleteTime,jdbcType=VARCHAR},
        repair_duration = #{repairDuration,jdbcType=VARCHAR},
        repair_type = #{repairType,jdbcType=VARCHAR},
        service_type = #{serviceType,jdbcType=VARCHAR},
        pay_type = #{payType,jdbcType=VARCHAR},
        amount = #{amount,jdbcType=VARCHAR},
        scooter_quantity = #{scooterQuantity,jdbcType=INTEGER},
        contact_number = #{contactNumber,jdbcType=VARCHAR},
        contact_address = #{contactAddress,jdbcType=VARCHAR},
        country_id = #{countryId,jdbcType=BIGINT},
        city_id = #{cityId,jdbcType=BIGINT},
        area_id = #{areaId,jdbcType=BIGINT},
        place_id = #{placeId,jdbcType=VARCHAR},
        longitude = #{longitude,jdbcType=DECIMAL},
        latitude = #{latitude,jdbcType=DECIMAL},
        notes = #{notes,jdbcType=VARCHAR},
        complete_notes = #{completeNotes,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        termination_reason = #{terminationReason,jdbcType=VARCHAR},
        created_by = #{createdBy,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        reservation_mark = #{reservationMark,jdbcType=BOOLEAN},
        def1 = #{def1,jdbcType=VARCHAR},
        def2 = #{def2,jdbcType=VARCHAR},
        def3 = #{def3,jdbcType=VARCHAR},
        def5 = #{def5,jdbcType=VARCHAR},
        def6 = #{def6,jdbcType=DOUBLE}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeRepairOrder">
        <!--@mbg.generated-->
        insert into ope_repair_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="repairShopId != null">
                repair_shop_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="principalId != null">
                principal_id,
            </if>
            <if test="systemId != null">
                system_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="customerType != null">
                customer_type,
            </if>
            <if test="repairAppointmentTime != null">
                repair_appointment_time,
            </if>
            <if test="repairAcceptTime != null">
                repair_accept_time,
            </if>
            <if test="repairCompleteTime != null">
                repair_complete_time,
            </if>
            <if test="repairDuration != null">
                repair_duration,
            </if>
            <if test="repairType != null">
                repair_type,
            </if>
            <if test="serviceType != null">
                service_type,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="scooterQuantity != null">
                scooter_quantity,
            </if>
            <if test="contactNumber != null">
                contact_number,
            </if>
            <if test="contactAddress != null">
                contact_address,
            </if>
            <if test="countryId != null">
                country_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="placeId != null">
                place_id,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="notes != null">
                notes,
            </if>
            <if test="completeNotes != null">
                complete_notes,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="terminationReason != null">
                termination_reason,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="reservationMark != null">
                reservation_mark,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="repairShopId != null">
                #{repairShopId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="principalId != null">
                #{principalId,jdbcType=INTEGER},
            </if>
            <if test="systemId != null">
                #{systemId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null">
                #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="repairAppointmentTime != null">
                #{repairAppointmentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="repairAcceptTime != null">
                #{repairAcceptTime,jdbcType=VARCHAR},
            </if>
            <if test="repairCompleteTime != null">
                #{repairCompleteTime,jdbcType=VARCHAR},
            </if>
            <if test="repairDuration != null">
                #{repairDuration,jdbcType=VARCHAR},
            </if>
            <if test="repairType != null">
                #{repairType,jdbcType=VARCHAR},
            </if>
            <if test="serviceType != null">
                #{serviceType,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=VARCHAR},
            </if>
            <if test="scooterQuantity != null">
                #{scooterQuantity,jdbcType=INTEGER},
            </if>
            <if test="contactNumber != null">
                #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="contactAddress != null">
                #{contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="countryId != null">
                #{countryId,jdbcType=BIGINT},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="placeId != null">
                #{placeId,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="notes != null">
                #{notes,jdbcType=VARCHAR},
            </if>
            <if test="completeNotes != null">
                #{completeNotes,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="terminationReason != null">
                #{terminationReason,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reservationMark != null">
                #{reservationMark,jdbcType=BOOLEAN},
            </if>
            <if test="def1 != null">
                #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="repairShopId != null">
                repair_shop_id = #{repairShopId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="principalId != null">
                principal_id = #{principalId,jdbcType=INTEGER},
            </if>
            <if test="systemId != null">
                system_id = #{systemId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null">
                customer_type = #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="repairAppointmentTime != null">
                repair_appointment_time = #{repairAppointmentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="repairAcceptTime != null">
                repair_accept_time = #{repairAcceptTime,jdbcType=VARCHAR},
            </if>
            <if test="repairCompleteTime != null">
                repair_complete_time = #{repairCompleteTime,jdbcType=VARCHAR},
            </if>
            <if test="repairDuration != null">
                repair_duration = #{repairDuration,jdbcType=VARCHAR},
            </if>
            <if test="repairType != null">
                repair_type = #{repairType,jdbcType=VARCHAR},
            </if>
            <if test="serviceType != null">
                service_type = #{serviceType,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=VARCHAR},
            </if>
            <if test="scooterQuantity != null">
                scooter_quantity = #{scooterQuantity,jdbcType=INTEGER},
            </if>
            <if test="contactNumber != null">
                contact_number = #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="contactAddress != null">
                contact_address = #{contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="countryId != null">
                country_id = #{countryId,jdbcType=BIGINT},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=BIGINT},
            </if>
            <if test="placeId != null">
                place_id = #{placeId,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="notes != null">
                notes = #{notes,jdbcType=VARCHAR},
            </if>
            <if test="completeNotes != null">
                complete_notes = #{completeNotes,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="terminationReason != null">
                termination_reason = #{terminationReason,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reservationMark != null">
                reservation_mark = #{reservationMark,jdbcType=BOOLEAN},
            </if>
            <if test="def1 != null">
                def1 = #{def1,jdbcType=VARCHAR},
            </if>
            <if test="def2 != null">
                def2 = #{def2,jdbcType=VARCHAR},
            </if>
            <if test="def3 != null">
                def3 = #{def3,jdbcType=VARCHAR},
            </if>
            <if test="def5 != null">
                def5 = #{def5,jdbcType=VARCHAR},
            </if>
            <if test="def6 != null">
                def6 = #{def6,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
</mapper>