<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeSaleScooterMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeSaleScooter">
    <!--@mbg.generated-->
    <!--@Table ope_sale_scooter-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="specificat_id" jdbcType="BIGINT" property="specificatId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="color_id" jdbcType="BIGINT" property="colorId" />
    <result column="sale_stutas" jdbcType="INTEGER" property="saleStutas" />
    <result column="min_battery_num" jdbcType="INTEGER" property="minBatteryNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DECIMAL" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, dept_id, product_name, product_code, specificat_id, group_id, color_id, sale_stutas, 
    min_battery_num, remark, created_by, created_time, updated_by, updated_time, def1, 
    def2, def3, def4, def5
  </sql>
</mapper>