<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeSysRoleSalesCidyMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeSysRoleSalesCidy">
    <!--@mbg.generated-->
    <!--@Table ope_sys_role_sales_cidy-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
  </resultMap>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_sys_role_sales_cidy
    (role_id, city_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleId,jdbcType=BIGINT}, #{item.cityId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeSysRoleSalesCidy">
    <!--@mbg.generated-->
    insert into ope_sys_role_sales_cidy
    (role_id, city_id)
    values
    (#{roleId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT})
    on duplicate key update 
    role_id = #{roleId,jdbcType=BIGINT}, 
    city_id = #{cityId,jdbcType=BIGINT}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeSysRoleSalesCidy">
    <!--@mbg.generated-->
    insert into ope_sys_role_sales_cidy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>