<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeSysDeptRelationMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeSysDeptRelation">
    <!--@mbg.generated-->
    <!--@Table ope_sys_dept_relation-->
    <result column="ancestor" jdbcType="BIGINT" property="ancestor" />
    <result column="descendant" jdbcType="BIGINT" property="descendant" />
  </resultMap>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_sys_dept_relation
    (ancestor, descendant)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.ancestor,jdbcType=BIGINT}, #{item.descendant,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeSysDeptRelation">
    <!--@mbg.generated-->
    insert into ope_sys_dept_relation
    (ancestor, descendant)
    values
    (#{ancestor,jdbcType=BIGINT}, #{descendant,jdbcType=BIGINT})
    on duplicate key update 
    ancestor = #{ancestor,jdbcType=BIGINT}, 
    descendant = #{descendant,jdbcType=BIGINT}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeSysDeptRelation">
    <!--@mbg.generated-->
    insert into ope_sys_dept_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ancestor != null">
        ancestor,
      </if>
      <if test="descendant != null">
        descendant,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ancestor != null">
        #{ancestor,jdbcType=BIGINT},
      </if>
      <if test="descendant != null">
        #{descendant,jdbcType=BIGINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="ancestor != null">
        ancestor = #{ancestor,jdbcType=BIGINT},
      </if>
      <if test="descendant != null">
        descendant = #{descendant,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>