<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeSysUserProfileMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeSysUserProfile">
    <!--@mbg.generated-->
    <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="repair_shop_Id" property="repairShopId" />
    <result column="sys_user_id" property="sysUserId" />
    <result column="picture" property="picture" />
    <result column="first_name" property="firstName" />
    <result column="last_name" property="lastName" />
    <result column="full_name" property="fullName" />
    <result column="email" property="email" />
    <result column="tel_number" property="telNumber" />
    <result column="gender" property="gender" />
    <result column="birthday" property="birthday" />
    <result column="identity" property="identity" />
    <result column="role" property="role" />
    <result column="place_birth" property="placeBirth" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="def1" property="def1" />
    <result column="def2" property="def2" />
    <result column="def3" property="def3" />
    <result column="def5" property="def5" />
    <result column="def6" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, repair_shop_Id, sys_user_id, picture, first_name, last_name, full_name, email, 
    tel_number, gender, birthday, `identity`, `role`, place_birth, created_by, created_time, 
    updated_by, updated_time, def1, def2, def3, def5, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update ope_sys_user_profile
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.dr}
        </foreach>
      </trim>
      <trim prefix="repair_shop_Id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.repairShopId}
        </foreach>
      </trim>
      <trim prefix="sys_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.sysUserId}
        </foreach>
      </trim>
      <trim prefix="picture = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.picture}
        </foreach>
      </trim>
      <trim prefix="first_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.firstName}
        </foreach>
      </trim>
      <trim prefix="last_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.lastName}
        </foreach>
      </trim>
      <trim prefix="full_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.fullName}
        </foreach>
      </trim>
      <trim prefix="email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.email}
        </foreach>
      </trim>
      <trim prefix="tel_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.telNumber}
        </foreach>
      </trim>
      <trim prefix="gender = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.gender}
        </foreach>
      </trim>
      <trim prefix="birthday = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.birthday}
        </foreach>
      </trim>
      <trim prefix="`identity` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.identity}
        </foreach>
      </trim>
      <trim prefix="`role` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.role}
        </foreach>
      </trim>
      <trim prefix="place_birth = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.placeBirth}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdBy}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdTime}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedBy}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedTime}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def1}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def2}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def3}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def5}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def6}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ope_sys_user_profile
    (id, dr, repair_shop_Id, sys_user_id, picture, first_name, last_name, full_name, 
      email, tel_number, gender, birthday, `identity`, `role`, place_birth, created_by, 
      created_time, updated_by, updated_time, def1, def2, def3, def5, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.dr}, #{item.repairShopId}, #{item.sysUserId}, #{item.picture}, 
        #{item.firstName}, #{item.lastName}, #{item.fullName}, #{item.email}, #{item.telNumber}, 
        #{item.gender}, #{item.birthday}, #{item.identity}, #{item.role}, #{item.placeBirth}, 
        #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime}, 
        #{item.def1}, #{item.def2}, #{item.def3}, #{item.def5}, #{item.def6})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.web.ros.dm.OpeSysUserProfile">
    <!--@mbg.generated-->
    insert into ope_sys_user_profile
    (id, dr, repair_shop_Id, sys_user_id, picture, first_name, last_name, full_name, 
      email, tel_number, gender, birthday, `identity`, `role`, place_birth, created_by, 
      created_time, updated_by, updated_time, def1, def2, def3, def5, def6)
    values
    (#{id}, #{dr}, #{repairShopId}, #{sysUserId}, #{picture}, #{firstName}, #{lastName}, 
      #{fullName}, #{email}, #{telNumber}, #{gender}, #{birthday}, #{identity}, #{role}, 
      #{placeBirth}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, #{def1}, 
      #{def2}, #{def3}, #{def5}, #{def6})
    on duplicate key update 
    id = #{id}, 
    dr = #{dr}, 
    repair_shop_Id = #{repairShopId}, 
    sys_user_id = #{sysUserId}, 
    picture = #{picture}, 
    first_name = #{firstName}, 
    last_name = #{lastName}, 
    full_name = #{fullName}, 
    email = #{email}, 
    tel_number = #{telNumber}, 
    gender = #{gender}, 
    birthday = #{birthday}, 
    `identity` = #{identity}, 
    `role` = #{role}, 
    place_birth = #{placeBirth}, 
    created_by = #{createdBy}, 
    created_time = #{createdTime}, 
    updated_by = #{updatedBy}, 
    updated_time = #{updatedTime}, 
    def1 = #{def1}, 
    def2 = #{def2}, 
    def3 = #{def3}, 
    def5 = #{def5}, 
    def6 = #{def6}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.web.ros.dm.OpeSysUserProfile">
    <!--@mbg.generated-->
    insert into ope_sys_user_profile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="repairShopId != null">
        repair_shop_Id,
      </if>
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="telNumber != null">
        tel_number,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="identity != null">
        `identity`,
      </if>
      <if test="role != null">
        `role`,
      </if>
      <if test="placeBirth != null">
        place_birth,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="dr != null">
        #{dr},
      </if>
      <if test="repairShopId != null">
        #{repairShopId},
      </if>
      <if test="sysUserId != null">
        #{sysUserId},
      </if>
      <if test="picture != null">
        #{picture},
      </if>
      <if test="firstName != null">
        #{firstName},
      </if>
      <if test="lastName != null">
        #{lastName},
      </if>
      <if test="fullName != null">
        #{fullName},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="telNumber != null">
        #{telNumber},
      </if>
      <if test="gender != null">
        #{gender},
      </if>
      <if test="birthday != null">
        #{birthday},
      </if>
      <if test="identity != null">
        #{identity},
      </if>
      <if test="role != null">
        #{role},
      </if>
      <if test="placeBirth != null">
        #{placeBirth},
      </if>
      <if test="createdBy != null">
        #{createdBy},
      </if>
      <if test="createdTime != null">
        #{createdTime},
      </if>
      <if test="updatedBy != null">
        #{updatedBy},
      </if>
      <if test="updatedTime != null">
        #{updatedTime},
      </if>
      <if test="def1 != null">
        #{def1},
      </if>
      <if test="def2 != null">
        #{def2},
      </if>
      <if test="def3 != null">
        #{def3},
      </if>
      <if test="def5 != null">
        #{def5},
      </if>
      <if test="def6 != null">
        #{def6},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="dr != null">
        dr = #{dr},
      </if>
      <if test="repairShopId != null">
        repair_shop_Id = #{repairShopId},
      </if>
      <if test="sysUserId != null">
        sys_user_id = #{sysUserId},
      </if>
      <if test="picture != null">
        picture = #{picture},
      </if>
      <if test="firstName != null">
        first_name = #{firstName},
      </if>
      <if test="lastName != null">
        last_name = #{lastName},
      </if>
      <if test="fullName != null">
        full_name = #{fullName},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="telNumber != null">
        tel_number = #{telNumber},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="birthday != null">
        birthday = #{birthday},
      </if>
      <if test="identity != null">
        `identity` = #{identity},
      </if>
      <if test="role != null">
        `role` = #{role},
      </if>
      <if test="placeBirth != null">
        place_birth = #{placeBirth},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="def1 != null">
        def1 = #{def1},
      </if>
      <if test="def2 != null">
        def2 = #{def2},
      </if>
      <if test="def3 != null">
        def3 = #{def3},
      </if>
      <if test="def5 != null">
        def5 = #{def5},
      </if>
      <if test="def6 != null">
        def6 = #{def6},
      </if>
    </trim>
  </insert>
</mapper>