<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.wms.cn.china.OpeWmsStockSerialNumberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeWmsStockSerialNumber">
        <id column="id" property="id"/>
        <result column="dr" property="dr"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="dept_id" property="deptId"/>
        <result column="relation_type" property="relationType"/>
        <result column="relation_id" property="relationId"/>
        <result column="stock_type" property="stockType"/>
        <result column="rsn" property="rsn"/>
        <result column="stock_status" property="stockStatus"/>
        <result column="lot_num" property="lotNum"/>
        <result column="sn" property="sn"/>
        <result column="bluetooth_mac_address" property="bluetoothMacAddress"/>
        <result column="remark" property="remark"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="def1" property="def1"/>
        <result column="def2" property="def2"/>
        <result column="def3" property="def3"/>
        <result column="def4" property="def4"/>
        <result column="def5" property="def5"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dr, tenant_id, dept_id, relation_type, relation_id, stock_type, rsn, stock_status, lot_num, sn, bluetooth_mac_address, remark, created_by, created_time, updated_by, updated_time, def1, def2, def3, def4, def5
    </sql>

</mapper>