<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.base.OpeWmsStockRecordMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.web.ros.dm.OpeWmsStockRecord">
    <!--@mbg.generated-->
    <!--@Table ope_wms_stock_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_type" jdbcType="INTEGER" property="relationType" />
    <result column="in_wh_type" jdbcType="INTEGER" property="inWhType" />
    <result column="in_wh_qty" jdbcType="INTEGER" property="inWhQty" />
    <result column="record_type" jdbcType="INTEGER" property="recordType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="DOUBLE" property="def5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, relation_id, relation_type, in_wh_type, in_wh_qty, record_type, remark, created_by, 
    created_time, updated_by, updated_time, def1, def2, def3, def4, def5
  </sql>
</mapper>