<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.restproductionorder.AllocateOrderServiceMapper">


    <select id="allocateTotal" resultType="int">
        select count(*) from ope_allocate_order allocate
        left join ope_sys_staff staff on allocate.consignee_user = staff.id
        where allocate.dr = 0 and allocate.allocate_type = #{enter.classType}
        <include refid="listCondition"></include>
    </select>


    <sql id="listCondition">
        <if test="enter.allocateStatus != null">
            and allocate.allocate_status = #{enter.allocateStatus}
        </if>
        <if test="enter.keyword != null and enter.keyword != ''">
            and allocate.allocate_no like concat('%', #{enter.keyword}, '%') or
            staff.full_name like concat('%', #{enter.keyword}, '%')
        </if>
    </sql>

    <select id="allocateList" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.AllocateOrderListResult">
        select
          allocate.id,
          allocate.allocate_no,
          allocate.allocate_status,
          allocate.allocate_qty,
          allocate.allocate_type,
          allocate.ship_wh,
          allocate.receipt_wh,
          allocate.consignee_user,
          staff.full_name as consigneeUserName,
          allocate.consignee_country_code,
          allocate.consignee_user_telephone,
          allocate.consignee_user_mail,
          allocate.created_time,
          param1.parameter_name as shipWhName,
          param2.parameter_name as receiptWhName
        from ope_allocate_order allocate
        left join ope_sys_staff staff on allocate.consignee_user = staff.id
        left join platform.pla_sys_param_setting param1 on allocate.ship_wh = param1.id
        left join platform.pla_sys_param_setting param2 on allocate.receipt_wh = param2.id
        where allocate.dr = 0 and allocate.allocate_type = #{enter.classType}
        <include refid="listCondition"></include>
        order by allocate.created_time desc limit #{enter.startRow},#{enter.pageSize}
    </select>

    <select id="whData"
            resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.WhDataResult">
        select
          id as whId,
          parameter_name as whName
        from platform.pla_sys_param_setting
        where dr = 0
        <if test="enter.type == 1">
           and  parameter_name = '中国成品库'
        </if>
        <if test="enter.type == 2">
           and  parameter_name != '中国成品库'
        </if>
    </select>

    <select id="allocateDateil"
            resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.AllocateOrderDetailResult">
        select
          allocate.id,
          allocate.allocate_no,
          allocate.allocate_status,
          allocate.ship_wh,
          allocate.receipt_wh,
          allocate.consignee_user,
          staff.full_name as consigneeUserName,
          allocate.consignee_country_code,
          allocate.consignee_user_telephone,
          allocate.consignee_user_mail,
          allocate.consignee_post_code,
          allocate.consignee_address,
          allocate.created_time,
          allocate.remark,
          param1.parameter_name as shipWhName,
          param2.parameter_name as receiptWhName,
          allocate.consignee_country_code,
          allocate.notify_user,
          allocate.notify_user_name,
          allocate.notify_country_code,
          allocate.notify_user_telephone,
          allocate.notify_user_mail
        from ope_allocate_order allocate
        left join ope_sys_staff staff on allocate.consignee_user = staff.id
        left join platform.pla_sys_param_setting param1 on allocate.ship_wh = param1.id
        left join platform.pla_sys_param_setting param2 on allocate.receipt_wh = param2.id
        where allocate.dr = 0 and allocate.id = #{id}

    </select>


    <select id="allocateScooter"
            resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.AllocateOrderScooterDetailResult">
        select
          scooter.id as id,
          scooter.group_id as groupId,
          scooter.color_id as colorId,
          scooter.qty as qty,
          scooter.expect_delivery_date as expectDeliveryDate,
          scooter.expect_ship_date as expectShipDate,
          group1.group_name as groupName,
          color.color_value as colorValue,
          color.color_name as colorName
        from ope_allocate_scooter_b scooter
        left join ope_specificat_group group1 on group1.id = scooter.group_id
        left join ope_color color on color.id = scooter.color_id
        where scooter.allocate_id = #{id} and scooter.dr = 0
    </select>


    <select id="allocateCombin"
            resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.AllocateOrderCombinDetailResult">
        select
        combin.id,
        combin.combin_name,
        combin.production_combin_bom_id,
        combin.qty,
        combin.expect_delivery_date,
        combin.expect_ship_date,
        bom.bom_no
        from ope_allocate_combin_b combin
        left join ope_production_combin_bom bom on bom.id = combin.production_combin_bom_id
        where combin.dr = 0 and  combin.allocate_id = #{id}
    </select>


    <select id="allocateParts" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.AllocateOrderPartsDetailResult">
        select
         parts.id,
         parts.parts_id,
         parts.parts_name,
         parts.parts_no,
         parts.parts_type,
         parts.qty,
         parts.expect_delivery_date,
         parts.expect_ship_date
       from ope_allocate_parts_b parts
       where parts.dr = 0 and parts.allocate_id = #{id}
    </select>

    <select id="allocateEntrust" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.AllocateEntrustResult">
       select
        entrust.id,
        entrust.entrust_no,
        entrust.entrust_status,
        entrust.created_time
       from ope_entrust_order entrust
       left join ope_invoice_order invoice on invoice.id = entrust.invoice_id
       left join ope_purchase_order purchase on purchase.id = invoice.purchase_id
       left join ope_allocate_order allocate on allocate.id = purchase.allocate_id
       where entrust.dr = 0 and allocate.id = #{id}

    </select>

    <select id="allocateTrace" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.optrace.OpTraceResult">
        select
          trace.id,
          trace.relation_id,
          trace.op_type,
          trace.remark,
          trace.created_time,
          staff.full_name as createdByName
        from ope_op_trace trace
        left join ope_sys_staff staff on trace.created_by = staff.id
        where trace.dr = 0 and trace.relation_id = #{id}
        order by trace.created_time desc
    </select>


    <select id="allocateOutWh" resultType="java.lang.Integer">
        SELECT
          count(*)
        FROM ope_out_whouse_order wh
        LEFT JOIN ope_invoice_order invoice on invoice.id = wh.invoice_id
        LEFT JOIN ope_purchase_order purchase on purchase.id = invoice.purchase_id
        LEFT JOIN ope_allocate_order allocate on  allocate.id = purchase.allocate_id
        where wh.dr = 0 and allocate.id = #{id}  and wh.out_wh_status in (10,20)
    </select>


    <select id="purchaseAllocate" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.purchaseorder.PurchaseRelationOrderResult">
        select
            id,
            allocate_no as orderNo,
            created_time
        from ope_allocate_order
        where dr = 0 and id = #{id}

    </select>


</mapper>