<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.production.AssemblyServiceMapper">


    <sql id="field_ordinaryList">
           ass.id                             as id,
       ass.assembly_number                as contractN,
       ass.status                         as status,
       ass.factory_id                     as factoryId,
       factory.factory_name               as factoryName,
       factory.contact_first_name         as contactFirstName,
       factory.contact_last_name          as contactLastName,
       factory.contact_full_name          as contactFullName,
       factory.contact_phone              as contactPhone,
       factory.contact_phone_country_code as contactPhoneCountryCode,
       factory.contact_email              as contactEmail,
       ass.total_qty                      as qty,
       ass.created_time                   as createdTime,
       ass.consignee_id                   as consigneeId,
       profile.first_name                 as consigneeFirstName,
       profile.last_name                  as consigneeLastName,
       profile.full_name                  as consigneeFullName,
       profile.tel_number                 as consigneePhone,
       profile.country_code               as consigneePhoneCountryCode,
       profile.email                      as consigneeEmail,
       ass.processing_fee                 as processCost,
       ass.processing_fee_ratio           as processCostRatio
    </sql>


    <sql id="field_assemblyList">
           ass.id                             as id,
       ass.assembly_number                as contractN,
       ass.status                         as status,
       ass.factory_id                     as factoryId,
       factory.factory_name               as factoryName,
       factory.contact_first_name         as contactFirstName,
       factory.contact_last_name          as contactLastName,
       factory.contact_full_name          as contactFullName,
       factory.contact_phone              as contactPhone,
       factory.contact_phone_country_code as contactPhoneCountryCode,
       factory.contact_email              as contactEmail,
       ass.total_qty                      as qty,
       ass.created_time                   as createdTime,
       ass.consignee_id                   as consigneeId,
       profile.first_name                 as consigneeFirstName,
       profile.last_name                  as consigneeLastName,
       profile.full_name                  as consigneeFullName,
       profile.tel_number                 as consigneePhone,
       profile.country_code               as consigneePhoneCountryCode,
       profile.email                      as consigneeEmail,
       ass.total_price                    as totalPrice,
       ass.payment_type                   as paymentType,
       ass.product_price                  as productPrice,
       ass.processing_fee                 as processCost,
       ass.processing_fee_ratio           as processCostRatio
    </sql>

    <sql id="where_assemblyList">
        <where>
            and ass.dr=0
            and ass.status in
            <foreach collection="statusList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
            <if test="enter.status != null and enter.status != ''">
                and ass.status=#{enter.status}
            </if>
            <if test="enter.factoryId != null">
                and ass.factory_id=#{enter.factoryId}
            </if>
            <if test="param1.paymentType != null and param1.paymentType != ''">
                and ass.payment_type =#{enter.paymentType}
            </if>
            <if test="enter.createdStartTime != null and enter.createdEndTime != null">
                and (ass.created_time between#{enter.createdStartTime} and #{enter.createdEndTime} )
            </if>
            <if test="enter.keyword != null and enter.keyword != ''">
                and (
                ass.assembly_number like concat ("%",#{enter.keyword},"%")
                )
            </if>
        </where>
    </sql>

    <sql id="Field_payment_item">
        payment.id                   as id,
               payment.payment_status       as status,
               payment.ope_assembly_order_id           as bizId,
               payment.amount               as amount,
               payment.amount_proportion    as paymentRatio,
               payment.invoice_num          as invoiceNum,
               payment.invoice_picture      as invoicePicture,
               payment.payment_day          as dayNum,
               payment.payment_time         as actualPaymentDate,
               payment.description          as remark,
               payment.payment_type         as paymentType,
               payment.planned_payment_time as estimatedPaymentDate
    </sql>

    <sql id="WHERE_ASSEMBLYQCINFOLIST">
        where oao.id =#{id}
        and assBqc.dr = 0
        <if test="keyword != null and keyword != ''">
            and (
            product.en_name like concat("%",#{keyword},"%") or
            and product.product_number like concat("%",#{keyword},"%")
            )
        </if>
    </sql>

    <sql id="WHERE_ASSEMBLYQCINFOITEM">

    </sql>

    <select id="countByTypes" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select count(st.sta) as totalCount,
               st.sta        as status
        from (select case
                         when status = '6' then '2'
                         when status = '7' then '2'
                         else '1' end as sta
              from ope_assembly_order) st
        group by status
    </select>
    <select id="assemblyListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_assembly_order ass
        left join ope_factory factory on factory.id = ass.factory_id and factory.dr = 0
        left join ope_sys_user_profile profile on profile.sys_user_id = ass.consignee_id and profile.dr = 0
        <include refid="where_assemblyList"/>
    </select>
    <select id="assemblyList" resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyResult">
        select
        <include refid="field_assemblyList"/>
        from ope_assembly_order ass
        left join ope_factory factory on factory.id = ass.factory_id and factory.dr = 0
        left join ope_sys_user_profile profile on profile.sys_user_id = ass.consignee_id and profile.dr = 0
        <include refid="where_assemblyList"/>
        order by ass.created_time desc
        limit #{enter.startRow},#{enter.pageSize}
    </select>
    <select id="paymentItemDetailListByAssIds"
            resultType="com.redescooter.ses.web.ros.vo.production.PaymentItemDetailResult">
        select
        <include refid="Field_payment_item"/>
        from ope_assembly_order_payment payment
        where payment.dr = 0
        <if test="collection != null and collection.size() != 0">
            and payment.ope_assembly_order_id in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="detail" resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyResult">
        select
        <include refid="field_assemblyList"/>
        from ope_assembly_order ass
        left join ope_factory factory on factory.id = ass.factory_id and factory.dr = 0
        left join ope_sys_user_profile profile on profile.sys_user_id = ass.consignee_id and profile.dr = 0
        where ass.dr=0
        and ass.id=#{id}
    </select>
    <select id="assemblyNode" resultType="com.redescooter.ses.api.common.vo.CommonNodeResult">
        select trace.id as id,
        trace.status as status,
        trace.event as event,
        trace.event_time as eventTime,
        trace.created_by as createdBy,
        profile.first_name as createdByFirstName,
        profile.last_name as createdByLastName,
        profile.full_name as createdByFullName,
        trace.memo as memo
        from ope_assembiy_order_trace trace
        left join ope_sys_user_profile profile on trace.created_by = profile.sys_user_id and profile.dr = 0
        where trace.dr = 0
        and trace.ope_assembiy_order_id =#{id}
        order by trace.created_time asc
    </select>
    <select id="partDetailListByPartIds" resultType="com.redescooter.ses.web.ros.vo.bo.PartDetailDto">
        select parts.id as partId,
        ifnull(sheet.price,0) as price,
        sheet.currency_unit as unit,
        supplier_id as supplierId
        from ope_parts parts
        inner join ope_supplier supplier on parts.supplier_id = supplier.id and supplier.dr = 0
        left join ope_price_sheet sheet on parts.id = sheet.parts_id and sheet.currency_unit = 1 and sheet.dr = 0
        where parts.dr=0
        <if test="collection != null and collection.size() != 0">
            and parts.id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="paymentItemList"
            resultType="com.redescooter.ses.web.ros.vo.production.PaymentItemDetailResult">
        select payment.id as id,
        payment.payment_status as status,
        payment.ope_assembly_order_id as bizId,
        payment.amount as amount,
        payment.amount_proportion as paymentRatio,
        payment.invoice_num as invoiceNum,
        payment.invoice_picture as invoicePicture,
        payment.payment_day as dayNum,
        payment.payment_time as actualPaymentDate,
        payment.description as remark,
        payment.payment_type as paymentType,
        payment.planned_payment_time as estimatedPaymentDate
        from ope_assembly_order_payment payment
        where payment.dr = 0
        and payment.ope_assembly_order_id =#{id}
    </select>

    <select id="productItemList"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.productItemResult">
        select assOrder.id as id,
        assOrder.product_number as productN,
        assOrder.en_name as enName,
        assOrder.assembly_qty as qty,
        assOrder.price as price,
        assOrder.assembly_qty * assOrder.price as subtotal
        from ope_assembly_b_order assOrder
        where assOrder.dr = 0
        and assOrder.assembly_id =#{id}
    </select>
    <select id="ordinaryList" resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyResult">
        select
        <include refid="field_ordinaryList"/>
        from ope_assembly_order ass
        left join ope_factory factory on factory.id = ass.factory_id and factory.dr = 0
        left join ope_sys_user_profile profile on profile.sys_user_id = ass.consignee_id and profile.dr = 0
        <include refid="where_assemblyList"/>
        order by ass.created_time desc
        limit #{enter.startRow},#{enter.pageSize}
    </select>
    <select id="ordinaryAssemblyNode" resultType="com.redescooter.ses.api.common.vo.CommonNodeResult">
        select trace.id as id,
        trace.status as status,
        trace.event as event,
        trace.event_time as eventTime,
        trace.created_by as createdBy,
        profile.first_name as createdByFirstName,
        profile.last_name as createdByLastName,
        profile.full_name as createdByFullName
        from ope_assembiy_order_trace trace
        left join ope_sys_user_profile profile on trace.created_by = profile.sys_user_id and profile.dr = 0
        where trace.dr = 0
        and trace.ope_assembiy_order_id =#{id}
        order by trace.created_time asc
    </select>

    <select id="productAssemblyTrace"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.ProductAssemblyTraceResult">
        select border.id                         as id,
                border.product_id                 as productId,
                border.product_number             as productN,
                product.en_name                   as enName,
                border.assembly_qty               as assemblyTotal,
                border.complete_qty               as assemblyCompleteTotal,
                if(border.complete_qty = 0, 0, 1) as assemblyFlag
        from ope_assembly_b_order border
                 inner join ope_parts_product product on border.product_id = product.id
        where border.assembly_id = #{id}
    </select>

    <select id="productAssemblyItemTrace"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.ProductAssemblyTraceItemResult">
        select count(assem.id)                             as assemblyCompleteTotal,
               DATE_FORMAT(assem.created_time, '%Y-%m-%d') as assemblyDate
        from ope_product_assembly assem
                 left join ope_assembly_b_order border
                           on assem.assembly_b_id = border.id
        group by assemblyDate
    </select>

    <select id="assemblyQcInfoCount" resultType="java.lang.Integer">
        select count(*)
        from ope_assembly_b_qc assBqc
        left join ope_assembly_b_order oabo on assBqc.assembly_b_id = oabo.id and oabo.dr = 0
        left join ope_assembly_order oao on oabo.assembly_id = oao.id and oao.dr = 0
        left join ope_parts_product product on product.id = oabo.product_id and product.dr = 0
        <include refid="WHERE_ASSEMBLYQCINFOLIST"/>
    </select>

    <select id="assemblyQcInfoList"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyQcInfoResult">
        select assBqc.id as id,
        oabo.product_number as productN,
        oabo.en_name as enName,
        assBqc.total_quality_inspected as qcTotal,
        assBqc.pass_count as passTotal
        from ope_assembly_b_qc assBqc
        left join ope_assembly_b_order oabo on assBqc.assembly_b_id = oabo.id and oabo.dr = 0
        left join ope_assembly_order oao on oabo.assembly_id = oao.id and oao.dr = 0
        left join ope_parts_product product on product.id = oabo.product_id and product.dr = 0
        <include refid="WHERE_ASSEMBLYQCINFOLIST"/>
    </select>

    <select id="assemblyQcInfoItem"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyQcItemResult">
            select item.id           as  id,
                    item.serial_num   as  serialN,
                    item.qc_result    as  qcStatus,
                    item.created_time as  qcDate,
                    item.assembly_b_qc_id as  assemblyBQcId
            from ope_assembly_qc_item item
                     left join ope_assembly_b_qc bqc on bqc.id = item.assembly_b_qc_id and bqc.dr = 0
            where bqc.id = #{id}
              and item.dr = 0
            <if test="status != null and status != ''">
                and item.qc_result=#{status}
            </if>
            <if test="qcStartTime != null and qcEndTime != null">
                and (item.created_time between #{qcStartTime}  and #{qcEndTime} )
            </if>
    </select>

    <select id="assemblyQcItemView"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyQcItemViewResult">
            select item.id            as id,
                   item.serial_num    as serialN,
                   item.qc_result     as qcResult
            from ope_assembly_qc_item item
            where item.id = #{id}
              and item.dr = 0
    </select>

    <select id="qcItemViewResult"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.QcItemViewResult">
            select item.id            as id,
                    item.qc_result     as status,
                    item.created_by    as operatorId,
                    profile.first_name as operatorFirstName,
                    profile.last_name  as operatorLastName,
                    item.created_time  as qcDate,
                    item.qc_result     as status
            from ope_assembly_qc_item item
                     inner join ope_sys_user_profile profile on item.created_by = profile.sys_user_id
            where item.serial_num = #{serialN}
    </select>
    <select id="viewItemTemplate"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyQcItemViewItemTemplateResult">
            select trace.id                         as id,
                   trace.product_qc_template_id     as itemId,
                   trace.product_qc_template_name   as itemName,
                   trace.product_qc_template_b_id   as qcResultId,
                   trace.product_qc_template_b_name as qcResultName,
                   trace.picture                    as partQcPicture
            from ope_assembly_qc_trace trace
            where trace.dr = 0
              and trace.assembly_qc_item_id =#{id}
    </select>
    <select id="assemblyQcInfoItemByIds"
            resultType="com.redescooter.ses.web.ros.vo.production.assembly.AssemblyQcItemResult">
        select item.id           as  id,
                item.serial_num   as  serialN,
                item.qc_result    as  qcStatus,
                item.created_time as  qcDate,
                item.assembly_b_qc_id as  assemblyBQcId
        from ope_assembly_qc_item item
        left join ope_assembly_b_qc bqc on bqc.id = item.assembly_b_qc_id and bqc.dr = 0
        where item.dr = 0
        and bqc.id in
        <foreach collection="ids" open="(" close=")" item="item">
            #{item}
        </foreach>
        <if test="enter.status">
            and item.qc_result=#{enter.status}
        </if>
        <if test="enter.qcStartTime != null and enter.qcEndTime != null">
            and (item.created_time between #{enter.qcStartTime}  and #{enter.qcEndTime} )
        </if>
    </select>
</mapper>