<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redescooter.ses.web.ros.dao.delete.DeleteMapper">


    <delete id="deleteCustomer" parameterType="java.lang.Long">
        delete
        from ope_customer
        where id = #{id}
    </delete>

    <delete id="deleteCustomerContact" parameterType="java.lang.Long">
        delete
        from ope_customer_contact
        where customer_id = #{id}
    </delete>

    <delete id="deleteCustomerInquiry" parameterType="java.lang.Long">
        delete
        from ope_customer_inquiry
        where customer_id = #{id}
    </delete>

    <delete id="deleteCustomerInquiryB" parameterType="java.lang.Long">
        delete
        from ope_customer_inquiry_b
        where inquiry_id = #{id}
    </delete>


    <delete id="deleteCarDistribute" parameterType="java.lang.Long">
        delete
        from ope_car_distribute
        where id = #{id}
    </delete>

    <delete id="deleteCarDistributeNode" parameterType="java.lang.Long">
        delete
        from ope_car_distribute_node
        where id = #{id}
    </delete>


    <!-- 删除车辆bom -->
    <delete id="deleteScooterBom" parameterType="java.lang.Long">
        delete
        from ope_production_scooter_bom
        where id = #{id}
    </delete>

    <!-- 删除组装件bom -->
    <delete id="deleteCombinBom" parameterType="java.lang.Long">
        delete
        from ope_production_combin_bom
        where id = #{id}
    </delete>

    <!-- 删除码库relation -->
    <delete id="deleteCodebaseRelation" parameterType="java.lang.Long">
        delete
        from ope_codebase_relation
        where id = #{id}
    </delete>

    <!-- 删除库存产品序列号 -->
    <delete id="deleteWmsStockSerialNumber" parameterType="java.lang.Long">
        delete from ope_wms_stock_serial_number where id = #{id}
    </delete>


    <delete id="deleteOrder" parameterType="java.lang.Long">
        delete
        from ope_customer_inquiry
        where id =
              #{id}

    </delete>

    <delete id="deleteOrderB" parameterType="java.lang.Long">
        delete
        from ope_customer_inquiry_b where inquiry_id = #{id}
    </delete>

    <!-- 删除部件 -->
    <delete id="deletePart" parameterType="java.lang.Long">
        delete from ope_production_parts where id = #{id}
    </delete>

    <!-- 删除ope_product_price -->
    <delete id="deletePrice" parameterType="java.lang.Long">
        delete from ope_product_price where id = #{id}
    </delete>

    <!-- 删除ope_product_price_history -->
    <delete id="deletePriceHistory" parameterType="java.lang.Long">
        delete from ope_product_price_history where id = #{id}
    </delete>


    <delete id="deleteDeposit">
        delete
        from ope_set_deposit where dr = 0
    </delete>
</mapper>