<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.sys.DeptServiceMapper">

    <select id="topDeptartment" resultType="com.redescooter.ses.web.ros.vo.tree.DeptTreeReslt">
    select osd.*
    from (select dept.p_id
          from ope_sys_dept dept
                   left join
               ope_sys_dept_relation osdr
               on osdr.descendant = dept.id
          where (osdr.descendant = #{enter.id} OR osdr.ancestor = #{enter.id})
          group by dept.p_id) pdept
             inner join ope_sys_dept osd on pdept.p_id = osd.id
    where osd.level = #{level}

    </select>

    <select id="deptList" resultType="com.redescooter.ses.web.ros.vo.tree.DeptTreeReslt">
    select dept.id
         , dept.dr
         , dept.p_id
         , dept.tenant_id
         , dept.principal
         , dept.level
         , dept.name
         , dept.code
         , dept.sort
         , count(user.dept_id) as employeeCount
    from ope_sys_dept dept
             left join ope_sys_user user on dept.id = user.dept_id and user.dr = 0
    where dept.dr = 0
    group by dept.id, dept.dr, dept.p_id, dept.tenant_id, dept.principal, dept.level, dept.name, dept.code, dept.sort
    </select>

    <select id="employeeList" resultType="com.redescooter.ses.web.ros.vo.sys.dept.EmployeeProfileResult">
        select profile.sys_user_id as id,
               user.dept_id        as deptId,
               profile.first_name  as employeeFirstName,
               profile.last_name   as employeeLastName,
               profile.picture     as employeePicture,
               role.id             as employeePositionId,
               role.role_name      as employeePositionName
        from ope_sys_user_profile profile
                 inner join ope_sys_user user on profile.sys_user_id = user.id and user.dr = 0
                 inner join ope_sys_user_role osur on user.id = osur.user_id
                 inner join ope_sys_role role on osur.role_id = role.id and role.dr = 0
        where profile.dr = 0
    </select>
</mapper>
