<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.sys.MenuServiceMapper">

    <select id="queryMenuButtons" resultType="com.redescooter.ses.web.ros.vo.tree.MenuTreeResult">
      select *
      from ope_sys_menu
      where type =1
    </select>
    <resultMap id="modulePermissionsMap" type="com.redescooter.ses.web.ros.vo.sys.menu.ModulePermissionsResult">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <collection property="childs"
                    javaType="java.util.ArrayList"
                    ofType="com.redescooter.ses.web.ros.vo.tree.MenuTreeResult"
                    column="id"
                    select="queryMenuSon"/>
    </resultMap>
    <select id="modulePermissions"
            resultMap="modulePermissionsMap">
    select far.id , far.name, far.code, far.sort
    from ope_sys_menu sub
             inner join ope_sys_menu far on far.id = sub.p_id
    where sub.type = 1
    group by  far.id , far.name, far.code, far.sort
    </select>
    <select id="queryMenuSon" resultType="com.redescooter.ses.web.ros.vo.tree.MenuTreeResult">
    select *
    from ope_sys_menu
    where type = 1
      and p_id = #{id}
    </select>


</mapper>

