<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.restproductionorder.ProductionAssemblyOrderServiceMapper">

    <select id="listCount" resultType="int">
        select count(1)
        from ope_combin_order combin
        left join ope_sys_staff staff on staff.id = combin.created_by and staff.dr = 0
        where combin.dr=0
        and combin.combin_type=#{classType}
        <if test="status != null">
            and  combin.combin_status =#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and combin.combin_no like concat('%',#{keyword},'%')
        </if>
    </select>
    <select
    id="list" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.assembly.ProductionAssemblyOrderListResult">
        select id                       as id,
               combin.combin_type       as combinType,
               combin.combin_no         as combinNo,
               combin.combin_status     as combinStatus,
               combin.combin_qty        as combinQty,
               combin.combin_start_date as combinStartDate,
               combin.combin_end_date   as combinEndDate,
               combin.principal_id      as principalId,
               combin.principal_name    as principalName,
               combin.country_code      as countryCode,
               combin.telephone         as telephone,
               combin.created_by        as createById,
               staff.first_name         as createByFistName,
               staff.last_name          as createByLastName,
               combin.created_time      as createdTime
        from ope_combin_order combin
                 left join ope_sys_staff staff on staff.id = combin.created_by and staff.dr = 0
        where combin.dr=0
        and combin.combin_type=#{classType}
        <if test="status != null">
            and  combin.combin_status =#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and combin.combin_no like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="detail" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.assembly.ProductionAssemblyOrderDetailResult">
        select id                       as id,
               combin.combin_type       as combinType,
               combin.combin_no         as combinNo,
               combin.combin_status     as combinStatus,
               combin.combin_qty        as combinQty,
               combin.combin_start_date as combinStartDate,
               combin.combin_end_date   as combinEndDate,
               combin.principal_id      as principalId,
               combin.principal_name    as principalName,
               combin.country_code      as countryCode,
               combin.telephone         as telephone,
               combin.remark            as remark,
               combin.combin_type       as classType
        from ope_combin_order combin
        where combin.dr=0
        and combin.id=#{id}
    </select>

    <select id="productScooterList" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.assembly.AssemblyDetailProductListResult">
        select scooterb.id        as id,
                group_id           as groupId,
                spgroup.group_name as groupName,
                color_id           as colorId,
                color.color_name   as colorName,
                color.color_value  as colorValue,
                1                  as productType,
                scooter_bom_id     as productId,
                qty                as qty
        from ope_combin_order_scooter_b scooterb
        left join ope_specificat_group spgroup on spgroup.id = scooterb.group_id and scooterb.dr = 0
        left join ope_color color on color.id = scooterb.color_id and color.dr = 0
        where scooterb.dr=0
        and  scooterb.combin_id=#{id}
    </select>

    <select id="productCombinList" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.assembly.AssemblyDetailProductListResult">
        select id                       as id,
               combin_name              as productName,
               combin_no                as productN,
               production_combin_bom_id as productId,
               2                        as productType,
               qty                      as qty
        from ope_combin_order_combin_b
        where dr=0
        and  combin_id=#{id}
    </select>


    <select id="relationOrderData" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.inwhouse.InWhRelationOrderResult">
        select
        id as relationOrderId,
        combin_no as relationOrderNo
        from ope_combin_order
        where dr = 0 and combin_status in (70,80)
        <if test="enter.keyword != null and enter.keyword != ''">
            and combin_no like concat('%', #{enter.keyword}, '%')
        </if>
    </select>

    <select id="relationCombinOrderCombinData" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.inwhouse.SaveOrUpdateCombinBEnter">
        select
           combin_name,
           combin_no,
           production_combin_bom_id,
           qty as combinQty,
           qty as ableInWhQty
        from ope_combin_order_combin_b
        where dr = 0 and combin_id = #{enter.id}
    </select>

    <select id="relationCombinOrderScooterData" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.inwhouse.SaveOrUpdateScooterBEnter">
        select
            scooter.group_id,
            scooter.color_id,
            scooter.qty as combinQty,
            scooter.qty as ableInWhQty,
            group1.group_name AS groupName,
            color.color_value AS colorValue,
            color.color_name AS colorName
        from ope_combin_order_scooter_b scooter
        left join ope_specificat_group group1 on scooter.group_id = group1.id
        left join ope_color color ON color.id = scooter.color_id
        where scooter.dr = 0 and scooter.combin_id = #{enter.id}
    </select>
</mapper>