<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.restproductionorder.ProductionPurchasServiceMapper">

    <sql id="where_pruchasList">
        where purOrder.dr = 0
        <if test="purchaseStatus != null">
            and purOrder.purchase_status =#{purchaseStatus}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            supplier.supplier_name like concat ('%',#{keyword},'%') or
            purOrder.purchase_no like concat ('%',#{keyword},'%')
            )
        </if>
    </sql>
    <select id="listCount" resultType="int">
        select count(1)
        from ope_production_purchase_order purOrder
        left join ope_supplier supplier on supplier.id = purOrder.factory_id and supplier.dr = 0
        left join ope_sys_staff staff on staff.id = purOrder.created_by and staff.dr = 0
        <include refid="where_pruchasList"/>
    </select>

    <select
    id="list" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.purchass.ProductionPurchasListResult">
        select purOrder.id                     as id,
                purOrder.purchase_no            as purchaseNo,
                purOrder.purchase_status        as purchaseStatus,
                purOrder.purchase_qty           as purchaseQty,
                purOrder.delivery_date          as deliveryDate,
                purOrder.purchase_amount        as purchaseAmount,
                purOrder.factory_id             as factoryId,
                supplier.supplier_name          as factoryName,
                purOrder.docking_user           as dockingUser,
                purOrder.docking_user_name      as dockingUserName,
                purOrder.docking_country_code   as dockingCountryCode,
                purOrder.docking_user_telephone as dockingUserTelephone,
                purOrder.created_by             as createById,
                staff.first_name                as createByFirstName,
                staff.last_name                 as createByLastName,
                purOrder.created_time           as createTime
                from ope_production_purchase_order purOrder
        left join ope_supplier supplier on supplier.id = purOrder.factory_id and supplier.dr = 0
        left join ope_sys_staff staff on staff.id = purOrder.created_by and staff.dr = 0
        <include refid="where_pruchasList"/>
        order by purOrder.created_time desc
        limit #{startRow},#{pageSize}
    </select>

    <select id="detailProductList" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.purchass.PurchasDetailProductListResult">
        select
               partB.parts_id as id,
               partB.parts_no as partN,
               partB.parts_name as partName,
               partB.parts_type as partType,
               partB.qty as qty,
               partB.unit_price as price
        from ope_production_purchase_parts_b partB
        where partB.dr=0
        and partB.production_purchase_id=#{id}
    </select>

    <select id="partDetailList" resultType="com.redescooter.ses.web.ros.vo.bo.PartDetailDto">
        select part.id          as partId,
               part.parts_no    as partN,
               part.en_name     as partName,
               part.parts_type  as productType,
               100              as price,
               1                as unit,
               part.supplier_id as supplierId
        from ope_production_parts part
        where  part.dr=0
        <if test="collection != null and collection.size() != 0">
            and part.id in
            <foreach collection="collection" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </select>

    <select id="purchasPartListCount" resultType="int">
           select count(1)
            from ope_production_parts part
            inner join  ope_product_price price on part.id=price.product_id and price.dr=0
            inner join ope_supplier supplier on supplier.id=part.supplier_id and supplier.dr=0
            where part.disable=0
            and  part.dr=0
            and part.qc_flag=1
            <if test="productType != null">
                and part.parts_type=#{productType}
            </if>
            <if test="keyword != null and keyword != ''">
                and (
                part.parts_no like concat ('%',#{keyword},'%') or
                part.en_name like concat ('%',#{keyword},'%')
                )
            </if>
    </select>

    <select
    id="purchasPartList" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.purchass.PurchasPartListResult">

        select part.id          as id,
        part.parts_no    as partsN,
        part.en_name     as enName,
        part.parts_type  as productType,
        100              as price,
        1                as unit,
        part.supplier_id as supplierId
        from ope_production_parts part
        inner join  ope_product_price price on part.id=price.product_id and price.dr=0
        inner join ope_supplier supplier on supplier.id=part.supplier_id and supplier.dr=0
        where part.disable = 0
        and part.dr = 0
        and part.qc_flag=1
        <if test="productType != null">
            and part.parts_type=#{productType}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            part.parts_no like concat ('%',#{keyword},'%') or
            part.en_name like concat ('%',#{keyword},'%')
            )
        </if>
        limit #{startRow},#{pageSize}
    </select>

    <select id="detail" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.purchass.ProductionPurchasDetailResult">
        select purOrder.id                       as id,
        purOrder.purchase_no              as purchaseNo,
        purOrder.purchase_status          as purchaseStatus,
        purOrder.purchase_amount          as purchaseAmount,
        purOrder.factory_id               as factoryId,
        supplier.supplier_name            as factoryName,
        purOrder.factory_principal_id     as factoryPrincipalId,
        purOrder.factory_principal_name   as factoryPrincipalName,
        purOrder.principal_country_code   as principalCountryCode,
        purOrder.principal_telephone      as principalTelephone,
        purOrder.delivery_date            as deliveryDate,
        purOrder.docking_user             as dockingUser,
        purOrder.docking_user_name        as dockingUserName,
        purOrder.docking_country_code     as dockingCountryCode,
        purOrder.docking_user_telephone   as dockingUserTelephone,
        purOrder.consignee_user           as consigneeUser,
        purOrder.consignee_user_name      as consigneeUserName,
        purOrder.consignee_country_code   as consigneeCountryCode,
        purOrder.consignee_user_telephone as consigneeUserTelephone,
        purOrder.consignee_address        as consigneeAddress,
        purOrder.remark                   as remark,
        purOrder.payment_type             as paymentType,
        purOrder.planned_payment_time     as date,
        purOrder.payment_day              as days,
        purOrder.purchase_contract        as contract,
        purOrder.pre_pay_ratio            as percentage
        from ope_production_purchase_order purOrder
        left join ope_supplier supplier on supplier.id = purOrder.factory_id and supplier.dr = 0
        where purOrder.dr = 0
        and  purOrder.id=#{id}
    </select>

    <select id="relationOrderData" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.inwhouse.InWhRelationOrderResult">
        select
          id as relationOrderId,
          purchase_no as relationOrderNo
        from ope_production_purchase_order
        where dr = 0 and purchase_status in (10,20,30)
        <if test="enter.keyword != null and enter.keyword != ''">
            and purchase_no like concat('%', #{enter.keyword}, '%')
        </if>
    </select>

    <select id="relationPurchaseOrderPartsData" resultType="com.redescooter.ses.web.ros.vo.restproductionorder.inwhouse.SaveOrUpdatePartsBEnter">
        select
           parts_id,
           parts_name,
           parts_no,
           parts_type,
           qty as purchaseQty,
           qty as ableInWhQty
        from ope_production_purchase_parts_b
        where dr = 0 and production_purchase_id = #{enter.id}
    </select>
</mapper>
