<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.qctemplete.ProductionQcTempleteServiceMapper">

    <select id="detail" resultType="com.redescooter.ses.web.ros.vo.bom.QcTemplateDetailResult">
        select id              as id,
        production_type as productionProductType,
        qc_item_name    as qcItemName,
        created_time as createTime
        from ope_production_quality_tempate
        where dr = 0 and production_id = #{id}
    </select>

    <select id="detailQcResultList" resultType="com.redescooter.ses.web.ros.vo.bom.QcResultResult">
        select id                         as id,
        product_quality_tempate_id as qualityTempateId,
        qc_result                  as result,
        pass_flag                  as passFlag,
        upload_flag                as uploadPictureFalg,
        results_sequence           as resultSequence
        from ope_production_quality_tempate_b
        where dr = 0
        and product_quality_tempate_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
