<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.production.PurchasingServiceMapper">

    <sql id="purchasing_item">
        purchas.id                     as id,
               purchas.contract_no            as contractN,
               purchas.status                 as status,
               purchas.consignee_id           as consigneeId,
               profile.first_name                 as consigneeFirstName,
               profile.last_name                  as consigneeLastName,
               profile.tel_number                 as consigneePhone,
               profile.country_code               as consigneeCounteyCode,
               profile.email                      as consigneeEmail,
               purchas.factory_id             as factoryId,
               factory.factory_name               as factoryName,
               factory.contact_first_name         as factoryContactFirstName,
               factory.contact_last_name          as factoryContactLastName,
               factory.contact_phone_country_code as contactPhoneCountryCode,
               factory.contact_phone              as contactPhone,
               factory.contact_email              as contactEmail,
               purchas.total_price            as totalPrice,
               purchas.total_qty              as partsQty
    </sql>

    <sql id="paymentItemList">
        payment.id                   as id,
               payment.payment_status       as status,
               payment.purchas_id           as purchasingId,
               payment.amount               as amount,
               payment.amount_proportion    as paymentRatio,
               payment.invoice_num          as invoiceNum,
               payment.invoice_picture      as invoicePicture,
               payment.payment_day          as dayNum,
               payment.payment_time         as actualPaymentDate,
               payment.description          as remark,
               payment.payment_type         as paymentType,
               payment.planned_payment_time as estimatedPaymentDate
    </sql>

    <sql id="where_purchasingList">
        where purchas.dr=0
        and purchas.status in
        <foreach collection="statusList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="enter.status != null and enter.status != ''">
            and purchas.status =#{enter.status}
        </if>
        <if test="enter.factoryId != null">
            and purchas.factory_id =#{enter.factoryId}
        </if>
        <if test="enter.paymentType != null and enter.paymentType != ''">
            and purchas.payment_type=#{param1.paymentType}
        </if>
        <if test="enter.createdStartTime != null and enter.createdEndTime != null">
            and (purchas.created_time betwween #{enter.createdStartTime} and #{enter.createdEndTime})
        </if>
        <if test="enter.keyword != null and enter.keyword != ''">
            and (
            purchas.contract_no like concat ("%",#{enter.keyword},"%")
            )
        </if>
        order by purchas.created_time desc
    </sql>

    <select id="countByType" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select count(*)       as totalCount,
               case status
                   when purchasing.status = 1 then 1
                   when purchasing.status = 2 then 1
                   when purchasing.status = 3 then 1
                   when purchasing.status = 4 then 1
                   when purchasing.status = 5 then 1
                   else 2 end as status
        from ope_purchas purchasing
        group by status
    </select>


    <select id="queryPurchasProductList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select product.id as id,
        product.product_number as partsN,
        product.en_name as enName,
        product.cn_name as cnName,
        product.product_type as productType,
        supplier.id as supplierId,
        supplier.supplier_name as supplierName,
        product.production_cycle as leadTime,
        sheet.sales_price as price,
        sheet.currency_unit as unit
        from ope_parts_product product
        left join ope_parts_product_b productb
        on product.id = productb.parts_product_id and productb.dr = 0
        and product.product_type in
        <foreach collection="productTypeList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
        inner join ope_parts part on part.id = productb.parts_id and part.dr = 0
        inner join ope_supplier supplier on supplier.id = part.supplier_id and supplier.dr = 0
        inner join ope_regional_price_sheet sheet on sheet.parts_product_id = product.id and sheet.currency_unit = 1
        <where>
            <if test="enter.supplierId != null">
                and supplier.id=#{enter.supplierId}
            </if>
            <if test="enter.productType !=null and enter.productType !=''">
                and product.product_type =#{enter.productType}
            </if>
            <if test="enter.keyword != null and enter.keyword != ''">
                and (
                product.product_number like concat("%",#{enter.keyword},"%")
                or product.en_name like concat("%",#{enter.keyword},"%")
                or product.cn_name like concat("%",#{enter.keyword},"%")
                )
            </if>
        </where>
    </select>
    <select id="queryPurchasScooter"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select product.id as id,
        product.product_number as partsN,
        product.en_name as enName,
        product.cn_name as cnName,
        product.product_type as productType,
        product.production_cycle as leadTime,
        sheet.sales_price as price,
        sheet.currency_unit as unit
        from ope_parts_product product
        inner join ope_regional_price_sheet sheet on sheet.parts_product_id = product.id and sheet.currency_unit = 1
        <where>
            <if test="enter.productType !=null and enter.productType !=''">
                and product.product_type =#{enter.productType}
            </if>
            <if test="enter.keyword != null and enter.keyword != ''">
                and (
                product.product_number like concat("%",#{enter.keyword},"%")
                or product.en_name like concat("%",#{enter.keyword},"%")
                or product.cn_name like concat("%",#{enter.keyword},"%")
                )
            </if>
        </where>
    </select>
    <select id="purchasingListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_purchas purchas
        left join ope_sys_user_profile profile on purchas.consignee_id = profile.id and profile.dr=0
        left join ope_factory factory on factory.id = purchas.factory_id and factory.dr=0
        <include refid="where_purchasingList"/>
    </select>

    <select id="purchasingList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PurchasingResult">
        select
        <include refid="purchasing_item"/>
        from ope_purchas purchas
        left join ope_sys_user_profile profile on purchas.consignee_id = profile.id and profile.dr=0
        left join ope_factory factory on factory.id = purchas.factory_id and factory.dr=0
        <include refid="where_purchasingList"/>
        limit #{enter.startRow},#{enter.pageSize}
    </select>
    <select id="paymentItemList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PaymentItemDetailResult">
        select
        <include refid="paymentItemList"/>
        from ope_purchas_payment payment
        where payment.dr = 0
        <if test="collection != null and collection.size() != 0">
            and payment.purchas_id in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="detail" resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PurchasingResult">
        select
        <include refid="purchasing_item"/>
        from ope_purchas purchas
        left join ope_sys_user_profile profile on purchas.consignee_id = profile.id and profile.dr=0
        left join ope_factory factory on factory.id = purchas.factory_id and factory.dr=0
        and purchas.id=#{id}
    </select>
    <select id="purchasingNode"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PurchasingNodeResult">
        select trace.id as id,
        trace.status as status,
        trace.event as event,
        trace.event_time as eventTime,
        trace.create_by as createdBy,
        profile.first_name as createdByFirstName,
        profile.last_name as createdByLastName
        from ope_purchas_trace trace
        inner join ope_sys_user_profile profile on trace.create_by = profile.sys_user_id and profile.dr = 0
        where trace.dr = 0
        and trace.user_id = #{userId}
        and trace.purchas_id =#{id}
    </select>

    <select id="pruchasingDetailProductList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select parts.id as id,
        parts.parts_number as partsN,
        parts.cn_name as cnName,
        parts.en_name as enName,
        parts.parts_type as type,
        purchasb.supplier_id as supplierId,
        supplier.supplier_name as supplierName,
        parts.production_cycle as leadTime,
        sheet.price as price,
        sheet.currency_unit as unit,
        purchasb.total_count as qty,
        purchasb.total_count * sheet.price as subtotal
        from ope_purchas_b purchasb
        inner join ope_parts parts
        on purchasb.part_id = parts.id and parts.dr = 0
        inner join ope_supplier supplier on purchasb.supplier_id = supplier.id and supplier.dr = 0
        left join ope_price_sheet sheet on sheet.parts_id = parts.id and sheet.dr = 0
        where purchasb.dr = 0
        and purchasb.user_id = #{userId}
        and purchasb.purchas_id =#{id}
    </select>

    <select id="partDetailById" resultType="com.redescooter.ses.web.ros.dm.PartDetailDto">
        select parts.id as partId,
        sheet.price as price,
        sheet.currency_unit as unit,
        supplier_id as supplierId
        from ope_parts parts
        inner join ope_supplier supplier on parts.supplier_id = supplier.id and supplier.dr = 0
        left join ope_price_sheet sheet on parts.id = sheet.parts_id and sheet.currency_unit = 1 and sheet.dr = 0
        where parts.dr=0
        <if test="collection != null and collection.size() != 0">
            and parts.id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>