<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.production.PurchasingServiceMapper">

    <sql id="purchasing_item">
                purchas.id                     as id,
               purchas.contract_no            as contractN,
               purchas.status                 as status,
               purchas.consignee_id           as consigneeId,
               profile.first_name                 as consigneeFirstName,
               profile.last_name                  as consigneeLastName,
               profile.tel_number                 as consigneePhone,
               profile.country_code               as consigneeCountryCode,
               profile.email                      as consigneeEmail,
               purchas.factory_id             as factoryId,
               factory.factory_name               as factoryName,
               factory.contact_first_name         as factoryContactFirstName,
               factory.contact_last_name          as factoryContactLastName,
               factory.contact_phone_country_code as factoryContactPhoneCountryCode,
               factory.contact_phone              as factoryContactPhone,
               factory.contact_email              as factoryContactEmail,
               factory.contact_full_name          as factoryContactFullName,
               purchas.total_price            as totalPrice,
               purchas.total_qty                  as partsQty,
                purchas.created_time               as createdTime,
                purchas.payment_type               as paymentType
    </sql>

    <sql id="paymentItemList">
        payment.id                   as id,
               payment.payment_status       as status,
               payment.purchas_id           as bizId,
               payment.amount               as amount,
               payment.amount_proportion    as paymentRatio,
               payment.invoice_num          as invoiceNum,
               payment.invoice_picture      as invoicePicture,
               payment.payment_day          as dayNum,
               payment.payment_time         as actualPaymentDate,
               payment.description          as remark,
               payment.payment_type         as paymentType,
               payment.planned_payment_time as estimatedPaymentDate
    </sql>

    <sql id="where_purchasingList">
        where purchas.dr=0
        and purchas.status in
        <foreach collection="statusList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="enter.status != null and enter.status != ''">
            and purchas.status =#{enter.status}
        </if>
        <if test="enter.factoryId != null">
            and purchas.factory_id =#{enter.factoryId}
        </if>
        <if test="enter.paymentType != null and enter.paymentType != ''">
            and purchas.payment_type=#{param1.paymentType}
        </if>
        <if test="enter.createdStartTime != null and enter.createdEndTime != null">
            and (purchas.created_time between #{enter.createdStartTime} and #{enter.createdEndTime})
        </if>
        <if test="enter.keyword != null and enter.keyword != ''">
            and (
            purchas.contract_no like concat ("%",#{enter.keyword},"%")
            )
        </if>
        order by purchas.created_time desc
    </sql>

    <select id="countByType" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
       select count(st.sta) as totalCount,
               st.sta as status
        from (select case
                         when status = '6' then '2'
                         when status = '7' then '2'
                         else '1' end as sta
              from ope_purchas) st
        group by status
    </select>


    <select id="queryPurchasProductList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select product.id                as id,
        product.parts_no          as partsN,
        product.en_name           as enName,
        product.cn_name           as cnName,
        product.parts_type        as productType,
        supplier.id               as supplierId,
        supplier.supplier_name    as supplierName,
        product.procurement_cycle as leadTime,
        sheet.price               as price,
        sheet.standard_currency   as unit
        from ope_production_parts product
        inner join ope_supplier supplier on supplier.id = product.supplier_id and supplier.dr = 0
        inner join ope_product_price sheet on sheet.product_id = product.id and product_price_type = 1 and sheet.dr = 0
        <where>
            <if test="enter.supplierId != null">
                and supplier.id=#{enter.supplierId}
            </if>
            and product.parts_type in
            <foreach collection="productTypeList" open="(" separator="," close=")" item="item">
               #{item}
            </foreach>
            <if test="enter.keyword != null and enter.keyword != ''">
                and (
                product.parts_no like concat("%",#{enter.keyword},"%")
                or product.en_name like concat("%",#{enter.keyword},"%")
                or product.cn_name like concat("%",#{enter.keyword},"%")
                )
            </if>
        </where>
    </select>
    <select id="queryPurchasScooter"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select product.id                as id,
        product.bom_no            as partsN,
        product.en_name           as enName,
        product.cn_name           as cnName,
        '4'                       as productType,
        product.procurement_cycle as leadTime
        from ope_production_scooter_bom product
        <where>
            and product.dr=0
            and product.bom_status=1
            <if test="enter.keyword != null and enter.keyword != ''">
                and (
                product.bom_no like concat("%",#{enter.keyword},"%")
                or product.en_name like concat("%",#{enter.keyword},"%")
                or product.cn_name like concat("%",#{enter.keyword},"%")
                )
            </if>
        </where>
    </select>
    <select id="purchasingListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_purchas purchas
        left join ope_sys_user_profile profile on purchas.consignee_id = profile.id and profile.dr=0
        left join ope_factory factory on factory.id = purchas.factory_id and factory.dr=0
        <include refid="where_purchasingList"/>
    </select>

    <select id="purchasingList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PurchasingResult">
        select
        <include refid="purchasing_item"/>
        from ope_purchas purchas
        left join ope_sys_user_profile profile on purchas.consignee_id = profile.sys_user_id and profile.dr=0
        left join ope_factory factory on factory.id = purchas.factory_id and factory.dr=0
        <include refid="where_purchasingList"/>
        limit #{enter.startRow},#{enter.pageSize}
    </select>
    <select id="paymentItemList"
            resultType="com.redescooter.ses.web.ros.vo.production.PaymentItemDetailResult">
        select
        <include refid="paymentItemList"/>
        from ope_purchas_payment payment
        where payment.dr = 0
        <if test="collection != null and collection.size() != 0">
            and payment.purchas_id in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="detail" resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PurchasingResult">
        select
        <include refid="purchasing_item"/>
        from ope_purchas purchas
        left join ope_sys_user_profile profile on purchas.consignee_id = profile.sys_user_id and profile.dr=0
        left join ope_factory factory on factory.id = purchas.factory_id and factory.dr=0
        where purchas.id = #{id}
    </select>
    <select id="purchasingNode"
            resultType="com.redescooter.ses.api.common.vo.CommonNodeResult">
        select trace.id as id,
        trace.status as status,
        trace.event as event,
        trace.event_time as eventTime,
        trace.create_by as createdBy,
        profile.first_name as createdByFirstName,
        profile.last_name as createdByLastName,
        trace.memo as memo
        from ope_purchas_trace trace
        inner join ope_sys_user_profile profile on trace.create_by = profile.sys_user_id and profile.dr = 0
        where trace.dr = 0
        and trace.purchas_id =#{id}
        order by trace.create_time asc
    </select>

    <select id="pruchasingDetailProductList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select parts.id                           as id,
        parts.id                           as partId,
        parts.parts_no                     as partsN,
        parts.cn_name                      as cnName,
        parts.en_name                      as enName,
        parts.parts_type                   as productType,
        purchasb.supplier_id               as supplierId,
        supplier.supplier_name             as supplierName,
        parts.procurement_cycle            as leadTime,
        sheet.price                        as price,
        sheet.standard_currency                as unit,
        purchasb.total_count               as qty,
        purchasb.total_count * sheet.price as subtotal
        from ope_purchas_b purchasb
        inner join ope_production_parts parts
        on purchasb.part_id = parts.id and parts.dr = 0
        inner join ope_supplier supplier on purchasb.supplier_id = supplier.id and supplier.dr = 0
        left join ope_product_price sheet
        on sheet.product_id = parts.id and sheet.dr = 0 and sheet.product_price_type = 1
        where purchasb.dr = 0
        and purchasb.purchas_id =#{id}
        <if test="type != null and type != ''">
            and parts.parts_type =#{type}
        </if>
        <if test="supplierId != null">
            and purchasb.supplier_id=#{supplierId}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            parts.cn_name like concat ("%",#{keyword},"%") or
            parts.en_name like concat ("%",#{keyword},"%") or
            parts.parts_no like concat ("%",#{keyword},"%")
            )
        </if>
    </select>

    <select id="partDetailById" resultType="com.redescooter.ses.web.ros.vo.bo.PartDetailDto">
        select parts.id                as partId,
        ifnull(sheet.price, 0)  as price,
        sheet.standard_currency as unit,
        supplier_id             as supplierId
        from ope_production_parts parts
        inner join ope_supplier supplier on parts.supplier_id = supplier.id and supplier.dr = 0
        inner join ope_product_price sheet
        on parts.id = sheet.product_id and sheet.product_price_type = 1 and sheet.dr = 0
        where parts.dr = 0
        <if test="collection != null and collection.size() != 0">
            and parts.id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="queryProductPartItemByProductIds"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PruchasingItemResult">
        select productb.production_id                           as id,
        productb.parts_id                           as partId,
        parts.parts_no                              as partsN,
        parts.en_name                               as enName,
        parts.cn_name                               as cnName,
        parts.parts_type                            as productType,
        parts.supplier_id                           as supplierId,
        parts.supplier_id                           as supplierId,
        supplier.supplier_name                      as supplierName,
        parts.procurement_cycle                     as leadTime,
        ifnull(sheet.price, 0) * productb.parts_qty as price,
        sheet.standard_currency                     as unit,
        productb.parts_qty                          as qty
        from ope_production_parts_relation productb
        inner join ope_production_parts parts on parts.id = productb.parts_id and parts.dr = 0
        inner join ope_supplier supplier on parts.supplier_id = supplier.id and supplier.dr = 0
        inner join ope_product_price sheet
        on sheet.product_id = productb.parts_id and sheet.dr = 0 and sheet.product_price_type = 1
        where productb.dr = 0
        <if test="list != null and list.size() != 0">
            and productb.production_type=2
            and productb.production_id in
            <foreach collection="list" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="qcPartListByPurchasId"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.QcInfoResult">
        select purchasb.id          as id,
        parts.parts_no       as partsN,
        parts.en_name        as enName,
        parts.cn_name        as cnName,
        parts.parts_type     as type,
        purchasb.total_count as totalQty
        from ope_purchas_b purchasb
        inner join ope_production_parts parts on purchasb.part_id = parts.id and purchasb.dr = 0
        where purchasb.dr = 0
        and purchasb.purchas_id = #{id}
        <if test="type != null and type != ''">
            and parts.parts_type =#{type}
        </if>
        <if test="keyword != null and keyword != ''">
            and(
            parts.parts_no like concat ("%",#{keyword},"%") or
            parts.en_name like concat ("%",#{keyword},"%") or
            parts.cn_name like concat ("%",#{keyword},"%")
            )
        </if>
    </select>

    <select id="qcItemDetailList"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.QcItemDetailResult">
        select qc.pass_count as passQty,
        qc.fail_count as failQty,
        qc.batch_no as batchN,
        qc.quality_inspection_time as qcDate,
        profile.sys_user_id as inspectorId,
        profile.first_name as inspectorFirstName,
        profile.last_name as inspectorLastName,
        profile.full_name as inspectorFullName,
        qc.purchas_b_id as pruchasBId
        from ope_purchas_b_qc qc
        left join ope_sys_user_profile profile on qc.quality_inspector_id = profile.sys_user_id and profile.dr=0
        where 1=1
        <if test="purshasBIds != null">
            and qc.purchas_b_id in
            <foreach collection="purshasBIds" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="enter.qcStartTime != null and enter.qcStartTime != null">
            and (qc.quality_inspection_time between #{enter.qcStartTime} and #{enter.qcEndTime})
        </if>
    </select>

    <select id="queryFactoryByPurchasId"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.QueryFactorySupplierResult">
        select purchas.id as id,
        purchas.factory_id as factoryId,
        factory.factory_name as factoryName,
        purchas.factory_annex as annex
        from ope_purchas purchas
        left join ope_factory factory on purchas.factory_id = factory.id and factory.dr = 0
        where purchas.dr = 0
        and purchas.id =#{id}
    </select>

    <select id="purchasSupplierListByPurchasId"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.PurchasSupplierResult">
        select purchasb.supplier_id as id,
        purchasb.part_id as partsId,
        supplier.supplier_name as supplierName,
        purchasb.supplier_annex as annex,
        supplier.contact_first_name as supplierContactFirstName,
        supplier.contact_last_name as supplierContactLastName,
        supplier.contact_full_name as supplierContactFullName,
        supplier.contact_phone_country_code as supplierContactCountryCode,
        supplier.contact_phone as supplierContactPhone,
        supplier.contact_email as supplierContactEmail
        from ope_purchas_b purchasb
        left join ope_supplier supplier on purchasb.supplier_id = supplier.id and supplier.dr = 0
        where purchasb.dr = 0
        and purchasb.purchas_id =#{id}
    </select>

    <select id="opePurchasBQcListByPurductId" resultType="com.redescooter.ses.web.ros.dm.OpePurchasBQc">
        select qc.*
        from ope_purchas_b_qc qc
        left join ope_purchas_b purchasb on qc.purchas_b_id = purchasb.id and purchasb.dr = 0
        left join ope_purchas purchas on purchas.id = purchasb.purchas_id and purchas.dr = 0
        where purchas.id =#{id}
    </select>

    <select id="qcItemListByPurchasBIds"
            resultType="com.redescooter.ses.web.ros.vo.production.purchasing.QcItemDetailResult">
        select qc.purchas_b_id as pruchasBId,
        profile.sys_user_id as inspectorId,
        profile.first_name as inspectorFirstName,
        profile.last_name as inspectorLastName,
        profile.full_name as inspectorFullName,
        qc.pass_count as passQty,
        qc.fail_count as failQty,
        qc.batch_no as batchN,
        qc.quality_inspection_time as qcDate
        from ope_purchas_b_qc qc
        inner join ope_sys_user_profile profile
        on qc.quality_inspector_id = profile.sys_user_id and profile.dr = 0
        where qc.dr = 0
        <if test="purshasBIds != null and purshasBIds.size() != 0">
            and qc.purchas_b_id in
            <foreach collection="purshasBIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="enter.status != null and enter.status != '' and enter.status == 1">
            and qc.pass_count !=0
        </if>
        <if test="enter.status != null and enter.status != '' and enter.status == 2">
            and qc.fail_count !=0
        </if>
        <if test="enter.qcStartTime != null and param2.qcEndTime != null">
            and ( qc.quality_inspection_time between #{enter.qcStartTime} and #{enter.qcEndTime})
        </if>
        order by batchN
    </select>

    <update id="updatePurchasBQcStatus">
        update ope_purchas_b set qc_status=#{status} where ope_purchas_b.dr=0 and ope_purchas_b.purchas_id=#{id}
    </update>
    <select id="qcCountByStatus" resultType="com.redescooter.ses.web.ros.dm.OpePurchasBQc">
        select qc.*
        from ope_purchas_b purchasb
        inner join ope_purchas_b_qc qc on purchasb.id = qc.purchas_b_id
        where purchasb.purchas_id =#{id}
        and purchasb.dr = 0
    </select>
</mapper>
