<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.sys.RoleServiceMapper">

    <select id="list" resultType="com.redescooter.ses.web.ros.vo.sys.role.RoleResult">
        select role.id as id,
        role.role_name as roleName,
        role.role_code as roleCode,
        role.role_desc as description,
        dept.dept_id as deptId
        from ope_sys_role role
        inner join ope_sys_role_dept dept on role.id = dept.role_id
        where 1=1
        <if test="deptId != null">
            and dept.dept_id=#{deptId}
        </if>
        <if test="keyword != null and keyword != ''">
            and role.role_name like concat ("%",#{keyword},"%")
        </if>
    </select>

    <select id="roleDeptlist" resultType="com.redescooter.ses.web.ros.vo.sys.role.DeptRoleListResult">
        select dept.id as deptId,
        dept.name as deptName,
        count(role.id) as totalCount
        from ope_sys_dept dept
        left join ope_sys_role_dept drole on dept.id = drole.dept_id
        left join ope_sys_role role on role.id = drole.role_id
        where dept.level != 0
        and dept.dr=0
        <if test="deptId != null">
            and dept.id=#{deptId}
        </if>
        group by deptId,
        deptName
    </select>

    <select id="staffRoles" resultType="com.redescooter.ses.web.ros.dm.OpeSysRole">
        SELECT * from ope_sys_role r
        LEFT JOIN ope_sys_user_role ur on ur.role_id = r.id
        where r.dr = 0 and r.id != #{roleId} and ur.user_id  = #{staffId}
    </select>

    <select id="roleDetail" resultType="com.redescooter.ses.web.ros.vo.sys.role.RoleDetailResult">
        select
            r.id,
            r.role_name,
            r.role_code,
            p.position_name,
            r.sort,
            r.role_status,
            r.role_desc,
            s1.full_name as createdName,
            r.create_time,
            s2.full_name as updatedName,
            r.update_time,
            r.sale_area,
            r.position_id
        from
        ope_sys_role r
        left join ope_sys_staff s1 on r.created_by = s1.id
        left join ope_sys_staff s2 on r.updated_by = s2.id
        left join ope_sys_position p on r.position_id = p.id
        where r.dr = 0 and r.id = #{roleId}
    </select>

    <select id="totalRows" resultType="int">
        select count(*) from ope_sys_role r
        right JOIN ope_sys_position p on r.position_id =  p.id
        where r.dr = 0 and p.dr = 0
        <include refid="roleListCondition"></include>
    </select>

    <select id="roleList" resultType="com.redescooter.ses.web.ros.vo.sys.role.RoleListResult">
        select
          r.id,
          r.role_code,
          r.role_name,
          r.sort,
          p.position_name,
          r.role_status,
          r.create_time,
          r.sale_area,
          r.position_id
        from ope_sys_role r
        left join ope_sys_position p on r.position_id = p.id
        where r.dr = 0
        <include refid="roleListCondition"></include>
        order by r.sort,r.create_time desc
        limit #{enter.startRow},#{enter.pageSize}
    </select>

    <sql id="roleListCondition">
        <if test="enter.positionId != null and enter.positionId != ''">
            and r.position_id = #{enter.positionId}
        </if>
        <if test="enter.roleStatus != null">
            and r.role_status = #{enter.roleStatus}
        </if>
        <if test="enter.keyWord != null and enter.keyWord != ''">
            and r.role_name like concat('%', #{enter.keyWord}, '%')
        </if>
        <if test="deptIds != null">
            <choose>
                <when test="deptIds.size() > 0">
                    and p.dept_id in
                    <foreach collection="deptIds" separator="," open="(" close=")" item="item">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    and r.created_by = #{enter.userId}
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="roleStaffs" resultType="com.redescooter.ses.web.ros.dm.OpeSysStaff">
        select
          *
        from ope_sys_staff staff
        left join ope_sys_user_role ur on ur.user_id = staff.id
        where staff.dr = 0 and ur.role_id = #{roleId} and staff.status = 1
    </select>
</mapper>