<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.sys.StaffServiceMapper">
    <select id="staffDetail" resultType="com.redescooter.ses.web.ros.vo.sys.staff.StaffResult">

        select
          s.id,
          s.status,
          s.first_name,
          s.last_name,
          s.full_name,
          s.gender,
          s.code,
          d.name as deptName,
          p.position_name as positionName,
          s.telephone,
          s.email,
          s.entry_date,
          s.country_name,
          s.address_1,
          s.address_2,
          s.birthday,
          s.certificate_type,
          s.certificat_picture_1,
          s.certificat_picture_2,
          s.employee_picture,
          s.created_time,
          s.updated_time,
          s1.full_name as createdName,
          s2.full_name as updatedName,
          s.open_account,
          s.dept_id,
          s.position_id,
          s.country_code,
          s.if_safe_code
          from ope_sys_staff s
          left join ope_sys_dept d on s.dept_id = d.id
          left join ope_sys_position p on s.position_id = p.id
          left join ope_sys_staff s1 on s.created_by = s1.id
          left join ope_sys_staff s2 on s.updated_by = s2.id
          where s.dr = 0 and
                s.id = #{id}


    </select>

    <select id="totalRows" resultType="int">
      select count(*) from ope_sys_staff s
      where s.dr = 0
        <include refid="staffListCondition">
        </include>
    </select>

    <sql id="staffListCondition">
        and s.id != 1000000
        <if test="enter.deptId != null">
            and s.dept_id = #{enter.deptId}
        </if>
        <if test="enter.positionId != null">
            and s.position_id = #{enter.positionId}
        </if>
        <if test="enter.status != null">
            and s.status = #{enter.status}
        </if>
        <if test="enter.roleId != null">
            and s.id in
            <foreach collection="userIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="deptIds != null">
            <choose>
                <when test="deptIds.size() > 0">
                    and s.dept_id in
                    <foreach collection="deptIds" separator="," open="(" close=")" item="item">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    and s.created_by = #{enter.userId}
                </otherwise>
            </choose>
        </if>

        <if test="enter.keyWord != null and enter.keyWord != ''">
            and (s.full_name like concat('%', #{enter.keyWord}, '%')
            or s.telephone like concat('%', #{enter.keyWord}, '%')
            or s.email like concat('%', #{enter.keyWord}, '%')
            )
        </if>
    </sql>


    <select id="staffRoleMsg" resultType="com.redescooter.ses.web.ros.vo.sys.staff.StaffRoleResult">
      SELECT
      GROUP_CONCAT( role_name SEPARATOR ',' ) as roleName,GROUP_CONCAT( id SEPARATOR ',' ) as roleId
      FROM
      ope_sys_role
      WHERE
      id IN (SELECT role_id FROM ope_sys_user_role where user_id = #{staffId}) and dr = 0

    </select>

    <select id="staffList" resultType="com.redescooter.ses.web.ros.vo.sys.staff.StaffListResult">
        select
         s.id,
         s.code,
         s.first_name,
         s.last_name,
         s.full_name,
         s.telephone,
         s.email,
         s.status,
         s.created_time,
         d.name as deptName,
         p.position_name as positionName,
         s.open_account
        from ope_sys_staff s
        left join ope_sys_dept d on s.dept_id = d.id
        left join ope_sys_position p on s.position_id = p.id
        where s.dr = 0 and p.dr = 0

        <include refid="staffListCondition">
        </include>

      order by created_time desc
      limit #{enter.startRow},#{enter.pageSize}

    </select>

    <select id="principalData" resultType="com.redescooter.ses.web.ros.vo.sys.staff.StaffDataResult">

        select
          id as principal,
          full_name as principalName
        from ope_sys_staff
        where dr = 0 and status = 1 and tenant_id = #{tenantId}

    </select>

    <select id="userIds" resultType="java.lang.Long">

        SELECT user_id from ope_sys_user_role where role_id = #{id}

    </select>

    <select id="roleDatas" resultType="com.redescooter.ses.web.ros.dm.OpeSysRoleData">
        SELECT * from ope_sys_role_data where role_id in (SELECT role_id from ope_sys_user_role where user_id = #{id})
    </select>

    <select id="announUser" resultType="com.redescooter.ses.web.ros.vo.sys.staff.StaffDataResult">
        select
          id as principal,
          full_name as principalName
        from ope_sys_staff
        where dr = 0 and status = 1 and tenant_id = #{tenantId} and if_safe_code = 1
    </select>

    <select id="userData"
            resultType="com.redescooter.ses.web.ros.vo.restproductionorder.allocateorder.UserDataResult">
        select
          id,
          full_name as userName,
          telephone as telephone,
          email as mail,
          country_code
        from ope_sys_staff
        where dr = 0 and  status = 1
        <if test="enter.keyword != null and enter.keyword != ''">
            and full_name like concat('%', #{enter.keyword}, '%')
        </if>
    </select>
</mapper>
