<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.SupplierServiceMapper">

    <select id="countStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select osu.status, count(*) totalCount
        from ope_supplier osu
        where osu.dr =0
        and osu.tenant_id = #{tenantId}
        group by osu.status
    </select>
    <select id="listCount" resultType="int">
        select count(*)
        from ope_supplier osu
        where osu.tenant_id = #{tenantId}
        and osu.dr = 0
        <if test="status != null and status != ''">
            and osu.status =#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            osu.supplier_name like concat("%",#{keyword},"%")
            or osu.supplier_tag like concat("%",#{keyword},"%")
            )
        </if>
    </select>
    <select id="list" resultType="com.redescooter.ses.web.ros.vo.supplier.SupplierResult">
        select id,
        status,
        supplier_name,
        supplier_address,
        supplier_country,
        supplier_longitude,
        supplier_latitude,
        supplier_tag,
        supplier_memo,
        contact_first_name,
        contact_last_name,
        contact_full_name,
        contact_email,
        contact_phone_country_code,
        contact_phone,
        payment_cycle,
        cooperation_time_start,
        cooperation_time_end,
        business_number,
        business_license_annex,
        contract_number,
        contract_annex,
        created_by,
        created_time,
        updated_by,
        updated_time
        from ope_supplier osu
        where osu.tenant_id = #{tenantId}
        and osu.dr = 0
        <if test="status != null and status != ''">
            and osu.status =#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            osu.supplier_name like concat("%",#{keyword},"%")
            or osu.supplier_tag like concat("%",#{keyword},"%")
            )
        </if>
        order by osu.updated_time desc
        limit #{startRow},#{pageSize}

    </select>
</mapper>