<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.SupplierChaimRosServiceMapper">

    <sql id="where_SupplierChaimList">
        where part.dr = 0
        and part.user_id=#{userId}
        <if test="partType != null and partType != ''">
            and part.parts_type=#{partType}
        </if>
        <if test="refuseStartTime != null and  refuseEndTime != null">
            and part.updated_time between #{refuseStartTime} and #{refuseEndTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and ( parts_number like concat('%',#{keyword},'%')
            or part.cn_name like concat('%',#{keyword},'%')
            or part.fr_name like concat('%',#{keyword},'%')
            or part.en_name like concat('%',#{keyword},'%')
            )
        </if>
    </sql>

    <sql id="sccPriceHistroy_table">
        (select frhistroy.id as id,
        frhistroy.sales_price as productFrPrice,
        frhistroy.currency_unit as productFrUnit,
        frhistroy.updated_time as refuseTime,
        frhistroy.part_id as partId,
        '' as productEnPrice,
        '' as productEnUnit
        from ope_regional_price_sheet_history frhistroy
        where frhistroy.user_id=#{userId}
        union all
        select enhistroy.id as id,
        enhistroy.sales_price as productEnPrice,
        enhistroy.currency_unit as productEnUnit,
        enhistroy.updated_time as refuseTime,
        enhistroy.part_id as partId,
        '' as productFrPrice,
        '' as productFrUnit
        from ope_regional_price_sheet_history enhistroy
        where enhistroy.user_id=#{userId}

        )
    </sql>

    <select id="countByPartType" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select part.parts_type as status,
        count(*) as totalCount
        from ope_parts part
        where part.dr = 0
        and part.user_id=#{userId}
        group by part.parts_type
    </select>

    <select id="supplierChaimListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_parts part
        left join ope_price_sheet sheet on part.id = sheet.parts_id and sheet.dr = 0
        <include refid="where_SupplierChaimList"></include>
    </select>

    <select id="supplierChaimList"
            resultType="com.redescooter.ses.web.ros.vo.supplierChaim.SupplierChaimListResult">
        select part.id as id,
        part.parts_number as productN,
        part.cn_name as productCnName,
        part.en_name as productEnName,
        part.fr_name as productFrName,
        part.parts_type as type,
        part.updated_time as refuseTime,
        sheet.price as productPrice,
        sheet.currency_unit as unit
        from ope_parts part
        left join ope_price_sheet sheet on part.id = sheet.parts_id and sheet.dr = 0
        <include refid="where_SupplierChaimList"></include>
        order by part.updated_time desc
        limit #{startRow},#{pageSize}
    </select>

    <select id="scPriceHistroyCount" resultType="java.lang.Integer">
        select count(*)
        from ope_price_sheet_history histroy
        where histroy.user_id=#{userId}
    </select>
    <select id="scPriceHistroyList" resultType="com.redescooter.ses.web.ros.vo.sales.SccPriceResult">
        select histroy.id as id,
        histroy.price as productFrPrice,
        histroy.currency_unit as productFrUnit,
        histroy.updated_time as refuseTime
        from ope_price_sheet_history histroy
        where histroy.dr=0
        and histroy.user_id=#{userId}
        and histroy.parts_id=#{id}
        order by histroy.updated_time desc
        limit #{startRow},#{pageSize}
    </select>

    <select id="sccPriceHistroyCount" resultType="java.lang.Integer">
        select count(*)
        from
        <include refid="sccPriceHistroy_table"/>
        histroy
        group by histroy.id,
        histroy.refuseTime,
        histroy.productFrPrice,
        histroy.productFrUnit,
        histroy.productEnPrice,
        histroy.productEnUnit,
        histroy.partId
    </select>
    <select id="sccPriceHistroyList" resultType="com.redescooter.ses.web.ros.vo.sales.SccPriceResult">
        select *
        from
        <include refid="sccPriceHistroy_table"/>
        histroy
        group by histroy.id,
        histroy.refuseTime,
        histroy.productFrPrice,
        histroy.productFrUnit,
        histroy.productEnPrice,
        histroy.productEnUnit,
        histroy.partId
    </select>
    <select id="productPriceHistroyChart"
            resultType="com.redescooter.ses.web.ros.vo.supplierChaim.ProductPriceChartResult">
        select ifnull(avg(histroy.price), 0) as avg,
        ifnull(max(histroy.price), 0) as max
        from ope_price_sheet_history histroy
        where histroy.dr=0
        and histroy.user_id=#{userId}
        and histroy.parts_id=#{id}
        order by histroy.updated_time desc
    </select>
    <select id="productPriceHistroyChartList" resultType="com.redescooter.ses.web.ros.vo.sales.SccPriceResult">
        select histroy.id as id,
        histroy.price as productFrPrice,
        histroy.currency_unit as productFrUnit,
        histroy.updated_time as refuseTime
        from ope_price_sheet_history histroy
        where histroy.dr=0
        and histroy.user_id=#{userId}
        and histroy.parts_id=#{id}
        order by histroy.updated_time desc
    </select>
</mapper>