<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.wms.cn.WmsServiceMapper">
  <sql id="where_wmsProductList">
    WHERE
    s.dr=0
    and s.available_total>0
    AND s.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and s.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      b.cn_name like concat ("%",#{enter.keyword},"%") or
      b.en_name like concat ("%",#{enter.keyword},"%") or
      b.product_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_wmsPartsList">
    WHERE
    s.dr=0
    and s.available_total>0
    AND s.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and s.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      p.cn_name like concat ("%",#{enter.keyword},"%") or
      p.en_name like concat ("%",#{enter.keyword},"%") or
      p.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>

  <sql id="where_outWhProductList">
    WHERE
    orb.dr=0
    and outwhOrder.`status`=#{status}
    AND orb.product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and orb.product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      part.cn_name like concat ("%",#{enter.keyword},"%") or
      part.en_name like concat ("%",#{enter.keyword},"%") or
      part.product_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
  </sql>
  <sql id="where_outWhPartList">
    WHERE
    orb.dr=0
    and outwhOrder.`status`=#{status}
    AND orb.product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and orb.product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      part.cn_name like concat ("%",#{enter.keyword},"%") or
      part.en_name like concat ("%",#{enter.keyword},"%") or
      part.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
  </sql>
  <sql id="where_wmsStoredStock">
    WHERE
    s.dr=0
    AND s.wait_stored_total>0
    AND s.whse_id = #{whseid}
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and s.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      b.cn_name like concat ("%",#{enter.keyword},"%") or
      b.en_name like concat ("%",#{enter.keyword},"%") or
      b.product_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
  </sql>
  <sql id="where_wmsBePredictedStock">
    WHERE
    s.dr=0
    AND s.wait_product_total>0
    AND s.whse_id=#{whseid}
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and s.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      p.cn_name like concat ("%",#{enter.keyword},"%") or
      p.en_name like concat ("%",#{enter.keyword},"%") or
      p.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
  </sql>
  <sql id="where_inHw_allocate">
    WHERE
    e.dr=0
    and e.`status` = 4
    <if test="enter.startTime != null and enter.endTime != null">
      and e.updated_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      e.allocate_num like concat ("%",#{enter.keyword},"%") or
      e.consignee_id like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_inHw_assembly">
    WHERE
    r.dr=0
    and r.`status` = 3
    <if test="enter.startTime != null and enter.endTime != null">
      and r.updated_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      r.assembly_number like concat ("%",#{enter.keyword},"%") or
      r.consignee_id like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <select
    id="wmsUsableStockCount" resultType="int">
    SELECT
   sum(aa.count) from (
    select
    count(*) AS count
    FROM
    ope_stock s
    JOIN ope_parts_product b ON s.materiel_product_id = b.id and b.dr = 0
    JOIN ope_regional_price_sheet e ON b.id = e.parts_product_id and e.dr = 0
    <include refid="where_wmsProductList"/>
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_stock s
    JOIN ope_parts p ON s.materiel_product_id = p.id and p.dr = 0
    JOIN ope_price_sheet e ON p.id = e.parts_id and e.dr = 0
    <include refid="where_wmsPartsList"/>
    ) aa
  </select>


  <select id="wmsUsableStockList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    SELECT
    s.id as id,
    b.cn_name as cnName,
    b.en_name as enName,
    b.product_number as productNumber,
    s.available_total as intTotal,
    s.materiel_product_type as productType,
    e.sales_price as price
    FROM
    ope_stock s
    JOIN ope_parts_product b ON s.materiel_product_id = b.id and b.dr = 0
    JOIN ope_regional_price_sheet e ON b.id = e.parts_product_id and e.dr = 0
    <include refid="where_wmsProductList"/>
    UNION
    SELECT
    s.id as id,
    p.cn_name as cnName,
    p.en_name as enName,
    p.parts_number as productNumber,
    s.available_total as intTotal,
    s.materiel_product_type as productType,
    e.price as price
    FROM
    ope_stock s
    JOIN ope_parts p ON s.materiel_product_id = p.id and p.dr = 0
    JOIN ope_price_sheet e ON p.id = e.parts_id and e.dr = 0
    <include refid="where_wmsPartsList"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>


  <select id="wmsInWhCount" resultType="int">
    SELECT
    sum(aa.count) from (
    SELECT
    count(*) AS count
    FROM
    ope_allocate e
    JOIN ope_sys_user_profile s ON e.consignee_id = s.id and s.dr = 0
    <include refid="where_inHw_allocate"/>
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_assembly_order r
    JOIN ope_sys_user_profile s ON r.consignee_id = s.id and s.dr = 0
    <include refid="where_inHw_assembly"/>)aa
  </select>
  <select id="wmsInWhList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhResult">
    SELECT
    e.id as id,
    e.allocate_num as allocateNumber,
    e.count as qty,
    s.id as consigneeId,
    s.first_name as consigneeFristName,
    s.last_name as consigneelastName,
    '2' as documentType,
    e.updated_time as inWhTime
    FROM
    ope_allocate e
    JOIN ope_sys_user_profile s ON e.consignee_id = s.id and s.dr = 0
    <include refid="where_inHw_allocate"/>
    UNION
    SELECT
    r.id as id,
    r.assembly_number as allocateNumber,
    r.in_wait_wh_total as qty,
    s.id as consigneeId,
    s.first_name as consigneeFristName,
    s.last_name as consigneelastName,
    '3' as documentType,
    r.updated_time as inWhTime
    FROM
    ope_assembly_order r
    JOIN ope_sys_user_profile s ON r.consignee_id = s.id and s.dr = 0
    <include refid="where_inHw_assembly"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <sql id="where_stockPending_allocate">
    WHERE
    e.dr=0
    and e.`status` = 3
    <if test="enter.startTime != null and enter.endTime != null">
      and e.created_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      e.allocate_num like concat ("%",#{enter.keyword},"%") or
      e.consignee_id like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_stockPending_assembly">
    WHERE
    r.dr=0
    and r.`status` = 5
    <if test="enter.startTime != null and enter.endTime != null">
      and r.created_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      r.assembly_number like concat ("%",#{enter.keyword},"%") or
      r.consignee_id like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <select id="stockPendingCount" resultType="int">
    SELECT
    sum(aa.count) from (
    SELECT
    count(*) AS count
    FROM
    ope_allocate e
    JOIN ope_sys_user_profile s ON e.consignee_id = s.id
    <include refid="where_stockPending_allocate"/>
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_assembly_order r
    JOIN ope_sys_user_profile s ON r.consignee_id = s.id
    <include refid="where_stockPending_assembly"/>)aa
  </select>
  <select id="stockPendingList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhResult">
    SELECT
    e.id as id,
    e.allocate_num as allocateNumber,
    e.count-e.pending_storage_total as qty,
    e.count as sumTotal,
    s.id as consigneeId,
    s.first_name as consigneeFristName,
    s.last_name as consigneelastName,
    '2' as documentType,
    e.created_time as inWhTime
    FROM
    ope_allocate e
    JOIN ope_sys_user_profile s ON e.consignee_id = s.id and s.dr = 0
    <include refid="where_stockPending_allocate"/>
    UNION
    SELECT
    r.id as id,
    r.assembly_number as allocateNumber,
    r.total_qty-r.in_wait_wh_total as qty,
    r.total_qty as sumTotal,
    s.id as consigneeId,
    s.first_name as consigneeFristName,
    s.last_name as consigneelastName,
    '3' as documentType,
    r.created_time as inWhTime
    FROM
    ope_assembly_order r
    JOIN ope_sys_user_profile s ON r.consignee_id = s.id and s.dr = 0
    <include refid="where_stockPending_assembly"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="allocateDetails" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhDetailsResult">
    SELECT
      e.id as id,
      e.allocate_num as allocateNumber,
      e.STATUS as `status`,
      s.id as consigneeId,
      s.first_name as consigneeFristName,
      s.last_name as consigneelastName,
      s.email as email,
      s.tel_number as phone,
    s.country_code as telCountryCode,
    #{enter.classType} as classType
  FROM
    ope_allocate e
    JOIN ope_sys_user_profile s ON e.consignee_id = s.id and s.dr = 0
  WHERE
    e.id =#{enter.id} and e.dr = 0
  </select>
  <select id="assemblyDetails" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhDetailsResult">
    SELECT
      r.id as id,
      r.assembly_number as allocateNumber,
      r.STATUS as `status`,
      s.id as consigneeId,
      s.first_name as consigneeFristName,
      s.last_name as consigneelastName,
      s.email  as email,
      s.tel_number as phone,
    s.country_code as telCountryCode,
    #{enter.classType} as classType
    FROM
      ope_assembly_order r
      JOIN ope_sys_user_profile s ON r.consignee_id = s.id and s.dr = 0
    WHERE
      r.id = #{enter.id} and r.dr = 0
  </select>
  <select id="partList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsProductListResult">
    SELECT
      b.id as id,
      s.cn_name AS cnName,
      s.en_name AS enName,
      s.parts_number AS productNumber,
      s.parts_type AS productType,
      b.total-b.pending_storage_qty AS qty,
      b.total AS sumTotal,
    #{enter.classType} as classType
    FROM
      ope_allocate_b b
      JOIN ope_parts s ON b.part_id = s.id and s.dr = 0
    WHERE
      b.allocate_id = #{enter.id} and b.dr = 0
    GROUP BY
    id,
    cnName,
    enName
  </select>
  <select id="productList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsProductListResult">
    SELECT
      b.id as id,
      s.cn_name AS cnName,
      s.en_name AS enName,
      s.product_number AS productNumber,
      s.product_type AS productType,
      b.assembly_qty-b.wait_assembly_qty AS qty,
      b.assembly_qty AS sumTotal,
    #{enter.classType} as classType
  FROM
    ope_assembly_b_order b
    JOIN ope_parts_product s ON b.product_id = s.id and s.dr = 0
    WHERE
    b.assembly_id = #{enter.id} and b.dr = 0
    GROUP BY
    id,
    cnName,
    enName
  </select>
  <select id="wmsInWhCountByType" resultType="int">
  SELECT
        sum(aa.count)
    from
        ( SELECT
            count(*) AS count
        FROM
            ope_allocate e
        JOIN
            ope_sys_user_profile s
                ON e.consignee_id = s.id
                and s.dr = 0
        WHERE
            e.dr=0
            and e.`status` = 4
        UNION
        SELECT
            count(*) AS count
        FROM
            ope_assembly_order r
        JOIN
            ope_sys_user_profile s
                ON r.consignee_id = s.id
                and s.dr = 0
        WHERE
            r.dr=0
            and r.`status` = 3
    )aa
  </select>
  <select id="stockPendingCountByType" resultType="int">
  SELECT
	sum( aa.count )
FROM
	(
	SELECT
		count(*) AS count
	FROM
		ope_allocate e
		JOIN ope_sys_user_profile s ON e.consignee_id = s.id
		AND s.dr = 0
	WHERE
		e.dr = 0
		AND e.`status` = 3 UNION
	SELECT
		count(*) AS count
	FROM
		ope_assembly_order r
		JOIN ope_sys_user_profile s ON r.consignee_id = s.id
		AND s.dr = 0
	WHERE
		r.dr = 0
	AND r.`status` = 5
	) aa
  </select>
  <select id="usableStockCountByType" resultType="int">
    select  sum(aa.count) from (
    select
    count(*) AS count
    FROM
    ope_stock s
    JOIN ope_parts_product b ON s.materiel_product_id = b.id and b.dr = 0
    JOIN ope_regional_price_sheet e ON b.id = e.parts_product_id and e.dr = 0
    WHERE
    s.dr=0
    and s.available_total>0
    AND s.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_stock s
    JOIN ope_parts p ON s.materiel_product_id = p.id and p.dr = 0
    JOIN ope_price_sheet e ON p.id = e.parts_id and e.dr = 0
    WHERE
    s.dr=0
    and s.available_total>0
    AND s.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    ) aa
  </select>
  <select id="wmsBePredictedStockCount" resultType="int">
    SELECT
    count(*) from (
    SELECT
    s.id as id,
    p.cn_name as cnName,
    p.en_name as enName,
    p.parts_number as productNumber,
    sum(s.wait_product_total) as intTotal,
    s.materiel_product_type as productType,
    e.price as price
    FROM
    ope_stock s
    JOIN
    ope_parts p
    ON s.materiel_product_id = p.id
    and p.dr = 0
    JOIN
    ope_price_sheet e
    ON p.id = e.parts_id
    and e.dr = 0
    <include refid="where_wmsBePredictedStock"/>
    )bePredicted
  </select>
  <select id="wmsBePredictedStockList"
          resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    SELECT
    s.id as id,
    p.cn_name as cnName,
    p.en_name as enName,
    p.parts_number as productNumber,
    sum(s.wait_product_total) as intTotal,
    s.materiel_product_type as productType,
    e.price as price
    FROM
    ope_stock s
    JOIN
    ope_parts p
    ON s.materiel_product_id = p.id
    and p.dr = 0
    JOIN
    ope_price_sheet e
    ON p.id = e.parts_id
    and e.dr = 0
    <include refid="where_wmsBePredictedStock"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="wmsStoredStockCount" resultType="int">
    SELECT
    count(*) from (
    SELECT
    s.id as id,
    b.cn_name as cnName,
    b.en_name as enName,
    b.product_number as productNumber,
    sum(s.wait_stored_total) as intTotal,
    s.materiel_product_type as productType,
    e.sales_price as price
    FROM
    ope_stock s
    JOIN
    ope_parts_product b
    ON s.materiel_product_id = b.id
    and b.dr = 0
    JOIN
    ope_regional_price_sheet e
    ON b.id = e.parts_product_id
    and e.dr = 0
    <include refid="where_wmsStoredStock"/>
    )storedStock
  </select>
  <select id="wmsStoredStockList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    SELECT
    s.id as id,
    b.cn_name as cnName,
    b.en_name as enName,
    b.product_number as productNumber,
    sum(s.wait_stored_total)  as intTotal,
    s.materiel_product_type as productType,
    e.sales_price as price
    FROM
    ope_stock s
    JOIN
    ope_parts_product b
    ON s.materiel_product_id = b.id
    and b.dr = 0
    JOIN
    ope_regional_price_sheet e
    ON b.id = e.parts_product_id
    and e.dr = 0
    <include refid="where_wmsStoredStock"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="wmsStoredStockCountByType" resultType="int">
    SELECT
    count(*) from (
    SELECT
    s.id as id,
    b.cn_name as cnName,
    b.en_name as enName,
    b.product_number as productNumber,
    sum(s.wait_stored_total ) as intTotal,
    s.materiel_product_type as productType,
    e.sales_price as price
    FROM
    ope_stock s
    JOIN
    ope_parts_product b
    ON s.materiel_product_id = b.id
    and b.dr = 0
    JOIN
    ope_regional_price_sheet e
    ON b.id = e.parts_product_id
    and e.dr = 0
    WHERE
    s.dr=0
    AND s.wait_stored_total>0
    AND s.whse_id = #{whseid}
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
    )storedStock
  </select>
  <select id="wmsBePredictedStockCountByType" resultType="int">
    SELECT
    count(*)
    from
    ( SELECT
    s.id as id,
    p.cn_name as cnName,
    p.en_name as enName,
    p.parts_number as productNumber,
    sum(s.wait_product_total) as intTotal,
    s.materiel_product_type as productType,
    e.price as price
    FROM
    ope_stock s
    JOIN
    ope_parts p
    ON s.materiel_product_id = p.id
    and p.dr = 0
    JOIN
    ope_price_sheet e
    ON p.id = e.parts_id
    and e.dr = 0
    WHERE
    s.dr=0
    AND s.wait_product_total>0
    AND s.whse_id=#{whseid}
    AND s.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND e.currency_unit = #{amountType}
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price)bePredicted
  </select>

  <select id="wmsOutWhStockCount" resultType="int">
    select count(*) from(
    SELECT
    orb.part_product_id AS id,
    orb.product_type AS productType,
    part.cn_name AS cnName,
    part.en_name AS enName,
    part.product_number AS productNumber,
    sum( orb.total_count ) AS intTotal,
    sheet.sales_price as price
    FROM
    ope_outwh_order_b orb
    LEFT JOIN ope_outwh_order outwhOrder ON orb.outwh_order_id = outwhOrder.id and  outwhOrder.dr=0
    LEFT JOIN ope_parts_product part ON orb.part_product_id = part.id and  part.dr=0
    LEFT JOIN ope_regional_price_sheet  sheet ON sheet.parts_product_id = part.id and  sheet.dr=0
    <include refid="where_outWhProductList"/>
    UNION
    SELECT
    orb.part_product_id AS id,
    orb.product_type AS productType,
    part.cn_name AS cnName,
    part.en_name AS enName,
    part.parts_number AS productNumber,
    sum( orb.total_count ) AS intTotal,
    sheet.price as price
    FROM
    ope_outwh_order_b orb
    LEFT JOIN ope_outwh_order outwhOrder ON orb.outwh_order_id = outwhOrder.id and outwhOrder.dr=0
    LEFT JOIN ope_parts part ON orb.part_product_id = part.id and part.dr=0
    LEFT JOIN ope_price_sheet  sheet ON sheet.parts_id = part.id and sheet.dr=0
    <include refid="where_outWhPartList"/>
    )outWh
  </select>

  <select id="wmsOutWhStockList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
SELECT
	orb.part_product_id AS id,
	orb.product_type AS productType,
	part.cn_name AS cnName,
	part.en_name AS enName,
	part.product_number AS productNumber,
    sum( orb.total_count ) AS intTotal,
	sheet.sales_price as price
FROM
	ope_outwh_order_b orb
	LEFT JOIN ope_outwh_order outwhOrder ON orb.outwh_order_id = outwhOrder.id and  outwhOrder.dr=0
	LEFT JOIN ope_parts_product part ON orb.part_product_id = part.id and  part.dr=0
	LEFT JOIN ope_regional_price_sheet  sheet ON sheet.parts_product_id = part.id and  sheet.dr=0
<include refid="where_outWhProductList"/>
UNION
SELECT
	orb.part_product_id AS id,
	orb.product_type AS productType,
	part.cn_name AS cnName,
	part.en_name AS enName,
	part.parts_number AS productNumber,
    sum( orb.total_count ) AS intTotal,
 sheet.price as price
FROM
	ope_outwh_order_b orb
	LEFT JOIN ope_outwh_order outwhOrder ON orb.outwh_order_id = outwhOrder.id and outwhOrder.dr=0
	LEFT JOIN ope_parts part ON orb.part_product_id = part.id and part.dr=0
	LEFT JOIN ope_price_sheet  sheet ON sheet.parts_id = part.id and sheet.dr=0
<include refid="where_outWhPartList"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="wmsOutWhStockCountByType" resultType="int">
    select count(*) from(
    SELECT
    orb.part_product_id AS id,
    orb.product_type AS productType,
    part.cn_name AS cnName,
    part.en_name AS enName,
    part.product_number AS productNumber,
    sum( orb.total_count ) AS intTotal,
    sheet.sales_price as price
    FROM
    ope_outwh_order_b orb
    LEFT JOIN ope_outwh_order outwhOrder ON orb.outwh_order_id = outwhOrder.id and  outwhOrder.dr=0
    LEFT JOIN ope_parts_product part ON orb.part_product_id = part.id and  part.dr=0
    LEFT JOIN ope_regional_price_sheet  sheet ON sheet.parts_product_id = part.id and  sheet.dr=0
    WHERE
    orb.dr=0
    and outwhOrder.`status`=#{status}
    AND orb.product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
    UNION
    SELECT
    orb.part_product_id AS id,
    orb.product_type AS productType,
    part.cn_name AS cnName,
    part.en_name AS enName,
    part.parts_number AS productNumber,
    sum( orb.total_count ) AS intTotal,
    sheet.price as price
    FROM
    ope_outwh_order_b orb
    LEFT JOIN ope_outwh_order outwhOrder ON orb.outwh_order_id = outwhOrder.id and outwhOrder.dr=0
    LEFT JOIN ope_parts part ON orb.part_product_id = part.id and part.dr=0
    LEFT JOIN ope_price_sheet  sheet ON sheet.parts_id = part.id and sheet.dr=0
    WHERE
    orb.dr=0
    and outwhOrder.`status`=#{status}
    AND orb.product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    GROUP BY
    id,
    productType,
    cnName,
    enName,
    productNumber,
    price
    )outWh
  </select>

</mapper>
