<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.web.ros.dao.wms.cn.WmsServiceMapper">
  <sql id="where_wmsProductList">
    WHERE
    stock.dr = 0
    AND stock.available_total > 0
    AND stock.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      product.cn_name like concat ("%",#{enter.keyword},"%") or
      product.en_name like concat ("%",#{enter.keyword},"%") or
      product.product_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_wmsPartsList">
    WHERE
    stock.dr = 0
    AND stock.available_total > 0
    AND stock.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      parts.cn_name like concat ("%",#{enter.keyword},"%") or
      parts.en_name like concat ("%",#{enter.keyword},"%") or
      parts.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>

  <sql id="where_outWhProductList">
    WHERE
    stock.dr=0
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      part.cn_name like concat ("%",#{enter.keyword},"%") or
      part.en_name like concat ("%",#{enter.keyword},"%") or
      part.product_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_outWhPartList">
    WHERE
    stock.dr=0
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      part.cn_name like concat ("%",#{enter.keyword},"%") or
      part.en_name like concat ("%",#{enter.keyword},"%") or
      part.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_wmsAllocateStoredStock">
    WHERE
    stock.dr=0
    AND stock.wait_stored_total >  0
    AND stock.whse_id in
    <foreach collection="whseList" open="(" item="item" separator="," close=")">
      <if test="item.type == 1">
        #{item}
      </if>
    </foreach>
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <if test="typeItem == 4">
        #{typeItem}
      </if>
    </foreach>
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      product.cn_name like concat ("%",#{enter.keyword},"%") or
      product.en_name like concat ("%",#{enter.keyword},"%") or
      product.product_number like concat ("%",#{enter.keyword},"%")
      )
    </if>

  </sql>
  <sql id="where_wmsAssemblyStoredStock">
    WHERE
    stock.dr=0
    AND stock.wait_stored_total >  0
    AND stock.whse_id in
    <foreach collection="whseList" open="(" item="item" separator="," close=")">
      <if test="item.type == 1">
        #{item}
      </if>
    </foreach>
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <if test="typeItem == 4">
        #{typeItem}
      </if>
    </foreach>
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      part.cn_name like concat ("%",#{enter.keyword},"%") or
      part.en_name like concat ("%",#{enter.keyword},"%") or
      part.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>

  </sql>
  <sql id="where_wmsBePredictedStock">
    WHERE
    stock.dr=0
    AND stock.wait_product_total>0
    AND stock.whse_id=#{whseid}
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    <if test="enter.stockType!=''and enter.stockType!=null">
      and stock.materiel_product_type=#{enter.stockType}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      parts.cn_name like concat ("%",#{enter.keyword},"%") or
      parts.en_name like concat ("%",#{enter.keyword},"%") or
      parts.parts_number like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_inHw_allocate">
    WHERE
    allocate.dr=0
    and allocate.`status` = #{inWhStatus}
    <if test="enter.startTime != null and enter.endTime != null">
      and allocate.updated_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      allocate.allocate_num like concat ("%",#{enter.keyword},"%") or
      pro.first_name like concat ("%",#{enter.keyword},"%") or
      pro.last_name like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_inHw_assembly">
    WHERE
    ord.dr=0
    and ord.`status` = #{assemblingStatus}
    <if test="enter.startTime != null and enter.endTime != null">
      and ord.updated_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      ord.assembly_number like concat ("%",#{enter.keyword},"%") or
      pro.first_name like concat ("%",#{enter.keyword},"%") or
      pro.last_name like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <select
    id="wmsUsableStockCount" resultType="int">
    SELECT
    sum(aa.count) from (
    select
    count(*) AS count
    FROM
    ope_stock stock
    JOIN ope_parts_product product ON stock.materiel_product_id = product.id
    AND product.dr = 0
    JOIN ope_regional_price_sheet sheet ON product.id = sheet.parts_product_id
    AND sheet.dr = 0
    <include refid="where_wmsProductList"/>
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_stock stock
    JOIN ope_parts parts ON stock.materiel_product_id = parts.id
    AND parts.dr = 0
    JOIN ope_price_sheet sheet ON parts.id = sheet.parts_id
    AND sheet.dr = 0
    <include refid="where_wmsPartsList"/>
    ) aa
  </select>


  <select id="wmsUsableStockList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    SELECT
    stock.id AS id,
    product.cn_name AS cnName,
    product.en_name AS enName,
    product.product_number AS productNumber,
    stock.available_total AS intTotal,
    stock.materiel_product_type AS productType,
    sheet.sales_price AS price
    FROM
    ope_stock stock
    JOIN ope_parts_product product ON stock.materiel_product_id = product.id
    AND product.dr = 0
    JOIN ope_regional_price_sheet sheet ON product.id = sheet.parts_product_id
    AND sheet.dr = 0
    <include refid="where_wmsProductList"/>
    UNION
    SELECT
    stock.id AS id,
    parts.cn_name AS cnName,
    parts.en_name AS enName,
    parts.parts_number AS productNumber,
    stock.available_total AS intTotal,
    stock.materiel_product_type AS productType,
    sheet.price AS price
    FROM
    ope_stock stock
    JOIN ope_parts parts ON stock.materiel_product_id = parts.id
    AND parts.dr = 0
    JOIN ope_price_sheet sheet ON parts.id = sheet.parts_id
    AND sheet.dr = 0
    <include refid="where_wmsPartsList"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>


  <select id="wmsInWhCount" resultType="int">
    SELECT
    sum(aa.count) from (
    SELECT
    count(*) AS count
    FROM
    ope_allocate allocate
    JOIN
    ope_sys_user_profile pro
    ON allocate.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_inHw_allocate"/>
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_assembly_order ord
    JOIN
    ope_sys_user_profile pro
    ON ord.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_inHw_assembly"/>)aa
  </select>
  <select id="wmsInWhList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhResult">
    SELECT
    allocate.id as id,
    allocate.allocate_num as allocateNumber,
    allocate.count as qty,
    pro.id as consigneeId,
    pro.first_name as consigneeFristName,
    pro.last_name as consigneelastName,
    '2' as documentType,
    allocate.updated_time as inWhTime
    FROM
    ope_allocate allocate
    JOIN
    ope_sys_user_profile pro
    ON allocate.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_inHw_allocate"/>
    UNION
    SELECT
    ord.id as id,
    ord.assembly_number as allocateNumber,
    ord.in_wait_wh_total as qty,
    pro.id as consigneeId,
    pro.first_name as consigneeFristName,
    pro.last_name as consigneelastName,
    '3' as documentType,
    ord.updated_time as inWhTime
    FROM
    ope_assembly_order ord
    JOIN
    ope_sys_user_profile pro
    ON ord.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_inHw_assembly"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <sql id="where_stockPending_allocate">
    WHERE
    allocate.dr=0
    and allocate.`status` = #{inWhStatus}
    <if test="enter.startTime != null and enter.endTime != null">
      and allocate.created_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      allocate.allocate_num like concat ("%",#{enter.keyword},"%") or
      pro.first_name like concat ("%",#{enter.keyword},"%") or
      pro.last_name like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <sql id="where_stockPending_assembly">
    WHERE
    ord.dr=0
    and ord.`status` =#{assemblingStatus}
    <if test="enter.startTime != null and enter.endTime != null">
      and ord.created_time between #{enter.startTime} and #{enter.endTime}
    </if>
    <if test="enter.keyword!=''and enter.keyword!=null">
      and (
      ord.assembly_number like concat ("%",#{enter.keyword},"%") or
      pro.first_name like concat ("%",#{enter.keyword},"%") or
      pro.last_name like concat ("%",#{enter.keyword},"%")
      )
    </if>
  </sql>
  <select id="stockPendingCount" resultType="int">
    SELECT
    sum(aa.count) from (
    SELECT
    count(*) AS count
    FROM
    ope_allocate allocate
    JOIN
    ope_sys_user_profile pro
    ON allocate.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_stockPending_allocate"/>
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_assembly_order ord
    JOIN
    ope_sys_user_profile pro
    ON ord.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_stockPending_assembly"/>)aa
  </select>
  <select id="stockPendingList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhResult">
    SELECT
    allocate.id as id,
    allocate.allocate_num as allocateNumber,
    allocate.count-allocate.pending_storage_total as qty,
    allocate.count as sumTotal,
    pro.id as consigneeId,
    pro.first_name as consigneeFristName,
    pro.last_name as consigneelastName,
    '2' as documentType,
    allocate.created_time as inWhTime
    FROM
    ope_allocate allocate
    JOIN
    ope_sys_user_profile pro
    ON allocate.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_stockPending_allocate"/>
    UNION
    SELECT
    ord.id as id,
    ord.assembly_number as allocateNumber,
    ord.total_qty-ord.in_wait_wh_total as qty,
    ord.total_qty as sumTotal,
    pro.id as consigneeId,
    pro.first_name as consigneeFristName,
    pro.last_name as consigneelastName,
    '3' as documentType,
    ord.created_time as inWhTime
    FROM
    ope_assembly_order ord
    JOIN
    ope_sys_user_profile pro
    ON ord.consignee_id = pro.id
    and pro.dr = 0
    <include refid="where_stockPending_assembly"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="allocateDetails" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhDetailsResult">
    SELECT
    allocate.id as id,
    allocate.allocate_num as allocateNumber,
    allocate.STATUS as `status`,
    pro.id as consigneeId,
    pro.first_name as consigneeFristName,
    pro.last_name as consigneelastName,
    pro.email as email,
    pro.tel_number as phone,
    pro.country_code as telCountryCode,
    '2' as classType
    FROM
    ope_allocate allocate
    JOIN
    ope_sys_user_profile pro
    ON allocate.consignee_id = pro.id
    and pro.dr = 0
  WHERE
    allocate.id =#{enter.id} and allocate.dr = 0
  </select>
  <select id="assemblyDetails" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsInWhDetailsResult">
    SELECT
    ord.id as id,
    ord.assembly_number as allocateNumber,
    ord.STATUS as `status`,
    pro.id as consigneeId,
    pro.first_name as consigneeFristName,
    pro.last_name as consigneelastName,
    pro.email as email,
    pro.tel_number as phone,
    pro.country_code as telCountryCode,
    '2' as classType
    FROM
    ope_assembly_order ord
    JOIN
    ope_sys_user_profile pro
    ON ord.consignee_id = pro.id
    and pro.dr = 0
    WHERE
    ord.id = #{enter.id} and ord.dr = 0
  </select>
  <select id="partList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsProductListResult">
    SELECT
    allocate.id as id,
    parts.cn_name AS cnName,
    parts.en_name AS enName,
    parts.parts_number AS productNumber,
    parts.parts_type AS productType,
    allocate.total-allocate.pending_storage_qty AS qty,
    allocate.total AS sumTotal,
    '1' as classType
    FROM
    ope_allocate_b allocate
    JOIN
    ope_parts parts
    ON allocate.part_id = parts.id
    and parts.dr = 0
    WHERE
    allocate.allocate_id = #{enter.id} and allocate.dr = 0
    GROUP BY
    id,
    cnName,
    enName
  </select>
  <select id="productList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsProductListResult">
    SELECT
    ord.id as id,
    product.cn_name AS cnName,
    product.en_name AS enName,
    product.product_number AS productNumber,
    product.product_type AS productType,
    ord.assembly_qty-ord.wait_assembly_qty AS qty,
    ord.assembly_qty AS sumTotal,
    '1' as classType
    FROM
    ope_assembly_b_order ord
    JOIN
    ope_parts_product product
    ON ord.product_id = product.id
    and product.dr = 0
    WHERE
    ord.assembly_id = #{enter.id} and ord.dr = 0
    GROUP BY
    id,
    cnName,
    enName
  </select>
  <select id="wmsInWhCountByType" resultType="int">
    SELECT
      sum( aa.count )
    FROM
      (
      SELECT
        count(*) AS count
      FROM
        ope_allocate allocate
        JOIN ope_sys_user_profile pro ON allocate.consignee_id = pro.id
        AND pro.dr = 0
    WHERE
        allocate.dr = 0
        AND allocate.`status` = #{inWhStatus}
      UNION
    SELECT
    count(*) AS count
      FROM
        ope_assembly_order ord
        JOIN ope_sys_user_profile pro ON ord.consignee_id = pro.id
        AND pro.dr = 0
      WHERE
        ord.dr = 0
      AND ord.`status` = #{assemblingStatus}
	) aa
  </select>
  <select id="stockPendingCountByType" resultType="int">
  SELECT
	sum( aa.count )
FROM
	(
	SELECT
		count(*) AS count
    FROM
    ope_allocate allocate
    JOIN
    ope_sys_user_profile pro
    ON allocate.consignee_id = pro.id
    and pro.dr = 0
	WHERE
    allocate.dr = 0
		AND allocate.`status` = #{inWhStatus}
     UNION
	SELECT
		count(*) AS count
    FROM
    ope_assembly_order ord
    JOIN
    ope_sys_user_profile pro
    ON ord.consignee_id = pro.id
    and pro.dr = 0
	WHERE
    ord.dr = 0
	AND ord.`status` = #{assemblingStatus}
	) aa
  </select>
  <select id="usableStockCountByType" resultType="int">
    SELECT
    sum(aa.count) from (
    select
    count(*) AS count
    FROM
    ope_stock stock
    JOIN ope_parts_product product ON stock.materiel_product_id = product.id
    AND product.dr = 0
    JOIN ope_regional_price_sheet sheet ON product.id = sheet.parts_product_id
    AND sheet.dr = 0
    WHERE
    stock.dr = 0
    AND stock.available_total > 0
    AND stock.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    UNION
    SELECT
    count(*) AS count
    FROM
    ope_stock stock
    JOIN ope_parts parts ON stock.materiel_product_id = parts.id
    AND parts.dr = 0
    JOIN ope_price_sheet sheet ON parts.id = sheet.parts_id
    AND sheet.dr = 0
    WHERE
    stock.dr = 0
    AND stock.available_total > 0
    AND stock.whse_id IN
    <foreach collection="whseidList" item="whseItem" separator="," open="(" close=")">
      #{whseItem.id}
    </foreach>
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
    ) aa
  </select>
  <select id="wmsBePredictedStockCount" resultType="int">
    SELECT
    count(*)
    FROM
    ope_stock stock
    JOIN
    ope_parts parts
    ON stock.materiel_product_id = parts.id
    and parts.dr = 0
    JOIN
    ope_price_sheet sheet
    ON parts.id = sheet.parts_id
    and sheet.dr = 0
    <include refid="where_wmsBePredictedStock"/>
  </select>
  <select id="wmsBePredictedStockList"
          resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    SELECT
    stock.id as id,
    parts.cn_name as cnName,
    parts.en_name as enName,
    parts.parts_number as productNumber,
    stock.wait_product_total as intTotal,
    stock.materiel_product_type as productType,
    sheet.price as price
    FROM
    ope_stock stock
    JOIN
    ope_parts parts
    ON stock.materiel_product_id = parts.id
    and parts.dr = 0
    JOIN
    ope_price_sheet sheet
    ON parts.id = sheet.parts_id
    and sheet.dr = 0
    <include refid="where_wmsBePredictedStock"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="wmsStoredStockCount" resultType="int">
    select sum(storedStock.total) from (
    SELECT count(*) as total
    FROM ope_stock stock
    inner JOIN ope_parts_product product ON stock.materiel_product_id = product.id and product.dr = 0
    inner JOIN ope_regional_price_sheet sheet
    ON product.id = sheet.parts_product_id and sheet.dr = 0 AND sheet.currency_unit = #{amountType}
    <include refid="where_wmsAllocateStoredStock"/>
    union
    SELECT count(*) as total
    FROM ope_stock stock
    inner JOIN ope_parts part ON stock.materiel_product_id = part.id and part.dr = 0
    inner JOIN ope_price_sheet sheet ON part.id = sheet.parts_id and sheet.dr = 0
    <include refid="where_wmsAssemblyStoredStock"/>
    ) storedStock
  </select>
  <select id="wmsStoredStockList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    SELECT stock.id                                    as id,
    product.cn_name                             as cnName,
    product.en_name                             as enName,
    product.product_number                      as productNumber,
    stock.wait_stored_total                     as intTotal,
    stock.materiel_product_type                 as productType,
    sheet.sales_price * stock.wait_stored_total as price
    FROM ope_stock stock
    inner JOIN ope_parts_product product ON stock.materiel_product_id = product.id and product.dr = 0
    inner JOIN ope_regional_price_sheet sheet
    ON product.id = sheet.parts_product_id and sheet.dr = 0 AND sheet.currency_unit = #{amountType}
    <include refid="where_wmsAllocateStoredStock"/>
    union
    SELECT stock.id                              as id,
    part.cn_name                          as cnName,
    part.en_name                          as enName,
    part.parts_number                     as productNumber,
    stock.wait_stored_total               as intTotal,
    stock.materiel_product_type           as productType,
    sheet.price * stock.wait_stored_total as price
    FROM ope_stock stock
    inner JOIN ope_parts part ON stock.materiel_product_id = part.id and part.dr = 0
    inner JOIN ope_price_sheet sheet ON part.id = sheet.parts_id and sheet.dr = 0
    <include refid="where_wmsAssemblyStoredStock"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="wmsStoredStockCountByType" resultType="int">
    SELECT
    count(*)
    FROM
    ope_stock stock
    JOIN
    ope_parts_product product
    ON stock.materiel_product_id = product.id
    and product.dr = 0
    JOIN
    ope_regional_price_sheet sheet
    ON product.id = sheet.parts_product_id
    and sheet.dr = 0
    WHERE
    stock.dr=0
    AND stock.wait_stored_total>0
    AND stock.whse_id = #{whseid}
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==4 or typeItem==5">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
  </select>
  <select id="wmsBePredictedStockCountByType" resultType="int">
    SELECT
    count(*)
    FROM
    ope_stock stock
    JOIN
    ope_parts parts
    ON stock.materiel_product_id = parts.id
    and parts.dr = 0
    JOIN
    ope_price_sheet sheet
    ON parts.id = sheet.parts_id
    and sheet.dr = 0
    WHERE
    stock.dr=0
    AND stock.wait_product_total>0
    AND stock.whse_id=#{whseid}
    AND stock.materiel_product_type in
    <foreach item="typeItem" collection="commonTypeList" separator="," open="(" close=")">
      <choose>
        <when test="typeItem==1 or typeItem==2 or typeItem==3">
          #{typeItem}
        </when>
      </choose>
    </foreach>
    AND sheet.currency_unit = #{amountType}
  </select>

  <select id="wmsOutWhStockCount" resultType="int">
    select sum(outWh.total) from(
    select count(*) as total
    from ope_fr_stock stock
    inner JOIN ope_parts_product part
    ON stock.materiel_product_id = part.id and part.dr = 0 and stock.materiel_product_type = 4
    LEFT JOIN ope_regional_price_sheet sheet
    ON sheet.parts_product_id = part.id and sheet.dr = 0 and sheet.currency_unit = #{amountType}
    <include refid="where_outWhProductList"/>
    UNION
    select count(*) as total
    from ope_fr_stock stock
    inner JOIN ope_parts part
    ON stock.materiel_product_id = part.id and part.dr = 0 and stock.materiel_product_type != 4
    LEFT JOIN ope_price_sheet sheet on sheet.parts_id = part.id and sheet.dr = 0
    <include refid="where_outWhPartList"/>
    )outWh
  </select>

  <select id="wmsOutWhStockList" resultType="com.redescooter.ses.web.ros.vo.wms.cn.WmsStockAvailableResult">
    select stock.id as id,
    stock.materiel_product_id AS partId,
    stock.materiel_product_type AS productType,
    part.cn_name AS cnName,
    part.en_name AS enName,
    part.product_number AS productNumber,
    stock.available_total AS intTotal,
    sheet.sales_price as price
    from ope_fr_stock stock
    inner JOIN ope_parts_product part
    ON stock.materiel_product_id = part.id and part.dr = 0 and stock.materiel_product_type = 4
    LEFT JOIN ope_regional_price_sheet sheet
    ON sheet.parts_product_id = part.id and sheet.dr = 0 and sheet.currency_unit = #{amountType}
    <include refid="where_outWhProductList"/>
    UNION
    select stock.id as id,
    stock.materiel_product_id AS partId,
    stock.materiel_product_type AS productType,
    part.cn_name AS cnName,
    part.en_name AS enName,
    part.product_number AS productNumber,
    stock.available_total AS intTotal,
    sheet.price as price
    from ope_fr_stock stock
    inner JOIN ope_parts_product part
    ON stock.materiel_product_id = part.id and part.dr = 0 and stock.materiel_product_type != 4
    LEFT JOIN ope_price_sheet sheet on sheet.parts_id=part.id and sheet.dr = 0
    <include refid="where_outWhPartList"/>
    limit #{enter.startRow},#{enter.pageSize}
  </select>
  <select id="wmsOutWhStockCountByType" resultType="int">
    select sum(outWh.total) from(
    select count(*) as total
    from ope_fr_stock stock
    inner JOIN ope_parts_product part
    ON stock.materiel_product_id = part.id and part.dr = 0 and stock.materiel_product_type = 4
    LEFT JOIN ope_regional_price_sheet sheet
    ON sheet.parts_product_id = part.id and sheet.dr = 0 and sheet.currency_unit = #{amountType}
    UNION
    select count(*) as total
    from ope_fr_stock stock
    inner JOIN ope_parts part
    ON stock.materiel_product_id = part.id and part.dr = 0 and stock.materiel_product_type != 4
    LEFT JOIN ope_price_sheet sheet on sheet.parts_id = part.id and sheet.dr = 0
    )outWh
  </select>

</mapper>
