#日志路径
log:
  file:
    path: ${log.path}@profile-active@
    max-size: 128MB
    max-history: 180
# DUBBO 配置
dubbo:                                                                                                                  ##DUBBO配置
  registry:                                                                                                             #注册中心
    address: zookeeper://172.31.8.126:2181?backup=172.31.8.126:2182,172.31.8.126:2183

# xxl-job config
xxl:
  job:
    admin:
      ### xxl-job admin address list, such as "http://address" or "http://address01,http://address02"
      addresses: http://172.31.8.126:48090/
    ### xxl-job executor address
    executor:
      ip:
      port: 48098
      appname: ses-executor-01
      address: 172.31.8.126:8082
      ### xxl-job log path
      logpath: ${log.path}@profile-active@/@project.artifactId@
      ### xxl-job log retention days
      logretentiondays: 7
    ### xxl-job, access token
    accessToken: