<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.wh.fr.dao.base.OpeCarDistributeExMapper">

    <!-- app询价单列表count -->
    <select id="getInquiryListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_customer_inquiry oci
        left join ope_customer_inquiry_b ocib on oci.id = ocib.inquiry_id and ocib.dr = 0
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        left join ope_sale_scooter oss on oss.id = oci.product_id and oss.dr = 0
        left join ope_specificat_type ost on ost.id = oss.specificat_id and ost.dr = 0
        left join ope_color oc on oc.id = oss.color_id and oc.dr = 0
        left join ope_customer customer on customer.id = oci.customer_id and customer.dr = 0
        where oci.dr = 0 and customer.status = 2
        <include refid="condition"/>
    </select>

    <!-- app询价单列表(注意:这里条件更改,service层判断也要改) -->
    <select id="getInquiryList" resultType="com.redescooter.ses.wh.fr.vo.InquiryListResult">
        select
            oci.id,
            oci.order_no,
            IFNULL(ocdn.app_node, 1) as appNode,
            IFNULL(ocdn.node, 1) as webNode,
            IFNULL(ocdn.flag, 0) as flag,
            ost.id as specificatTypeId,
            ost.specificat_name as scooterName,
            oc.id as colorId,
            oc.color_name,
            ocib.product_qty as batteryNum,
            ocd.battery,
            IFNULL(ocd.seat_number, 2) as seatNumber,
            IFNULL(oci.full_name, customer.company_name) as customerName,
            oci.customer_id,
            oci.email,
            oci.created_time
        from ope_customer_inquiry oci
        left join ope_customer_inquiry_b ocib on oci.id = ocib.inquiry_id and ocib.dr = 0
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        left join ope_sale_scooter oss on oss.id = oci.product_id and oss.dr = 0
        left join ope_specificat_type ost on ost.id = oss.specificat_id and ost.dr = 0
        left join ope_color oc on oc.id = oss.color_id and oc.dr = 0
        left join ope_customer customer on customer.id = oci.customer_id and customer.dr = 0
        where oci.dr = 0 and customer.status = 2
        <include refid="condition"/>
        order by oci.created_time desc
        limit #{param.startRow}, #{param.pageSize}
    </select>

    <sql id="condition">
        <if test="param.status != null and param.status == 1">
            and (ocdn.flag is null or ocdn.flag = 0) and ( (ocdn.app_node is null or ocdn.app_node = 1 ) or (ocdn.node is null or ocdn.node = 1 ) )
        </if>
        <if test="param.status != null and param.status == 2">
            and ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 1 and ocdn.app_node in (2, 3, 4, 5)
        </if>
        <if test="param.status != null and param.status == 3">
            and ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 2 and ocdn.app_node = 6
        </if>
        <if test="param.keyword != null and param.keyword != ''">
            and (  (ocdn.flag is null or ocdn.flag = 0) and ( (ocdn.app_node is null or ocdn.app_node = 1 ) or (ocdn.node is null or ocdn.node = 1 ) ) and (oci.order_no like concat('%', #{param.keyword}, '%') or oci.full_name like concat('%', #{param.keyword}, '%'))    )

            or  (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 1 and ocdn.app_node in (2, 3, 4, 5) and (oci.order_no like concat('%', #{param.keyword}, '%') or oci.full_name like concat('%', #{param.keyword}, '%'))     )

            or  (  ocd.warehouse_account_id = #{warehouseAccountId} and ocdn.flag = 2 and ocdn.app_node = 6 and (oci.order_no like concat('%', #{param.keyword}, '%') or oci.full_name like concat('%', #{param.keyword}, '%'))           )
        </if>
    </sql>

    <!-- app询价单详情 -->
    <select id="getInquiryDetail" resultType="com.redescooter.ses.wh.fr.vo.InquiryDetailResult">
        select
            ost.id as specificatTypeId,
            oci.customer_id,
            ost.specificat_name as scooterName,
            oc.color_name,
            oc.id as colorId,
            ocib.product_qty as batteryNum,
            IFNULL(ocd.seat_number, 2) as seatNumber,
            ocd.rsn,
            ocd.tablet_sn,
            ocd.bluetooth_address,
            ocd.license_plate,
            ocd.bbi,
            ocd.controller,
            ocd.electric_machinery,
            ocd.meter,
            ocd.imei,
            ocd.vin_code,
            ocdn.app_node,
            ocd.battery
        from ope_customer_inquiry oci
        left join ope_customer_inquiry_b ocib on oci.id = ocib.inquiry_id and ocib.dr = 0
        left join ope_car_distribute ocd on oci.customer_id = ocd.customer_id and ocd.dr = 0
        left join ope_car_distribute_node ocdn on ocdn.customer_id = oci.customer_id and ocdn.dr = 0
        left join ope_sale_scooter oss on oss.id = oci.product_id and oss.dr = 0
        left join ope_specificat_type ost on ost.id = ocd.specificat_type_id and ost.dr = 0
        left join ope_color oc on oc.id = ocd.color_id and oc.dr = 0
        where oci.id = #{param.id}
    </select>

</mapper>
