<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.AccountBaseServiceMapper">


    <select id="queryAccountListCount"
            resultType="com.redescooter.ses.api.foundation.vo.tenant.QueryAccountListResult">
        select count(*) from pla_tenant tenant
        where  tenant.id in
        <foreach collection="inputTenantId" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
        <if test="status != null and status != ''">
          and  tenant.status = #{status}
        </if>
        <if
                test="startActivationTime != null and startActivationTime != '' and endActivationTime != null and endActivationTime != ''">
           and activation_time  between #{startActivationTime} and #{endActivationTime}
        </if>
        <if
                test="startExpirationTime != null and startExpirationTime != '' and endExpirationTime != null and endExpirationTime != '' != null and startExpirationTime != ''">
            and effective_time  between #{startExpirationTime} and #{endExpirationTime}
        </if>
    </select>

    <select id="queryAccountList"
            resultType="com.redescooter.ses.api.foundation.vo.tenant.QueryAccountListResult">
        select
        id as id,
        effective_time as ,
        expire_time
        from pla_tenant tenant
        where  tenant.id in
        <foreach collection="inputTenantId" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
        <if test="status != null and status != ''">
            and  tenant.status = #{status}
        </if>
        <if
                test="startActivationTime != null and startActivationTime != '' and endActivationTime != null and endActivationTime != ''">
            and tenant.activation_time  between #{startActivationTime} and #{endActivationTime}
        </if>
        <if
                test="startExpirationTime != null and startExpirationTime != '' and endExpirationTime != null and endExpirationTime != '' != null and startExpirationTime != ''">
            and tenant.effective_time  between #{startExpirationTime} and #{endExpirationTime}
        </if>
        order by tenant.created_time desc
    </select>

    <select id="accountCountStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select status, count(*) as totalCount
        from pla_tenant
        group by status
    </select>
</mapper>