<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.AccountBaseServiceMapper">


    <select id="queryAccountListCount"
            resultType="int">
        select count(*) from pla_tenant tenant
        where tenant.dr = 0 and tenant.id!=0
        <if test="status != null and status != ''">
            and  tenant.status = #{status}
        </if>
        <if test="inputTenantId != null and inputTenantId.size() != 0">
            and  tenant.id in
            <foreach collection="inputTenantId" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if
                test="startActivationTime != null and startActivationTime != '' and endActivationTime != null and endActivationTime != ''">
           and tenant.activation_time  between #{startActivationTime} and #{endActivationTime}
        </if>
        <if
                test="startExpirationTime != null and startExpirationTime != '' and endExpirationTime != null and endExpirationTime != '' != null and startExpirationTime != ''">
            and tenant.expire_time  between #{startExpirationTime} and #{endExpirationTime}
        </if>
    </select>

    <select id="queryAccountList"
            resultType="com.redescooter.ses.api.foundation.vo.tenant.QueryAccountListResult">
        select tenant.id              as id,
        tenant.id              as inputTenantId,
        tenant.activation_time as activationTime,
        tenant.expire_time     as expirationTime,
        tenant.status          as status
        from pla_tenant tenant and tenant.id!=0
        where tenant.dr = 0
        <if test="status != null and status != ''">
            and  tenant.status = #{status}
        </if>
        <if test="inputTenantId != null and inputTenantId.size() != 0">
            and  tenant.id in
            <foreach collection="inputTenantId" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if
                test="startActivationTime != null and startActivationTime != '' and endActivationTime != null and endActivationTime != ''">
            and tenant.activation_time  between #{startActivationTime} and #{endActivationTime}
        </if>
        <if
                test="startExpirationTime != null and startExpirationTime != '' and endExpirationTime != null and endExpirationTime != '' != null and startExpirationTime != ''">
            and tenant.expire_time  between #{startExpirationTime} and #{endExpirationTime}
        </if>
        order by tenant.created_time desc
    </select>

    <select id="accountCountStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select status, count(*) as totalCount
        from pla_tenant
        where dr = 0
        group by status
    </select>
</mapper>