<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.AccountBaseServiceMapper">


    <select id="queryAccountListCount"
            resultType="int">
        select count(*) from pla_tenant tenant
        where tenant.dr = 0
        and tenant.tenant_type ='1'
        <if test="status != null and status != ''">
            and  tenant.status = #{status}
        </if>
        <if test="inputTenantId != null and inputTenantId.size() != 0">
            and  tenant.id in
            <foreach collection="inputTenantId" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="startActivationTime != null and startActivationTime != '' and endActivationTime != null and endActivationTime != ''">
           and tenant.activation_time  between #{startActivationTime} and #{endActivationTime}
        </if>
        <if test="startExpirationTime != null and startExpirationTime != '' and endExpirationTime != null and endExpirationTime != '' != null and startExpirationTime != ''">
            and tenant.expire_time  between #{startExpirationTime} and #{endExpirationTime}
        </if>
    </select>

    <select id="queryAccountList"
            resultType="com.redescooter.ses.api.foundation.vo.tenant.QueryAccountResult">
        select tenant.id as id,
        tenant.id as inputTenantId,
        tenant.effective_time as activationTime,
        tenant.expire_time as expirationTime,
        tenant.status as status
        from pla_tenant tenant
        where tenant.dr = 0
        and tenant.tenant_type ='1'
        <if test="status != null and status != ''">
            and tenant.status = #{status}
        </if>
        <if test="inputTenantId != null and inputTenantId.size() != 0">
            and  tenant.id in
            <foreach collection="inputTenantId" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="startActivationTime != null and startActivationTime != '' and endActivationTime != null and endActivationTime != ''">
            and tenant.activation_time  between #{startActivationTime} and #{endActivationTime}
        </if>
        <if test="startExpirationTime != null and startExpirationTime != '' and endExpirationTime != null and endExpirationTime != '' != null and startExpirationTime != ''">
            and tenant.expire_time  between #{startExpirationTime} and #{endExpirationTime}
        </if>
        order by tenant.created_time desc
    </select>

    <select id="accountCountStatus" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select status, count(*) as totalCount
        from pla_tenant
        where dr = 0
        and tenant_type ='1'
        group by status
    </select>

    <select id="customerAccountCountByStatus"
            resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select user.STATUS as status,
        count(*) as totalCount
        from pla_user user
        where user.dr = 0
        and user.USER_TYPE in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by status
    </select>
    <select id="customerAccountCount" resultType="java.lang.Integer">
        select count(*)
        from pla_user user
        where user.dr = 0
        and user.USER_TYPE in
        <foreach collection="accountType" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="enter.status != null and enter.status != ''">
            and user.status = #{enter.status}
        </if>
        <if test="enter.emailList != null and enter.emailList.size() != 0">
            and user.LOGIN_NAME in
            <foreach collection="enter.emailList" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="enter.startActivationTime != null and enter.startActivationTime != '' and enter.endActivationTime != null and enter.endActivationTime != ''">
            and user.activation_time between #{enter.startActivationTime} and #{enter.endActivationTime}
        </if>
        <if
                test="enter.startExpirationTime != null and enter.startExpirationTime != '' and enter.endExpirationTime != null and enter.endExpirationTime != ''">
            and user.expire_time between #{enter.startExpirationTime} and #{enter.endExpirationTime}
        </if>
    </select>
    <select id="customerAccountList"
            resultType="com.redescooter.ses.api.foundation.vo.tenant.QueryAccountResult">
        select user.id as id,
        user.LOGIN_NAME as email,
        user.effective_time as activationTime,
        user.expire_time as expirationTime,
        user.status as status
        from pla_user user
        where user.dr = 0
        and user.USER_TYPE in
        <foreach collection="accountType" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="enter.status != null and enter.status != ''">
            and user.status = #{enter.status}
        </if>
        <if test="enter.emailList != null and enter.emailList.size() != 0">
            and user.LOGIN_NAME in
            <foreach collection="enter.emailList" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="enter.startActivationTime != null and enter.startActivationTime != '' and enter.endActivationTime != null and enter.endActivationTime != ''">
            and user.activation_time between #{enter.startActivationTime} and #{enter.endActivationTime}
        </if>
        <if
                test="enter.startExpirationTime != null and enter.startExpirationTime != '' and enter.endExpirationTime != null and enter.endExpirationTime != ''">
            and user.expire_time between #{enter.startExpirationTime} and #{enter.endExpirationTime}
        </if>
        order by user.created_time desc
    </select>

    <select id="customerAccountDeatil"
            resultType="com.redescooter.ses.api.foundation.vo.tenant.QueryAccountResult">
        select user.id as id,
        user.LOGIN_NAME as email,
        user.effective_time as activationTime,
        user.expire_time as expirationTime,
        user.status as status
        from pla_user user
        where user.dr = 0
        and user.LOGIN_NAME=#{email}
        and user.USER_TYPE in
        <foreach collection="accountType" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>
</mapper>