<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redescooter.ses.service.foundation.dao.I18nConfigServiceMapper">

    <!--多维度查询条件-->
    <sql id="MultipleI18nConfigWhere">
        <if test="type != null and type != ''">
            and i18nc.type like CONCAT('',#{type},'%')
        </if>
        <if test="group != null and group != ''">
            and i18nc.group like CONCAT('',#{group},'%')
        </if>
        <if test="key != null and key != ''">
            and i18nc.key = #{key}
        </if>
    </sql>

    <!-- 获取多维度查询国际化多语言配置-->
    <select id="getI18nConfig" resultType="com.redescooter.ses.api.foundation.vo.message.GetI18nConfigResult">

        select i18nc.group, i18nc.type, i18nc.country, i18nc.key, i18nc.value
        from pla_i18n_config i18nc
        where i18nc.country = #{language}
        and i18nc.deleted =0
        <include refid="MultipleI18nConfigWhere"/>

    </select>

    <select id="getI18nConfigOfPage" resultType="com.redescooter.ses.api.foundation.vo.message.GetI18nConfigResult">

        select i18nc.group, i18nc.type, i18nc.country, i18nc.key, i18nc.value
        from pla_i18n_config i18nc
        where i18nc.country = #{language}
        and i18nc.deleted =0
        <include refid="MultipleI18nConfigWhere"/>
        <if test="pageSize != null and startRow != null ">
            limit #{startRow} ,#{pageSize}
        </if>

    </select>

    <select id="getI18nConfigTotalRows" resultType="java.lang.Integer">

        select count(i18nc.id) as total
        from pla_i18n_config i18nc
        where i18nc.country = #{country}
        and i18nc.deleted =0
        <include refid="MultipleI18nConfigWhere"/>

    </select>
</mapper>