<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redescooter.ses.service.foundation.dao.JpushUserServiceMapper">

    <select id="queryJpushUserByRegistrationId" resultType="com.redescooter.ses.service.foundation.dm.JpushUserData">
        select * from pla_jpush_user where registration_id = #{registrationId} and user_id=#{userId} and dr=0
    </select>

    <update id="reset">
        update pla_jpush_user
        set user_id = #{userId} ,
        platform_type = #{platformType} ,
        audience_type =#{audienceType} ,
        status =#{status} ,
        status_code=#{statusCode} ,
        update_time =#{updateTime} ,
        update_by= #{userId}
        where registration_id = #{registrationId}
    </update>
    <select id="queryRegistids" resultType="com.redescooter.ses.api.foundation.vo.message.JpushUserResult">
        select
        ju.id,
        ju.user_id as userId,
        ju.registration_id as registrationId,
        ju.tag,
        ju.alias,
        ju.platform_type as platformType,
        ju.audience_type as audienceType,
        ju.push_time as pushTime
        from pla_jpush_user ju
        where  ju.dr=0
        and ju.user_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>