<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.ParameterSettingServiceMapper">

    <select id="paramList" resultType="com.redescooter.ses.api.foundation.vo.setting.ParameterResult">
        select param.id             as id,
               param.group_id       as groupId,
               gup.group_name       as groupName,
               param.parameter_name as parameterName,
               param.param_key as 'key',
               param.param_value as value,
               if(param.enable,1,0) as enable,
               param.`desc` as 'desc',
               param.created_by as createdById,
               param.created_time as createdTime,
               param.updated_time as updatedTime,
               param.updated_by as upadtedById
        from pla_sys_param_setting param
                 left join pla_sys_group_setting gup on param.group_id = gup.id and gup.dr = 0
        where param.dr=0
        and  param.system_type=#{systemType}
        <if test="keyword != null and keyword != ''">
            and param.parameter_name like concat('%',#{keyword},'%')
        </if>
        <if test="groupId != null">
            and param.group_id = #{groupId}
        </if>
        order by  param.created_time desc
        limit  #{startRow},#{pageSize}


    </select>

    <select id="detail" resultType="com.redescooter.ses.api.foundation.vo.setting.ParameterResult">
        select param.id             as id,
        param.group_id       as groupId,
        gup.group_name       as groupName,
        param.parameter_name as parameterName,
        param.param_key as 'key',
        param.param_value as value,
        if(param.enable,1,0) as enable,
        param.`desc` as 'desc',
        param.created_by as createdById,
        param.created_time as createdTime,
        param.updated_time as updatedTime,
        param.updated_by as upadtedById
        from pla_sys_param_setting param
        left join pla_sys_group_setting gup on param.group_id = gup.id and gup.dr = 0
        where param.dr=0
        and  param.id=#{id}
    </select>
</mapper>