<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.TenantBaseServiceMapper">
    <update id="updateDriverCount">
        update pla_tenant tenant
        set tenant.driver_counts=tenant.driver_counts + 1,
        tenant.updated_by=#{userId},
        tenant.updated_time=NOW()
        where tenant.id =#{tenantId}
    </update>
</mapper>