<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.WorkOrderMapper">

    <select id="workOrderListCount" resultType="int">
        select  count(*) from pla_work_order
        where dr = 0
        <include refid="listCondition"></include>
    </select>

    <sql id="listCondition">
        <if test="enter.source != null">
            and source = #{enter.source}
        </if>
        <if test="enter.workOrderStatus != null">
            and work_order_status = #{enter.workOrderStatus}
        </if>
        <if test="enter.keyword != null and enter.keyword != ''">
            and (contact_email like concat('%', #{enter.keyword}, '%')
            or order_no like concat('%', #{enter.keyword}, '%')
            )
        </if>
    </sql>

    <select id="workOrderList" resultType="com.redescooter.ses.api.common.vo.workorder.WorkOrderListResult">
         select
            id,
            order_no,
            source,
            work_order_status,
            title,
            contact_email,
            remark,
            created_time
         from pla_work_order
         where dr = 0
        <include refid="listCondition"></include>
        order by created_time desc
        limit #{enter.startRow},#{enter.pageSize}
    </select>

    <select id="workOrderDetail" resultType="com.redescooter.ses.api.common.vo.workorder.WorkOrderDetailResult">
        select
            workorder.id,
            workorder.order_no,
            workorder.source,
            workorder.work_order_status,
            workorder.title,
            workorder.contact_email,
            workorder.remark,
            workorder.annex_picture_1,
            workorder.annex_picture_2,
            workorder.annex_picture_3,
            user.LOGIN_NAME AS createdByName
        from
        pla_work_order workorder
        left join pla_user user on user.id = workorder.created_by
        where workorder.dr = 0
        and workorder.id = #{enter.id}
    </select>

    <select id="workOrderLogs" resultType="com.redescooter.ses.api.common.vo.workorder.WorkOrderLogResult">
        select
            log.message_type,
            log.remark,
            log.created_time,
            user.LOGIN_NAME AS createdByName
        from pla_work_order_log log
        left join pla_user user on user.id = log.created_by
        where log.dr = 0 and log.work_order_id = #{workOrderId}
    </select>
</mapper>
