<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.b.dao.base.CorDeliveryMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.service.mobile.b.dm.base.CorDelivery">
    <!--@mbg.generated-->
    <!--@Table cor_delivery-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="dr" jdbcType="INTEGER" property="dr"/>
    <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
    <result column="deliverer_id" jdbcType="BIGINT" property="delivererId"/>
    <result column="scooter_id" jdbcType="BIGINT" property="scooterId"/>
    <result column="recipient" jdbcType="VARCHAR" property="recipient"/>
    <result column="recipient_email" jdbcType="VARCHAR" property="recipientEmail"/>
    <result column="country_code" jdbcType="VARCHAR" property="countryCode"/>
    <result column="recipient_tel" jdbcType="VARCHAR" property="recipientTel"/>
    <result column="recipient_address" jdbcType="VARCHAR" property="recipientAddress"/>
    <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
    <result column="latitude" jdbcType="DECIMAL" property="latitude"/>
    <result column="geohash" jdbcType="VARCHAR" property="geohash"/>
    <result column="house_info" jdbcType="VARCHAR" property="houseInfo"/>
    <result column="parcel_quantity" jdbcType="INTEGER" property="parcelQuantity"/>
    <result column="goods_inventory" jdbcType="VARCHAR" property="goodsInventory"/>
    <result column="result" jdbcType="VARCHAR" property="result"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="planned_time" jdbcType="VARCHAR" property="plannedTime"/>
    <result column="timeout_expectde" jdbcType="VARCHAR" property="timeoutExpectde"/>
    <result column="time_out" jdbcType="TIMESTAMP" property="timeOut"/>
    <result column="etd" jdbcType="TIMESTAMP" property="etd"/>
    <result column="atd" jdbcType="TIMESTAMP" property="atd"/>
    <result column="eta" jdbcType="TIMESTAMP" property="eta"/>
    <result column="ata" jdbcType="TIMESTAMP" property="ata"/>
    <result column="driven_mileage" jdbcType="DECIMAL" property="drivenMileage"/>
    <result column="driven_duration" jdbcType="INTEGER" property="drivenDuration"/>
    <result column="co2" jdbcType="DECIMAL" property="co2"/>
    <result column="savings" jdbcType="DECIMAL" property="savings"/>
    <result column="statistics" jdbcType="VARCHAR" property="statistics"/>
    <result column="label" jdbcType="VARCHAR" property="label"/>
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
    <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
    <result column="def1" jdbcType="VARCHAR" property="def1"/>
    <result column="def2" jdbcType="VARCHAR" property="def2"/>
    <result column="def3" jdbcType="VARCHAR" property="def3"/>
    <result column="def5" jdbcType="VARCHAR" property="def5"/>
    <result column="def6" jdbcType="DOUBLE" property="def6"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, order_no, tenant_id, deliverer_id, scooter_id, recipient, recipient_email,
    country_code, recipient_tel, recipient_address, longitude, latitude, geohash, house_info,
    parcel_quantity, goods_inventory, `result`, `status`, planned_time, timeout_expectde,
    time_out, etd, atd, eta, ata, driven_mileage, driven_duration, co2, savings, `statistics`,
    `label`, updated_time, created_time, updated_by, created_by, def1, def2, def3, def5,
    def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cor_delivery
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="order_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.orderNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="deliverer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.delivererId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="scooter_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.scooterId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="recipient = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.recipient,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="recipient_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.recipientEmail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.countryCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="recipient_tel = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.recipientTel,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="recipient_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.recipientAddress,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="geohash = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.geohash,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="house_info = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.houseInfo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="parcel_quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.parcelQuantity,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="goods_inventory = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.goodsInventory,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`result` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.result,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="planned_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.plannedTime,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="timeout_expectde = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.timeoutExpectde,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="time_out = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.timeOut,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="etd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.etd,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="atd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.atd,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="eta = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.eta,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="ata = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ata,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="driven_mileage = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.drivenMileage,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="driven_duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.drivenDuration,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="co2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.co2,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="savings = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.savings,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="`statistics` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.statistics,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`label` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.label,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cor_delivery
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="order_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.orderNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.orderNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tenantId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.tenantId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="deliverer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delivererId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.delivererId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="scooter_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.scooterId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.scooterId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="recipient = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.recipient != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.recipient,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="recipient_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.recipientEmail != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.recipientEmail,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="country_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.countryCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.countryCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="recipient_tel = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.recipientTel != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.recipientTel,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="recipient_address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.recipientAddress != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.recipientAddress,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.longitude != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.latitude != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="geohash = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.geohash != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.geohash,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="house_info = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.houseInfo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.houseInfo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="parcel_quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.parcelQuantity != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.parcelQuantity,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="goods_inventory = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.goodsInventory != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.goodsInventory,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`result` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.result != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.result,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="planned_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.plannedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.plannedTime,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="timeout_expectde = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.timeoutExpectde != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.timeoutExpectde,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="time_out = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.timeOut != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.timeOut,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="etd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.etd != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.etd,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="atd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.atd != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.atd,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="eta = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.eta != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.eta,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="ata = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ata != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.ata,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="driven_mileage = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.drivenMileage != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.drivenMileage,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="driven_duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.drivenDuration != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.drivenDuration,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="co2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.co2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.co2,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="savings = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.savings != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.savings,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="`statistics` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.statistics != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.statistics,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`label` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.label != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.label,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def6 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into cor_delivery
    (id, dr, order_no, tenant_id, deliverer_id, scooter_id, recipient, recipient_email,
    country_code, recipient_tel, recipient_address, longitude, latitude, geohash, house_info,
    parcel_quantity, goods_inventory, `result`, `status`, planned_time, timeout_expectde,
    time_out, etd, atd, eta, ata, driven_mileage, driven_duration, co2, savings, `statistics`,
    `label`, updated_time, created_time, updated_by, created_by, def1, def2, def3,
    def5, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.orderNo,jdbcType=VARCHAR},
      #{item.tenantId,jdbcType=BIGINT}, #{item.delivererId,jdbcType=BIGINT}, #{item.scooterId,jdbcType=BIGINT},
      #{item.recipient,jdbcType=VARCHAR}, #{item.recipientEmail,jdbcType=VARCHAR}, #{item.countryCode,jdbcType=VARCHAR},
      #{item.recipientTel,jdbcType=VARCHAR}, #{item.recipientAddress,jdbcType=VARCHAR},
      #{item.longitude,jdbcType=DECIMAL}, #{item.latitude,jdbcType=DECIMAL}, #{item.geohash,jdbcType=VARCHAR},
      #{item.houseInfo,jdbcType=VARCHAR}, #{item.parcelQuantity,jdbcType=INTEGER},
      #{item.goodsInventory,jdbcType=VARCHAR},
      #{item.result,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.plannedTime,jdbcType=VARCHAR},
      #{item.timeoutExpectde,jdbcType=VARCHAR}, #{item.timeOut,jdbcType=TIMESTAMP}, #{item.etd,jdbcType=TIMESTAMP},
      #{item.atd,jdbcType=TIMESTAMP}, #{item.eta,jdbcType=TIMESTAMP}, #{item.ata,jdbcType=TIMESTAMP},
      #{item.drivenMileage,jdbcType=DECIMAL}, #{item.drivenDuration,jdbcType=INTEGER},
      #{item.co2,jdbcType=DECIMAL}, #{item.savings,jdbcType=DECIMAL}, #{item.statistics,jdbcType=VARCHAR},
      #{item.label,jdbcType=VARCHAR}, #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.createdTime,jdbcType=TIMESTAMP},
      #{item.updatedBy,jdbcType=BIGINT}, #{item.createdBy,jdbcType=BIGINT}, #{item.def1,jdbcType=VARCHAR},
      #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR}, #{item.def5,jdbcType=VARCHAR},
      #{item.def6,jdbcType=DOUBLE})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.service.mobile.b.dm.base.CorDelivery">
    <!--@mbg.generated-->
    insert into cor_delivery
    (id, dr, order_no, tenant_id, deliverer_id, scooter_id, recipient, recipient_email,
    country_code, recipient_tel, recipient_address, longitude, latitude, geohash, house_info,
    parcel_quantity, goods_inventory, `result`, `status`, planned_time, timeout_expectde,
    time_out, etd, atd, eta, ata, driven_mileage, driven_duration, co2, savings, `statistics`,
    `label`, updated_time, created_time, updated_by, created_by, def1, def2, def3,
    def5, def6)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT},
    #{delivererId,jdbcType=BIGINT}, #{scooterId,jdbcType=BIGINT}, #{recipient,jdbcType=VARCHAR},
    #{recipientEmail,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, #{recipientTel,jdbcType=VARCHAR},
    #{recipientAddress,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL},
    #{geohash,jdbcType=VARCHAR}, #{houseInfo,jdbcType=VARCHAR}, #{parcelQuantity,jdbcType=INTEGER},
    #{goodsInventory,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
    #{plannedTime,jdbcType=VARCHAR}, #{timeoutExpectde,jdbcType=VARCHAR}, #{timeOut,jdbcType=TIMESTAMP},
    #{etd,jdbcType=TIMESTAMP}, #{atd,jdbcType=TIMESTAMP}, #{eta,jdbcType=TIMESTAMP},
    #{ata,jdbcType=TIMESTAMP}, #{drivenMileage,jdbcType=DECIMAL}, #{drivenDuration,jdbcType=INTEGER},
    #{co2,jdbcType=DECIMAL}, #{savings,jdbcType=DECIMAL}, #{statistics,jdbcType=VARCHAR},
    #{label,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP},
    #{updatedBy,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT}, #{def1,jdbcType=VARCHAR},
    #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE}
    )
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    dr = #{dr,jdbcType=INTEGER},
    order_no = #{orderNo,jdbcType=VARCHAR},
    tenant_id = #{tenantId,jdbcType=BIGINT},
    deliverer_id = #{delivererId,jdbcType=BIGINT},
    scooter_id = #{scooterId,jdbcType=BIGINT},
    recipient = #{recipient,jdbcType=VARCHAR},
    recipient_email = #{recipientEmail,jdbcType=VARCHAR},
    country_code = #{countryCode,jdbcType=VARCHAR},
    recipient_tel = #{recipientTel,jdbcType=VARCHAR},
    recipient_address = #{recipientAddress,jdbcType=VARCHAR},
    longitude = #{longitude,jdbcType=DECIMAL},
    latitude = #{latitude,jdbcType=DECIMAL},
    geohash = #{geohash,jdbcType=VARCHAR},
    house_info = #{houseInfo,jdbcType=VARCHAR},
    parcel_quantity = #{parcelQuantity,jdbcType=INTEGER},
    goods_inventory = #{goodsInventory,jdbcType=VARCHAR},
    `result` = #{result,jdbcType=VARCHAR},
    `status` = #{status,jdbcType=VARCHAR},
    planned_time = #{plannedTime,jdbcType=VARCHAR},
    timeout_expectde = #{timeoutExpectde,jdbcType=VARCHAR},
    time_out = #{timeOut,jdbcType=TIMESTAMP},
    etd = #{etd,jdbcType=TIMESTAMP},
    atd = #{atd,jdbcType=TIMESTAMP},
    eta = #{eta,jdbcType=TIMESTAMP},
    ata = #{ata,jdbcType=TIMESTAMP},
    driven_mileage = #{drivenMileage,jdbcType=DECIMAL},
    driven_duration = #{drivenDuration,jdbcType=INTEGER},
    co2 = #{co2,jdbcType=DECIMAL},
    savings = #{savings,jdbcType=DECIMAL},
    `statistics` = #{statistics,jdbcType=VARCHAR},
    `label` = #{label,jdbcType=VARCHAR},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    created_by = #{createdBy,jdbcType=BIGINT},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=VARCHAR},
    def6 = #{def6,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.service.mobile.b.dm.base.CorDelivery">
    <!--@mbg.generated-->
    insert into cor_delivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="delivererId != null">
        deliverer_id,
      </if>
      <if test="scooterId != null">
        scooter_id,
      </if>
      <if test="recipient != null">
        recipient,
      </if>
      <if test="recipientEmail != null">
        recipient_email,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="recipientTel != null">
        recipient_tel,
      </if>
      <if test="recipientAddress != null">
        recipient_address,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="geohash != null">
        geohash,
      </if>
      <if test="houseInfo != null">
        house_info,
      </if>
      <if test="parcelQuantity != null">
        parcel_quantity,
      </if>
      <if test="goodsInventory != null">
        goods_inventory,
      </if>
      <if test="result != null">
        `result`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="plannedTime != null">
        planned_time,
      </if>
      <if test="timeoutExpectde != null">
        timeout_expectde,
      </if>
      <if test="timeOut != null">
        time_out,
      </if>
      <if test="etd != null">
        etd,
      </if>
      <if test="atd != null">
        atd,
      </if>
      <if test="eta != null">
        eta,
      </if>
      <if test="ata != null">
        ata,
      </if>
      <if test="drivenMileage != null">
        driven_mileage,
      </if>
      <if test="drivenDuration != null">
        driven_duration,
      </if>
      <if test="co2 != null">
        co2,
      </if>
      <if test="savings != null">
        savings,
      </if>
      <if test="statistics != null">
        `statistics`,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="delivererId != null">
        #{delivererId,jdbcType=BIGINT},
      </if>
      <if test="scooterId != null">
        #{scooterId,jdbcType=BIGINT},
      </if>
      <if test="recipient != null">
        #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="recipientEmail != null">
        #{recipientEmail,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="recipientTel != null">
        #{recipientTel,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null">
        #{recipientAddress,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="geohash != null">
        #{geohash,jdbcType=VARCHAR},
      </if>
      <if test="houseInfo != null">
        #{houseInfo,jdbcType=VARCHAR},
      </if>
      <if test="parcelQuantity != null">
        #{parcelQuantity,jdbcType=INTEGER},
      </if>
      <if test="goodsInventory != null">
        #{goodsInventory,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="plannedTime != null">
        #{plannedTime,jdbcType=VARCHAR},
      </if>
      <if test="timeoutExpectde != null">
        #{timeoutExpectde,jdbcType=VARCHAR},
      </if>
      <if test="timeOut != null">
        #{timeOut,jdbcType=TIMESTAMP},
      </if>
      <if test="etd != null">
        #{etd,jdbcType=TIMESTAMP},
      </if>
      <if test="atd != null">
        #{atd,jdbcType=TIMESTAMP},
      </if>
      <if test="eta != null">
        #{eta,jdbcType=TIMESTAMP},
      </if>
      <if test="ata != null">
        #{ata,jdbcType=TIMESTAMP},
      </if>
      <if test="drivenMileage != null">
        #{drivenMileage,jdbcType=DECIMAL},
      </if>
      <if test="drivenDuration != null">
        #{drivenDuration,jdbcType=INTEGER},
      </if>
      <if test="co2 != null">
        #{co2,jdbcType=DECIMAL},
      </if>
      <if test="savings != null">
        #{savings,jdbcType=DECIMAL},
      </if>
      <if test="statistics != null">
        #{statistics,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="delivererId != null">
        deliverer_id = #{delivererId,jdbcType=BIGINT},
      </if>
      <if test="scooterId != null">
        scooter_id = #{scooterId,jdbcType=BIGINT},
      </if>
      <if test="recipient != null">
        recipient = #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="recipientEmail != null">
        recipient_email = #{recipientEmail,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="recipientTel != null">
        recipient_tel = #{recipientTel,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null">
        recipient_address = #{recipientAddress,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="geohash != null">
        geohash = #{geohash,jdbcType=VARCHAR},
      </if>
      <if test="houseInfo != null">
        house_info = #{houseInfo,jdbcType=VARCHAR},
      </if>
      <if test="parcelQuantity != null">
        parcel_quantity = #{parcelQuantity,jdbcType=INTEGER},
      </if>
      <if test="goodsInventory != null">
        goods_inventory = #{goodsInventory,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        `result` = #{result,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="plannedTime != null">
        planned_time = #{plannedTime,jdbcType=VARCHAR},
      </if>
      <if test="timeoutExpectde != null">
        timeout_expectde = #{timeoutExpectde,jdbcType=VARCHAR},
      </if>
      <if test="timeOut != null">
        time_out = #{timeOut,jdbcType=TIMESTAMP},
      </if>
      <if test="etd != null">
        etd = #{etd,jdbcType=TIMESTAMP},
      </if>
      <if test="atd != null">
        atd = #{atd,jdbcType=TIMESTAMP},
      </if>
      <if test="eta != null">
        eta = #{eta,jdbcType=TIMESTAMP},
      </if>
      <if test="ata != null">
        ata = #{ata,jdbcType=TIMESTAMP},
      </if>
      <if test="drivenMileage != null">
        driven_mileage = #{drivenMileage,jdbcType=DECIMAL},
      </if>
      <if test="drivenDuration != null">
        driven_duration = #{drivenDuration,jdbcType=INTEGER},
      </if>
      <if test="co2 != null">
        co2 = #{co2,jdbcType=DECIMAL},
      </if>
      <if test="savings != null">
        savings = #{savings,jdbcType=DECIMAL},
      </if>
      <if test="statistics != null">
        `statistics` = #{statistics,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>