<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.b.dao.base.CorExpressDeliveryDetailMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.service.mobile.b.dm.base.CorExpressDeliveryDetail">
    <!--@mbg.generated-->
    <!--@Table cor_express_delivery_detail-->
    <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="tenant_id" property="tenantId" />
    <result column="express_delivery_id" property="expressDeliveryId" />
    <result column="express_order_id" property="expressOrderId" />
    <result column="status" property="status" />
    <result column="parcel_quantity" property="parcelQuantity" />
    <result column="etd" property="etd" />
    <result column="ata" property="ata" />
    <result column="atd" property="atd" />
    <result column="eta" property="eta" />
    <result column="priority_sort" property="prioritySort" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="def1" property="def1" />
    <result column="def2" property="def2" />
    <result column="def3" property="def3" />
    <result column="def5" property="def5" />
    <result column="def6" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, tenant_id, express_delivery_id, express_order_id, `status`, parcel_quantity, 
    etd, ata, atd, eta, priority_sort, created_by, created_time, updated_by, updated_time, 
    def1, def2, def3, def5, def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cor_express_delivery_detail
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.dr}
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.tenantId}
        </foreach>
      </trim>
      <trim prefix="express_delivery_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.expressDeliveryId}
        </foreach>
      </trim>
      <trim prefix="express_order_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.expressOrderId}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.status}
        </foreach>
      </trim>
      <trim prefix="parcel_quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.parcelQuantity}
        </foreach>
      </trim>
      <trim prefix="etd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.etd}
        </foreach>
      </trim>
      <trim prefix="ata = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.ata}
        </foreach>
      </trim>
      <trim prefix="atd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.atd}
        </foreach>
      </trim>
      <trim prefix="eta = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.eta}
        </foreach>
      </trim>
      <trim prefix="priority_sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.prioritySort}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdBy}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createdTime}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedBy}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updatedTime}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def1}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def2}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def3}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def5}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.def6}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cor_express_delivery_detail
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id} then #{item.dr}
          </if>
        </foreach>
      </trim>
      <trim prefix="tenant_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tenantId != null">
            when id = #{item.id} then #{item.tenantId}
          </if>
        </foreach>
      </trim>
      <trim prefix="express_delivery_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.expressDeliveryId != null">
            when id = #{item.id} then #{item.expressDeliveryId}
          </if>
        </foreach>
      </trim>
      <trim prefix="express_order_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.expressOrderId != null">
            when id = #{item.id} then #{item.expressOrderId}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id} then #{item.status}
          </if>
        </foreach>
      </trim>
      <trim prefix="parcel_quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.parcelQuantity != null">
            when id = #{item.id} then #{item.parcelQuantity}
          </if>
        </foreach>
      </trim>
      <trim prefix="etd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.etd != null">
            when id = #{item.id} then #{item.etd}
          </if>
        </foreach>
      </trim>
      <trim prefix="ata = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ata != null">
            when id = #{item.id} then #{item.ata}
          </if>
        </foreach>
      </trim>
      <trim prefix="atd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.atd != null">
            when id = #{item.id} then #{item.atd}
          </if>
        </foreach>
      </trim>
      <trim prefix="eta = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.eta != null">
            when id = #{item.id} then #{item.eta}
          </if>
        </foreach>
      </trim>
      <trim prefix="priority_sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.prioritySort != null">
            when id = #{item.id} then #{item.prioritySort}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id} then #{item.createdBy}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id} then #{item.createdTime}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id} then #{item.updatedBy}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id} then #{item.updatedTime}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id} then #{item.def1}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id} then #{item.def2}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id} then #{item.def3}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id} then #{item.def5}
          </if>
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def6 != null">
            when id = #{item.id} then #{item.def6}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into cor_express_delivery_detail
    (id, dr, tenant_id, express_delivery_id, express_order_id, `status`, parcel_quantity, 
      etd, ata, atd, eta, priority_sort, created_by, created_time, updated_by, updated_time, 
      def1, def2, def3, def5, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.dr}, #{item.tenantId}, #{item.expressDeliveryId}, #{item.expressOrderId}, 
        #{item.status}, #{item.parcelQuantity}, #{item.etd}, #{item.ata}, #{item.atd}, 
        #{item.eta}, #{item.prioritySort}, #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, 
        #{item.updatedTime}, #{item.def1}, #{item.def2}, #{item.def3}, #{item.def5}, #{item.def6}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.service.mobile.b.dm.base.CorExpressDeliveryDetail">
    <!--@mbg.generated-->
    insert into cor_express_delivery_detail
    (id, dr, tenant_id, express_delivery_id, express_order_id, `status`, parcel_quantity, 
      etd, ata, atd, eta, priority_sort, created_by, created_time, updated_by, updated_time, 
      def1, def2, def3, def5, def6)
    values
    (#{id}, #{dr}, #{tenantId}, #{expressDeliveryId}, #{expressOrderId}, #{status}, #{parcelQuantity}, 
      #{etd}, #{ata}, #{atd}, #{eta}, #{prioritySort}, #{createdBy}, #{createdTime}, 
      #{updatedBy}, #{updatedTime}, #{def1}, #{def2}, #{def3}, #{def5}, #{def6})
    on duplicate key update 
    id = #{id}, 
    dr = #{dr}, 
    tenant_id = #{tenantId}, 
    express_delivery_id = #{expressDeliveryId}, 
    express_order_id = #{expressOrderId}, 
    `status` = #{status}, 
    parcel_quantity = #{parcelQuantity}, 
    etd = #{etd}, 
    ata = #{ata}, 
    atd = #{atd}, 
    eta = #{eta}, 
    priority_sort = #{prioritySort}, 
    created_by = #{createdBy}, 
    created_time = #{createdTime}, 
    updated_by = #{updatedBy}, 
    updated_time = #{updatedTime}, 
    def1 = #{def1}, 
    def2 = #{def2}, 
    def3 = #{def3}, 
    def5 = #{def5}, 
    def6 = #{def6}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.service.mobile.b.dm.base.CorExpressDeliveryDetail">
    <!--@mbg.generated-->
    insert into cor_express_delivery_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="expressDeliveryId != null">
        express_delivery_id,
      </if>
      <if test="expressOrderId != null">
        express_order_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="parcelQuantity != null">
        parcel_quantity,
      </if>
      <if test="etd != null">
        etd,
      </if>
      <if test="ata != null">
        ata,
      </if>
      <if test="atd != null">
        atd,
      </if>
      <if test="eta != null">
        eta,
      </if>
      <if test="prioritySort != null">
        priority_sort,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="dr != null">
        #{dr},
      </if>
      <if test="tenantId != null">
        #{tenantId},
      </if>
      <if test="expressDeliveryId != null">
        #{expressDeliveryId},
      </if>
      <if test="expressOrderId != null">
        #{expressOrderId},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="parcelQuantity != null">
        #{parcelQuantity},
      </if>
      <if test="etd != null">
        #{etd},
      </if>
      <if test="ata != null">
        #{ata},
      </if>
      <if test="atd != null">
        #{atd},
      </if>
      <if test="eta != null">
        #{eta},
      </if>
      <if test="prioritySort != null">
        #{prioritySort},
      </if>
      <if test="createdBy != null">
        #{createdBy},
      </if>
      <if test="createdTime != null">
        #{createdTime},
      </if>
      <if test="updatedBy != null">
        #{updatedBy},
      </if>
      <if test="updatedTime != null">
        #{updatedTime},
      </if>
      <if test="def1 != null">
        #{def1},
      </if>
      <if test="def2 != null">
        #{def2},
      </if>
      <if test="def3 != null">
        #{def3},
      </if>
      <if test="def5 != null">
        #{def5},
      </if>
      <if test="def6 != null">
        #{def6},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="dr != null">
        dr = #{dr},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId},
      </if>
      <if test="expressDeliveryId != null">
        express_delivery_id = #{expressDeliveryId},
      </if>
      <if test="expressOrderId != null">
        express_order_id = #{expressOrderId},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
      <if test="parcelQuantity != null">
        parcel_quantity = #{parcelQuantity},
      </if>
      <if test="etd != null">
        etd = #{etd},
      </if>
      <if test="ata != null">
        ata = #{ata},
      </if>
      <if test="atd != null">
        atd = #{atd},
      </if>
      <if test="eta != null">
        eta = #{eta},
      </if>
      <if test="prioritySort != null">
        priority_sort = #{prioritySort},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="def1 != null">
        def1 = #{def1},
      </if>
      <if test="def2 != null">
        def2 = #{def2},
      </if>
      <if test="def3 != null">
        def3 = #{def3},
      </if>
      <if test="def5 != null">
        def5 = #{def5},
      </if>
      <if test="def6 != null">
        def6 = #{def6},
      </if>
    </trim>
  </insert>
</mapper>