<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.base.PlaAppVersionMapper">
  <resultMap id="BaseResultMap" type="com.redescooter.ses.service.foundation.dm.base.PlaAppVersion">
    <!--@mbg.generated-->
    <!--@Table pla_app_version-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="system_id" jdbcType="VARCHAR" property="systemId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="system_type" jdbcType="INTEGER" property="systemType" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="is_force" jdbcType="INTEGER" property="isForce" />
    <result column="update_content" jdbcType="VARCHAR" property="updateContent" />
    <result column="update_link" jdbcType="VARCHAR" property="updateLink" />
    <result column="new_version_num" jdbcType="VARCHAR" property="newVersionNum" />
    <result column="package_size" jdbcType="VARCHAR" property="packageSize" />
    <result column="new_version_name" jdbcType="VARCHAR" property="newVersionName" />
    <result column="min_version_num" jdbcType="INTEGER" property="minVersionNum" />
    <result column="nin_version_name" jdbcType="VARCHAR" property="ninVersionName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="release_environment" jdbcType="INTEGER" property="releaseEnvironment" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
    <result column="def6" jdbcType="DOUBLE" property="def6" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dr, system_id, app_id, system_type, `type`, `code`, is_force, update_content, update_link,
    `new_version_num`, package_size, new_version_name, min_version_num, nin_version_name,
    `status`, title, release_environment, `label`, created_by, created_time, updated_by, updated_time,
    def1, def2, def3, def5,def6
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pla_app_version
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="system_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.systemId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="app_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.appId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="system_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.systemType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.type,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.code,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="is_force = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isForce,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="update_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateContent,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_link = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateLink,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="new_version_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.newVersionNum,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="package_size = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.packageSize,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="new_version_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.newVersionName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="min_version_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.minVersionNum,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="nin_version_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ninVersionName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`title` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.title,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`release_environment` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.releaseEnvironment,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`label` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.label,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pla_app_version
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="dr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dr,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="system_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.systemId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.systemId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="app_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.appId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.appId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="system_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.systemType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.systemType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.type != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.type,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.code != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.code,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_force = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isForce != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.isForce,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateContent != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateContent,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_link = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateLink != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateLink,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="new_version_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.newVersionNum != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.newVersionNum,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="package_size = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.packageSize != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.packageSize,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="new_version_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.newVersionName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.newVersionName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="min_version_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.minVersionNum != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.minVersionNum,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="nin_version_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ninVersionName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.ninVersionName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`title` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.title,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`release_environment` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.releaseEnvironment != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.releaseEnvironment,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`label` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.label != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.label,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="def1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def1,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def2,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def3 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def3,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def5 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def5 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def5,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="def6 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.def6 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.def6,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into pla_app_version
    (id, dr, system_id, app_id, system_type, `type`, code, is_force, update_content,
      update_link, new_version_num, package_size, new_version_name, min_version_num,
      nin_version_name, `status`, title, release_environment, `label`, created_by, created_time,
      updated_by, updated_time,def1, def2, def3, def5, def6)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.dr,jdbcType=INTEGER}, #{item.systemId,jdbcType=VARCHAR},
        #{item.appId,jdbcType=VARCHAR}, #{item.systemType,jdbcType=INTEGER}, #{item.type,jdbcType=INTEGER},
        #{item.code,jdbcType=VARCHAR}, #{item.isForce,jdbcType=INTEGER}, #{item.updateContent,jdbcType=VARCHAR},
        #{item.updateLink,jdbcType=VARCHAR}, #{item.newVersionNum,jdbcType=INTEGER}, #{item.packageSize,jdbcType=VARCHAR},
        #{item.newVersionName,jdbcType=VARCHAR}, #{item.minVersionNum,jdbcType=INTEGER},
        #{item.ninVersionName,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.title,jdbcType=VARCHAR},
        #{item.releaseEnvironment,jdbcType=INTEGER}, #{item.label,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=BIGINT},
        #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedBy,jdbcType=BIGINT}, #{item.updatedTime,jdbcType=TIMESTAMP},
        #{item.def1,jdbcType=VARCHAR}, #{item.def2,jdbcType=VARCHAR}, #{item.def3,jdbcType=VARCHAR},
        #{item.def5,jdbcType=VARCHAR}, #{item.def6,jdbcType=DOUBLE})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.redescooter.ses.service.foundation.dm.base.PlaAppVersion">
    <!--@mbg.generated-->
    insert into pla_app_version
    (id, dr, system_id, app_id, system_type, `type`, code, is_force, update_content,
      update_link, new_version_num, package_size, new_version_name, min_version_num,
      nin_version_name, `status`, title, release_environment, `label`, created_by, created_time, updated_by, updated_time,
      def1, def2, def3, def5, def6)
    values
    (#{id,jdbcType=BIGINT}, #{dr,jdbcType=INTEGER}, #{systemId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR},
      #{systemType,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
      #{isForce,jdbcType=INTEGER}, #{updateContent,jdbcType=VARCHAR}, #{updateLink,jdbcType=VARCHAR},
      #{newVersionNum,jdbcType=INTEGER}, #{packageSize,jdbcType=VARCHAR}, #{newVersionName,jdbcType=VARCHAR},
      #{minVersionNum,jdbcType=INTEGER}, #{ninVersionName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{releaseEnvironment,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR},
      #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
      #{updatedTime,jdbcType=TIMESTAMP}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR},
      #{def3,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=DOUBLE})
    on duplicate key update
    id = #{id,jdbcType=BIGINT},
    dr = #{dr,jdbcType=INTEGER},
    system_id = #{systemId,jdbcType=VARCHAR},
    app_id = #{appId,jdbcType=VARCHAR},
    system_type = #{systemType,jdbcType=INTEGER},
    `type` = #{type,jdbcType=INTEGER},
    code = #{code,jdbcType=VARCHAR},
    is_force = #{isForce,jdbcType=INTEGER},
    update_content = #{updateContent,jdbcType=VARCHAR},
    update_link = #{updateLink,jdbcType=VARCHAR},
    new_version_num = #{newVersionNum,jdbcType=INTEGER},
    package_size = #{packageSize,jdbcType=VARCHAR},
    new_version_name = #{newVersionName,jdbcType=VARCHAR},
    min_version_num = #{minVersionNum,jdbcType=INTEGER},
    nin_version_name = #{ninVersionName,jdbcType=VARCHAR},
    `status` = #{status,jdbcType=INTEGER},
    title = #{title,jdbcType=VARCHAR},
    release_environment = #{releaseEnvironment,jdbcType=INTEGER},
    label = #{label,jdbcType=VARCHAR},
    created_by = #{createdBy,jdbcType=BIGINT},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    updated_by = #{updatedBy,jdbcType=BIGINT},
    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=VARCHAR},
    def6 = #{def6,jdbcType=DOUBLE}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.service.foundation.dm.base.PlaAppVersion">
    <!--@mbg.generated-->
    insert into pla_app_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="systemId != null">
        system_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="systemType != null">
        system_type,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="isForce != null">
        is_force,
      </if>
      <if test="updateContent != null">
        update_content,
      </if>
      <if test="updateLink != null">
        update_link,
      </if>
      <if test="newVersionNum != null">
        new_version_num,
      </if>
      <if test="packageSize != null">
        package_size,
      </if>
      <if test="newVersionName != null">
        new_version_name,
      </if>
      <if test="minVersionNum != null">
        min_version_num,
      </if>
      <if test="ninVersionName != null">
        nin_version_name,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="releaseEnvironment != null">
        release_environment,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def5 != null">
        def5,
      </if>
      <if test="def6 != null">
        def6,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="systemType != null">
        #{systemType,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="isForce != null">
        #{isForce,jdbcType=INTEGER},
      </if>
      <if test="updateContent != null">
        #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="updateLink != null">
        #{updateLink,jdbcType=VARCHAR},
      </if>
      <if test="newVersionNum != null">
        #{newVersionNum,jdbcType=INTEGER},
      </if>
      <if test="packageSize != null">
        #{packageSize,jdbcType=VARCHAR},
      </if>
      <if test="newVersionName != null">
        #{newVersionName,jdbcType=VARCHAR},
      </if>
      <if test="minVersionNum != null">
        #{minVersionNum,jdbcType=INTEGER},
      </if>
      <if test="ninVersionName != null">
        #{ninVersionName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="releaseEnvironment != null">
        #{releaseEnvironment,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="systemType != null">
        system_type = #{systemType,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="isForce != null">
        is_force = #{isForce,jdbcType=INTEGER},
      </if>
      <if test="updateContent != null">
        update_content = #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="updateLink != null">
        update_link = #{updateLink,jdbcType=VARCHAR},
      </if>
      <if test="newVersionNum != null">
        new_version_num = #{newVersionNum,jdbcType=INTEGER},
      </if>
      <if test="packageSize != null">
        package_size = #{packageSize,jdbcType=VARCHAR},
      </if>
      <if test="newVersionName != null">
        new_version_name = #{newVersionName,jdbcType=VARCHAR},
      </if>
      <if test="minVersionNum != null">
        min_version_num = #{minVersionNum,jdbcType=INTEGER},
      </if>
      <if test="ninVersionName != null">
        nin_version_name = #{ninVersionName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="releaseEnvironment != null">
        release_environment = #{releaseEnvironment,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null">
        def6 = #{def6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>
