<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.foundation.dao.base.PlaMailTemplateMapper">
    <resultMap id="BaseResultMap" type="com.redescooter.ses.service.foundation.dm.base.PlaMailTemplate">
        <!--@mbg.generated-->
        <!--@Table pla_mail_template-->
        <result column="id" property="id"/>
        <result column="dr" property="dr"/>
        <result column="status" property="status"/>
        <result column="mail_template_no" property="mailTemplateNo"/>
        <result column="name" property="name"/>
        <result column="event" property="event"/>
        <result column="subject" property="subject"/>
        <result column="memo" property="memo"/>
        <result column="backup" property="backup"/>
        <result column="expire" property="expire"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="def1" property="def1"/>
        <result column="def2" property="def2"/>
        <result column="def3" property="def3"/>
        <result column="def5" property="def5"/>
        <result column="def6" property="def6"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.redescooter.ses.service.foundation.dm.base.PlaMailTemplate">
        <!--@mbg.generated-->
        <!--@Table pla_mail_template-->
        <result column="content" property="content"/>
    </resultMap>
    <sql id="Blob_Column_List">
        <!--@mbg.generated-->
        content
    </sql>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into pla_mail_template
        (id, dr, `status`, mail_template_no, `name`, event, subject, memo, `backup`, expire,
        created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6,
        content)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.dr}, #{item.status}, #{item.mailTemplateNo}, #{item.name}, #{item.event},
            #{item.subject}, #{item.memo}, #{item.backup}, #{item.expire}, #{item.createdBy},
            #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime}, #{item.def1}, #{item.def2},
            #{item.def3}, #{item.def5}, #{item.def6}, #{item.content})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="com.redescooter.ses.service.foundation.dm.base.PlaMailTemplate">
        <!--@mbg.generated-->
        insert into pla_mail_template
        (id, dr, `status`, mail_template_no, `name`, event, subject, memo, `backup`, expire,
        created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6
        )
        values
        (#{id}, #{dr}, #{status}, #{mailTemplateNo}, #{name}, #{event}, #{subject}, #{memo},
        #{backup}, #{expire}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime},
        #{def1}, #{def2}, #{def3}, #{def5}, #{def6})
        on duplicate key update
        id = #{id},
        dr = #{dr},
        `status` = #{status},
        mail_template_no = #{mailTemplateNo},
        `name` = #{name},
        event = #{event},
        subject = #{subject},
        memo = #{memo},
        `backup` = #{backup},
        expire = #{expire},
        created_by = #{createdBy},
        created_time = #{createdTime},
        updated_by = #{updatedBy},
        updated_time = #{updatedTime},
        def1 = #{def1},
        def2 = #{def2},
        def3 = #{def3},
        def5 = #{def5},
        def6 = #{def6}
    </insert>
    <insert id="insertOrUpdateWithBLOBs" parameterType="com.redescooter.ses.service.foundation.dm.base.PlaMailTemplate">
        <!--@mbg.generated-->
        insert into pla_mail_template
        (id, dr, `status`, mail_template_no, `name`, event, subject, memo, `backup`, expire,
        created_by, created_time, updated_by, updated_time, def1, def2, def3, def5, def6,
        content)
        values
        (#{id}, #{dr}, #{status}, #{mailTemplateNo}, #{name}, #{event}, #{subject}, #{memo},
        #{backup}, #{expire}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime},
        #{def1}, #{def2}, #{def3}, #{def5}, #{def6}, #{content})
        on duplicate key update
        id = #{id},
        dr = #{dr},
        `status` = #{status},
        mail_template_no = #{mailTemplateNo},
        `name` = #{name},
        event = #{event},
        subject = #{subject},
        memo = #{memo},
        `backup` = #{backup},
        expire = #{expire},
        created_by = #{createdBy},
        created_time = #{createdTime},
        updated_by = #{updatedBy},
        updated_time = #{updatedTime},
        def1 = #{def1},
        def2 = #{def2},
        def3 = #{def3},
        def5 = #{def5},
        def6 = #{def6},
        content = #{content}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="com.redescooter.ses.service.foundation.dm.base.PlaMailTemplate">
        <!--@mbg.generated-->
        insert into pla_mail_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dr != null">
                dr,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="mailTemplateNo != null">
                mail_template_no,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="event != null">
                event,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="backup != null">
                `backup`,
            </if>
            <if test="expire != null">
                expire,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="def1 != null">
                def1,
            </if>
            <if test="def2 != null">
                def2,
            </if>
            <if test="def3 != null">
                def3,
            </if>
            <if test="def5 != null">
                def5,
            </if>
            <if test="def6 != null">
                def6,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="dr != null">
                #{dr},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="mailTemplateNo != null">
                #{mailTemplateNo},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="event != null">
                #{event},
            </if>
            <if test="subject != null">
                #{subject},
            </if>
            <if test="memo != null">
                #{memo},
            </if>
            <if test="backup != null">
                #{backup},
            </if>
            <if test="expire != null">
                #{expire},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedTime != null">
                #{updatedTime},
            </if>
            <if test="def1 != null">
                #{def1},
            </if>
            <if test="def2 != null">
                #{def2},
            </if>
            <if test="def3 != null">
                #{def3},
            </if>
            <if test="def5 != null">
                #{def5},
            </if>
            <if test="def6 != null">
                #{def6},
            </if>
            <if test="content != null">
                #{content},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dr != null">
                dr = #{dr},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="mailTemplateNo != null">
                mail_template_no = #{mailTemplateNo},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="event != null">
                event = #{event},
            </if>
            <if test="subject != null">
                subject = #{subject},
            </if>
            <if test="memo != null">
                memo = #{memo},
            </if>
            <if test="backup != null">
                `backup` = #{backup},
            </if>
            <if test="expire != null">
                expire = #{expire},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="def1 != null">
                def1 = #{def1},
            </if>
            <if test="def2 != null">
                def2 = #{def2},
            </if>
            <if test="def3 != null">
                def3 = #{def3},
            </if>
            <if test="def5 != null">
                def5 = #{def5},
            </if>
            <if test="def6 != null">
                def6 = #{def6},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
        </trim>
    </insert>

    <!-- 列表模糊查询 -->
    <select id="getList" resultType="com.redescooter.ses.service.foundation.dm.base.PlaMailTemplate">
        select *
        from pla_mail_template
        where dr = 0
        <if test="enter.status != null and enter.status != '' and enter.status != 'All'.toString()">
            and status = #{enter.status}
        </if>
        <if test="enter.status != null and enter.status != '' and enter.status == 'All'.toString()">
            and status in ('NORMAL', 'DISABLED')
        </if>
        <if test="enter.keyword != null and enter.keyword != ''">
            and (
                    event like concat('%', #{enter.keyword}, '%') or
                    name like concat('%', #{enter.keyword}, '%') or
                    mail_template_no like concat('%', #{enter.keyword}, '%')
            )
        </if>
        order by created_time desc
    </select>

</mapper>