<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.c.dao.IdDashboardServiceMapper">

    <select id="scooterChart" resultType="com.redescooter.ses.api.mobile.c.vo.ScooterChartResult">
        select
            IFNULL(sum(svg_speed), 0) as avgSpeed,
            IFNULL(sum(saved_money), 0) as totalMileage,
            IFNULL(sum(mileage), 0) as svgSpeed,
            IFNULL(sum(co2_increment), 0) as totalCo2,
            DATE_FORMAT(create_time, '%Y-%m-%d') as times
        from con_driver_ride_stat_detail
        where dr = 0 and driver_id = #{userId}
        <if test="startDateTime != null and endDateTime != null">
            and create_time between #{startDateTime} and #{endDateTime}
        </if>
        group by times
    </select>

</mapper>
