<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.service.mobile.c.dao.UserProfileMapper">

    <delete id="deleteUserProfile" parameterType="java.lang.String">
        delete from con_user_profile where EMAIL_1 = #{email}
    </delete>

</mapper>