<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.combinorder.CombinationListCombinMapper">

    <!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeCombinListCombinB">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="dr" jdbcType="INTEGER" property="dr" />
        <result column="combin_id" jdbcType="BIGINT" property="combinId" />
        <result column="combin_name" jdbcType="VARCHAR" property="combinName" />
        <result column="combin_no" jdbcType="VARCHAR" property="combinNo" />
        <result column="production_combin_bom_id" jdbcType="BIGINT" property="productionCombinBomId" />
        <result column="combin_list_status" jdbcType="INTEGER" property="combinListStatus" />
        <result column="qty" jdbcType="INTEGER" property="qty" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_by" jdbcType="BIGINT" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <!--组装单组装件清单详情自定义返回结果-->
    <resultMap id="CombinationListCombinDetailResultMap" type="com.redescooter.ses.mobile.rps.vo.combinorder.CombinationListDetailDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="combin_id" jdbcType="BIGINT" property="combinId" />
        <result column="combin_list_status" jdbcType="INTEGER" property="status" />
        <result column="total_qty" jdbcType="INTEGER" property="qty" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="bom_no" jdbcType="VARCHAR" property="number" />
        <result column="combin_name" jdbcType="VARCHAR" property="name" />
        <!--组装件清单部件信息-->
        <collection property="combinationOrderPartsList" ofType="com.redescooter.ses.mobile.rps.vo.combinorder.CombinationOrderPartsDTO">
            <result column="p_id" jdbcType="BIGINT" property="id" />
            <result column="cn_name" jdbcType="VARCHAR" property="name" />
            <result column="parts_no" jdbcType="VARCHAR" property="number" />
            <result column="qty" jdbcType="INTEGER" property="qty" />
            <result column="id_calss" jdbcType="BOOLEAN" property="idClass" />
            <result column="parts_id" jdbcType="BIGINT" property="bomId" />
        </collection>
    </resultMap>

    <!--根据combinId查询组装单组装件清单信息-->
    <select id="getCombinationListCombinByCombinId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.combinorder.CombinationListDTO">
        select combin.id, combin.combin_id combinId, combin.combin_list_status `status`,bom.id bomId, bom.cn_name `name`,
        bom.bom_no `number`
        from ope_combin_list_combin_b combin
        left join ope_production_combin_bom bom
        on combin.production_combin_bom_id = bom.id and bom.bom_status = 1
        where combin.dr = 0 and combin.combin_id = #{combinId}
    </select>

    <!--根据id查询组装单组装件清单详情-->
    <select id="getCombinationListCombinDetailById" parameterType="java.lang.Long" resultMap="CombinationListCombinDetailResultMap">
        select combin.id, combin.combin_id, combin.combin_list_status, combin.qty total_qty,2 `type`, bom.bom_no, bom.cn_name combin_name,
        parts.id p_id, parts.cn_name, parts.parts_no, parts.qty, parts.id_calss, parts.parts_id
        from ope_combin_list_combin_b combin
        left join ope_production_combin_bom bom
        on combin.production_combin_bom_id = bom.id and bom.bom_status = 1 and bom.dr = 0
        left join ope_combin_list_relation_parts parts
        on combin.id = parts.relation_id and parts.dr = 0
        where combin.dr = 0 and combin.id = #{id}
    </select>

    <!--根据id查询组装单组装件清单信息-->
    <select id="getCombinationListCombinationById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from ope_combin_list_combin_b
	    where dr = 0 and id = #{id}
    </select>

    <!--修改组装单组装件清单信息-->
    <update id="updateCombinationListCombination" parameterType="com.redescooter.ses.mobile.rps.dm.OpeCombinListCombinB">
        update ope_combin_list_combin_b
        <set>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="combinId != null">
                combin_id = #{combinId,jdbcType=BIGINT},
            </if>
            <if test="combinName != null">
                combin_name = #{combinName,jdbcType=VARCHAR},
            </if>
            <if test="combinNo != null">
                combin_no = #{combinNo,jdbcType=VARCHAR},
            </if>
            <if test="productionCombinBomId != null">
                production_combin_bom_id = #{productionCombinBomId,jdbcType=BIGINT},
            </if>
            <if test="combinListStatus != null">
                combin_list_status = #{combinListStatus,jdbcType=INTEGER},
            </if>
            <if test="qty != null">
                qty = #{qty,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=INTEGER},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--获取组装件待组装数量-->
    <select id="getQuantityToBeAssembled" resultType="java.lang.Integer">
        select count(*) from ope_combin_list_combin_b
	    where dr = 0 and combin_list_status = 0
    </select>

    <!--批量新增组装单组装件清单信息-->
    <insert id="batchInsertCombinationListCombination" parameterType="com.redescooter.ses.mobile.rps.dm.OpeCombinListCombinB">
        insert ope_combin_list_combin_b(id, dr, combin_id, combin_name, combin_no, production_combin_bom_id, combin_list_status,
        qty, remark, created_by, created_time, updated_by, updated_time)
        <foreach collection="opeCombinListCombinList" item="item" open="values" separator=",">
            (#{item.id}, #{item.dr}, #{item.combinId}, #{item.combinName}, #{item.combinNo}, #{item.productionCombinBomId},
            #{item.combinListStatus},#{item.qty}, #{item.remark}, #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime})
        </foreach>
    </insert>

</mapper>
