<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.restproductionorder.consign.ConsignOrderServiceMapper">

    <select id="countByProductType" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select enorder.entrust_type as status,
         count(enorder.entrust_type) as totalCount
        from ope_entrust_order enorder
        where enorder.dr=0
        group by enorder.entrust_type
    </select>

    <select id="listCount" resultType="int">
        select count(1)
        from ope_entrust_order enorder
        where enorder.dr=0
    </select>

    <select id="list" resultType="com.redescooter.ses.mobile.rps.vo.restproductionorder.consign.ConsignOrderListResult">
        select enorder.id            as id,
               enorder.entrust_no    as orderNo,
               enorder.consignor_qty as qty
        from ope_entrust_order enorder
        where enorder.dr=0
    </select>

    <select id="detail" resultType="com.redescooter.ses.mobile.rps.vo.restproductionorder.consign.ConsignDetailResult">
        select enorder.id                    as id,
               enorder.entrust_no            as orderNo,
               enorder.consignor_qty         as consignorTotal,
               enorder.already_consignor_qty as consignorQty,
               enorder.delivery_date         as deliveryDate,
               enorder.trans_type            as transType,
               enorder.entrust_status        as status
        from ope_entrust_order enorder
        where enorder.dr=0
        and  enorder.id=#{id}
    </select>
</mapper>