<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.restproductionorder.invoice.InvoiceOrderSrviceMapper">

    <sql id="WHERE_LIST">
        where whorder.dr = 0
        and whorder.out_wh_status in (0, 10, 15)
        <if test="productType != null">
            and whorder.out_wh_type = #{productType}
        </if>
    </sql>
    <select id="countByProductType" resultType="com.redescooter.ses.api.common.vo.CountByStatusResult">
        select out_wh_type as status, count(out_wh_type) as totalCount
        from ope_out_whouse_order whorder
        where whorder.dr=0
        and whorder.out_wh_status in (0,10,15)
        group by status
    </select>

    <select id="listCount" resultType="int">
        select count(1)
        from ope_out_whouse_order whorder
        <include refid="WHERE_LIST"/>
    </select>

    <select id="list" resultType="com.redescooter.ses.mobile.rps.vo.restproductionorder.outbound.OutboundOrderResult">
        select whorder.id            as id,
               whorder.out_wh_no     as outboundNo,
               whorder.out_wh_status as status,
               whorder.out_wh_type   as productType,
               whorder.out_type      as orderType,
               whorder.out_wh_qty    as qty
        from ope_out_whouse_order whorder
        <include refid="WHERE_LIST"/>
        order by whorder.created_time asc
    </select>
</mapper>