<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.restproductionorder.OrderStatusFlowServiceMapper">

    <select id="listBybussId" resultType="com.redescooter.ses.mobile.rps.vo.restproductionorder.orderflow.OrderStatusFlowResult">
        select flow.id as id,
               flow.relation_id as relationId,
               flow.order_status as orderStatus,
               flow.remark as remark,
               flow.created_by as createdById,
               flow.created_time as createdById,
               flow.updated_by as updateById,
               flow.updated_time as updateByTime
        from ope_order_status_flow flow
        where flow.dr=0
        <if test="id != null">
            and flow.relation_id =#{id}
        </if>
    </select>

    <select id="detail" resultType="com.redescooter.ses.mobile.rps.vo.restproductionorder.orderflow.OrderStatusFlowResult">
        select flow.id as id,
        flow.relation_id as relationId,
        flow.order_status as orderStatus,
        flow.remark as remark,
        flow.created_by as createdById,
        flow.created_time as createdById,
        flow.updated_by as updateById,
        flow.updated_time as updateByTime
        from ope_order_status_flow flow
        where flow.dr=0
        and flow.id =#{id}
    </select>
</mapper>