<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.outwhorder.OutWhPartsBMapper">

    <!--根据outWhId查询出库单部件信息-->
    <select id="getOutWhOrderPartsByOutWhId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWarehouseOrderProductDTO">
        select owp.id, owp.out_wh_id outWhId, owp.parts_name `name`, owp.parts_no number, owp.qty,
        ifnull(owp.already_out_wh_qty, 0) qcQty, pp.id_calss idClass
        from ope_out_wh_parts_b owp
        inner join ope_production_parts pp
        on owp.parts_id = pp.id and pp.dr = 0
        where owp.dr = 0 and owp.out_wh_id = #{outWhId}
    </select>

    <!--根据productId查询部件产品详情-->
    <select id="getPartsProductDetailByProductId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWhOrderProductDetailDTO">
        select owp.id, owp.out_wh_id outWhId, owp.parts_name `name`, owp.parts_no number, owp.qty,
        ifnull(owp.already_out_wh_qty, 0) qcQty, pp.id_calss idClass
        from ope_out_wh_parts_b owp
        inner join ope_production_parts pp
        on owp.parts_id = pp.id and pp.dr = 0
        where owp.dr = 0 and owp.id = #{productId}
    </select>

</mapper>