<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.outwhorder.OutWhScooterBMapper">

    <!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeOutWhScooterB">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="dr" jdbcType="INTEGER" property="dr" />
        <result column="out_wh_id" jdbcType="BIGINT" property="outWhId" />
        <result column="group_id" jdbcType="BIGINT" property="groupId" />
        <result column="color_id" jdbcType="BIGINT" property="colorId" />
        <result column="qty" jdbcType="INTEGER" property="qty" />
        <result column="already_out_wh_qty" jdbcType="INTEGER" property="alreadyOutWhQty" />
        <result column="total_qty" jdbcType="INTEGER" property="totalQty" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_by" jdbcType="BIGINT" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <!--OutWhOrderScooterResultMap-->
    <resultMap id="OutWhOrderScooterResultMap" type="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWhOrderProductDetailDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="out_wh_id" jdbcType="BIGINT" property="outWhId" />
        <result column="bom_id" jdbcType="BIGINT" property="bomId" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="color_value" jdbcType="VARCHAR" property="colorValue" />
        <result column="color_name" jdbcType="VARCHAR" property="colorName" />
        <result column="qty" jdbcType="INTEGER" property="qty" />
        <result column="already_out_wh_qty" jdbcType="INTEGER" property="alreadyOutWhQty" />
        <result column="id_class" jdbcType="BOOLEAN" property="idClass" />
        <!--一对多映射(车辆序列号信息)-->
        <collection property="productSerialNumberList" ofType="com.redescooter.ses.mobile.rps.vo.outwhorder.ProductSerialNumberDTO">
            <result column="sn_id" jdbcType="BIGINT" property="id" />
            <result column="lot" jdbcType="VARCHAR" property="lot" />
            <result column="serial_num" jdbcType="VARCHAR" property="serialNum" />
            <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
        </collection>
    </resultMap>

    <!--根据outWhId查询出库单车辆信息-->
    <select id="getOutWhOrderScooterByOutWhId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWarehouseOrderProductDTO">
        select ows.id, ows.out_wh_id outWhId,sg.group_name groupName, c.color_name colorName, c.color_value colorValue,
        ows.qty,ows.already_out_wh_qty alreadyOutWhQty,true idClass, bom.id bomId
        from ope_out_wh_scooter_b ows
        left join ope_specificat_group sg
        on ows.group_id = sg.id and sg.dr = 0
        left join ope_color c
        on ows.color_id = c.id and c.dr = 0
        left join ope_production_scooter_bom bom
        on ows.group_id = bom.group_id and ows.color_id = bom.color_id and bom.dr = 0 and bom.bom_status = 1
        where ows.dr = 0 and ows.out_wh_id = #{outWhId}
    </select>

    <!--根据productId查询车辆产品详情-->
    <select id="getScooterProductDetailByProductId" parameterType="java.lang.Long" resultMap="OutWhOrderScooterResultMap">
        select ows.id, ows.out_wh_id,sg.group_name, c.color_name, c.color_value,ows.qty,ows.already_out_wh_qty,
        true id_class, bom.id bom_id, serial.id sn_id,serial.lot,'奥格工厂' factory_name, serial.serial_num
        from ope_out_wh_scooter_b ows
        left join ope_specificat_group sg
        on ows.group_id = sg.id and sg.dr = 0
        left join ope_color c
        on ows.color_id = c.id and c.dr = 0
        left join ope_production_scooter_bom bom
        on ows.group_id = bom.group_id and ows.color_id = bom.color_id and bom.dr = 0 and bom.bom_status = 1
        left join ope_out_whouse_order_serial_bind serial
        on ows.id = serial.order_b_id and serial.dr = 0
        where ows.dr = 0 and ows.id = #{productId}
    </select>

    <!--根据id查询车辆型号-->
    <select id="getScooterModelById" parameterType="java.lang.Long" resultType="java.lang.String">
        select sp.group_name
        from ope_out_wh_scooter_b s
        inner join ope_specificat_group sp
        on s.group_id = sp.id and sp.dr = 0
        where s.dr = 0 and s.id = #{id}
    </select>

    <!--修改出库单车辆信息-->
    <update id="updateOutWhScooterB" parameterType="com.redescooter.ses.mobile.rps.dm.OpeOutWhScooterB">
        update ope_out_wh_scooter_b
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="outWhId != null">
                out_wh_id = #{outWhId,jdbcType=BIGINT},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=BIGINT},
            </if>
            <if test="colorId != null">
                color_id = #{colorId,jdbcType=BIGINT},
            </if>
            <if test="qty != null">
                qty = #{qty,jdbcType=INTEGER},
            </if>
            <if test="alreadyOutWhQty != null">
                already_out_wh_qty = #{alreadyOutWhQty,jdbcType=INTEGER},
            </if>
            <if test="totalQty != null">
                total_qty = #{totalQty,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--根据id查询出库单车辆信息-->
    <select id="getOutWhOrderScooterById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from ope_out_wh_scooter_b
	    where dr = 0 and id = #{id}
    </select>

</mapper>