<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.outwhorder.OutWhCombinBMapper">

    <!--根据outWhId查询出库单组装件信息-->
    <select id="getOutWhOrderCombinByOutWhId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWarehouseOrderProductDTO">
        select owc.id, owc.out_wh_id outWhId, owc.combin_name`name`, bom.bom_no number, owc.qty,
        ifnull(owc.already_out_wh_qty, 0) alreadyOutWhQty, true idClass
        from ope_out_wh_combin_b owc
        inner join ope_production_combin_bom bom
        on owc.production_combin_bom_id = bom.id and bom.dr = 0
        where owc.dr = 0 and owc.out_wh_id = #{outWhId}
    </select>

    <!--根据productId查询组装件产品详情-->
    <select id="getCombinProductDetailByProductId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWhOrderProductDetailDTO">
        select owc.id, owc.out_wh_id outWhId, owc.combin_name`name`, bom.bom_no number, owc.qty,
        ifnull(owc.already_out_wh_qty, 0) alreadyOutWhQty, true idClass
        from ope_out_wh_combin_b owc
        inner join ope_production_combin_bom bom
        on owc.production_combin_bom_id = bom.id and bom.dr = 0
        where owc.dr = 0 and owc.id = #{productId}
    </select>

    <!--根据id查询组装件名称-->
    <select id="getCombinNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        select combin_name from ope_out_wh_combin_b
	    where dr = 0 and id = #{id}
    </select>

    <!--修改出库单组装件产品信息-->
    <update id="updateOutWhCombinB" parameterType="com.redescooter.ses.mobile.rps.dm.OpeOutWhCombinB">
        update ope_out_wh_combin_b
        <set>
            <if test="dr != null">
                #{dr,jdbcType=INTEGER},
            </if>
            <if test="outWhId != null">
                #{outWhId,jdbcType=BIGINT},
            </if>
            <if test="combinName != null and combinName != ''">
                #{combinName,jdbcType=VARCHAR},
            </if>
            <if test="productionCombinBomId != null">
                #{productionCombinBomId,jdbcType=BIGINT},
            </if>
            <if test="qty != null">
                #{qty,jdbcType=INTEGER},
            </if>
            <if test="alreadyOutWhQty != null">
                #{alreadyOutWhQty,jdbcType=INTEGER},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>