<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.outwhorder.OutWhPartsBMapper">

    <!--根据outWhId查询出库单部件信息-->
    <select id="getOutWhOrderPartsByOutWhId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWarehouseOrderProductDTO">
        select owp.id, owp.out_wh_id outWhId, owp.parts_name `name`, owp.parts_no number, owp.qty,
        ifnull(owp.already_out_wh_qty, 0) alreadyOutWhQty, pp.id_calss idClass
        from ope_out_wh_parts_b owp
        inner join ope_production_parts pp
        on owp.parts_id = pp.id and pp.dr = 0
        where owp.dr = 0 and owp.out_wh_id = #{outWhId}
    </select>

    <!--根据productId查询部件产品详情-->
    <select id="getPartsProductDetailByProductId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.outwhorder.OutWhOrderProductDetailDTO">
        select owp.id, owp.out_wh_id outWhId, owp.parts_name `name`, owp.parts_no number, owp.qty,
        ifnull(owp.already_out_wh_qty, 0) alreadyOutWhQty, pp.id_calss idClass
        from ope_out_wh_parts_b owp
        inner join ope_production_parts pp
        on owp.parts_id = pp.id and pp.dr = 0
        where owp.dr = 0 and owp.id = #{productId}
    </select>

    <!--修改出库单部件信息-->
    <update id="updateOutWhPartsB" parameterType="com.redescooter.ses.mobile.rps.dm.OpeOutWhPartsB">
        update ope_out_wh_parts_b
        <set>
            <if test="dr != null">
                dr = #{dr},
            </if>
            <if test="outWhId != null">
                out_wh_id = #{outWhId},
            </if>
            <if test="partsId != null">
                parts_id = #{partsId},
            </if>
            <if test="partsName != null and partsName != ''">
                parts_name = #{partsName},
            </if>
            <if test="partsNo != null and partsNo != ''">
                parts_no = #{partsNo},
            </if>
            <if test="partsType != null">
                parts_type = #{partsType},
            </if>
            <if test="qty != null">
                qty = #{qty},
            </if>
            <if test="alreadyOutWhQty != null">
                already_out_wh_qty = #{alreadyOutWhQty},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="picture != null and picture != ''">
                picture = #{picture},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--根据id查询部件名称-->
    <select id="getPartsNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        select parts_name from ope_out_wh_parts_b
	    where dr = 0 and id = #{id}
    </select>

</mapper>