<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.preparematerial.PrepareMaterialServiceMapper">
    <select id="allocateListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_allocate_b allocateb
                 inner join ope_parts parts on parts.id = allocateb.part_id
        where allocateb.dr = 0
          and allocateb.allocate_id=#{id}
    </select>

    <select id="allocatelList"
            resultType="com.redescooter.ses.mobile.rps.vo.preparematerial.PrepareMaterialDetailResult">
        select allocateb.id                   as id,
        allocateb.part_id              as partId,
        parts.id_class                 as idClass,
        parts.parts_number             as partN,
        parts.cn_name                  as partCnName,
        allocateb.preparation_wait_qty as preparationWaitQty,
        '2'                            as sourceType
        from ope_allocate_b allocateb
        inner join ope_parts parts on parts.id = allocateb.part_id
        where allocateb.dr = 0
        and allocateb.allocate_id=#{id}
        order by allocateb.created_time asc
    </select>
    <select id="stockBillList" resultType="com.redescooter.ses.mobile.rps.dm.OpeStockBill">
        select id,
               dr,
               user_id,
               tenant_id,
               stock_id,
               direction,
               source_id,
               status,
               total,
               source_type,
               principal_id,
               operatine_time,
               revision,
               created_by,
               created_time,
               updated_by,
               updated_time,
               def1,
               def2,
               def3,
               def5,
               def6
        from ope_stock_bill
        where dr = 0
          and source_type in (2, 3)
        limit #{startRow},#{pageSize}
    </select>

    <select id="assemblyListCount" resultType="java.lang.Integer">
        select count(*)
        from ope_assembly_order_part opart
        inner join ope_parts parts on parts.id = opart.part_id
        where opart.dr = 0
        and opart.assembly_id =#{id}
        order by opart.created_time asc
    </select>
    <select id="assemblyList"
            resultType="com.redescooter.ses.mobile.rps.vo.preparematerial.PrepareMaterialDetailResult">
        select opart.id                   as id,
                opart.part_id              as partId,
                parts.id_class             as idClass,
                parts.parts_number         as partN,
                parts.cn_name              as partCnName,
                opart.wait_preparation_qty as preparationWaitQty,
                3                          as sourceType
        from ope_assembly_order_part opart
        inner join ope_parts parts on parts.id = opart.part_id
        where opart.dr = 0
        and opart.assembly_id =#{id}
        order by opart.created_time asc
    </select>
</mapper>