<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.production.ProductionCombinBomMapper">

    <!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeProductionCombinBom">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="dr" jdbcType="INTEGER" property="dr" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="dept_id" jdbcType="BIGINT" property="deptId" />
        <result column="version_identificat" jdbcType="VARCHAR" property="versionIdentificat" />
        <result column="bom_no" jdbcType="VARCHAR" property="bomNo" />
        <result column="procurement_cycle" jdbcType="INTEGER" property="procurementCycle" />
        <result column="effective_date" jdbcType="DATE" property="effectiveDate" />
        <result column="group_id" jdbcType="BIGINT" property="groupId" />
        <result column="color_id" jdbcType="BIGINT" property="colorId" />
        <result column="disable" jdbcType="INTEGER" property="disable" />
        <result column="bom_status" jdbcType="INTEGER" property="bomStatus" />
        <result column="announ_user_id" jdbcType="INTEGER" property="announUserId" />
        <result column="op_announ_user_id" jdbcType="BIGINT" property="opAnnounUserId" />
        <result column="versoin" jdbcType="VARCHAR" property="versoin" />
        <result column="parts_qty" jdbcType="INTEGER" property="partsQty" />
        <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
        <result column="en_name" jdbcType="VARCHAR" property="enName" />
        <result column="fr_name" jdbcType="VARCHAR" property="frName" />
        <result column="qc_flag" jdbcType="BOOLEAN" property="qcFlag" />
        <result column="created_by" jdbcType="INTEGER" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <!--根据id查询组装bom信息-->
    <select id="getCombinBomById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from ope_production_combin_bom
	    where dr = 0 and id = #{id}
    </select>

    <!--根据id查询组装件中文名称-->
    <select id="getCombinCnNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        select cn_name from ope_production_combin_bom
        where dr = 0 and id = #{id}
    </select>

</mapper>