<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.product.ProductionQualityTemplateBMapper">

    <!--根据productionTemplateId集合查询产品质检模板子信息-->
    <select id="getProductionQualityTemplateBByTemplateId" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.restproductionorder.ProductQcTempleteResultResult">
        select id, product_quality_tempate_id templateId, qc_result qcResult,pass_flag passFlag,
        upload_flag uploadFlag, results_sequence resultsSequence
	    from ope_production_quality_tempate_b
	    where dr = 0
	    <foreach collection="templateIds" item="templateId" open="and product_quality_tempate_id in (" separator="," close=")">
            #{templateId}
        </foreach>
    </select>

</mapper>