<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.qc.ProductionQualityTemplateMapper">

    <!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.vo.qc.ProductQcTemplateDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="production_id" jdbcType="BIGINT" property="productId" />
        <result column="import_excel_batch_no" jdbcType="VARCHAR" property="importExcelBatchNo" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="production_type" jdbcType="INTEGER" property="productType" />
        <result column="qc_item_name" jdbcType="VARCHAR" property="qcItemName" />
    </resultMap>

    <!--根据templateId集合查询产品质检结果信息-->
    <select id="getProductQcTemplateResultByTemplateIds" parameterType="java.lang.Long"
            resultType="com.redescooter.ses.mobile.rps.vo.qc.ProductQcTemplateResultDTO">
        select id, product_quality_tempate_id templateId, qc_result qcResult,pass_flag passFlag,
        upload_flag uploadFlag, results_sequence resultsSequence
	    from ope_production_quality_tempate_b
	    where dr = 0
	    <foreach collection="templateIds" item="templateId" open="and product_quality_tempate_id in (" separator="," close=")">
            #{templateId}
        </foreach>
    </select>

    <!--根据productId、productType查询产品质检模板信息-->
    <select id="getProductQcTemplateByProductId" parameterType="com.redescooter.ses.mobile.rps.vo.qc.QueryQcTemplateParamDTO"
            resultMap="BaseResultMap">
        select * from ope_production_quality_tempate
	    where dr = 0 and production_id = #{productId} and production_type = #{productType}
    </select>

</mapper>