<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.qcorder.QcCombinMapper">

    <!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeQcCombinB">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="dr" jdbcType="INTEGER" property="dr" />
        <result column="qc_id" jdbcType="BIGINT" property="qcId" />
        <result column="combin_name" jdbcType="VARCHAR" property="combinName" />
        <result column="combin_no" jdbcType="VARCHAR" property="combinNo" />
        <result column="production_combin_bom_id" jdbcType="BIGINT" property="productionCombinBomId" />
        <result column="qty" jdbcType="INTEGER" property="qty" />
        <result column="unqualified_qty" jdbcType="INTEGER" property="unqualifiedQty" />
        <result column="qualified_qty" jdbcType="INTEGER" property="qualifiedQty" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_by" jdbcType="BIGINT" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <!--质检单组装件详情自定义返回结果-->
    <resultMap id="QcCombinDetailResultMap" type="com.redescooter.ses.mobile.rps.vo.qc.QcOrderProductDetailDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="qc_id" jdbcType="BIGINT" property="qcId" />
        <result column="bom_id" jdbcType="BIGINT" property="bomId" />
        <result column="cn_name" jdbcType="VARCHAR" property="name" />
        <result column="bom_no" jdbcType="VARCHAR" property="number" />
        <result column="qty" jdbcType="INTEGER" property="qty" />
        <result column="qualified_qty" jdbcType="INTEGER" property="qualifiedQty" />
        <result column="unqualified_qty" jdbcType="INTEGER" property="unqualifiedQty" />
        <result column="id_class" jdbcType="BOOLEAN" property="idClass" />
        <!--组装件序列号信息-->
        <collection property="productSerialNumberList" ofType="com.redescooter.ses.mobile.rps.vo.outwhorder.ProductSerialNumberDTO">
            <result column="sn_id" jdbcType="BIGINT" property="id" />
            <result column="serial_num" jdbcType="VARCHAR" property="serialNum" />
            <result column="lot" jdbcType="VARCHAR" property="lot" />
            <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
            <result column="name" jdbcType="VARCHAR" property="name" />
        </collection>
    </resultMap>

    <!--根据qcId查询质检单组装件信息-->
    <select id="getQcCombinByQcId" parameterType="java.lang.Long" resultType="com.redescooter.ses.mobile.rps.vo.qc.QcOrderProductDTO">
        select combin.id, combin.qc_id qcId, bom.id bomId, bom.cn_name `name`, bom.bom_no `number`,
        combin.qty, combin.qualified_qty qualifiedQty, combin.unqualified_qty unqualifiedQty,
        combin.qty - (combin.unqualified_qty + combin.qualified_qty) pendingQcQty,true idClass
        from ope_qc_combin_b combin
        left join ope_production_combin_bom bom
        on combin.production_combin_bom_id = bom.id and bom.bom_status = 1 and bom.dr = 0
        where combin.dr = 0 and combin.qc_id = #{qcId}
    </select>

    <!--根据id查询质检单组装件详情-->
    <select id="getQcCombinDetailById" parameterType="java.lang.Long" resultMap="QcCombinDetailResultMap">
        select combin.id, combin.qc_id, bom.id bom_id, bom.cn_name, bom.bom_no,combin.qty, combin.qualified_qty, combin.unqualified_qty,
        serial.id sn_id,serial.serial_num, serial.lot, '奥格工厂' factory_name,bom.cn_name `name`,true id_class
        from ope_qc_combin_b combin
        left join ope_production_combin_bom bom
        on combin.production_combin_bom_id = bom.id and bom.bom_status = 1 and bom.dr = 0
        left join ope_qc_order_serial_bind serial
        on combin.id = serial.order_b_id and serial.dr = 0
        where combin.dr = 0 and combin.id = #{id}
    </select>

    <!--根据id查询质检单组装件信息-->
    <select id="getQcCombinById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from ope_qc_combin_b
	    where dr = 0 and id = #{id}
    </select>

    <!--修改质检单组装件信息-->
    <update id="updateQcCombin" parameterType="com.redescooter.ses.mobile.rps.dm.OpeQcCombinB">
        update ope_qc_combin_b
        <set>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="qcId != null">
                qc_id = #{qcId,jdbcType=BIGINT},
            </if>
            <if test="combinName != null">
                combin_name = #{combinName,jdbcType=VARCHAR},
            </if>
            <if test="combinNo != null">
                combin_no = #{combinNo,jdbcType=VARCHAR},
            </if>
            <if test="productionCombinBomId != null">
                production_combin_bom_id = #{productionCombinBomId,jdbcType=BIGINT},
            </if>
            <if test="qty != null">
                qty = #{qty,jdbcType=INTEGER},
            </if>
            <if test="unqualifiedQty != null">
                unqualified_qty = #{unqualifiedQty,jdbcType=INTEGER},
            </if>
            <if test="qualifiedQty != null">
                qualified_qty = #{qualifiedQty,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>