<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.wms.WmsPartsStockMapper">

    <!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.redescooter.ses.mobile.rps.dm.OpeWmsPartsStock">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="dr" jdbcType="INTEGER" property="dr" />
        <result column="stock_type" jdbcType="INTEGER" property="stockType" />
        <result column="parts_id" jdbcType="BIGINT" property="partsId" />
        <result column="parts_no" jdbcType="VARCHAR" property="partsNo" />
        <result column="parts_type" jdbcType="INTEGER" property="partsType" />
        <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
        <result column="en_name" jdbcType="VARCHAR" property="enName" />
        <result column="fr_name" jdbcType="VARCHAR" property="frName" />
        <result column="able_stock_qty" jdbcType="INTEGER" property="ableStockQty" />
        <result column="used_stock_qty" jdbcType="INTEGER" property="usedStockQty" />
        <result column="wait_in_stock_qty" jdbcType="INTEGER" property="waitInStockQty" />
        <result column="wait_out_stock_qty" jdbcType="INTEGER" property="waitOutStockQty" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_by" jdbcType="BIGINT" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <!--修改原料库部件库存信息-->
    <update id="updateWmsPartsStock" parameterType="com.redescooter.ses.mobile.rps.dm.OpeWmsPartsStock">
        update ope_wms_parts_stock
        <set>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="stockType != null">
                stock_type = #{stockType,jdbcType=INTEGER},
            </if>
            <if test="partsId != null">
                parts_id = #{partsId,jdbcType=BIGINT},
            </if>
            <if test="partsNo != null">
                parts_no = #{partsNo,jdbcType=VARCHAR},
            </if>
            <if test="partsType != null">
                parts_type = #{partsType,jdbcType=INTEGER},
            </if>
            <if test="cnName != null">
                cn_name = #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="enName != null">
                en_name = #{enName,jdbcType=VARCHAR},
            </if>
            <if test="frName != null">
                fr_name = #{frName,jdbcType=VARCHAR},
            </if>
            <if test="ableStockQty != null">
                able_stock_qty = #{ableStockQty,jdbcType=INTEGER},
            </if>
            <if test="usedStockQty != null">
                used_stock_qty = #{usedStockQty,jdbcType=INTEGER},
            </if>
            <if test="waitInStockQty != null">
                wait_in_stock_qty = #{waitInStockQty,jdbcType=INTEGER},
            </if>
            <if test="waitOutStockQty != null">
                wait_out_stock_qty = #{waitOutStockQty,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--根据bomId查询原料库部件库存信息(这里也可以把partsId理解成bomId)-->
    <select id="getWmsPartsStockByBomId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from ope_wms_parts_stock
	    where dr = 0 and stock_type = 1 and parts_id = #{bomId}
    </select>

    <!--批量修改原料库部件库存信息-->
    <update id="batchUpdateWmsPartsStock" parameterType="com.redescooter.ses.mobile.rps.dm.OpeWmsPartsStock">
        <foreach collection="opeWmsPartsStockList" item="item" separator=";">
            update ope_wms_parts_stock
            set able_stock_qty = #{item.ableStockQty}, wait_in_stock_qty = #{item.waitInStockQty},
            updated_by = #{item.updatedBy}, updated_time = #{item.updatedTime}
            where id = #{item.id}
        </foreach>
    </update>

    <!--批量新增原料库部件库存信息-->
    <insert id="batchInsertWmsPartsStock" parameterType="com.redescooter.ses.mobile.rps.dm.OpeWmsPartsStock">
        insert ope_wms_parts_stock(id, dr, stock_type, parts_id, parts_no, parts_type, cn_name, en_name, fr_name, able_stock_qty,
        used_stock_qty, wait_in_stock_qty, wait_out_stock_qty, created_by, created_time,updated_by, updated_time)
        <foreach collection="opeWmsPartsStockList" item="item" open="values" separator=",">
            (#{item.id}, #{item.dr}, #{item.stockType}, #{item.partsId}, #{item.partsNo}, #{item.partsType}, #{item.cnName},
            #{item.enName}, #{item.frName}, #{item.ableStockQty}, #{item.usedStockQty}, #{item.waitInStockQty}, #{item.waitOutStockQty},
            #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime})
        </foreach>
    </insert>

    <!--根据bomId查询原料库部件库存id-->
    <select id="getWmsPartsStockIdByBomId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select id from ope_wms_parts_stock
        where dr = 0 and stock_type = 1 and parts_id = #{bomId}
    </select>

</mapper>