<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redescooter.ses.mobile.rps.dao.wms.WmsQualifiedCombinStockMapper">

    <!--修改不合格品库组装件库存信息-->
   <update id="updateWmsQualifiedCombinStock" parameterType="com.redescooter.ses.mobile.rps.dm.OpeWmsQualifiedCombinStock">
        update ope_wms_qualified_combin_stock
        <set>
            <if test="dr != null">
                dr = #{dr,jdbcType=INTEGER},
            </if>
            <if test="productionCombinBomId != null">
                production_combin_bom_id = #{productionCombinBomId,jdbcType=BIGINT},
            </if>
            <if test="combinNo != null">
                combin_no = #{combinNo,jdbcType=VARCHAR},
            </if>
            <if test="cnName != null">
                cn_name = #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="enName != null">
                en_name = #{enName,jdbcType=VARCHAR},
            </if>
            <if test="frName != null">
                fr_name = #{frName,jdbcType=VARCHAR},
            </if>
            <if test="qty != null">
                qty = #{qty,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
       where id = #{id}
   </update>

</mapper>